[2020-11-06 08:54] maxvisser commented on #509
Checked some other sites which allows users to upload images. They all add a link to their terms of service 'Gebruiksvoorwaarden' on the page where you can upload.

For example github
![image](https://user-images.githubusercontent.com/10818702/98346180-e7c85500-2015-11eb-8f01-b033732fb5dd.png)

![image](https://user-images.githubusercontent.com/10818702/98346213-f1ea5380-2015-11eb-8ddf-58466b1f9ae

[2020-11-09 14:02] GerbenBosschieter commented on #550
@maxvisser This feature is requested by one of our clients who have trouble using this because they can't search on BSN. Would be nice to give this some priority :)

Support ticket: #2153

[2020-11-10 08:26] maxvisser opened #566 "Voucher generator: manual assigning vouchers, check if identity already has a voucher"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-

[2020-11-10 11:35] linda-90 commented on #445
Please can the 'how it works' link be removed?
If the municipality does want the link in the header, they can add it themselves in the CMS.

It has been requested several times now. When will it be implemented?

[2020-11-10 15:47] maartenfv opened #567 "Is it clear where the citizen "Early birds" will land when activating their account?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen,

### Change description
  Currently, it is unclear for the projectgroup:
  1. which functionalities will become available after the citizen has applied with DigiD.
  2. How the citizen will be received in their account.

Have we considered these points? @maxvisser @jamalv

**Questions**

1. What

[2020-11-10 15:52] maxvisser commented on #567
We could create a test voucher on production. Currently there are no limitations. From our end we have no special early birds information

[2020-11-10 16:01] maartenfv commented on #567
PVA is here: https://docs.google.com/document/d/1F6qXgyCHYOYuJO_STusnKfTpIi0uuvG1-_tu7MIdjts/edit# but seems out dated?

[2020-11-10 17:08] maartenfv commented on #567
Problem is that there are is nothing to order yet. so its a dead end

[2020-11-11 08:40] jamalv commented on #567
As far as I am aware there have been no changes to the PVA. Also not aware of any changes since 25-09 (https://github.com/teamforus/implementation/issues/346#issuecomment-698933515)

The open actions are:
* Add one or two shops and actions
* Train the shopkeepers in how to use the system.

I would be a proponent of sticking to the original plan and to not make any last-minute changes; the risks of

[2020-11-11 08:49] linda-90 opened #568 "Change 'betaald' to 'betaalt'"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-
Wrong spelling:
<img width="1184" alt="spelling" src="https://user-images.githubusercontent.com/36952230/98789781-13c34c00-2403-11eb-9709-75436f2c85e3.png">

- [ ] Change betaald to betaalt

[2020-11-11 09:18] maartenfv commented on #564
I would really like for Sjoerd to try this. If he gets stuck we can help him out?

[2020-11-11 09:35] maxvisser commented on #564
I am also not experienced enough to help him with it; he could of course make the proposal easier to build (seperate screens for example)

[2020-11-11 10:03] maartenfv commented on #564
Should we ask Dan/Valentin if they are willing to help maybe? for support if Sjoerd gets stuck?

[2020-11-11 10:09] maxvisser commented on #251
@jamalv should be live right? could you check and maybe close this issue?

[2020-11-11 10:21] maartenfv commented on #82
@maxvisser @SjoerdHilhorst Is er nog activity in deze issue? Wat is het plan om deze te sluiten?

[2020-11-11 10:24] maxvisser commented on #82
Plan is om in kaart te brengen welke slechte errors er zijn en een voorstel te schrijven voor betere errors

[2020-11-11 10:24] maxvisser commented on #82
en dan vervolgens in één keer alle errors te verbeteren :)

[2020-11-11 10:38] maxvisser commented on #564
Lets discuss maybe with Sjoerd/Valentin not sure what the best approach is here.

[2020-11-11 13:32] maxvisser commented on #552
product page and block on frontpage are adjusted. product page is already approved. Action block on frontpage needs some refactoring

[2020-11-11 13:33] maxvisser commented on #205
This is done on Me-android; we will show it during sprint demo. Release will be planned next week

[2020-11-11 13:39] maxvisser commented on #493
Proposal:
https://www.figma.com/file/z2g3QirHVY2gNtrkm6MJA1/?node-id=176%3A137

[2020-11-11 13:39] maxvisser commented on #493
Created a task

[2020-11-12 06:40] jamalv opened #569 "Pipeline proposal: Improving the release cycle by depreciating the develop branch"
## Goal
We want to release features faster to production.

## Problem
Features have gotten stuck on develop. There’s conflicts in the process, releases have been blocked.

# Proposal
## Branches
There are 4 types of branches:

master
release/xxxx
feature/xxxx
hotfix/xxxx

## Environments
There are 4 environments (no change):

Local
Develop
Staging
Production

## Proces
The new process is as follow

[2020-11-12 08:17] maxvisser commented on #569
Don't see the benefits of dropping the develop branch; I do see benefits of branch of master more often. If you have big features for example actions or external validators you basically will have a alot of merge conflicts if you start smaller features from master which touch the same files.

[2020-11-12 09:22] jamalv opened #570 "Collect graphics in general library"
For presentations, flyers, folders, emails, webpages, etc, it is nice to be able to use some of the (awesome) graphics that we have 😄 This task is about collecting them into the general library.

By having them all together it is easier for the team to grab and use them:

https://www.figma.com/file/1fVkS1yBOxYp07jMyJMe3w/?node-id=1%3A22

[2020-11-12 13:06] jamalv opened #571 "Upload CSV while fund is on pending"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

### Change description
As a sponsor I would like to be able to upload a CSV while a fund is pending.

[2020-11-12 13:06] jamalv opened #582 "Upload CSV while fund is on pending"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

### Change description
As a sponsor I would like to be able to upload a CSV while a fund is pending.

[2020-11-12 20:19] linda-90 opened #572 "CR: Logo Noordoostpolder and GRO looks distorted in IE"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen en Nop

### Change description

Logo Noordoostpolder looks distorted in IE:
![nop-logo-ie](https://user-images.githubusercontent.com/36952230/98991165-c1ca1580-252b-11eb-9e37-02969411f706.png)

How it should look like:
<img width="368" alt="Schermafbeelding 2020-11-12 om 21 18 54" src="https://user-images.

[2020-11-13 08:45] jamalv commented on #162
Sprint demo 13-11-2020

1. We worked on BNG, still waiting for bank
2. Feedback from Groningen:
- Product page,
- Voucher page,
- Starting actions,
- Checkbox image rights,
- Physical cards mail

Dashboard modals update styling
Added checkbox to accept rights of image
Product limit refactoring
Switch around product name and organization name on grid view
Mobile menu webshop show actions instead of

[2020-11-13 10:48] SjoerdHilhorst commented on #564
@maxvisser why wouldn't it be possible to show it in one table? Both transactions affect the same fund right?

[2020-11-13 11:30] maartenfv commented on #71
This issue is a must-have for Groningen

[2020-11-13 11:31] maartenfv commented on #492
@maxvisser What is the status on this issue?

[2020-11-13 11:31] maartenfv commented on #492
I remember this as being a Must-have?

[2020-11-13 13:41] maartenfv commented on #509
What is the status of the issue?

The requirement of the Municipality stays the same. They have accepted this solution (with the checkbox) as a compromise to having the municipal employee be able to change the image themselves. The municipal employee changing the image was a hard requirement. C5 _Medewerker heeft de mogelijkheid om afbeeldingen bij de aanbiedingen te plaatsen._  and C9 Medewerker

[2020-11-13 13:42] maxvisser commented on #509
![Uploading image.png…]()

[2020-11-13 13:43] maartenfv commented on #509
Perfect 👍

[2020-11-13 13:43] maxvisser commented on #509
The new design of the cropper is implemented + a checkbox

[2020-11-13 13:43] maartenfv commented on #509
https://www.youtube.com/watch?v=MYrXK5ek_PQ

[2020-11-13 14:11] maartenfv commented on #532
Has this issue been processed?

[2020-11-13 14:29] maartenfv commented on #524
This one is a big problem. The user flow needs to be discussed with more people checked.

[2020-11-13 15:33] maartenfv commented on #524
![image](https://user-images.githubusercontent.com/30211022/99089774-04dcc500-25ce-11eb-9de2-b53200a55567.png)

[2020-11-13 15:34] maartenfv commented on #524
This issue and the comments of Groningen are bout the whole flow. Not just the info thing and the "Geen prijs button"

[2020-11-13 17:14] maartenfv commented on #527
What is the status of this issue? When will it be released?

[2020-11-13 17:16] maartenfv commented on #503
Status?

[2020-11-13 17:17] maartenfv commented on #501
Status?

[2020-11-13 17:17] maartenfv commented on #500
What is the status?

[2020-11-13 17:18] maartenfv commented on #500
The other points that have a line trough them are the most important in this issue?

[2020-11-13 17:21] maartenfv commented on #498
What is the status here?

[2020-11-13 17:22] maartenfv commented on #497
Update?

[2020-11-13 17:31] maartenfv commented on #319
What has been released?

[2020-11-13 17:33] maartenfv commented on #224
Status update?

[2020-11-13 17:34] maartenfv commented on #207
Status update?

[2020-11-14 11:38] jamalv opened #573 "Unlimited availability for an action"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a sponsor I want to be able to set unlimited actions. For example; if I am not sponsering any amount, I might not care how may times a user uses it.

<img width="702" alt="Screenshot 2020-11-14 at 12 25 28" src="https://user-images.githubusercontent.com/30194799/99146203-4de85400-2676-

[2020-11-14 11:39] jamalv commented on #573
suggestion: unlimited should have a checkbox

[2020-11-14 12:02] jamalv commented on #207
For actions this is implemented.

Would still be nice to also implement this for regulair vouchers, for that the labels are accurate.

[2020-11-14 12:24] maxvisser commented on #573
Needs backend changes aswell. Currently you need to set a limit for both stock and limit per person. Why is this critical?

[2020-11-14 12:30] maxvisser commented on #573
Scope is small/medium

[2020-11-14 12:33] jamalv commented on #573
If the cinema says; you can get a ticket for 4 euro's if you have a "stadjerspas" and the sponsor says; cool: I'll approve this action but will contribute nothing.

Then the action can be used an unlimited amount of times, right? - It would be (too) weird if the sponsor has to think of an arbitrary number, like: you can go to the cinema 10 times?

[2020-11-14 12:56] maartenfv commented on #50
@jamalv @maxvisser Could you give a status update? Is this still relevant for Groningen or has it been solved?

[2020-11-14 13:00] jamalv commented on #527
## New status (will be released in .16 on monday):
<img width="1006" alt="Screenshot 2020-11-14 at 13 59 35" src="https://user-images.githubusercontent.com/30194799/99147490-a4a75b00-2681-11eb-982f-bb334dedd9c9.png">

There's still an issue with it though: https://github.com/teamforus/general/issues/573

[2020-11-14 13:06] jamalv commented on #525
What address is the card sent to?

- email and modal have been updated (will be released monday)
- How long will it take before they receive the card?

<img width="729" alt="Screenshot 2020-11-14 at 14 02 50" src="https://user-images.githubusercontent.com/30194799/99147540-28614780-2682-11eb-8ff5-2c80efffdd96.png">

<img width="813" alt="Screenshot 2020-11-14 at 14 03 10" src="https://user-images.

[2020-11-14 13:06] maartenfv opened #574 "Sign up for citizen Text is double one needs to be removed."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen

### Change description

Text is double one needs to be removed.

![image](https://user-images.githubusercontent.com/30211022/99147594-8d1ca200-2682-11eb-812f-4ba4acd99f7b.png)

[2020-11-14 13:16] jamalv opened #575 "Link from action page to action QR code"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
User (tester)

### Change description
As a requester i would like to go directly from an actions page to an actions voucher (should be a clear button) - right now I get stuck on the page.

<img width="1352" alt="Screenshot 2020-11-14 at 14 14 45" src="https://user-images.githubusercontent.com/30194799/99147773-e6d19c0

[2020-11-14 13:19] jamalv commented on #500
Current status is that 2/3 are fixed and the page got general design improvements:

<img width="1333" alt="Screenshot 2020-11-14 at 14 11 20" src="https://user-images.githubusercontent.com/30194799/99147696-47aca480-2683-11eb-822c-a54cebfca4ed.png">

not yet fixed: The page should contain a clear UX on how to redeem the product/service with stadjerspas, it is currently not very clear on what steps

[2020-11-14 13:22] maartenfv opened #576 "Add check box and link to privacy statement to sign up page. Adjustable page needs to be made where we can place the statement text."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen, Gemeente Westerkwartier

### Change description

Goal: Every user that signs up needs to check this box and needs to be able to read the privacy statement.

We should add :

- [ ] an agree to the privacy statement check box.
- [ ] sentence with a link to privacy statement page
- [ ] A stop if som

[2020-11-14 13:30] jamalv opened #577 "Shouldn't need to scroll to view image rights checkbox"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Probably modal should be wider or something.

<img width="830" alt="Screenshot 2020-11-14 at 14 29 09" src="https://user-images.githubusercontent.com/30194799/99148049-e0dcba80-2685-11eb-93b2-e2b537e2a43e.png">

<img width="838" alt="Screenshot 2020-11-14 at 14 29 13" src="https://user-im

[2020-11-14 13:37] jamalv opened #578 "Remove discount percentages from financial vouchers"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Multiple stakeholders and end users

### Change description
Remove discount percentages to simplify UX for providers and make the webshop less commercial for citizens

<img width="787" alt="Screenshot 2020-11-14 at 14 32 11" src="https://user-images.githubusercontent.com/30194799/99148164-8abc4700-2686-11eb-8238-269d6

[2020-11-14 13:45] linda-90 commented on #576
**Text:**

**Gebruik van mijn gegevens**

De volgende gegevens worden opgeslagen:

Jouw e-mailadres
Om uw jouw account aan te maken en toegang te geven tot jouw Stadjerspas tegoed.

Jouw BSN
Om te controleren wie je bent en om dubbele toekenningen te voorkomen.

Jouw inkomensgegevens
Om te kijken controleren of jij recht hebt op de Stadjerspas.

Jouw aantal kinderen
Om te kijken of jouw kind(eren)

[2020-11-14 13:48] jamalv commented on #576
I would suggest to link to the public privacy statement of groningen https://gemeente.groningen.nl/privacyverklaring

I made that mockup in my screenshot tool :P Now also made a figma file: https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/Privacy-statement?node-id=1%3A90

[2020-11-14 13:50] maartenfv commented on #576
@jamalv De generieke privacy statement is niet voldoende. Het gaat juist om de speciefieke data die in het systeem wordt gezet. Ook moeten we iets zeggen over het opslaan van data en dat ze deze kunnen zien in de Me app.

[2020-11-14 13:51] maartenfv commented on #576
"**Specifiek en zonder ambiguïteit**

Toestemming tot het verwerken van persoonsgegevens wordt altijd gegeven voor een duidelijk doel. De verantwoordelijke mag de gegevens dan ook niet voor andere doeleinden aanwenden, tenzij de nieuwe doelstelling heel dicht aanleunt bij de oorspronkelijke"

[2020-11-14 14:11] jamalv commented on #576
Allright, text and designs for that page can be added here: https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/Privacy-statement?node-id=4%3A217

[2020-11-14 14:15] maxvisser commented on #578
Does stadjerspas not need this to check if providers give atleast 20% discount?

[2020-11-14 14:22] jamalv commented on #576
We can initially make a custom page and then it should indeed be added to the CMS after that.

What's the status of approval on the content of this page by stakeholders? Also, what are the expectations around when this should be live?

As this is influencing a core step in the login for the signup for all users, we'll need to do careful acceptance testing before release, it would be a big incident

[2020-11-14 14:23] jamalv commented on #576
And on what places is this needed exactly?

[2020-11-14 14:26] maxvisser commented on #576
Mag ik iemands persoonsgegevens verwerken als degene hiervoor toestemming heeft gegeven?

Nee, dat gaat in het sociaal domein vaak niet op. Toestemming is weliswaar een grondslag in de Algemene verordening gegevensbescheming (AVG), maar hiervoor gelden speciale eisen. Daaraan kunt u in het sociaal domein meestal niet voldoen.

Artikel 6 van de AVG noemt toestemming van betrokkene als een grondslag

[2020-11-14 14:27] jamalv commented on #578
Hmm, don't think so, not completely sure.

[2020-11-14 14:37] maxvisser commented on #224
Open as a pr to develop

[2020-11-14 14:38] maxvisser commented on #319
What in figma on master

[2020-11-14 14:39] maxvisser commented on #497
This has been hidden. I think this is already on production

[2020-11-14 14:40] maxvisser commented on #498
No more then comments and discussion, waiting on a decision (proposal)

[2020-11-14 14:41] jamalv commented on #576
Ik zou de interpretatie overlaten aan (de juristen van) de gemeente, en die hierin de keuze laten maken :) Ik denk overigens niet dat mensen perse afhankelijk zijn van deze regeling, dus dit is ook wel redelijk interpretabel.

@maartenfv @linda-90 hebben we al een definitief besluit van de gemeente hierop? en @maxvisser misschien kan jij helpen door in te schatten hoe snel dit in productie kan zij

[2020-11-14 14:42] maxvisser commented on #501
Points stated in the issue are fixed

[2020-11-14 14:45] maxvisser commented on #576
Got it. The checkbox below the email field would be on all webshops, aswell as people can just login here. We should decide on how to implement it and after it I can decide the scope :)

[2020-11-14 14:54] jamalv commented on #50
For the current scope of discussions has not appeared to be relevant.

As long as people are actively using the Me app (for example at SDOA) and with the UX improvements we have made so far, this seems to be going quite well. If it becomes a concrete requirement to put multiple funds/records on **one** physical card 💳 , this issue becomes a requirement. And then the label is accurate; scope big, I

[2020-11-14 14:55] maartenfv commented on #576
@jamalv Text is door Linda in Teams van gemeente gezet en gechecked door communicatie.

[2020-11-14 14:59] linda-90 commented on #576
Gemeente wil graag tutoyeren in de communicatie, maar alle basis teksten in het systeem zijn in u-vorm.
Stel voor om u aan te houden en de teksten van de gemeente in u-vorm te zetten. Alleen de uitleg pagina op de website staat nu in je-vorm.

[2020-11-14 15:06] maartenfv commented on #576
Opdracht om deze stap toe te voegen is gekomen vanuit gemeente. Gesprek met Menno, Paul en Leonie en Trees. Inhoud hebben ze zelf gecontroleerd.

@linda-90 Moeten er nog meer mensen naar kijken?

v1 prio: De stap moet worden geplaatst bij de aanvraag van de stadjerspas zodat alle gebruikers er langskomen.

v2 (later) voor WK. Dit kunnen we later doen voor alle gemeenten en dan op de zelfde plek zo

[2020-11-14 15:20] jamalv commented on #576
@maartenfv yea sounds clear, so that means the scope is exactly as defined in this figma proposal?  https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/?node-id=1%3A80

@maxvisser could you check feasibility of that one?

@linda-90 or @maartenfv would need to do the text review. when do you expect the other points you've listed to be done? For example design review? Can we just give these tasks to t

[2020-11-14 15:25] maartenfv commented on #496
What is the status of this issue?

[2020-11-14 15:25] jamalv commented on #576
As in; i've seen the other (internal) issue, but initial there wasn't a clear scope so was not really possible to say anything about the timeline; if using a seperate criteria and texts in the CMS would've worked for this usecase, it could be done without design, developent, acceptance testing and release. But now we do need  now we have a scope where that's needed so we can say something about ho

[2020-11-14 15:27] maartenfv commented on #395
@jamalv @maxvisser  Wat is de status van deze issue?

[2020-11-14 15:59] maartenfv commented on #496
Updated de Figma prototype. Dit is een must-have en ingeplanned voor komende sprint.

[2020-11-14 16:05] maartenfv commented on #71
I have marked it for the upcoming sprint. The solution is not perfect as de actual request = https://github.com/teamforus/general/issues/492. So this might get a follow up. For now this is the best solution and needs to be implemented.

[2020-11-14 16:18] jamalv commented on #496
Discussed in discord to leave out the link to our site, and just link to the app store. There's more info and screenshots there as well 👍

[2020-11-14 16:20] maartenfv commented on #527
What is the status on this issue? Have we considered @danrminds comment? "This is a wrong approach on the photo. Not all images can be zoomed in like this - and nothing will be visible on the image if you zoom it. Most of images are landscaped, preview here is verticalВведите сообщение""

Further more the input fields are super wide and it seems people are nog gonna create a trillion "acties"

[2020-11-14 16:22] jamalv commented on #527
Yea, that comment from dan was on an older design that still had a very tall image, this design has been reviewed by sashoa

[2020-11-14 16:23] jamalv commented on #527
haha, and about super wide input fields, that's true, could be made smaller, not sure how @danrminds looks at that?

[2020-11-14 16:30] maartenfv commented on #527
Placed this in sprint 47+48 to be rechecked.

[2020-11-14 16:33] jamalv commented on #527
Note, Included in that check needs to be #573

[2020-11-14 17:15] maartenfv commented on #576
Plan now = Make a page, (this means for every webshop also other municipalities). Fill the one of Groningen with the text in the earlier comment. The other pages will be blank.

Next step (will be separate issue) @linda-90 to do in coming weeks is to get content for these pages as well.

Last step (other issue) Connect those pages to CMS.

@jamalv what is missing in Figma is the text that appears

[2020-11-14 17:25] jamalv commented on #576
Something [like this?](https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/Privacy-statement?node-id=22%3A0)

<img width="574" alt="Screenshot 2020-11-14 at 18 24 53" src="https://user-images.githubusercontent.com/30194799/99153110-b3543900-26a6-11eb-94c0-5f24a250568f.png">

[2020-11-14 17:34] maartenfv commented on #576
Generic text for alle the webshops https://docs.google.com/document/d/1kSZM1gnXhE0injmphnArmGtgnIJhPFSoKyBBzNvPeXc/edit

[2020-11-14 17:35] maartenfv commented on #576
@jamalv Moeten de text even checken met Linda. Want akkoord gaan mag je niet noemen in deze context hoorde ik.

[2020-11-14 17:52] maartenfv commented on #477
We could maybe add a Approve per date X option. This allows them to not have to do all these action the night before the release.|

[2020-11-15 07:32] jamalv commented on #477
Agreed! I have updated the proposal here in figma: https://www.figma.com/file/1wtD8IclpZ6OLJzduOHpit/?node-id=88%3A4341

[2020-11-15 07:33] jamalv commented on #477
@maxvisser, could you rate scope?

<img width="836" alt="Screenshot 2020-11-15 at 08 33 33" src="https://user-images.githubusercontent.com/30194799/99179365-429c3380-271d-11eb-995d-3406d6b15952.png">

[2020-11-15 07:35] jamalv commented on #477
(btw, I think both checkboxes should be checked by default and unchecked if you pick a date, saves the user a couple clicks in most cases :))

[2020-11-15 07:39] jamalv commented on #576
Have updated it:
<img width="538" alt="Screenshot 2020-11-15 at 08 38 28" src="https://user-images.githubusercontent.com/30194799/99179425-f7365500-271d-11eb-87dd-f9ba79c271b4.png">

figma: https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/Privacy-statement?node-id=22%3A0

[2020-11-15 08:05] jamalv commented on #252
Okay, let's see what is still realistic to do do for this year. What I'm most interested in are scope:medium CR's that are still be feasable to be released within 2 sprints and have a positive impact on our users/customers.

@maxvisser any ideas? :)

[2020-11-15 09:40] #328 closed

[2020-11-15 09:43] jamalv commented on #323
i believe this is deployed

[2020-11-15 09:43] #323 closed

[2020-11-15 09:49] jamalv commented on #576
Sweet! For reference; this is the Me app component: https://www.figma.com/file/TQMxcPx7ANAldafD9seRsF/?node-id=70%3A300

[2020-11-15 09:52] jamalv commented on #165
Just looked at this again, I see why this is highly desire-able for multiple funds. I approve this to be worked on. Would also suggest to remove the tiles and move the filtering based on funds to the filter button.

[2020-11-15 09:57] jamalv commented on #169
no longer relevant

[2020-11-15 09:57] #169 closed

[2020-11-15 10:01] jamalv commented on #232
Yea I understand, this has a lot to do with expectations though. And now we have priority labels to deal with this. There are now a lot of immature issues in general as well, but by labeling them with "could have", "on hold", "approval not requested", "not planned" etc we understand that this is nothing to worry about yet :)

[2020-11-15 10:06] jamalv commented on #111
no longer relevant, we have a great screen for this now 😄

[2020-11-15 10:06] #111 closed

[2020-11-15 10:09] jamalv commented on #296
please check the current state and see if this is still relevant

[2020-11-15 10:11] jamalv commented on #357
quite sure all of this has been fixed

[2020-11-15 10:11] #357 closed

[2020-11-15 10:13] jamalv commented on #387
afaik this has been fixed

[2020-11-15 10:13] #387 closed

[2020-11-15 10:32] jamalv commented on #312
I think with the current status, it's up to the sponsor to check this, now that all vouchers are in the generator, this became possible.

[2020-11-15 10:34] jamalv commented on #430
done

[2020-11-15 10:34] #430 closed

[2020-11-15 10:35] jamalv commented on #466
done

[2020-11-15 10:35] #466 closed

[2020-11-15 10:36] jamalv commented on #363
afaik this has been done 🚀

[2020-11-15 10:36] #363 closed

[2020-11-15 10:41] jamalv commented on #506
i'm assuming this has been released

[2020-11-15 10:41] #506 closed

[2020-11-15 10:41] jamalv commented on #528
fixed, will be released monday

[2020-11-15 10:41] #528 closed

[2020-11-15 10:42] jamalv commented on #235
it's also done in the me app. think it should also be done with the dashboards so that everything is alligned

[2020-11-15 10:44] jamalv commented on #562
Proposal is approved

[2020-11-15 10:46] jamalv commented on #251
it's live!

[2020-11-15 10:46] #251 closed

[2020-11-15 10:51] jamalv commented on #395
@maxvisser dit was inbegrepen bij het aanpakken en harmoniseren van de signupflows in release .15, klopt dat?

[2020-11-15 11:27] jamalv commented on #250
no longer relevant?

[2020-11-15 12:05] #235 closed

[2020-11-15 12:06] maxvisser commented on #250
It's added to the library but not implemented yet

[2020-11-15 17:17] maartenfv commented on #294
Wat is de status van deze issue?

[2020-11-15 17:20] maxvisser commented on #294
Wordt maandag doorgevoerd.

[2020-11-15 17:21] maxvisser commented on #312
Yes this is now far easier to check manually. I imagine though with #252 we could help automating this.

[2020-11-15 17:24] maartenfv commented on #448
This issue needs to go on hold until we have fixed the basic concepts of our system.  If after fixing #492 there is still the desire to consider this, it needs a good plan and **clear commented consent** from all stakeholders. @linda-90 @GerbenBosschieter @maxvisser and customers.

[2020-11-15 17:27] maartenfv commented on #492
This issue needs to get a higher prio. The customer is very clear on the demand. We need to make a page for the sponsor and one for the provider. Each municipality needs webshop with a clear login flow for every role. Currently, https://inkomensondersteuning.nijmegen.nl/ has the right direction.

#71 is a temporary solution. During the next sprint 47+48 this needs to be worked on. This also means

[2020-11-15 17:27] maartenfv commented on #492
During the sing=up there should be no mention of Forus.

[2020-11-15 17:37] maxvisser commented on #252
So how this would work is:
Currently how our system works a fund run have a start and end date and vouchers have an expire date.

Some problems with the current system:
Requester who applied late (december) needs to reapply again in a few months
Funds need to be reconfigured by Forus
Providers need to reapply

For each problem there are different fixes. Lets go through them all

**Requester who ap

[2020-11-15 17:46] maartenfv commented on #525
We fill in the KCC contact info so the municipality will receive the question first. If they do need more technical info the municipality will contact Forus support. @GerbenBosschieter please check if you see complications. If so please note them her so we van fix them.

[2020-11-15 17:48] maartenfv commented on #525
I have re-planned this issue for sprint 47+48.

[2020-11-15 17:49] maartenfv commented on #525
@maxvisser please check after Gerben has responded. We need to make sure we have the right contact info before this goes live.

[2020-11-15 17:51] maartenfv commented on #526
@jamalv @maxvisser Could you add the Figma link?

[2020-11-15 17:54] maxvisser commented on #532
its like I commented?

[2020-11-15 18:51] maxvisser commented on #477
Still think this is medium/big as we need to check if voucher is being able to be scanned based on this date resulting in adjusted the core functionality of scanning QR-codes. (which is already pretty complex) this adds more complexity. Should check with developers.

[2020-11-15 20:03] maxvisser commented on #71
This still need design on how logged out state looks. I would also make a screen before the signupflow which states a question like 'Do you want to login or register?' with big buttons for the two choices.

[2020-11-15 21:19] GerbenBosschieter commented on #525
@maartenfv  Don't see any complications

[2020-11-15 21:46] maxvisser commented on #575
Currently as a PR to develop; I have put in on staging for acceptance testing

[2020-11-15 21:46] maxvisser commented on #574
This is removed on the same branch were I added the checkbox for privacy. Currently a pr to develop and on staging for acceptance testing

[2020-11-16 09:51] jamalv opened #579 "16.1 Minor fixes, texts, links, etc."
- [x] done
<img width="706" alt="Screenshot 2020-11-13 at 15 03 31" src="https://user-images.githubusercontent.com/30194799/99238113-a09e4900-27f9-11eb-8e54-c62ea69fc006.png">

- [x] done
<img width="633" alt="Screenshot 2020-11-16 at 10 32 12" src="https://user-images.githubusercontent.com/30194799/99238142-ab58de00-27f9-11eb-9827-efd113ba08c4.png">

[2020-11-16 11:11] jamalv opened #580 "Move discounts to product cards"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a webshop holder I would like the discounts to be displayed on the cards, instead of in the title or discription.

Todo:
- [ ] @jamalv add figma prototype of what's discussed

[2020-11-16 11:16] jamalv opened #581 "Image uploader: link to image rights explanation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
There should be a terms and conditions page that is linked from the image uploader. This page will be a generic external website.

- [x] @maartenfv could you share the link

Ik beschik over [de rechten]() van de afbeelding.

[2020-11-16 12:53] jamalv commented on #525
@maartenfv it's organisation details, they can fill it in themselves, this screenshot was from dev.

[2020-11-16 12:53] jamalv commented on #525
no dev needed

[2020-11-16 12:56] maartenfv commented on #492
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/3cd35817-f153-4acd-bf74-075583780d7f)

[2020-11-16 13:14] #527 closed

[2020-11-16 13:15] #532 closed

[2020-11-16 14:05] maxvisser commented on #564
One page shows all voucher_transactions; what this is about its about fund_topup_transactions (or you a completely new entity.

[2020-11-16 14:07] maxvisser commented on #564
Its not that its impossible but you need to merge data tables. Aswell as the transaction overview is shown on both provider and sponsor dashboard; so you need to make a seperate pug file for both (split it and stop reusing the same HTML);

[2020-11-16 14:16] maxvisser commented on #492
On the strategy: Plan was to get rid of the landing pages of Nijmegen; as they are not well maintained and are not on a high standard. Also for a provider its weird that they enter the sign up flow and think that they chat with the Municipality while its actually Forus who responds. @GerbenBosschieter Is this a problem?

On how to fix this:
If we need footers / logos on signupflow and there is no

[2020-11-16 14:17] #525 closed

[2020-11-16 14:21] maxvisser commented on #525
Implemented this morning release v0.16.0

[2020-11-16 14:48] maxvisser commented on #566
duplicate of https://github.com/teamforus/general/issues/545

[2020-11-16 14:48] #566 closed

[2020-11-16 14:51] maxvisser commented on #582
@jamalv Do you want to somehow indicate to the user that activations are not working until fund is active?

[2020-11-16 14:54] maxvisser commented on #578
@maartenfv Could you check this?

[2020-11-16 14:54] maxvisser commented on #578
Can this get a project label? @jamalv if multiple stakeholder requested it please indicate which ones

[2020-11-16 14:57] maxvisser commented on #576
Implemented as a MVP for groningen; text is hardcoded and currently only visible on their webshop; Still needs to be reviewed.

[2020-11-16 14:58] maxvisser commented on #573
Implemented but pretty hacky. If you check the box it  will sent 999999 to the backend. Probably we need backend functionality to fully support this. Depends on the desirability and scope. I think it will increase the complexity. @jamalv what do you think about this?

[2020-11-16 15:00] maxvisser commented on #577
Created a task for proposal https://github.com/teamforus/forus/issues/1890 @jamalv could you check if you could write the proposal or ask lena

[2020-11-16 15:01] maxvisser commented on #575
This is only implemented for Groningen. The button opens the first instance of any vouchers you have of that fund. So if you have two stadjerspas (for any reason) you will open the first one.

[2020-11-16 15:05] maxvisser commented on #579
Could we make one big text review issue for 0.16.1 ? (instead of creating seperate once for each one. Lets make a task list in this issue. I / gerben / sjoerd can go through it and fix them all in one go.

[2020-11-16 15:06] maxvisser commented on #581
Are these custom texts or generic ones?

[2020-11-16 15:11] maxvisser opened #583 "Export only data on voucher generator (no pdfs or pngs)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently you are only able to export all QR-codes

[2020-11-16 15:12] maxvisser commented on #583
I think this is aswell nice for anyone who want to export the data @jamalv could you prioritize this.

[2020-11-16 19:44] jamalv commented on #579
- [ ] Change "je" to "u"
![IMG_E1A0F0729ACF-1](https://user-images.githubusercontent.com/30194799/99300098-74f87e80-284c-11eb-9a57-5bcef6c62aa4.jpeg)

[2020-11-17 00:23] GerbenBosschieter opened #584 "Switcheroo the process provider fund applications"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Our whole proces is of applying to a fund (as a provider) is based on the provider making a selection of what funds they want to apply to. What if we would change this to so provider only has to choose the organisation/municipality they want to apply to. Most of the time

[2020-11-17 00:36] GerbenBosschieter commented on #559
<img src="https://user-images.githubusercontent.com/38419514/99324549-d3d1ee00-2874-11eb-9388-28de9c58ad9b.jpg" width='50%'>

[2020-11-17 00:40] GerbenBosschieter commented on #554
@maxvisser thats what I also thought. It is only text and  a CSV. So easy to maintain and fix with variables per implementation. We could also create like a widget on the webshop itself so people can start the survey from the webshop itself

[2020-11-17 05:40] jamalv opened #585 "CSV uploader; add leading zero to BSN if 8 characters"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
A bsn has 9 digits, sometimes the first digit is a zero. Spreadsheet software sometimes deletes this zero. If the BSN has 8 digits, the zero should be added automatically.

[2020-11-17 05:42] jamalv commented on #585
Btw, is this an issue for both generators?

[2020-11-17 05:47] jamalv commented on #581
@maartenfv mentioned that the link can be to an external website, so generic and no extra page needed.

@maartenfv do you have a link to that site?

[2020-11-17 07:09] jamalv opened #586 "Hide "Jeugd" aanvragen button"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Knop+weghalen+%22Stadjerpas+jeug

[2020-11-17 07:16] maxvisser commented on #586
I see the ux problem. I disabled the form for this fund already on staging / production so the user is  not able to request it. The button  still allows you to login with DigiD to check if you can get a voucher through activation codes available

[2020-11-17 08:41] maxvisser commented on #585
yes

[2020-11-17 08:46] maxvisser commented on #585
Found 0 BSNs less then 9 characters in records (seems that all bsns from digid are 9 characters)
Found 31 BSN without leading zero in prevalidation

[2020-11-17 10:00] maxvisser commented on #559
would start with webshop; would probably take two sprints; Scope increases with each webshop we add. I think especially the testing part is alot of work

[2020-11-17 10:44] danrminds commented on #418
@dev-rminds still needs to review the pull-request https://github.com/teamforus/forus-backend/pull/877

[2020-11-17 10:55] danrminds commented on #445
@maxvisser What is the status here? Should we do anything?

[2020-11-17 10:57] danrminds commented on #509
Merged and done.

[2020-11-17 10:57] #509 closed

[2020-11-17 11:08] jamalv commented on #579
<img width="824" alt="Screenshot 2020-11-17 at 11 16 01" src="https://user-images.githubusercontent.com/30194799/99382979-92216180-28cd-11eb-9b80-4e40acf2c974.png">
<img width="902" alt="Screenshot 2020-11-17 at 11 08 28" src="https://user-images.githubusercontent.com/30194799/99382999-98174280-28cd-11eb-8cad-cb65e97655cc.png">
<img width="628" alt="Screenshot 2020-11-17 at 10 52 39" src="https://

[2020-11-17 11:43] jamalv commented on #579
@SjoerdHilhorst, zou je een branch vanaf master kunnen maken voor deze textfixes? Als je vragen hebt kunnen we die even bespreken :)

[2020-11-17 12:13] jamalv commented on #579
- [ ] Maak van titel en breadcrumb "Privacy Verklaring" https://stadjerspas-acc.gemeente.groningen.nl/privacy

<img width="420" alt="Screenshot 2020-11-17 at 13 13 06" src="https://user-images.githubusercontent.com/30194799/99388968-a4ec6400-28d6-11eb-8271-cde96c613bfc.png">

[2020-11-17 12:17] jamalv commented on #579
- [ ] Laatste stap in aanvraag proces: Voeg toe" De aanvraag wordt binnen 10 werkdagen verwerkt. U ontvangt hierover een mail."
<img width="854" alt="Screenshot 2020-11-17 at 13 16 59" src="https://user-images.githubusercontent.com/30194799/99389357-38be3000-28d7-11eb-94a5-702341b64685.png">

[2020-11-17 12:21] jamalv commented on #579
- [ ] Als je op de webshop klikt op "Bekijk de kaart" zou de kaart moeten openen (linkje updaten, voor alle webshops)
<img width="1300" alt="Screenshot 2020-11-17 at 13 21 25" src="https://user-images.githubusercontent.com/30194799/99389780-d6196400-28d7-11eb-968e-33afbd097b35.png">

[2020-11-17 12:22] jamalv commented on #579
- [ ] @maxvisser hoe werkt het op homepage? is er al uit op productie? moet nog op acceptatie?

[2020-11-17 13:32] MichaelForus opened #587 "Change request: Can't apply for a fund on mobile website if I am logged in because there is no button"
**Support Ticket ID:** [#2242]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Requester

### Change description
- Can't apply for a fund on mobile website if I am logged in<br>

[2020-11-17 13:34] GerbenBosschieter commented on #587
button to apply is missing. Current solution is to log out. Than you do have a button to apply

[2020-11-17 14:06] maxvisser commented on #587
you could go to a product and press apply but yeah its pretty stupid UX

[2020-11-17 14:56] SjoerdHilhorst commented on #579
maar dan met "je" ipv u denk ik ;)

[2020-11-17 15:11] Myshelova commented on #576
Hi everyone. I've just translated the current version with dutch text on the error and made a suggestion to clarify the error of why the person should accept the privacy policy. And added to the checkmark point that person not only read but also accept our privacy policy.
<img width="887" alt="Screenshot 2020-11-17 at 16 11 03" src="https://user-images.githubusercontent.com/22478043/99407566-88a8f

[2020-11-17 22:25] GerbenBosschieter commented on #587
@maxvisser hahaha. We should defo fix this

[2020-11-17 23:10] GerbenBosschieter commented on #579
Als het consistent is wel ja

[2020-11-17 23:16] GerbenBosschieter commented on #579
@jamalv @maxvisser @SjoerdHilhorst hoe zit het met het jij je / u verhaal. Want dat kun je niet zomaar ergens wijzigen zonder dat je weet of het consistent is (webshop, mail, etc etc ). Dus voordat we dit wijzigen, laten we de knoop doorhakken wat betreft hoe wij om willen gaan met generieke / opmaat teksten.

Mijn voorkeur geniet: doen wat de klant wil en een goed proces wat betreft maintanance e

[2020-11-18 08:15] maartenfv commented on #581
I found this site it is endorsed by governement: www.auteursrecht.nl/ik-wil-jouw-werk-gebruiken

This is another option: https://www.rijksoverheid.nl/onderwerpen/intellectueel-eigendom/vraag-en-antwoord/mag-ik-teksten-muziek-of-foto-s-van-anderen-gebruiken

[2020-11-18 08:17] maartenfv commented on #581
The link being down shows the risky-ness

[2020-11-18 08:45] jamalv commented on #580
Rough figma prototype: https://www.figma.com/file/siGNnFJekZbRAlTVQp2rai/Show-discount-on-cards?node-id=1%3A8849

@danrminds let's discuss during refinement

[2020-11-18 10:32] jamalv commented on #71
Why would it need a logged out state? The way it is now it shows login button and link in the text, right?

[2020-11-18 10:53] maxvisser commented on #71
Logged in state*

[2020-11-18 10:53] maxvisser commented on #71
Sorry

[2020-11-18 10:53] maxvisser commented on #71
If you are logged in there is no easy way to open the dashboard

[2020-11-18 11:25] jamalv commented on #71
would it be okay to just redirect to the dashboard if you already have an organisation?

[2020-11-18 11:41] maxvisser commented on #71
Add a office and a fund application to that list and I am OK with redirecting;

[2020-11-18 12:21] Myshelova commented on #562
What the difference between these tasks? https://github.com/teamforus/me/issues/511
Can you give a clear context of features data that we need to explore?

[2020-11-18 12:56] jamalv commented on #71
Discussed during refinement:
- Back button should be removed
- Had a general brainstorm about this issue
-

[2020-11-18 13:15] jamalv commented on #535
Let's update the link to: https://wij.groningen.nl/

[2020-11-18 13:26] jamalv commented on #445
@maxvisser this is on production right? needs to also go on staging? - i believe no action needed except for that

[2020-11-18 13:35] jamalv commented on #524
New subtask: https://www.figma.com/file/siGNnFJekZbRAlTVQp2rai/Show-discount-on-cards?node-id=1%3A8893

[2020-11-18 13:36] jamalv commented on #224
@maxvisser does the PR need review or can it be merged?

[2020-11-18 13:36] jamalv commented on #224
Please let us know so that @danrminds knows if he needs to do anything

[2020-11-19 06:04] jamalv commented on #583
This will need a design I think? For example a dropdown where you choose "with QR codes/without QR codes?"

[2020-11-19 06:29] jamalv commented on #386
I believe there's multiple issues on this. @maxvisser what's the status?

[2020-11-19 06:55] jamalv commented on #577
Shouldn't make this too big for now, my only problem here is that the checkbox is not visible. You need to scroll to see it.

[2020-11-19 07:36] jamalv commented on #324
I believe this is good now?

[2020-11-19 07:49] jamalv commented on #579
Betreft u/jij: Gemeente beleid is tot zover altijd U/Uw. Stadjerspas wijkt af en wil graag in 'je' vorm aanspreken, maar met oog op doorontwikkeling (afvalpas etc) is het beleid van de gemeente wel u/uw. Daarom is de keuze om waar mogelijk (lees: CMS) jij te gebruiken, en om in het systeem (dashboards, mails, vaste teksten in webshop, me app, etc) wel u/uw te blijven gebruiken.

Daarnaast willen w

[2020-11-19 08:10] maxvisser commented on #324
On Android it isn't

[2020-11-19 08:10] maxvisser commented on #324
Still waiting on a screenshot of iOS

[2020-11-19 08:11] maxvisser commented on #577
This is not always the case though. Only on smaller laptop screens.

[2020-11-19 08:21] maxvisser commented on #386
Code is there as a pr to develop. Just need testing on each webshop on staging first. As when i tried this on Noordoostpolder webshop the text was misaligned and bigger (different CSS was used for the CMS text)

[2020-11-19 08:22] maxvisser commented on #562
This is the epic which stays open until it released; teamforus/me#511 is your task to design review the proposal 👍 ; not sure why Jamal has assigned you here

[2020-11-19 08:29] maxvisser commented on #224
Sjoerd has wrote code but still needs to be reviewed.

[2020-11-19 08:33] Myshelova commented on #324
https://www.figma.com/file/Dyk8ACF91stjmWmO3rUpXv/Me-iOS?node-id=1285%3A0
<img width="414" alt="Screenshot 2020-11-19 at 09 32 35" src="https://user-images.githubusercontent.com/22478043/99641229-41834300-2a4a-11eb-98fa-23ec02db16aa.png">

[2020-11-19 08:38] maxvisser commented on #583
there is already a modal with a choice between PNG and PDF. I would just like to add an option 'Data only'

[2020-11-19 08:43] maxvisser commented on #324
This is how it looks now on production on android:

![image](https://user-images.githubusercontent.com/10818702/99642271-9a9fa680-2a4b-11eb-80cf-62bdfb6f9533.png)

![image](https://user-images.githubusercontent.com/10818702/99642337-aee3a380-2a4b-11eb-9a84-f7c7662cf681.png)

[2020-11-19 08:45] maxvisser commented on #324
On android:
- you can't see on the list that a voucher is expired
- voucher details page looks not nice without QR-code (maybe show fund image?)
- The red text where the button were have alot of free space between it and the dividing line.

[2020-11-19 09:36] maxvisser opened #588 "CR: Privacy / Accessibility default pages and CMS"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- [ ] Implementing default text pages with QDT-env variables like organization name, privacy statement pages / accessibility pages
- [ ] Overwrite the texts with CMS texts (pages in CMS)

Strategy:
Have a great default text with variables. Allow sponsor to overwrite page if necessary.

[2020-11-19 09:44] jamalv commented on #492
Put a bit more thought into this after yesterday's brainstorm, and I think we can find a middle ground, like with the Me app page.

As discussed, there is a lot of complexity here with deployment of branded provider signupflow's since they and the dashboards are not part of the webshop codebase. (We'd need to add them +  deploy all the dashboards to the domain of the municipality to keep the sessi

[2020-11-19 09:54] jamalv commented on #492
Note; if we make the slug for this page: aanbieder-aanmelden, then the url will (automatically) be: stadjerspas.nl/aanbieder-aanmelden, @maxvisser, right?

[2020-11-19 09:55] danrminds commented on #492
Interesting, but this still does not cover the use case that a lot of providers received by mail (or email) the link to https://forus.io/provider , right?

[2020-11-19 09:55] jamalv commented on #492
Yes, that's definitely right

[2020-11-19 10:01] danrminds opened #589 "IP: Separate login screen without branding and context switcher after logged in"
### User Story
Right now the problem is that we can't share a login URL to the dashboard to somebody without them landing on our branded landing pages (for provider / sponsor)

#### Acceptance criteria
Proposal is to have a separate page with non-branded login and - if you logged in - show the context switcher

## Prototype
https://www.figma.com/file/ubb2ZdHjOYaAc1wGk3mTCt/Login-met-e-mail---Propo

[2020-11-19 10:02] jamalv commented on #492
That one's a bit more complex, if @GerbenBosschieter approves I would like to implement https://github.com/teamforus/general/issues/71 as a solution to that. It will impact current providers, though. So that's something to consider.

Another solution would be to update that page in another way, for example by doing the same as suggested above, but then on our own site as wel;

<details><summary>su

[2020-11-19 10:10] jamalv commented on #589
Yes, I like it! It's also included in this proposal: https://github.com/teamforus/general/issues/492#issuecomment-730253509

Other notes:

<img width="930" alt="Screenshot 2020-11-19 at 11 09 29" src="https://user-images.githubusercontent.com/30194799/99652110-b3ae5480-2a57-11eb-87a3-fc160893f686.png">

[2020-11-19 13:08] maxvisser commented on #445
Duplicate of https://github.com/teamforus/general/issues/386

[2020-11-19 13:08] #445 closed

[2020-11-19 13:09] maxvisser commented on #386
Created a task for it: https://github.com/teamforus/forus/issues/1903

[2020-11-19 13:14] maxvisser commented on #579
Aparte development taak aangemaakt; te groot voor maandag https://github.com/teamforus/general/issues/386

[2020-11-19 13:23] maxvisser commented on #579
Lijkt me goed dat Groningen zelf het dashboard gebruikt om teksten van de stappen aan te passen.

[2020-11-19 13:23] maxvisser commented on #579
Wil je betreffende deze issue hier iets mee? Sjoerd heeft alles verder verwerkt.

[2020-11-19 16:15] jamalv commented on #224
@maxvisser who needs to review? You? Valentin?

[2020-11-19 16:17] jamalv commented on #577
On my 15" macbook it is the case at 100% 🤔

[2020-11-20 08:42] maxvisser commented on #224
Both. I reviewed it yesterday. Me-apps still need tasks to check alignment

[2020-11-20 12:28] maxvisser commented on #589
I would not show the QR-code on the landing page. Should be behind a button (otherwise the frontend start polling the backend)

[2020-11-20 12:29] maxvisser commented on #492
Not sure who will now make the IP and when it should be done.

[2020-11-20 12:30] maxvisser commented on #492
Does this need to be part of release 17?

[2020-11-20 12:35] maxvisser commented on #586
@jamalv planned a call for monday to see what necassary; I see nothing for this is planned yet.

[2020-11-20 12:43] maxvisser commented on #585
Could also result in unintended assigning if you make a typo it will add a leading zero

[2020-11-20 19:29] danrminds commented on #492
Reviewed design

[2020-11-23 07:31] #574 closed

[2020-11-23 07:31] #575 closed

[2020-11-23 07:32] #573 closed

[2020-11-23 07:32] #576 closed

[2020-11-23 09:03] maxvisser commented on #435
https://docs.google.com/document/d/1CJIzLuhm9Zz_URL4wuT_sed-ddoRZxzYZj7zCQV64MI/edit

[2020-11-23 09:28] MichaelForus opened #590 "Change request: Complaints about provider sign-up form"
**Support Ticket ID:** [#2278]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Provider

### Change description
- There are more organisation using the sign up form the last two week. Sometimes they call for support and most of the time they have the same complaints.

**Complaints**
- The explanation of why you should use the app and dashboard is not clear. (peo

[2020-11-23 09:39] GerbenBosschieter commented on #590
This is like the first experience with the platform. The complaints mentioned above deserve their own Change Requests. But  I have the feeling that we already created CR's or added feedback in earlier stage of development about these complaints.

[2020-11-23 09:49] jamalv commented on #583
Sounds good!

[2020-11-23 09:49] jamalv commented on #583
@maxvisser could you plan this in?

[2020-11-23 13:31] maartenfv commented on #431
@jamalv @maxvisser Do we know the major issues? What issues need to be worked on? Do Linda and Gerben agree?

[2020-11-23 13:37] maartenfv commented on #431
Max states 4 problems:
- Providers need to re-apply
- Criteria op het fonds (meedoen reliable = ja) Max zet er een jaartal in. (er zit geen tijd in criteria) (oplossing: geef houdbaarheid aan)
- Vernieuwen fondsen
- Niet opnieuw aanvragen?

Are these all? @jamalv @maxvisser

@linda-90 @GerbenBosschieter could you please add and state your priorities?

[2020-11-23 13:47] GerbenBosschieter commented on #431
All my priorities are in this issue and from what I know you already added them tho this issue: https://github.com/teamforus/support/issues/5

My biggest problem is from old to new year. So much things that need to be fixed. It's almost like a new implementation. But the biggest one of all is definitely the fact that providers need to apply for a fund again. This has always resulted in a peak of q

[2020-11-24 08:32] #225 closed

[2020-11-24 08:33] #224 closed

[2020-11-24 08:33] #567 closed

[2020-11-24 08:33] maxvisser commented on #567
Not applicable anymore

[2020-11-24 08:34] maxvisser commented on #274
what the DoD?

[2020-11-24 08:34] #201 closed

[2020-11-24 08:35] maxvisser commented on #201
Combined with #113

[2020-11-24 08:57] jamalv commented on #274
I've updated the oringal issue

[2020-11-24 09:21] jamalv commented on #492
I've put a checkbox with the concept @maxvisser could you review feasiblity? @linda-90 will review text. And maybe @maartenfv also wants to review this solution?

[2020-11-24 09:22] jamalv commented on #492
When text review is done a final design review can be done and a master page can be created, added to the figma library and handed of to developers

[2020-11-24 09:26] maxvisser opened #591 "Canceling DigiD should return you to activate page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
if you cancel DigiD when applying for a fund you are returned to the homepage. Would be nice to come back where you left. (as the 'start aanvraag' is gone when you are signed in' its pretty hard to get back

[2020-11-24 09:34] maxvisser opened #592 "Groningen implementation: Colorize sad face icon"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

![image](https://user-images.githubusercontent.com/10818702/100075758-aa026380-2e40-11eb-8337-b73674b94de7.png)

[2020-11-24 09:38] maxvisser commented on #586
Current way its working: user can login with DigiD and check again if he is in minima file; if he is not he gets this message:

![image](https://user-images.githubusercontent.com/10818702/100076124-22692480-2e41-11eb-81a6-be6732f8a999.png)

[2020-11-24 09:43] maxvisser opened #593 "Validator dashboard: fund request remove functionality to approve/deny single records"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
I find that the way we implemented approving and denying single records is incomplete. I propose to add a frontend flag to disable this for now and add it to the list of unreleased features.

![image](https://user-images.githubusercontent.com/10818702/100076722-d074ce80-2e41-11eb-9ccf-19eb72b

[2020-11-24 09:52] jamalv commented on #581
@maxvisser the link is up again; could you make a task for adding the link? https://www.rijksoverheid.nl/onderwerpen/intellectueel-eigendom/vraag-en-antwoord/mag-ik-teksten-muziek-of-foto-s-van-anderen-gebruiken

[2020-11-24 09:58] maxvisser commented on #593
Alles valideren -> Goedkeuren
Alles weigeren -> Weigeren

[2020-11-24 10:07] jamalv commented on #579
@maxvisser met alleen deze comment en het sluiten van de issue gebeurt het niet. Het gevolg is straks wellicht dat er verkeerde teksten in staan. Het is in scope van deze issue om deze teksten aan te passen; als het volgens jou niet binnen deze issue past dient er een nieuwe issue geopend te worden.

[2020-11-24 10:13] maxvisser commented on #579
Ah ok! Not sure why its a development issue any way (why its posted here)

[2020-11-24 10:16] maxvisser commented on #579
https://github.com/teamforus/implementation/issues/590

[2020-11-24 10:17] jamalv commented on #579
Thx!

[2020-11-24 10:33] maxvisser opened #594 "Reason for denying a fund request is not saved"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
If a validator denies a fund request we do not save what he sents to the citizen; I see a potential issue with not saving this information and showing it to the validator:
1. validator denies citizen on 1 jan, fills in 'U bent geweigerd omdat u een inkomen heeft boven x x"
2. Citizen calls on

[2020-11-24 10:41] #517 closed

[2020-11-24 10:41] #552 closed

[2020-11-24 10:41] #522 closed

[2020-11-24 10:41] #480 closed

[2020-11-24 10:41] #420 closed

[2020-11-24 10:42] #294 closed

[2020-11-24 10:51] maxvisser opened #595 "Deny all: success message could be a push notification."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/100084616-47629500-2e4b-11eb-8689-1fc043a275e1.png)

Text is aswell wrong. Should be 'Aanvraag geweigerd'

[2020-11-24 13:14] maartenfv commented on #496
this issue is crucial.  Stated as big problem. needs to be made as in proposal by Demy.

[2020-11-24 13:27] maxvisser commented on #496
Its already there as a PR to develop.

[2020-11-24 13:27] maxvisser commented on #496
I see jamal reopened the design review. Not sure whats happening there.

[2020-11-24 13:37] maxvisser opened #596 "Provider dashboard: No funds are applied yet"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/100101406-7b958000-2e62-11eb-8ce7-07c142f3836d.png)

English text needs to be translated

[2020-11-24 14:04] maxvisser commented on #594
Proposal save what validator fills in to a 'note' field in the database.

[2020-11-24 14:05] maxvisser commented on #594
estimate points are for the must have.

[2020-11-24 14:07] maxvisser commented on #581
planned and open as PR to develop

[2020-11-24 14:24] maxvisser commented on #591
Not sure about difficulty. Seems small

[2020-11-24 14:26] maxvisser commented on #492
Apart from the whole URL idea proposed in the stickies I see no issues.

[2020-11-24 14:27] maxvisser commented on #492
I propose to fix that issue with forus website; If you login on forus.io we will show the Sponsor/validator/provider options

[2020-11-24 14:28] maxvisser commented on #492
if you go to forus.io/sponsor you will get the login screen (with the open QR) button

[2020-11-24 14:31] maxvisser commented on #492
I would split this epic up in three different development tasks:
1. Implementing the page on the webshop
2. Removing landing pages and implementing new login / register page landing page (can impact current landing pages!)
3. Implementing a login state for forus.io website with the choice between the three dashboards/roles

[2020-11-24 14:36] maxvisser commented on #590
Could not find alot change request to link. I think those were closed or never created. So if you could split this one up and help to set priority.

[2020-11-24 14:39] maxvisser commented on #165
Can I plan this in ?

[2020-11-24 14:40] maxvisser commented on #165
I think its small/medium so it could take up a chunk of time. (as it is a should have)

[2020-11-24 15:41] maxvisser commented on #581
Reviewed and merged

[2020-11-25 08:04] jamalv commented on #492
I agree with max; first iteration of the provider page can even have the login button (top right) out of scope; as that makes it more complicated, would be nice to add that as part of point 2.

@danrminds could you plan this in?

[2020-11-25 12:41] maxvisser commented on #529
[Uploading... image.png ]

[2020-11-25 12:46] maxvisser commented on #529
Conclusion popup has been added. Pagination is overkill as not alot of users will have 20 sessions; If would introduce pagination we should probably do still 15 or 20 per page. Moving the button to the top would result in more people clicking it. If they do it unintentionally it will log them out from all devices. (which can result in bad UX)

[2020-11-25 12:46] #529 closed

[2020-11-25 12:54] maxvisser commented on #587
should remove hide-sm class from profile-menu

[2020-11-25 15:43] maxvisser commented on #579
https://github.com/teamforus/forus/issues/1758

[2020-11-25 15:44] maxvisser commented on #579
@SjoerdHilhorst Ik zie dat je tijdens het fixen van de teksten ook Navbar item 'Acties' naar 'Aanbod' hebt veranderd en de titel.

[2020-11-25 16:56] maartenfv opened #597 "NOP | Vaststellen nieuwe live gangs datum"
@linda-90 Neemt contact op met Muriel om te checken wanneer live?

[2020-11-26 06:15] jamalv commented on #165
@maxvisser yes can be planned

[2020-11-26 09:01] linda-90 opened #598 "CR: Add new privacy text"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-

Text: https://docs.google.com/document/d/1oDCenX-YEtbX8sXhs7x9bQ60xm3nLMB5oA4fa8wrT1U/edit

Figma: https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/Privacy-statement?node-id=1%3A80&viewport=223%2C424%2C0.04819453880190849

[2020-11-26 11:39] maartenfv commented on #492
I agree with solution. As in screenshot. Let's make it and show Groningen for review.

[2020-11-26 17:14] maartenfv opened #599 "Webshop: the link "aanmelden als aanbieder" goes directly to third step"
Learn more about change requests here: https://bit.ly/39CWeEE

![Aanmelden als aanbieder beter](https://user-images.githubusercontent.com/30211022/100378442-64e25b00-3013-11eb-80b3-11e5268ee86a.JPG)

Cleared my cache still have bug that the aanmelden als aanbieder link goes directly to this page.
![image](https://user-images.githubusercontent.com/30211022/100378338-35335300-3013-11eb-80d2-02d6f316

[2020-11-27 08:13] maxvisser commented on #599
Hi Maarten, I tried reproducing this issue; But I can't. We do store the step you were on when you closed the browser.

![image](https://user-images.githubusercontent.com/10818702/100426081-9f3e0d80-3090-11eb-9cab-81444a1c28ea.png)

So could you maybe aswell check what number you find in your local storage?

- Right click, inspect element
- Select tab in DevTools with the name 'Application' / 'App

[2020-11-27 08:14] maxvisser commented on #599
We store this state so you can continue where you left even if you return back from your mail to the signupflow.

[2020-11-27 08:15] maxvisser commented on #241
@linda-90 is the new logo approved?

[2020-11-27 09:17] maxvisser commented on #162
Sprint demo

- Action checkout @Myshelova
- App testing / app improvements  @Myshelova
- No price enhancements @maxvisser
- Provider signup page on webshop @maxvisser
- Me page @maxvisser
- Link show more buttons on product block to filter products list. @maxvisser
- Search BSN / 9 digits @maxvisser
- Export data from voucher generator @maxvisser
- Sonarqube scanning code from jenkins @max @RobinM

[2020-11-27 11:10] #368 closed

[2020-11-27 17:14] linda-90 commented on #241
@maxvisser I presented the logo to the municipality. Positive reactions!
In the meeting before my vacation there was another comment / question about another logo that looks like it.

@maartenfv Did you talk to Erwin about this when I was on vacation?

[2020-11-27 17:33] linda-90 commented on #431
1. Providers need to re-apply for a fund (new year, same fund)
2. Citizens need to re-apply for a fund

Should be easier / automatic for users

[2020-11-28 13:58] jamalv opened #600 "Visual bug; openingstijden on provider details page (currently on staging)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Change description
-
<img width="1014" alt="Screenshot 2020-11-28 at 14 56 45" src="https://user-images.githubusercontent.com/30194799/100517308-0ab7d600-318a-11eb-9c28-5476716353d4.png">

[2020-11-29 14:16] jamalv opened #601 "Add tags to app stores"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Add "Groningen" tags to app store to make the app easier to find

- [x] iOS @jamalv
- [x] Android @maxvisser

[2020-11-29 20:44] jamalv opened #602 "Add providers from old fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Customers with existing funds

### Change description
As a sponsor I would like to add all providers from a previous fund, without requiring actions from the providers

[2020-11-29 20:46] jamalv opened #603 "Add requesters from older fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsors with older funds

### Change description
As a sponsor I would like to renew vouchers if a requester is still eligible in a new year
As a requester I would like to be notified about my new voucher, and receive it without hassle.

[2020-11-29 20:49] jamalv opened #604 "Text change: "Ga naar stap 3" should be "bevestigen""
Learn more about change requests here: https://bit.ly/39CWeEE

### Change description
Should be "Bevestigen"
![Screenshot 2020-11-29 at 21.49.12.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/12014f44-f556-4a1a-b22c-61b03c68bc4c)

[2020-11-29 20:58] jamalv opened #605 "Have all types of funds in one webshop (financial fund + subsidy fund)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
In order to have a functional platform and be able to offer our core functionalities without hesitations, we should be able to give out all types of fund in one webshop.

## Regarding scope:
What is still needed to do this? If scope is medium or smal, I would like to classify this as must

[2020-11-29 21:01] jamalv opened #606 "Make forus.io/dl work on tablets"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Shopkeepers with a tablet

### Change description
Currently you don't have any way to download the app when using a tablet. Forus.io/dl does not redirect. This link should also work on iOS/Android tablets. Should be fixed asap.

[2020-11-30 07:08] maxvisser commented on #606
If we fix #281 it will atleast show download buttons.

[2020-11-30 07:13] maxvisser commented on #605
there are some UX problems that need to be solved first:
- which price to show on frontpage/provider page, product list
- when to show a product (approved/denied, out of stock, limit reached, no budget left etc)
- design needs to be synced

[2020-11-30 07:27] maxvisser commented on #601
You can only add generic tags to app in google play console;
I added to the description this text:

Het platform bestaat uit drie onderdelen:

- De Me app: Om een account aan te maken, tegoeden te beheren en de QR-Code scanner te gebruiken om je aan te melden op de webshop.

- De webshop: Wordt gebruikt door inwoners als gebruikersomgeving en om losse producten in de vorm van een reservering aan t

[2020-11-30 07:30] jamalv commented on #601
This is the text we are using for iOS:

In the app store I'm planning to add stadjerspas and groningen as generic tags as hopefully a solution for now.

[2020-11-30 07:50] maxvisser commented on #601
You want to use the same text for android. Do you have an unquoted version (maybe put it in a gdoc in development folder in our google shared drive)

[2020-11-30 08:31] #384 closed

[2020-11-30 08:32] maxvisser commented on #434
If nijmegen wants to stack funds (if or when they want to do this) we should give this a high priority

[2020-11-30 09:50] MichaelForus opened #607 "Image size for offers and organization on the Webhop is incorrect."
**Support Ticket ID:** [#2316]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Provider

### Change description
- Image size for offers and organization on the Webhop is incorrect.<br>

- With an Offer: You will be asked for a square image (400x400px) during upload, but a 4: 3 image will be shown on the webshop with an offer. If the offer is clicked on the websh

[2020-11-30 10:15] maxvisser commented on #585
@jamalv check it and close it.

[2020-11-30 10:15] #585 closed

[2020-11-30 10:22] maxvisser commented on #590
During this sprint we will create seperate change request and check for each what we can do to directly fix them

[2020-11-30 10:42] maxvisser commented on #603
Requester who applied late needs to reapply again in a few months
Allow sponsor to set a time of validity on a criteria (for example kindpakket_eligible = ja should be validated in within the past year or user needs to be validated again) This results in that the criteria could reused.

Brain map it

[2020-11-30 10:43] maxvisser commented on #603
https://github.com/teamforus/general/issues/603

[2020-11-30 10:51] maxvisser commented on #413
design proposal needs to be made for general webshop and each implementation

[2020-11-30 11:08] GerbenBosschieter opened #608 "CSV files to add prevalidations should have more friendly headers"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- The headers we use in our CSV files to add prevalidations records are unfriendly to use. If there is only one small thing wrong we can't do anything anymore and it's really hard to reproduce what is wrong. The headers are robot/computer things that just doesn't make sense

[2020-11-30 12:29] maxvisser commented on #608
most of the headers we can pick ourselves. some have legacy features like children_nth and others depend on functionality like having atleast "_eligible" in it.

As criteria / record_types can be created manually, criteria can be configured manually most of the things can change. Of course for running funds this is difficult to change as a slight error in the migration can have terrible consequenc

[2020-11-30 12:31] maxvisser commented on #608
some things to take into account:
- currently the year is necessary in the record type
- _eligible is necessary

[2020-11-30 14:26] SjoerdHilhorst opened #609 "CR: Redesign csv upload page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @SjoerdHilhorst

### Change description
- Currently there are 3 upload buttons, with two different functions:
![image](https://user-images.githubusercontent.com/48722300/100621295-c9592f00-331f-11eb-9984-fd2189f9f21f.png)

Improvement proposal:
https://www.figma.com/file/VAVSBCaMLFGl7tS8qkG73x/Upload-.csv?node-id=1%

[2020-11-30 16:29] jamalv opened #610 "Assign vouchers by address"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a sponsor I would like to give out vouchers based on house address.

Suggestion: to add a new UID based on postal code+house number

[2020-11-30 16:32] jamalv opened #611 "Physical QR code scanner: offer API"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a provider I would like customers to scan their own QR codes using a physical QR code scanner (dedicated hardware).

[2020-11-30 17:43] maxvisser commented on #610
Not sure what does this mean; a address is no person right? If you and me live together on the same address (maybe a student building) who will get the voucher?

[2020-12-01 07:24] #535 closed

[2020-12-01 07:25] #496 closed

[2020-12-01 07:25] #581 closed

[2020-12-01 07:25] #550 closed

[2020-12-01 07:26] #492 closed

[2020-12-01 07:26] #288 closed

[2020-12-01 07:28] #604 closed

[2020-12-01 07:29] #580 closed

[2020-12-01 07:37] #196 closed

[2020-12-01 07:37] #579 closed

[2020-12-01 07:37] #583 closed

[2020-12-01 07:42] maxvisser commented on #395
Dat klopt. De stappenteller begint nu pas bij het aanvraagproces. Bij nijmegen resulteert dit in 1 stap. Inloggen / DigiD wordt dus niet meegerekend. Hierdoor kunnen we beter garanderen dat de teller/stappen accuraat zijn omdat het aantal stappen kan verschillen per gebruiker en context.

[2020-12-01 07:42] #395 closed

[2020-12-01 07:42] #516 closed

[2020-12-01 07:43] maxvisser commented on #249
I will close this; I can only check it on android its done there.

[2020-12-01 07:43] #249 closed

[2020-12-01 07:43] #411 closed

[2020-12-01 07:44] maxvisser commented on #372
@linda-90 Could you help with the search for an header image?

[2020-12-01 07:45] #185 closed

[2020-12-01 07:45] #170 closed

[2020-12-01 07:46] #503 closed

[2020-12-01 07:46] #418 closed

[2020-12-01 07:46] #305 closed

[2020-12-01 07:47] #208 closed

[2020-12-01 07:48] #497 closed

[2020-12-01 07:50] #238 closed

[2020-12-01 07:51] maxvisser commented on #414
Is already on production

[2020-12-01 07:51] #414 closed

[2020-12-01 07:52] #386 closed

[2020-12-01 07:55] #520 closed

[2020-12-01 07:55] #595 closed

[2020-12-01 07:56] #524 closed

[2020-12-01 08:06] maxvisser commented on #577
@jamalv could you recheck this one?

[2020-12-01 08:18] #553 closed

[2020-12-01 08:20] #592 closed

[2020-12-01 08:20] maxvisser commented on #382
As this will now open a page; I see this as 'fixed'

[2020-12-01 08:20] #382 closed

[2020-12-01 08:23] maxvisser commented on #537
seems to be added; will close this one

[2020-12-01 08:23] #537 closed

[2020-12-01 08:27] maxvisser commented on #404
Can't reproduce the issue will close it

[2020-12-01 08:27] #404 closed

[2020-12-01 08:52] jamalv commented on #601
Added to drive: https://docs.google.com/document/d/1ZNKjMTLN7EsdnPTVoBDYCUIlFsXe4HP-Gl-_IZnCufE/edit

For iOS a release is needed to update the tags, will be in 0.4.1

[2020-12-01 09:46] maxvisser commented on #603
Made an IP to discuss:
https://docs.google.com/document/d/1ITehtSPsviZn8sLRjyhsIfWMGGUUYIR5-28ogr6gd3o/edit#

[2020-12-01 09:46] maxvisser commented on #602
Probably this is not needed; Made an IP which is small and feasible:
https://docs.google.com/document/d/1ITehtSPsviZn8sLRjyhsIfWMGGUUYIR5-28ogr6gd3o/edit#

[2020-12-01 10:01] jamalv commented on #602
Figma file: https://www.figma.com/file/DW4Cv9jA6PrRzPyYC5aJfd/Add-providers-from-old-fund?node-id=0%3A1

[2020-12-01 11:11] linda-90 commented on #372
@maxvisser Zijn foto's van Pexels, daar kan je ook de high res downloaden.

Verzoek van Westerkwartier is om verschillende headerfoto's te kiezen en deze te laten afwisselen.
Eis is dan dat de tekst en kleur van de afbeeldingen hetzelfde zijn zodat je daar geen issues mee krijgt.

Bijvoorbeeld deze:
<img width="691" alt="Schermafbeelding 2020-12-01 om 12 10 24" src="https://user-images.githubuserc

[2020-12-02 08:14] maxvisser commented on #372
Heb je links naar de pexel pagina's? De uitknipte versies zijn te lage kwaliteit om te gebruiken; dan maak ik een taak voor alex om de header foto's te maken. Kunnen we wel approval krijgen vanuit de projectgroep voor dat hier externe uren in gaan? (ook op de CR dat we meerdere header fotos gaan gebruiken; maak #290 moeilijker later)

[2020-12-02 08:17] maxvisser commented on #372
Persoonlijke mening: foto's vind ik nog steeds heel commercieel ogen en geven geen 'gezellige' uitstraling.

[2020-12-02 08:19] maxvisser commented on #591
@jamalv if you want to remove 'aanvragen' from the header. this could maybe be pretty high impact

[2020-12-02 08:30] GerbenBosschieter commented on #291
FYI got a new support ticket that asked for this.

[2020-12-02 08:46] maxvisser commented on #120
How I see this working:
User will go to webshop presses button 'Buy'
Provider will get a new page on their dashboard called 'Order' this lists all order (users who clicked the button buy)
Provider accepts order; which initiates the payment from municipality to provider

[2020-12-02 08:48] GerbenBosschieter opened #612 "Webshop Me page has email again. Please change this to e-mail"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Please stop using email. In dutch in means something else than in english.
Use different screenshot where email is e-mail.
<img width="279" alt="Screenshot 2020-12-02 at 09 44 11" src="https://user-images.githubusercontent.com/38419514/100849948-5ec10400-3483-11eb-83dc-42

[2020-12-02 08:50] maxvisser commented on #612
Planned this in for @sashooa change the image

[2020-12-02 09:41] maxvisser commented on #609
@SjoerdHilhorst i see directly uploading the file as a nice feature. Sometimes we do give warnings based on the file though. I think we should still show these warnings (if there is any) and also ofcourse validation errors (a incorrect csv header)

[2020-12-02 09:54] maxvisser opened #613 "Make it clear what the difference is between dashboard / app"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Support Ticket ID: [#2278]

### Change description
The explanation of why you should use the app and dashboard is not clear. (people have the expectation that you can do the same things with it.)

## proposal

![image](https://user-images.githubusercontent.com/10818702/100857162-a7c98600-348c-11eb-9c9e-02d08172f117.pn

[2020-12-02 09:56] maxvisser opened #614 "Provider sign-upflow: add blinking indicator that you are filling in phonenumber"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
On step 1 we focus a lot on filling in the mobile number to receive a sms. No indication that you fill in the mobile number (no blinking index/pointer)

![image](https://user-images.githubusercontent.com/10818702/100857384-ed864e80-348c-11eb-95a4-2ee6879dd1ec.png)

[2020-12-02 09:57] maxvisser opened #615 "Provider signupflow: iPad/Phones without simcard UX"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Support

### Change description
The focus is 100% on fill in in mobile number. But a lot of times people will use an iPad or a phone of the organisation without a simcard and just a WiFi connection. If there is no possibility for them to enter a SMS, they get stuck.

## Proposal
Clearly show download buttons for the a

[2020-12-02 10:00] jamalv commented on #577
Seems good now on staging!

[2020-12-02 10:00] #577 closed

[2020-12-02 10:02] maxvisser opened #616 "Provider signupflow: Make it more clear why we ask phonenumber"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
People who sign-up get a felling it on personal level when they have to fill in their mobile phone number

[2020-12-02 10:02] maxvisser commented on #590
I splitted this issue in multiple ones to more easily plan the smaller issues. I will close this one in favor of those. This one is linked to all.

[2020-12-02 10:03] maxvisser commented on #616
Current page: ![image](https://user-images.githubusercontent.com/10818702/100858209-fd526280-348d-11eb-8ca9-cc56d285c4bc.png)

[2020-12-02 10:04] maxvisser commented on #615
https://github.com/teamforus/general/issues/616
![image](https://user-images.githubusercontent.com/10818702/100858303-19560400-348e-11eb-9800-8d60a7053453.png)

[2020-12-02 10:05] maxvisser commented on #615
Example of how Whatsapp does it:
![image](https://user-images.githubusercontent.com/10818702/100858480-51f5dd80-348e-11eb-935c-dce2e44cafc6.png)

[2020-12-02 10:08] maxvisser commented on #615
![image](https://user-images.githubusercontent.com/10818702/100858744-abf6a300-348e-11eb-8c21-193d52aba85a.png)

[2020-12-02 10:10] jamalv commented on #249
done on ios as wel

[2020-12-02 10:26] jamalv commented on #591
Yea let's plan this in?

[2020-12-02 10:28] jamalv commented on #413
@danrminds could you work with @sashooa to include button states in the webshop library?

[2020-12-02 10:49] maxvisser commented on #615
Made an IP: https://www.figma.com/file/Jf9evMRyAVEbzy4EDubvTr/?node-id=176%3A138

[2020-12-02 12:58] maartenfv opened #617 "Change color menu potjeswijzer"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Westerkwartier

### Change description

Change the color to green (color code like the logo) to make it more visible.
-
![Screenshot menu 2020-12-02 135304](https://user-images.githubusercontent.com/30211022/100875417-457d7f00-34a6-11eb-81e0-ac92581b3461.png)

[2020-12-02 14:13] maartenfv commented on #617
https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_1257514803?webUrl=https%3a%2f%2ftasks.office.com%2fb4a9ddbe-ddec-41ba-977a-154b31a1847e%2fHome%2fPlanViews%2f-rWQG76nFU-2YfF2jIBD1JgAC-ia%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Geef+de+menubalk+een+groene+kleur+zodat+kan+worden+waargenomen+dat+deze+een+onderdeel+uitmaakt+van+de+site.+in+Planbord&con

[2020-12-03 08:35] maxvisser commented on #587
should be fixed and staged

[2020-12-03 08:50] maxvisser commented on #607
@SjoerdHilhorst if you have time; this seems as a nice one for a proposal

[2020-12-03 08:54] maxvisser commented on #614
If we make the screens for phonenumber less prominent; I will put this on blocked by #615

[2020-12-03 08:57] maxvisser commented on #617
If a header image is chosen I would like to a design review of both header and menu. As the color of the header can change we properly want to adjust t he color of the menu again

[2020-12-03 17:17] maartenfv opened #618 "&nbsp in CMS is not user friendly for customers."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen

### Change description
- Update CMS from Markdown to WYSIWYG
- Users do not understand markdown and do not what to have to place an &nbsp as an "enter".
- The CMS now requires separate implementation sessions to explain how to use it.

[2020-12-03 17:25] linda-90 commented on #618
This is also not user friendly. Where do they have to place the image to get such a link?

<img width="1300" alt="Schermafbeelding 2020-12-03 om 18 21 15" src="https://user-images.githubusercontent.com/36952230/101064537-66bc9900-3594-11eb-825c-403b7e2f82cc.png">

- Update CMS with option to upload an image (not by filling in a link to the image)

[2020-12-04 07:15] GerbenBosschieter opened #625 "Openings times when providers isn't closed but doesn't have any specific opening times"
## Main asssignee: @

## Context/goal:
Some providers don't have specific opening times on certain days. But they are not closed. The way we setup opening times forces the provider to be closed or to add openings hours. What they is not adding any specific opening times while filling in the sign up flow or by creating/editing office, but this will result in: CLOSED.

Would be nice to have an optio

[2020-12-04 08:12] GerbenBosschieter opened #623 "As a provider I would like to add a discount of a certain amount (not % but also €) for all my complete assortment"
## Main asssignee: @

## Context/goal:
Provider can currently add a product and check the checkbox if it's a discount. But they can only give discount in percentages. Would be nice to also do this with a fixed amount. This will really help the use case where the providers wants to give a discount to their complete assortment while the products itself have variable prices.

### Example
Provider Tri

[2020-12-04 08:42] GerbenBosschieter commented on #616
The solution is not focussing that much on phone number but giving them more options pro actively instead hidden options in grey letter

[2020-12-04 08:43] GerbenBosschieter commented on #616
Also we should tell them what keywords they should use to search the app in the stores. It's "Me Forus"

[2020-12-04 08:46] GerbenBosschieter opened #624 "Problem during sign up process of providers: they forget to sign up for a fund"
## Main asssignee: @

## Context/goal:
Most providers forget to apply a fund during the process of signing up. They create their organisation but don't click apply on any fund and just continue to next step. This is also because we nowadays send a link without organisation id so they have like a list of funds to choose but they just don't know what to choose and think: I will just continue.

This

[2020-12-04 08:53] GerbenBosschieter opened #619 "CR: Add an option " is not applicable" to expiration date with adding a product."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsors, Providers and me

### Change description
- If a provider adds a product to the webshop they HAVE to eter an expiration date. But most of the time the product / service doesn't really have one and it's just a
continuous offer. But we force them to.

Would be nice to add a option that the provider can add so

[2020-12-04 08:53] GerbenBosschieter opened #637 "CR: Add an option " is not applicable" to expiration date with adding a product."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsors, Providers and me

### Change description
- If a provider adds a product to the webshop they HAVE to eter an expiration date. But most of the time the product / service doesn't really have one and it's just a
continuous offer. But we force them to.

Would be nice to add a option that the provider can add so

[2020-12-04 08:58] GerbenBosschieter opened #620 "Can't do any changes to my product after I've checked the box of: no price or unlimited stock. What if there really is a change or I made a mistake?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
After a provider adds a product and realises they made a mistake or just want to change something on a later moment they can't always do if the following checkboxes are checked:
- unlimited stock
- no price

Let them be able to change this. Greying it out visually after cho

[2020-12-04 09:05] GerbenBosschieter opened #621 "Use the image that the provider chose somewhere as a placeholder for everywhere if they didn't add a custom image"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Please make it possible that by default the placeholder images of offices and products are an image a provider already chose. For example their company logo. Some provider only choose one image in the sign up process. Then add an office, then add multiple products.  The a

[2020-12-04 09:21] GerbenBosschieter opened #622 "Adding a product: "aantal" is not clear for provider of Stadjerspas"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- A lot of providers make mistakes when adding a product if they are being asked for "aantal". They are used to the Stadjerspas scenario where they knew there was a limit of how many times a requester could use the action.

In the old system the sponsor added the product on

[2020-12-04 09:28] maxvisser commented on #622
Would a tooltip help? Probably add something like
"Aantal van product of dienst dat u in totaal kunt leveren"

[2020-12-04 10:36] linda-90 commented on #372
@maxvisser Mee eens. Ik kan de geschikte versies delen en om akkoord vragen. Graag wil ik dan wel duidelijkheid over de meerdere foto's. Kan het wel/niet en waarom.

Tot nu toe zijn er geen betere foto's.

Daarbij komt dat het beter zou zijn als we dit in het CMS hebben staan. De gemeente kan dan zelf een headerfoto of meerdere foto's aanleveren en in het systeem zetten.

[2020-12-04 11:17] maxvisser commented on #372
Dat is denk iets voor Jamal om te bepalen. Prioriteit van deze en wanneer het ingeplant kan worden.

[2020-12-04 12:12] maartenfv commented on #372
Geen meerdere foto's. Niet voor nu.

[2020-12-04 12:26] maartenfv opened #626 "Prevalidations and time-based criteria (Bulkbestand gegevens verloop)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- SDOA
- Other municipalities

### Change description
- See proposal: https://docs.google.com/document/d/1meid4YqZBQi81PQ26nd7QB8JnHAwjtLb1-eE3iRaoMU/edit#

[2020-12-04 17:30] jamalv commented on #624
Not sure if we can technically solve this, at least not without it getting big (allowing providers to add/invite providers to a fund, which is a great feature but probably pretty big)

[2020-12-04 17:31] jamalv commented on #624
But clearly a big issue, probably new link should be sent with that instruction as wel.

[2020-12-04 17:33] jamalv commented on #593
@maxvisser can be planned in this or next sprint

[2020-12-04 18:32] jamalv opened #627 "Tegped!"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
<img width="682" alt="Screenshot 2020-12-04 at 19 30 43" src="https://user-images.githubusercontent.com/30194799/101201010-5e815e00-3667-11eb-9174-6c999f51a956.png">

[2020-12-04 22:40] maxvisser commented on #624
If it's get too out of hand we could just do it via a service request. (add the applications to the fund via database). I see this as less priority then features which will allow some use cases that we currently don't support.

[2020-12-05 14:54] jamalv opened #628 "Provider overview page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a provider I would like an overview of what's expected of me after completing the signupflow.

This is a proposed solution to https://github.com/teamforus/general/issues/624

Another important reason: right now provider's have a conceptual "gap" after sign in, it's very unclear that yo

[2020-12-05 15:14] jamalv opened #629 "Provider signup: add back button in beginning (after info steps)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a provider I would like to go back to read the information again after clicking next on the info pages.

**Sidenote:** Being "stuck" on this page if you quickly skipped over the information but are now curious what it said is a pretty bad UX, especially since you can also not use the b

[2020-12-05 15:34] jamalv commented on #619
@maxvisser please plan this in

[2020-12-06 19:46] jamalv opened #630 "Actions: Second iteration"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Current situation
We have delivered the first version of actions. Now that providers and a sponsor start using it, we are finding out things that are not yet clear in the way how users expect how it works, and how it actually works.

## Desired situation
Providers and sponsors should not need training or explanations on how to use

[2020-12-06 19:49] jamalv commented on #630
@maxvisser I have some 🧠-breakers for you :P curious to hear your thoughts!

[2020-12-06 20:25] maxvisser commented on #630
Well I see our current system as straight forward. You offer a product or service. Fill in title, description and the price which you offer it for. What's not straight forward about that?

What's messed up is the mindset which provider have when they approach the system 'I Want to apply my product for this specific fund and want to ask the sponsor of this specific fund for a price agreement'. Whic

[2020-12-07 07:40] jamalv opened #631 "Update voucher card: make opening modal links more prominent (buttons need to be visible, not hidden)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description

- [ ] buttons need to be visible on first sight and not hidden in pop up.
- [ ] Buttons need to have colour
- [ ] buttons need a hover
- [ ] Buttons need to be as large as possible (and still look nice)

It is currently unclear (user testing) what is expected of the user.  User do not se

[2020-12-07 07:52] jamalv opened #632 "Add link to order card on activation modal"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
If you click activate card, you should have the option to order one if you don't have any.

<img width="608" alt="Screenshot 2020-12-07 at 08 49 57" src="https://user-images.githubusercontent.com/30194799/101323777-7fb19c80-3869-11eb-8ce9-89bd984833e6.png">

Figma: https://www.figma.com/f

[2020-12-07 07:54] jamalv commented on #632
@maxvisser could this be planned?

[2020-12-07 07:57] jamalv commented on #627
Reproduce by manually emailing the QR to yourself (from voucher page in webshop)

[2020-12-07 07:58] jamalv commented on #627
@maxvisser I was looking in the codebase to make a pr myself but couldn't find it, could this be planned?

[2020-12-07 08:05] jamalv commented on #621
@maxvisser could you plan this in for alex?

[2020-12-07 08:14] jamalv opened #633 "Change: "Maak publiek" to "Toon op website""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
"Maak publiek" > "Toon op website"

<img width="731" alt="Screenshot 2020-11-29 at 21 39 07" src="https://user-images.githubusercontent.com/30194799/101325717-81c92a80-386c-11eb-9390-09b0a5938e38.png">

[2020-12-07 08:14] jamalv commented on #633
@maxvisser can be planned

[2020-12-07 08:27] jamalv commented on #630
Yea I agree with most of that. This Figma proposal is meant to clarify the direction and have discussions about it, with the goal of being straightforward long-term, regardless of mindset.

Since we have now introduced this new type of fund with subsidies by the sponsor, that means for future implementations using this fund type, that will also be the mindset. (a provider wanting to get a subsidy

[2020-12-07 08:53] maxvisser commented on #630
Not sure which problem you try to fix; I think I miss alot of context; Why is there a 'action checkbox' ? what does it do?

[2020-12-07 09:14] maxvisser commented on #633
You know how this currently works? It still will be shown on the website even if the checkbox is off; We only don't show it publicly for logged out users

[2020-12-07 09:17] maxvisser commented on #621
This could result in unintended problems aswell. From a user perspective it is not that logically to it this way. I would or make it an option for the provider to do this; or make somekind of media library to easily reuse images

[2020-12-07 09:48] jamalv opened #634 "Provider page: add CMS block below default content."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As an implementation owner I’d like to add information to the provider page

Figma: https://www.figma.com/file/00iERh8W6ouVGJV7Khcx91/?node-id=0%3A1

## Add Extra block to CMS:
<img width="996" alt="Screenshot 2020-12-07 at 10 46 06" src="https://user-images.githubusercontent.com/3019

[2020-12-07 09:48] jamalv opened #636 "CMS | Provider page: add CMS block below default content."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As an implementation owner I’d like to add my own information to the provider page

Figma: https://www.figma.com/file/00iERh8W6ouVGJV7Khcx91/?node-id=0%3A1

## Add Extra block to CMS:
<img width="996" alt="Screenshot 2020-12-07 at 10 46 06" src="https://user-images.githubusercontent.c

[2020-12-07 09:49] jamalv commented on #634
@maxvisser could you plan this in for sjoerd or alex?

[2020-12-07 09:51] jamalv commented on #621
My expectation is that if we prefill it, then if the provider doesn't like it they will change it, if they like it they won't do anything. IMO this is an improvement in UX. @GerbenBosschieter what do you think?

[2020-12-07 09:56] jamalv commented on #633
Ah, thx for the clarification! In that case I would propose: "Toon openbaar op website"

[2020-12-07 10:23] jamalv opened #635 "Role switching in dashboards footer"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a user who takes on multiple roles I’d like an easy way to switch dashboards.

Figma: https://www.figma.com/file/DqaXCJzRWhLLYFOuhbKPYK/?node-id=0%3A1

<img width="1096" alt="Screenshot 2020-12-07 at 11 23 08" src="https://user-images.githubusercontent.com/30194799/101339403-a75f2f80-3

[2020-12-07 12:49] maxvisser commented on #621
You will do this for all providers in the system automatically on release. They do not often go to the webshop and check their images. If you guys don't see any risks with this lets do it. Otherwise I would just wait until there is time to increase scope.

[2020-12-07 12:59] maxvisser commented on #627
Adjusted this in release v0.17.1

[2020-12-07 13:07] maxvisser commented on #631
Two questions:
Why two links?
Don't you think the red will feel like something is wrong? maybe make it blue?

[2020-12-07 13:09] maxvisser commented on #636
Planned this in; Probably not feasible anymore this sprint; will put in the next milestone.

[2020-12-07 13:55] maxvisser commented on #637
Planned for figma proposal

[2020-12-07 15:20] maxvisser commented on #626
added a task for this in forus

[2020-12-08 08:55] jamalv commented on #390
Yea, the dropdown can probably be smaller, right? And we could truncate content of the dropdown if needed. When you click it you will see the full content?

[2020-12-08 08:58] jamalv commented on #390
Doesn't reproduce on chrome BTW:

<img width="1104" alt="Screenshot 2020-12-08 at 09 57 55" src="https://user-images.githubusercontent.com/30194799/101461940-dab3c400-393b-11eb-93b1-8c513daa834a.png">

[2020-12-08 09:11] jamalv commented on #631
Red links are brand identity of municipality. Links and buttons are red everywhere. Doesn't look weird on the page I think.

Two links because during usertesting people didn't understand the QR code, it's important that they make this connection (they don't read the text), pointing them to the modal will undoubtedly help make the concept clear and have them take a next step. (for example getting t

[2020-12-08 09:14] jamalv commented on #631
If you're in doubt try it in your browser, it doesn't look weird I think. What happened now is the only "call to action" is activate your card, but for a lot of people that's not the one that's most important. They need to make the connection that they can already use the QR code right away. For people with an expectation of a physical card, that's pretty hard to grasp. The modal does the trick.

[2020-12-08 11:21] jamalv commented on #291
Figma brainstorm: https://www.figma.com/file/1sJ0Q9eEKkSY5UezruPJhw/Payment-via-dashboard?node-id=176%3A138

[2020-12-08 12:01] jamalv opened #638 "Introducing Me: Text and URL on connection modal"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As an implementation owner I'd like a better introduction to the me app on (probably) the first page where people learn about it (from voucher page)

## Suggestion
Figma: https://www.figma.com/file/UuOGYY6mdunE4lh9MVhN9m/?node-id=1%3A80

<img width="819" alt="Screenshot 2020-12-08 at

[2020-12-08 13:03] maxvisser commented on #631
ah i see red / blue text links are not consistent over  the whole site; sometimes they are blue; sometimes red.

[2020-12-08 13:03] maxvisser commented on #631
(and in your example black and red) maybe we should create a seperate issue to make them all red / blue / black; so its more consistent

[2020-12-08 13:05] maxvisser commented on #631
What kind of hover color will they both have? Should we do a design review?

[2020-12-08 13:06] maxvisser commented on #631
![image](https://user-images.githubusercontent.com/10818702/101487453-7c4c0d00-395e-11eb-91be-3c7342988dff.png)
this is currently the hover color

[2020-12-08 14:34] jamalv commented on #631
Ah I see that URL's are mostly in blue, this is also true for the current SP site and for GG site. Maybe the MVP for this issue is this:

<img width="269" alt="Screenshot 2020-12-08 at 15 33 23" src="https://user-images.githubusercontent.com/30194799/101497078-dd79dd80-396a-11eb-8ca7-e59a45d5a1bd.png">

[2020-12-08 14:36] jamalv commented on #372
Welke foto gaan we gebruiken?

[2020-12-08 14:38] jamalv commented on #626
@maxvisser that would make this issue an epic? could you convert to epic and link the task(s)?

[2020-12-08 15:08] maxvisser commented on #631
Looked at this abit; I think making the links more prominent is maybe not even the fix; I would suggest to maybe even add the actions back direct on the card;

Something like this:
![image](https://user-images.githubusercontent.com/10818702/101501032-84607880-396f-11eb-9201-58b3551cd993.png)

[2020-12-08 15:11] maxvisser commented on #626
epic in a epic?

[2020-12-08 16:25] jamalv commented on #631
Well I thought about keeping the scope small as an initial fix, but yea, that might be better solution. Still I would like to colorize the buttons in the link color that's used in the implementation.

[2020-12-08 16:25] jamalv commented on #631
And let's not forget mobile :D

[2020-12-08 16:26] jamalv commented on #626
Epic-ception; it is possible :P (and maybe useful?) But I didn't realize this was already in an epic; maybe link that issue to the top epic?

[2020-12-08 17:16] jamalv commented on #621
Ah, that's a good point. So then the decision to make is, is the organisation / office image better than the placeholder?

I'm leaning towards yes, but find it a bit hard to oversee. My guestimate is that it should be no problem.

[2020-12-08 17:16] jamalv commented on #621
@GerbenBosschieter what do you think?

[2020-12-08 17:19] jamalv commented on #624
Hopefully this can help in the flow of signing up; https://github.com/teamforus/general/issues/628

Applying to the funds afterwards (current issues) can be done trough service requests. Can we be pro-active in this?

[2020-12-08 17:21] jamalv commented on #234
Design review done: https://github.com/teamforus/forus/issues/1814

@maxvisser can this be planned for development?

[2020-12-08 17:37] jamalv commented on #521
@maxvisser if it's not used let's remove it! I was under the impression that this was used on the financial dashboard?

Less is more!

[2020-12-08 17:38] jamalv commented on #521
It's also not used in the webshop?

[2020-12-08 17:41] maxvisser commented on #521
Would like to use it. We never really made any good features with the data we collect. :sweat_smile:

[2020-12-08 18:50] jamalv commented on #521
Okay, well if we're not using it and don't have any strong case for using it on the roadmap, let's kill it and save the providers the trouble.

If we ever want to use this kind of data, we should come up with the full use case and proposal when building out the scope. I'm not much in favor of collecting data just "in case we might someday use it".

What is needed to delete this? Are there any risk

[2020-12-08 18:53] jamalv commented on #521
The other direction is building out the proposal of using it; but we'd need (at the very minimal) a low fidelity figma prototype in order to get support for building it. This right now feels like a loose end without a plan, which only creates a speed bump for all the providers that sign up.

[2020-12-08 19:35] maxvisser commented on #521
its probably harder to find the categories for services though if put them in one list

[2020-12-09 07:54] maxvisser commented on #234
Created the task

[2020-12-09 12:00] maartenfv opened #640 "Ketentest koppeling DCP"
PVA:
- [x] Contact opnemen met DCP, inlichten over test @jamalv
- [x] Alles resetten naar "neutrale" staat (DCP FTP server clearen, etc) (staging) @maxvisser @DCP
- [x] Een pas bestellen op het emmahuys, handelingen aan onze kant verichten @jamalv
- [ ] Pas ontvangen bij emmahuys
- [ ] Pas koppelen
- [ ] Test transactie
- [ ] Champagne 🍾

[2020-12-09 13:55] maartenfv commented on #241
Yes, not a problem. Logo does not look like it. We can proceed.

[2020-12-09 13:59] maartenfv commented on #399
Is er een link naar FIGMA voor text check? @maxvisser

[2020-12-09 14:36] maartenfv opened #641 "Minimum and Maximum voucher amount."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- DNB, Enigma

### Change description
- We need to have a policy in regards to the minimum and maximum voucher amount.

What is the minimum amount?
What is the maximum amount?
What are the checks and balances to?

[2020-12-09 14:40] linda-90 commented on #399
1. Bericht to requester = Bericht naar aanvrager
2. Het question veld is verplicht = Vul een bericht in
3. Wanneer een aanvraag incompleet of onduidelijk is, kunt u aan de aanvrager extra informatie vragen. Een bericht bijvoegen is daarom niet optioneel. = Stuur een bericht naar de aanvrager als de aanvraag onvolledig is of als er aanvullende vragen zijn. Vul een bericht in.

[2020-12-09 15:01] maartenfv commented on #599
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/edd03886-581e-4f77-bf40-dab0b5e68906)

[2020-12-09 16:33] jamalv commented on #640
@maartenfv @maxvisser wie is het aanspreekpunt bij DCP?

PVA:
- [ ] Contact opnemen met DCP, inlichten over test
- [ ] Alles resetten naar "neutrale" staat (DCP FTP server clearen, etc) (staging) @maxvisser @DCP
- [ ] Een pas bestellen op het emmahuys, handelingen aan onze kant verichten @jamalv
- [ ] Pas ontvangen bij emmahuys
- [ ] Pas koppelen
- [ ] Test transactie
- [ ] Champagne 🍾

[2020-12-10 11:09] jamalv commented on #609
@SjoerdHilhorst I like the proposal in you "play" page! If you want you can rename your "play" page to "review" and move the file in figma to "proposals" - max and I will check the concept and feasibility; if those are good, it can be moved to prototoypes; there linda will check the texts, alex will review the design, and then you can start on development 🥳

[2020-12-10 17:25] jamalv opened #642 "Show loading progress when uploading files in signupflow"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a requester I would like to see loading progress when uploading a file in the signupflow.

[2020-12-10 17:37] maxvisser opened #643 "preview of files which were uploaded during clarification requests"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently files which were uploaded during a clarification request; there is no option to preview the file.

[2020-12-10 17:38] maxvisser opened #644 "Link footer of all e-mail goes towards localhost"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/101808584-d0015680-3b16-11eb-9cd2-2d7f0fe8d513.png)

[2020-12-10 18:05] maxvisser opened #645 "show new vouchers on top of voucher list"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![dev forus io_berkelland_](https://user-images.githubusercontent.com/10818702/101811600-93375e80-3b1a-11eb-9ad5-50aa01d8fc26.png)

[2020-12-11 09:39] jamalv opened #646 "Change sprint naming"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
In 2020 we named sprints like: 2020-Q4-S5 | Weeks 49+50

2020-Q4-S5 is not intuitive, therefore weeks are added

The proposal is to simplify it in the new year:

yyyyWwwww

Since the new year starts soon, I think this would be a good time to do it:

<img width="1394" alt="Screenshot 2020-

[2020-12-11 09:42] jamalv commented on #599
Solution here would be to add a back button I think.

[2020-12-11 09:44] jamalv commented on #477
Since early birds is not a thing anymore, the sponsor can just start starting the actions and adding them to the webshop during this month.

[2020-12-11 14:03] jamalv opened #647 "E-mail confirmation of physical card; house number addition"
In the example the addition "16" is missing

<img width="867" alt="Screenshot 2020-12-11 at 14 52 40" src="https://user-images.githubusercontent.com/30194799/101912384-f4663d00-3bc1-11eb-83d6-9755cc0e0be8.png">

<img width="915" alt="Screenshot 2020-12-11 at 15 03 09" src="https://user-images.githubusercontent.com/30194799/101912405-fcbe7800-3bc1-11eb-96a7-dd0b47ac73fd.png">

[2020-12-14 08:38] maxvisser opened #648 "Voucher generator: generate one activation code for each UID"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
If sponsor creates vouchers and activation codes in bulk. It would be a really nice functionallity to generate one activation code per UID uploaded

[2020-12-14 08:39] maxvisser opened #649 "Voucher generator: upload CSV for multiple funds"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Add a 'fund_id' field to the parser of the CSV for voucher generator. Allowing for easy generation of vouchers for multiple funds.

[2020-12-14 10:00] #598 closed

[2020-12-14 10:00] #596 closed

[2020-12-14 10:02] maxvisser opened #650 "Implement digest notification to sponsor about actions which changed price."
## Description
A provider can change the price of a product when a sponsor already started an action. In current system the action would stop and a notication would be sent to sponsor.

It would be a nice feature to add these notifications to the digest. Instead of sending a mail per action which got removed from webshop

[2020-12-14 10:05] #600 closed

[2020-12-14 10:05] #587 closed

[2020-12-14 10:35] GerbenBosschieter commented on #623
@maxvisser I think the solution is much easier than we think it is. What if we add like an display price option with a dropdown for price, discount or free.

With the onboarding of current providers we notice that most of the offer are like likes. 20 euro discount on whatever they offer. We can manage this if you add a product/offer with price 20 euro. Add it in the title and sponsor will contribu

[2020-12-14 10:42] #250 closed

[2020-12-14 15:24] jamalv opened #651 "Show prices / amount available when you are logged out"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
GG

### Change description
As a requester I would like to see price and availability in the webshop, even if I'm logged out, so that I can check what I need to pay without having to log in.

<img width="1424" alt="Screenshot 2020-12-14 at 16 25 40" src="https://user-images.githubusercontent.com/30194799/102099858-0c8b

[2020-12-14 15:27] jamalv commented on #651
@maxvisser, what do you think? I do understand this feedback :)

[2020-12-14 19:08] maxvisser commented on #651
Why we don't show it: The amount available / price is dependend on your voucher. It could differ per fund. (for example the price could be 8 for parents 4 for children.)

I think we could show the price and the maximum amount available for one voucher (we can't guess how many children someone has). Not sure how easy or hard it is.

[2020-12-14 19:12] maxvisser commented on #651
I see we have the prices and limit already in the response of the logged out state. Seems pretty easy to add. We should think how we display the information; 'Aantal per persoon' or something

[2020-12-15 08:15] maxvisser commented on #651
fixed it on pr to develop

[2020-12-15 08:17] maxvisser commented on #651
chose to use the label 'Maximaal per persoon' signed out; the same as they use now on the site.

[2020-12-15 08:20] maxvisser commented on #615
@jamalv Sjoerd is starting development. Did you already look at this for approval of the concept?

[2020-12-15 08:20] maxvisser commented on #615
Dan/Sashoa wil do a design review.

[2020-12-15 13:30] maartenfv opened #652 "CR: I can proceed without clicking the checkbox"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/10ed44e5-8426-41fc-a3dc-f68a71b07d1f)

[2020-12-15 13:51] maartenfv opened #653 "Page needs more space at the bottom. Can't see phone number"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groninge

### Change description
- The support tool covers info on the page.
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/00d61cfd-dbab-46e1-8818-22f825ef8bfa)

[2020-12-15 13:54] maartenfv opened #654 "Add possibility to leave notes on provider page."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- Groningen want's to be able to leave comments on the providers page. For example they make agreements about phones etc. They want to be able to leave notes and see who wrote the note.
Somewhere there:

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/0cf9

[2020-12-15 18:44] maxvisser commented on #653
maybe move the support tool to bottom left? as there is enough space under the menu list.

[2020-12-15 18:45] maxvisser commented on #652
Can't reproduce this issue. Could you show me how?

[2020-12-15 18:48] maxvisser commented on #623
Implemented a fix.
Example screenshot from staging:
![image](https://user-images.githubusercontent.com/10818702/102258504-4a164e80-3f0e-11eb-927f-7bbd26f864b9.png)

Product which now displays a discount of 12,50 euros was before labeled as 'free'. I see this as a fix for now as product which are becoming free because the municipality contributes are basically still getting that amount of discount.

[2020-12-16 10:02] maxvisser opened #655 "Clean up labels"
Remove:
Approval labels
Phase labels
Type labels
Status labels

Keep:
priority labels
scope labels
Status: On hold

type labels:
timetracking
bug
enhancement
epic

[2020-12-16 10:04] maxvisser commented on #655
Added all labels to this issue which I think can be removed.

[2020-12-16 10:07] maxvisser commented on #655
Project labels:
A project label should be used to indicate which 'demands' there are for a certain projects. Which could be added when a tender is won.

Customer labels:
Add a customer label for each client we have for their feedback points. Which currently are not in a project but we do want to keep track who brought in which issue

[2020-12-16 10:11] maxvisser commented on #655
I would use easy to use abbrevations like for customer labels:
wk
nijmgn
sdoa
nop
gro
gtb

[2020-12-16 10:12] maxvisser commented on #270
@jamalv is this still a must have?

[2020-12-16 10:14] maxvisser commented on #313
@jamalv could you still respond; how can we implement this without making users confused

[2020-12-16 10:19] #627 closed

[2020-12-16 10:22] #371 closed

[2020-12-16 11:56] maartenfv opened #656 "Add breadcrumbs: When a sponsor allow a provider to join fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
I want to go back without cliking go back in browser.

Please add breadcrumbs here: ![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/b17c3ed2-3b79-43a8-a902-325946692c08)

[2020-12-16 12:30] maxvisser commented on #642
Design task:
Design for invidual files upload

Workflow:
Select a file
before you submit
you start uploading it

(Same as gmail when you add an attachment)

Implementing it task (maybe can be done on reviewing needing to upload files pr)

[2020-12-16 12:34] maxvisser commented on #594
Make a seperate field to store it (just a field) on fund request

[2020-12-16 12:39] maxvisser commented on #475
We need proposal; in english how does it work.

[2020-12-16 12:53] maxvisser commented on #605
@jamalv for which project is this a must have?

[2020-12-16 13:02] maxvisser commented on #656
Noticed this one too. I would like to increase the scope on this one abit @SjoerdHilhorst If you have time maybe you can look through the dashboards and add on all 'show' / 'details' pages breadcrumbs.

[2020-12-16 13:26] maartenfv commented on #599
@maxvisser Do we have an update?

[2020-12-16 13:27] maartenfv commented on #633
Better: "Toon ook aan gebruikers die niet zijn ingelogd"

[2020-12-16 13:28] maartenfv commented on #635
I like this one!!!!

[2020-12-16 13:28] maartenfv commented on #635
Very good one

[2020-12-16 13:33] maartenfv commented on #655
@demylubbers Heb je een idee voor deze issue?

[2020-12-16 13:36] maartenfv commented on #656
This would greatly improve UX. @SjoerdHilhorst

[2020-12-16 13:52] maxvisser commented on #655
we did not see your document before creating this issue; Lets write the proposal down and see which are still important and have goals

[2020-12-16 15:29] demylubbers commented on #655
@maartenfv Ik denk inderdaad dat alle labels die Max heeft genoemd er uit kunnen en dat er misschien een label moet komen voor een intern budget of funding. Wellicht een klantnr ipv afkortingen, maar het verschil maakt mij niet zo heel veel uit.

Je document helpt ook heel veel haha. Misschien een sessie met meerderen inplannen om verdere zaken hierover te bespreken?

[2020-12-17 08:40] MichaelForus opened #657 "CR: As a sponsor I would like to send custom mails / messages to the providers and requesters"
**Support Ticket ID:** [#2529]
**Support Ticket ID:** [#2782]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- As a sponsor I would like to send custom mails to the providers<br>

Edit: added support ticket of sponsor that also requested this.

@jamalv This needs a development proposal.

We need to get the requirements exactly ri

[2020-12-17 08:43] GerbenBosschieter commented on #657
Requested by GTB

[2020-12-17 09:03] maxvisser commented on #657
Don't see this as feasible (we are not an e-mailing application); They can export the list of mailadresses and use their own mail services for this?

[2020-12-17 09:05] GerbenBosschieter commented on #657
We already have an system to message the providers. And this has been requested long time ago by others also.

[2020-12-17 09:07] GerbenBosschieter commented on #657
And we are an e-mail application XD We send like a lot of automatic emails

[2020-12-17 10:18] danrminds commented on #642
Planned in - https://github.com/teamforus/forus/issues/1980

[2020-12-17 11:49] maxvisser commented on #633
already changed to what jamal said.

[2020-12-17 12:02] maxvisser commented on #657
Ah you want to adjust the approve and deny notifications or the digest? (like them edit those?)

If we would implement such functionality what I would propose is:
Add to notification; a 'messages' center. Here a sponsor can sent a message to provider (custom)
We sent notifications to provider that they received a new message in their dashboard

We currently already have this kind of functionality

[2020-12-17 12:12] maxvisser commented on #657
How this can look from workflow UX / perspective:
On home page we add some statistics and notification/messages
You can start / create a message:
Select a user type (provider / requester) -> show only providers / requester part of the fund of
Select organization or requester mailadress
Select product *optional
Select fund request *optional

Fields: 'subject' 'message'

We show in message center al

[2020-12-17 12:15] maxvisser commented on #599
Not what your issue is. I can't reproduce it.

[2020-12-17 12:21] maxvisser commented on #635
@SjoerdHilhorst If you have time you can make a figma proposal for this one; You can create a task for yourself in forus: Proposal: role switchtin (assign yourself), after you are done with the proposal; please close that issue and create a design review; Please do mention this CR in both tasks (so they are linked)

[2020-12-17 13:39] maartenfv opened #658 "Update Me app store text. "Sponso" to "Sponsor""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Spelling people

### Change description
-
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/f4b42ba1-5a77-4e92-89f9-6cc84639c002)

[2020-12-17 13:41] maartenfv commented on #635
@SjoerdHilhorst Go for it!

[2020-12-17 15:16] maxvisser commented on #646
propose to add a dash between numbers to make W33-34 more readable

[2020-12-17 15:18] maxvisser commented on #641
currently formula is not configurable by users; via generator they can generate a voucher of maximum of 2500 and minimum of 0.10 (i believe)

[2020-12-17 15:20] maxvisser commented on #645
can be planned

[2020-12-17 15:22] maxvisser commented on #241
Whats the status now; can this be implemented? Are we sure this time???

[2020-12-17 15:23] maxvisser commented on #638
@danrminds can be planned

[2020-12-17 15:27] maxvisser commented on #629
@danrminds can be planned

[2020-12-17 16:09] danrminds commented on #645
https://github.com/teamforus/forus/issues/1984

[2020-12-17 16:10] danrminds commented on #638
https://github.com/teamforus/forus/issues/1983

[2020-12-17 16:21] danrminds commented on #632
https://github.com/teamforus/forus/issues/1985

[2020-12-17 16:38] danrminds commented on #631
@maxvisser So - what option should we plan in? The small scope or returning the buttons back?

[2020-12-17 17:25] maxvisser commented on #631
Do the smaller scope for now. Make a proposal for the bigger one.

[2020-12-18 08:40] jamalv commented on #605
As mentioned in the original comment if the scope is small or medium I'd see this as an internal must-have (so dobby) - if it's big then it's a should-have and we'll need stakeholder support.

[2020-12-18 08:40] jamalv commented on #605
So since it's medium, it's dobby :)

[2020-12-18 08:42] maxvisser commented on #605
Discussed it during refinement. @danrminds can look into whats actually still needed for this. Could also help me asses the scope? @danrminds

[2020-12-18 13:42] jamalv commented on #599
Issue is that when you go to https://forus.io/provider/sign-up and you click next two times, there is no way to go back to the previous page, which is frustrating if you want to read a bit more info that you might have missed.

Proposed solution is to add a back button.

![Screenshot 2020-12-18 at 14.39.21.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/9afa8fbc-bede-4950-bdb6-8

[2020-12-18 14:01] maxvisser commented on #599
No thats this issue https://github.com/teamforus/general/issues/629. Maarten is saying he goes directly to the SMS page from the webshop

[2020-12-21 08:03] jamalv commented on #599
They are strongly related though, if maarten would open a private tab, he would be able to go to this page, but since the position is stored somewhere in the browser (clearing cache doesn't help) you don't have a possibility to go (back) to the first to info pages and go directly to the sms page if you go to forus.io/provider/sign-up

[2020-12-21 09:12] maxvisser commented on #599
If thats the fix for  this issue; lets close on or the other ;)

[2020-12-21 13:05] jamalv commented on #372
@linda-90?

[2020-12-21 13:08] jamalv commented on #599
will be fixed by: https://github.com/teamforus/general/issues/629, progress can be tracked there

[2020-12-21 13:08] #599 closed

[2020-12-21 13:22] maxvisser opened #659 "CR: DigiD Recovery option to sign up flow requester"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Citizens from Nijmegen will apply again next year. They maybe have forgotten their e-mailadres. This cr is about adding a recovery by DigiD to the signupflow.

[2020-12-21 13:23] maxvisser opened #660 "CR: If user already has a BSN don't show page of DigiD activation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Check possibilities here.

[2020-12-21 13:44] jamalv commented on #631
Discussed with @maartenfv and @maxvisser to go with max's proposal;

[2020-12-21 13:46] jamalv commented on #631
since they are call's to action; they should be the link color for the implementation (e.g. red for groningen)

[2020-12-21 13:52] maartenfv opened #661 "CR: Add error when trying to sign in/up without clicking "Ik heb de privacy verklaring gelezen""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen, Maarten

### Change description
- It needs to give an error like "Click the box before you proceed" "Click het checkboxje ....."

[2020-12-21 13:53] jamalv commented on #661
Figma: https://www.figma.com/file/LdSjP6FuPCaqM3ioDn56Kx/Privacy-statement?node-id=53%3A574

[2020-12-21 13:56] jamalv opened #662 "Update me app text"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-
## Should be:
<img width="812" alt="Screenshot 2020-12-21 at 14 48 32" src="https://user-images.githubusercontent.com/30194799/102784371-99d89800-439c-11eb-8a7b-6f23bd486e45.png">

## Current state:
<img width="854" alt="Screenshot 2020-12-21 at 14 54 41" src="https://user-images.githubuser

[2020-12-21 14:02] jamalv opened #663 "Provider signupflow: Add login state"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
As a provider that is already logged in, when I want to go to my dashboard using "aanmelden als aanbieder" > aanmelden > I would like to have a clear route to go to my dashboard if I have already signed up.

To reproduce use the groningen webshop

[2020-12-21 14:10] maartenfv opened #664 "CR: Make download buttons clickable"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implemenation

### Change description
 -  Download buttons need to be clickable. Now no link.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/38a875c8-daa1-464e-90ab-fb9acdc749ce)

[2020-12-22 07:09] danrminds commented on #594
@maxvisser Can this be closed? I see it had been merged already in teamforus/forus#1977

[2020-12-22 08:20] maartenfv commented on #663
This is an important issue. When I try to log in the button is gone. (I am already logged in but did not know)

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/710a9fd3-aeda-4dc8-81a7-987571db74c4)

This issue breaks the flow and is confusing.

[2020-12-22 08:26] maartenfv commented on #635
@SjoerdHilhorst Do you have an update?

[2020-12-22 08:31] maartenfv opened #665 "Overview page for Sponsor Dashboard"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Maarten

### Change description
- The provider dashboard has an overview page that is going to production. Can we make one for Sponsor as well? I think this will greatly improve the UX as users will have a place to start/"home".

[2020-12-22 08:40] maxvisser commented on #594
All forus issues can be closed. General issues stay open until its released.

[2020-12-22 08:49] linda-90 commented on #372
Deze drie kwamen er het beste uit: https://github.com/teamforus/general/issues/372#issuecomment-736434891
Ik vind foto 1 het meest passend.

[2020-12-22 09:01] SjoerdHilhorst commented on #635
ill start making a proposal today

[2020-12-22 09:24] maartenfv commented on #372
@maxvisser Kan je de foto die Linda voorsteld plaatsen? @linda-90 hebben we hier een high res versie van?

[2020-12-22 09:28] #100 closed

[2020-12-22 09:30] jamalv commented on #296
Changes have been made to this, assuming this is no longer relevant; please reopen if it is.

[2020-12-22 09:30] #296 closed

[2020-12-22 09:37] jamalv commented on #481
Yes, CMS has been implemented since this issue was opened, assuming this is no longer relevant.

[2020-12-22 09:37] #481 closed

[2020-12-22 09:40] jamalv commented on #482
Would suggest to see this as CMS functionality, and to either add this as a separate page or on the current explanation page and to show it as a nicely formatted table view. But not use the core platform for this, as that would probably become confusing.

[2020-12-22 09:41] maartenfv commented on #618
@linda-90 Can you make a separate issue for this request?

[2020-12-22 09:44] jamalv commented on #505
Is this still relevant? Assuming could-have. Curious about your proposal :)

[2020-12-22 09:44] maartenfv commented on #623
@maxvisser What is the status of this issue?

[2020-12-22 09:45] jamalv commented on #508
Not sure I understand this issue :)

[2020-12-22 09:47] jamalv commented on #530
@SjoerdHilhorst, maybe this is a nice one for you?

[2020-12-22 09:49] maartenfv commented on #640
Harald technisch
Erik org

[2020-12-22 09:49] linda-90 opened #666 "Update CMS: upload for images"
Update CMS: upload for images. Where do they have to place the image to get such a link?

<img width="1300" alt="Schermafbeelding 2020-12-03 om 18 21 15" src="https://user-images.githubusercontent.com/36952230/101064537-66bc9900-3594-11eb-825c-403b7e2f82cc.png">

- Update CMS with a function to upload an image (not by filling in a link to the image)
Something like a 'drop files' or a 'select files

[2020-12-22 09:50] linda-90 commented on #618
https://github.com/teamforus/general/issues/666

[2020-12-22 09:50] jamalv commented on #570
Nice start has been made :) we can keep extending

[2020-12-22 09:50] #570 closed

[2020-12-22 09:55] jamalv commented on #646
@maxvisser sure!

@maartenfv @TomForus what do you think?

[2020-12-22 09:56] jamalv commented on #648
@maxvisser I believe this has been planned?

[2020-12-22 09:58] jamalv commented on #650
@maxvisser I think this issue should be moved to forus?

[2020-12-22 09:59] jamalv commented on #653
I think the location is good, we just need to add some spacing to the bottom of the page.

[2020-12-22 10:05] jamalv commented on #665
Agreed. We should first decide what's the strongest usecase here.

For the provider it was:
- Trigger them to start creating actions (instead of going trough the menu)
- Trigger them to apply for funds if they haven't already
- Help them understand that this is where they can see financial info
- Trigger them to add employees

I think for the sponsor we'd need to brainstorm a bit what's the most d

[2020-12-22 10:05] SjoerdHilhorst commented on #656
something like 2-3 hours

[2020-12-22 10:07] jamalv commented on #666
Nice one :D @maxvisser could you rate scope? If it can be done with a small scope, I'll give this must-have. Maybe if it's not too big it can be a good one for sjoerd?

[2020-12-22 10:14] jamalv opened #667 "Add button for providers to providers page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Knop+toevoegen+bovenaan+%22inlog

[2020-12-22 10:36] jamalv opened #668 "Add actions by sponsor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a sponsor I'd like to add actions without the provider needing to do anything.

[2020-12-22 11:18] maartenfv opened #669 "Requested koop op afstand."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Westerkwartier

Hi Maarten,
Kan je met Potjeswijzer ook al in webshops betalen? Zo niet, dan lijkt me dat een belangrijke functionaliteit voor de nabije toekomst.
Wat jij?
Groeten,
Erwin

### Change description
- Requested koop op afstand.

[2020-12-22 11:52] maxvisser commented on #667
as in for all webshops?

[2020-12-22 12:33] GerbenBosschieter commented on #667
I don't like this idea for all webshops. Also not sure what to expect on mobile?

[2020-12-22 12:40] #200 closed

[2020-12-22 13:16] maartenfv commented on #617
Dit was feedback van Peter moet worden gedaan.

[2020-12-22 13:59] maartenfv commented on #618
This can not be in Icebox it is a problem for the municipality as the CMS is not useable.

[2020-12-22 14:02] danrminds commented on #666
This would need:

1. Media directory with added images (to see the image and it's link)
2. In editor - possibility to add images to the directory
3. In editor - select an image form directory to insert in the text?

[2020-12-22 14:07] maartenfv commented on #578
Problem: This is very unclear: ![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/4b9b1791-c9be-4555-ad2b-0ef317eb364b)

[2020-12-22 14:08] maartenfv opened #670 "Unclear actie price (discount or free?)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- As a user I do not understand the following:

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/ca4671c1-58b7-4ae4-9c33-f275e0f1d4d6)

Is it free or is it 20 euro korting?

"Gratis" should state: 20,- euro korting.

[2020-12-22 14:09] jamalv commented on #641
@maartenfv it's a bit hard for me to prioritise this since i'm missing some context, what do you think? MoSCoW?

[2020-12-22 14:14] maxvisser commented on #661
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/a7f6fa91-568a-4b11-9f93-562bbd331bd0)

[2020-12-22 14:32] maxvisser commented on #399
Could some reproduce this @maxvisser

[2020-12-22 14:33] #460 closed

[2020-12-22 14:36] jamalv commented on #181
@maxvisser I believe this was done?

[2020-12-22 14:39] maartenfv commented on #662
Why is this blocked?

[2020-12-22 14:39] maartenfv commented on #662
This one is important for first impressions.

[2020-12-22 14:43] #181 closed

[2020-12-22 14:43] maxvisser commented on #181
Yes its done

[2020-12-22 14:43] jamalv commented on #167
@maxvisser is this still relevant?

[2020-12-22 14:49] jamalv commented on #624
We added an overview page (release 18) in order to trigger providers to sign up, also have added a specific provider page.

@maxvisser could you create a task to send providers to the implementation signup flow?

[2020-12-22 14:52] maartenfv commented on #666
It is a must-have. Needs to be planned. Question is urgency.

[2020-12-22 14:54] #485 closed

[2020-12-22 14:54] #381 closed

[2020-12-22 14:54] #376 closed

[2020-12-22 14:55] #18 closed

[2020-12-22 14:55] #191 closed

[2020-12-22 14:56] maartenfv commented on #254
Closed needs to be time tracked on the individual issue.

[2020-12-22 14:56] #254 closed

[2020-12-22 15:00] maxvisser commented on #618
@maartenfv I discussed the CMS a bit with you a few days back. The scope seemed much bigger than this issue. Do we fix the CMS only with changing editors?

[2020-12-22 15:09] jamalv opened #671 "CMS Updates and improvements"
## Context
The platform currently has a basic CMS. The current functionality is inadequate. Issues are being opened with proposals for improving the CMS.

## Goal of this issue
- Have an overview of what needs to happen to the CMS in order to become adequate. (link CR's to this epic)
- Be able to discus general strategy of CMS; short term quickfixes vs a long term stragegy in the comments of this

[2020-12-22 15:22] jamalv commented on #618
I've added this to a CMS epic in order to align on long term strategy

[2020-12-22 15:32] maartenfv commented on #586
Why is this on hold?

[2020-12-22 15:40] MichaelForus opened #672 "Change request: Let sponsor set Expiration date for action"
**Support Ticket ID:** [#2571]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor (support request)

### Change description
- As a sponsor I would like the possibility to make some changes to actions<br>

This change request is related to: Adding action by sponsor but I see some option that could be useful for the sponsor without the scope being too big. Th

[2020-12-22 15:48] maartenfv opened #673 "Vouchers should indicate year of start date fund."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Maarten

### Change description

As a user I would like not to be confused. Can we add years? Can we archieve and remove vouchers?

![image](https://user-images.githubusercontent.com/30211022/102906723-54d46480-4475-11eb-8198-89d41703dbf7.png)

![image](https://user-images.githubusercontent.com/10818702/106434203-81

[2020-12-22 15:55] GerbenBosschieter commented on #672
@maxvisser maybe it's better to spit this? Reason I did this in one CR is because it came from one support request.

[2020-12-22 16:07] maartenfv commented on #390
@maxvisser Is this one fixed? The main problem was the position of the button it looked bugged.

[2020-12-22 16:08] maartenfv commented on #664
@maxvisser Why is this blocked?

[2020-12-22 16:14] maartenfv opened #674 "Add to provider page "heeft u al een account? klik dan hier om in te loggen""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description

Add to provider page "heeft u al een account? klik dan hier om in te loggen"

- Add a red button with text "Inloggen"
- Add small text above  "Heeft u al een account? Klik dan hier om in te loggen"
- ![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/1bc9d32

[2020-12-22 16:15] maartenfv commented on #667
@jamalv What will we do with this feedback?

Also made related issue: https://github.com/teamforus/general/issues/674

[2020-12-22 16:26] maxvisser commented on #618
Discussed this with @maartenfv

[2020-12-22 16:31] maartenfv commented on #618
I propose to fix this now. And make a larger interation later.
The CMS needs to be a one stop shop to fix the webshop and related pages. The User sponsor wants to have control.

The situation now is unmaintainable as users can not use markdown. This needs to be fixed asap. Scope is as stated above.

[2020-12-22 18:09] linda-90 commented on #372
Hierbij de highres versie: https://www.figma.com/file/IQ6oy8Up7rBcANPACCydyG/Webshop%3A-Potjeswijzer?node-id=600%3A0&viewport=1686%2C-578%2C0.19805704057216644

[2020-12-22 22:15] jamalv opened #675 "Me: change "voucher info" to "Aanbod" and link to actions/aanbod"
Learn more about change requests here: https://bit.ly/39CWeEE

### Change description
As a requester I would like the "voucher info" button in the me app voucher page to be changed to "Bekijk aanbod" (view offers), when I click it I would like to be redirected to the offers for this fund in the webshop.

[2020-12-23 06:49] maxvisser commented on #167
Yes

[2020-12-23 08:31] GerbenBosschieter commented on #624
What about a feature that allows the sponsor to add (not invite) a provider that already applied for a fund of that sponsor?

[2020-12-23 08:33] GerbenBosschieter commented on #623
@maartenfv for now there is a quickfix that will be released asap

[2020-12-23 08:40] GerbenBosschieter commented on #621
Let's do it

[2020-12-23 08:41] GerbenBosschieter commented on #620
What happend with this?

[2020-12-23 08:47] jamalv commented on #624
Sounds like a good idea to me

[2020-12-23 08:52] GerbenBosschieter commented on #614
@maxvisser why block this issue by #615. the indicator doesn't have to. do anything if gets less prominent or not. it's just a UX thing that we already on other places

[2020-12-23 08:54] GerbenBosschieter commented on #613
The step of downloading the app itself should also tell the user more about why they instal the app

[2020-12-23 08:55] GerbenBosschieter commented on #615
And what if someone wants to download the App from the stores without this page. So someone with multiple phones. Thats most of the time the case. Are we scared to tell them what keywords to use or something?

[2020-12-23 08:57] GerbenBosschieter commented on #616
why is this on hold

[2020-12-23 09:04] GerbenBosschieter commented on #672
Not going to split this one

[2020-12-23 09:08] GerbenBosschieter commented on #601
Re open, what you guys didn't do the job yet. I a new release is needed than let's what until . As long I am searching on Me, Me-app, or Me Groningen and I can't find anything. Than it's just not good enough.

[2020-12-23 09:12] GerbenBosschieter commented on #165
I see that people create new issues for similar things.

[2020-12-23 09:14] GerbenBosschieter commented on #165
This will help alot:

Changing the user flow into something similar as the webshop will give a better overview and will allow the sponsor to:
-> Click Providers -> Get provider list -> Select provider -> select which fund or offer should be accepted/rejected

[2020-12-23 09:15] maxvisser commented on #165
we already planned this: whats currently on should have in figma
https://www.figma.com/file/FzkMCqhlv7U3zU5evcOnz2/%F0%9F%94%B5Approving-multiple-funds

[2020-12-23 09:16] maxvisser commented on #601
On android if I search on Stadjerspas I do get Me as a result

[2020-12-23 09:16] GerbenBosschieter commented on #165
This proposal expects the provider to apply for the fund? So if they didn't apply for a fund you can individually invite them?

[2020-12-23 09:17] maxvisser commented on #601
I think you are talking about iOS?

[2020-12-23 09:19] GerbenBosschieter commented on #234
So where is the task, who assigned to this?

[2020-12-23 09:26] GerbenBosschieter commented on #519
This issue is related to the fact the providers just forget to sign up.

[2020-12-23 09:27] GerbenBosschieter commented on #612
Status? I assume a typo should take that long?

[2020-12-23 09:39] maxvisser commented on #612
![image](https://user-images.githubusercontent.com/10818702/102982575-0d001c80-450b-11eb-9e4a-15e5a2ae5727.png)
its in v0.18.0

[2020-12-23 09:39] maxvisser commented on #612
Thanks missed this on on the changelog.

[2020-12-23 09:41] maxvisser commented on #616
I believe the proposal for #615 fixes this issue; Provider signupflow: iPad/Phones without simcard UX

[2020-12-23 09:50] GerbenBosschieter commented on #625
@maxvisser it gives provider a wrong impression.

As a provider you sign up, then create office, with business hours but leave monday and Tuesday empty, then finish the sign up flow and go to the dashboard. And then you go to your offices and you see a checkmark at closed. So the providers thinks: I am not closed, it just don't have specific opening times

And a screenshot of what show on the webs

[2020-12-23 09:55] GerbenBosschieter commented on #625
I knew I mentioned this before, it's not exactly the same but it does mention the same complaints

https://github.com/teamforus/forus/issues/1891

[2020-12-23 09:58] maxvisser commented on #625
We did fix all the bugs for this aswell as showing the word 'closed' on dashboard.

[2020-12-23 09:58] maxvisser commented on #625
This issue is left open as it is about adding more options to specifically describe the situation (so we could show those)

[2020-12-23 10:00] maxvisser commented on #625
Ah i see we still have it on edit page...
![image](https://user-images.githubusercontent.com/10818702/102984604-1dfe5d00-450e-11eb-86f4-45e9cda94119.png)

[2020-12-23 10:01] maxvisser commented on #625
Probably this can only be fixed with your proposal. there is nothing in between.

[2020-12-23 10:03] maxvisser commented on #625
Will plan this in.

[2020-12-23 10:08] maxvisser commented on #672
scope is indeed medium; I think its highly connected to a 'paused' state #476

[2020-12-23 10:13] maxvisser opened #676 "Acties page on webshop should have titles 'Aanbod'"
@maxvisser commented on [Thu Sep 10 2020](https://github.com/teamforus/forus/issues/1758)

## Main asssignee: @

## Context/goal:
![image](https://user-images.githubusercontent.com/10818702/92572579-ea603580-f284-11ea-9652-b6aad83e4fdf.png)

---

@maxvisser commented on [Mon Sep 21 2020](https://github.com/teamforus/forus/issues/1758#issuecomment-696098909)

Fixed

---

@maxvisser commented on [We

[2020-12-23 10:13] maxvisser opened #677 "Rename "acties" to "aanbod""
@maxvisser commented on [Thu Sep 10 2020](https://github.com/teamforus/forus/issues/1758)

## Main asssignee: @

## Context/goal:
<img width="675" alt="Screenshot 2020-12-30 at 10 45 46" src="https://user-images.githubusercontent.com/30194799/103343397-42b58000-4a8c-11eb-9af6-f8606f8c8984.png">

---

@maxvisser commented on [Mon Sep 21 2020](https://github.com/teamforus/forus/issues/1758#issuecomm

[2020-12-23 10:14] maxvisser commented on #676
@maartenfv copied this one over for you 👍

[2020-12-23 10:15] maxvisser commented on #613
This would be a different issue; could you check #615 figma proposal?

[2020-12-23 10:19] maxvisser commented on #621
Planned

[2020-12-23 10:23] maxvisser commented on #620
Nothing yet.

[2020-12-23 10:24] maxvisser commented on #620
As it is pretty clear I will plan it in.

[2020-12-23 10:25] maxvisser commented on #620
Not sure how difficult this one is to fix though.

[2020-12-23 10:27] maxvisser commented on #620
Planned

[2020-12-23 10:28] maxvisser commented on #624
we do have already a CR for inviting providers #78

[2020-12-23 10:28] GerbenBosschieter commented on #606
You guys know that people will still get stuck even if you can download the app through sign up form. You can't click to next step in signup flow if you didn't enter phone nummber

[2020-12-23 10:30] GerbenBosschieter commented on #670
This will be fixed in next release. We couldn't release it.

[2020-12-23 10:32] maxvisser commented on #674
![image](https://user-images.githubusercontent.com/10818702/102987447-9830e080-4512-11eb-91a2-1454e906d2d8.png)

[2020-12-23 10:34] maxvisser commented on #670
Will close this when next release is on production

[2020-12-23 10:36] maxvisser commented on #606
@GerbenBosschieter please check #615

[2020-12-23 10:36] maxvisser commented on #606
Currently forus.io/DL is implemented again. Not yet iPad added to the automatic thing

[2020-12-23 10:37] maxvisser commented on #614
as this input field will be removed in proposal of #615; so it would be weird to add it if you going to remove it afterwards.

[2020-12-23 10:38] GerbenBosschieter commented on #625
@maxvisser I didn't propose it for fun or something and I also included the video. I proposed it cause REAL time users complain about iut

[2020-12-23 10:39] maxvisser commented on #234
added it as blocked by https://github.com/teamforus/forus/issues/1955

[2020-12-23 10:42] GerbenBosschieter opened #678 "Signup form providers can't click on next step if they don't have a phone number"
Learn more about change requests here: https://bit.ly/39CWeEE

Related: https://github.com/teamforus/general/issues/590

### Requested by:
- As a provider I would like to not get stuck on signup form if I have don't have a simcard or whatever the reason is I can't receive an sms

### Change description
- Stop limiting the provider that they NEED a way to receive an SMS before they can click to the

[2020-12-23 10:46] maxvisser commented on #678
as we are already in the proces of building this figma proposal:
https://www.figma.com/file/Jf9evMRyAVEbzy4EDubvTr/Download-Me-UX-iPad?node-id=176%3A138&viewport=371%2C112%2C0.10725218057632446

Could you check it?

[2020-12-23 10:48] maartenfv opened #679 "CR: Make Privacy verklaring page adjustable using CMS"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implementation

### Change description
Every (sponsor) municipality has its own views on the privacy verklaring. Some times it needs to be updated etc. This costs a lot of time because they need to contact us to make a change.

Example Groningen: https://stadjerspas-acc.gemeente.groningen.nl/privacy

It would be bet

[2020-12-23 10:50] maartenfv opened #680 "Privacy verklaring needs an update."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- Privacy verklaring needs an update. https://stadjerspas-acc.gemeente.groningen.nl/privacy

Eerste zin. gegevens worden niet alleen bij de aanvraag opgeslagen, het gaat vooral om ‘bij het gebruik’ . Ik denk ook dat het goed is aan te geven dat de gegevens niet allemaal op de pas wo

[2020-12-23 10:51] maartenfv commented on #680
Related to issue: https://github.com/teamforus/general/issues/679 This would save us a lot of time.

[2020-12-23 10:52] maartenfv commented on #679
This would help prevent issues such as: https://github.com/teamforus/general/issues/680

[2020-12-23 11:52] maxvisser commented on #675
@jamalv if you are done with a proposal could add it to this cr?

[2020-12-23 12:10] RobinMeles commented on #372
Ik zie dat ik de link niet kan openen van de highres foto in Figma. Ik denk dat ik geen permissie heb. Zou iemand mij dit kunnen geven of zou @linda-90 mij dit plaatje gewoon via Discord kunnen sturen?

[2020-12-23 12:14] linda-90 commented on #372
@RobinMeles Stuur m wel via Discord:)

[2020-12-23 13:19] maartenfv commented on #572
Has an impact on multiple webshops not just NOP

[2020-12-23 13:23] maartenfv commented on #659
@maxvisser Can you give this issue some more context?

[2020-12-23 13:34] maartenfv opened #681 "CR: Lines need to be gelijk"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implementation and Support

### Change description
- Lines need to be equal. Now is messy,

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/eecf32c5-6b17-4e0f-8949-8e19aef61e35)

[2020-12-23 13:39] maartenfv opened #682 "CR: Add breadcrumbs and option to go back from provider page."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- Needs breadcrumbs/option to go back

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/89a3fb96-4e28-42de-b064-35be7097c7b5)

[2020-12-23 14:36] MichaelForus opened #683 "Typo on sponsor dashboard: Hoevaak should be hoe vaak"
**Support Ticket ID:** [#2577]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
Typo on sponsor dashboard-> starting an action<br>

-  hoevaak should be hoe vaak
<img width="682" alt="Screenshot 2020-12-23 at 15 52 34" src="https://user-images.githubusercontent.com/38419514/103009589-49e20880-4537-11eb-9ae9-2add93f8a0c7.png">

[2020-12-23 15:18] maartenfv commented on #586
What is needed so this can be planned?

[2020-12-23 15:21] maxvisser commented on #682
duplicate #493 that one was closed by me somehow. thanks for opening this

[2020-12-23 15:21] #682 closed

[2020-12-23 15:22] maartenfv commented on #631
@jamalv and they need a nice mouse hover

[2020-12-23 16:07] maartenfv commented on #650
@jamalv @maxvisser no labels?

[2020-12-23 16:11] maartenfv commented on #646
Why is it not intuitive?

[2020-12-23 16:14] maartenfv commented on #641
It is a compliance thing. We need to be able to asses risk in our text to DNB.

The system should have a max and a min for a voucher.  So we can combine this issue with making the voucher amount configurable. If someone fills in -10 then it should give an error like "minimum amount is 0,XX cents ". If someone fills in 999999999 then it should state maximum amount is XX,XX.

[2020-12-23 16:30] jamalv commented on #646
Breaking up the year into "quarters" and "sprint numbers" to come up with the sprint name is a bit of a hassle IMO, and I don't see much added value. Just naming the sprints according to weeks seems a bit easier. Less is more? :)

[2020-12-23 16:45] maxvisser commented on #572
Correct Stadjerspas aswell. Gerben has commented this in the task; this one should be done this sprint.

[2020-12-23 16:46] maxvisser commented on #650
added labels; currently sponsor does not have an easy overview of which actions are stopped because of a price change by provider

[2020-12-23 16:47] maxvisser commented on #650
my suggestion here is to add this information to a digest

[2020-12-23 16:48] maxvisser commented on #659
Done

[2020-12-23 16:49] maxvisser commented on #659
its planned for next sprint;

[2020-12-23 16:54] maxvisser commented on #578
This is fixed in 18.0

[2020-12-23 16:54] maxvisser commented on #617
Because we were depended on the header foto to be picked. its now picked and we changed the menu color;

[2020-12-23 16:55] maxvisser commented on #617
currently in a pr to develop

[2020-12-23 17:02] maxvisser commented on #508
maybe this one is already fixed but before we had 'aantal kinderen groter dan 1' in the list view if you didnt supply a title. which is just computer language.;  Would be nice if we could thing of some different way of managing empty titles / descriptions

[2020-12-23 17:07] maxvisser commented on #505
Yes currently we have done this pretty hacky at Bus fund for nijmegen. (we use providers mail contact); would be nice that the sponsor could set contact details per fund

[2020-12-23 22:01] maxvisser commented on #545
On bulk upload this is fixed in v0.18.0

[2020-12-23 22:01] #252 closed

[2020-12-23 22:02] #578 closed

[2020-12-23 22:02] #622 closed

[2020-12-23 22:02] #624 closed

[2020-12-23 22:02] #593 closed

[2020-12-23 22:03] #633 closed

[2020-12-23 22:03] #612 closed

[2020-12-23 22:03] #603 closed

[2020-12-23 22:03] #626 closed

[2020-12-23 22:03] #602 closed

[2020-12-23 22:03] #607 closed

[2020-12-23 22:04] #651 closed

[2020-12-23 22:04] #594 closed

[2020-12-23 22:04] #670 closed

[2020-12-23 22:04] #623 closed

[2020-12-23 22:04] #628 closed

[2020-12-23 22:04] #683 closed

[2020-12-23 22:04] #493 closed

[2020-12-24 08:28] jamalv opened #684 "Make helpcenter call to action more prominent"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Original dutch CR: verplaats het vraagteken naar de menubalk, of noem het daar “help”

English: People are often missing the helpcenter, it should be made clearer by moving it to the menubar or to "help"

[2020-12-24 09:19] maxvisser commented on #684
its already there; its called 'Uitleg'

[2020-12-24 09:31] maartenfv commented on #655
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/00455c8c-16c8-4663-9b16-9ec4302e76ea)

[2020-12-24 09:31] maartenfv commented on #655
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/d0e21c0d-0812-4175-a138-b248293eba4b)

[2020-12-24 09:31] maartenfv commented on #655
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/5c78a226-e47f-4ca7-a1ea-5f24e8b8932d)

[2020-12-24 09:32] maartenfv commented on #655
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/faef2bd1-a90a-4cd1-a9ed-ff79b61f9f67)

[2020-12-24 09:32] maxvisser opened #685 "Voucher generator: Show required fields on manual creation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
@dev-rminds

### Change description
When you create a voucher in generator we do not show which fields you actually need to fill in.

[2020-12-24 09:57] maxvisser opened #686 "Modal too big: Connect me app on dashboard"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-
![image](https://user-images.githubusercontent.com/10818702/103079184-ac88e200-45d3-11eb-8e0b-b16f0dc08859.png)

Proposal to make image smaller and put them beside the text instead of above it.

[2020-12-24 10:13] maxvisser opened #687 "Change request: being able to remove an inactive voucher."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Voucher can now be generated as inactive. If inactive we can allow the sponsor to delete it as it is still unassigned.

[2020-12-24 10:15] maxvisser commented on #655
Who will add these new labels to the issues?

[2020-12-24 10:18] maxvisser commented on #621
Discussed this during refinement. Its more difficult to fix then assumed.

1. organization / office / products dont have the same dimensions.

Valentin proposes this option: let provider upload a placeholder image for products / offices
migrate placeholder for existing users.

[2020-12-24 10:24] maxvisser commented on #655
I already saw you added them to all. Wil you keep doing that for all new issues coming in?

[2020-12-24 10:25] maxvisser commented on #655
I get the usefullness of the labels but I rather have less labels which are well maintained then more usefull labels which are not maintained :sweat_smile:

[2020-12-24 10:27] maxvisser commented on #646
@maartenfv just an example:
Called already with external team members a few times cause they labeled their invoices with the wrong sprint code. I find weeknumbers more intuitive and easier to explain.

[2020-12-24 10:28] maxvisser commented on #646
As well we had issues with when an quarter stops two times this year where we had in zenhub for example Q2S6 or 7. Which didn't exist

[2020-12-24 10:41] maxvisser opened #688 "CR: Fixing mistakes in e-mailadresses on voucher generator"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal, 20 jan 2020

### Change description
When creating vouchers in the voucher generator, a user might make a mistake in how the email adres was formatted (e.g. a typo). Right now, this means the voucher will be assigned to a non-existent email adres.

## Goal
When a user has not yet logged in to "claim" the voucher

[2020-12-24 10:43] maxvisser commented on #688
This should now be easier to fix as vouchers have an 'inactive' state.
What we could do is not create an identity but send a mail to the mailbox of person who is not in the system with a custom link / activation code. This link / code will be used to activate the voucher on that mailbox. (create the account); Could work similar to invite employee where the link is abit longer valid; so if you use

[2020-12-28 11:16] jamalv commented on #663
issue is geplanned

[2020-12-28 11:50] maartenfv commented on #431
@jamalv no response in this issue and now we are having trouble with Nijmegen etc.  https://github.com/teamforus/implementation/issues/605

[2020-12-28 12:39] maartenfv commented on #631
@demylubbers @jamalv @maxvisser Can this issue be planned?

[2020-12-28 12:42] maartenfv commented on #666
Got a new signal from Groningen. They are running into this problem. Needs to be fixed asap.

[2020-12-28 13:08] maartenfv commented on #640
Test is rond.

[2020-12-28 13:08] #640 closed

[2020-12-28 13:13] maartenfv commented on #666
GTB is running into this problem as well.

[2020-12-28 13:14] maartenfv commented on #666
We need a preview functionality as well.

[2020-12-28 13:19] jamalv opened #689 "Don't press save multiple times when updating criteria description"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a sponsor I would like records to be saved directly after pressing submit the first time.

[2020-12-28 14:45] maartenfv commented on #679
Every implementation this will save time

[2020-12-28 14:50] maartenfv opened #690 "CMS | Allow the "aanspreekvorm" Jij / jouw vs U / Uw to be adjustable"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen

### Change description
- This issue needs to be fixed before the end of Q1 2021.

Every U / Uw needs to be adjustable Jij/ Je. Trough CMS.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/3ce406bc-b7ce-4004-a082-2f02cffac24c)

[2020-12-28 16:34] jamalv opened #691 ""10 maanden eerder" - what does it mean?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Currently on staging:

Better would be: "Laatst actief: xxx"

<img width="498" alt="Screenshot 2020-12-28 at 17 25 38" src="https://user-images.githubusercontent.com/30194799/103228813-f2c2a600-4931-11eb-8fb2-9bc00e95a93a.png">

[2020-12-28 17:54] jamalv commented on #586
Discussed this with max, in the "normal" ux flow, you only end up at this page when the button "activate" is there, not the option to apply. When creating this issue I was expecting that everyone would come here, but that's not the case. I currently don't expect big issues out of this.

Next to that, It's quite hard to find something to flag this on, so coming up with a solution to hide it for thi

[2020-12-28 17:56] jamalv commented on #586
I'd still like this, but I think there are higher-impact issues right now.

[2020-12-29 08:09] maxvisser commented on #691
as it is not on production yet; I will close this

[2020-12-29 08:09] #691 closed

[2020-12-29 09:05] maxvisser commented on #631
Its already planned. I finished programming it last week https://github.com/teamforus/forus/issues/1996

[2020-12-29 09:19] jamalv commented on #691
What's the right place for this feedback? I don't think it should be released like this :)

[2020-12-29 09:20] jamalv commented on #691
Also on staging: I think Uid should be changed to ID Nummer:

<img width="641" alt="Screenshot 2020-12-29 at 10 20 11" src="https://user-images.githubusercontent.com/30194799/103273405-855d5680-49bf-11eb-949d-e02ff67eac93.png">

[2020-12-29 09:27] maxvisser commented on #691
release pull request

[2020-12-29 09:49] maxvisser opened #692 "Change request: Make product name bold in Subidy voucher transaction email"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
When I read this mail I got abit confused if its a bug or not. Not really clear where the product name starts and ends.
![image](https://user-images.githubusercontent.com/10818702/103275025-75e00c80-49c3-11eb-9fd4-87533c50bf4f.png)

[2020-12-29 12:06] jamalv opened #693 "Make digid mandatory, also if used before"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Nijmegen

### Change description
Currently you can skip DigiD. That should not be possible. Nijmegen is open to it for next year, but does not want it this year.

Change: hide the "overslaan >" button (can be done for all implementations. Then if we make DigiD optional, also discussed with clients, then the whole step

[2020-12-29 12:07] jamalv opened #694 "Hide "aanvragen" from menu"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Leonie

### Change description
Currently this page can only cause confusion, when more funds are added we can add it back.

[2020-12-29 12:11] jamalv opened #695 "Discounts should not be "free""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
Currently discounts are displayed as "free" - this is a showstopper since this can mean that citizens will misinterpret and maybe even try to abuse it, this can cause discomfort to the providers/sponsor

Suggestion: if it's a discount; simply remove the label

<img width="1340" alt="S

[2020-12-29 12:13] maxvisser commented on #694
this can be done with configuration but if #591 is not fixed; this can result in people not begin able to get back to the form

[2020-12-29 12:14] maxvisser commented on #694
No development would be needed; this can go to ITSM

[2020-12-29 12:15] maxvisser commented on #695
could you link an example?

[2020-12-29 12:16] maxvisser commented on #695
found it:
https://stadjerspas-acc.gemeente.groningen.nl/products/1718

[2020-12-29 12:18] jamalv commented on #693
## Hide "overslaan"

<img width="965" alt="Screenshot 2020-12-29 at 13 17 48" src="https://user-images.githubusercontent.com/30194799/103283236-48ea2480-49d8-11eb-8f53-6caa0870049f.png">

[2020-12-29 12:20] jamalv commented on #693
@maxvisser why is this medium? seems small?

[2020-12-29 12:20] maxvisser commented on #694
@jamalv maybe it would be better to hide it logged out?

[2020-12-29 12:22] maxvisser commented on #669
duplicate of #120

[2020-12-29 12:22] #669 closed

[2020-12-29 12:22] maxvisser commented on #120
Maarten added a new cr; #669

- Gemeente Westerkwartier

Hi Maarten,
Kan je met Potjeswijzer ook al in webshops betalen? Zo niet, dan lijkt me dat een belangrijke functionaliteit voor de nabije toekomst.
Wat jij?
Groeten,
Erwin

[2020-12-29 12:26] maxvisser commented on #693
Not sure about it. Seems more difficult then just removing the link.
Also:
Nobody will run into this the first weeks as people will have a meedoenregeling and they can't request a new one.

[2020-12-29 12:29] maxvisser commented on #660
will close this one in favor of https://github.com/teamforus/general/issues/693

[2020-12-29 12:29] #660 closed

[2020-12-29 12:31] jamalv commented on #694
yea that would be okay i.m.o 👍

[2020-12-29 12:32] maxvisser commented on #695
I will plan this is directly as development task. I will do this myself as I also developed the fix for sample/list/grid; Forgot that we also show 'Gratis' here.

[2020-12-29 12:35] jamalv opened #696 "Weird text on payment confirmation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Change description
![image0-1](https://user-images.githubusercontent.com/30194799/103284137-b39c5f80-49da-11eb-8d1a-8c8c8d6da925.jpg)

[2020-12-29 12:35] maxvisser commented on #694
Ok will plan this in.

[2020-12-29 12:44] maartenfv commented on #586
Wat gebeurt er als we mensen op aanvragen drukken? zijn beide fondsen 1 flow? of heeft dit consequenties

[2020-12-29 13:12] jamalv commented on #586
Heeft geen consequenties, vandaar de lagere prio, we willen nu alsnog het aanvragen menu gaan hiden uit het menu, daar wordt het nog minder een probleem van.

[2020-12-29 13:24] maartenfv opened #697 "Drop down arrow is missing"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen

### Change description
-
https://stadjerspas.gemeente.groningen.nl/actions
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/4c0625df-64e0-4246-af4a-256c21eca4a2)

[2020-12-29 14:05] maartenfv commented on #680
Nieuwe text staat in dit document: https://docs.google.com/document/d/1oDCenX-YEtbX8sXhs7x9bQ60xm3nLMB5oA4fa8wrT1U/edit

[2020-12-29 14:40] maartenfv commented on #601
@jamalv Do we have an update?

[2020-12-29 14:53] jamalv commented on #601
Currently working on the release - hopefully will be released the next few days

[2020-12-29 15:06] jamalv opened #698 "Export CSV files should open well in excel"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Controle+export+lijsten+(algemee

[2020-12-29 15:09] maartenfv commented on #667
Added link to this issue to MS Teams Groningen Planbord.

[2020-12-29 15:12] jamalv opened #699 "Let sponsor add/update actions"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Gemeente+wil+zelf+rechtstreeks+a

[2020-12-29 15:13] jamalv commented on #699
@maxvisser I believe you had some brainstorm recently about a sponsor being able to start an action?

[2020-12-29 15:26] jamalv opened #700 "Add titles to provider dashboard (organisation / personal)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Provider](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Titels+in+rechter+menu+aanbieders

[2020-12-29 15:55] jamalv opened #701 "Product details page: Remove button "aanvragen" for logged out users"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Knop+%22Aanvragen%22+verbergen+b

[2020-12-30 08:18] maxvisser commented on #699
No sorry. I did not 👍

[2020-12-30 08:20] maxvisser commented on #698
We need someone with excel to make a proposal. (What is needed); currently can't really estimate the scope.

[2020-12-30 08:29] maxvisser commented on #673
duplicate of #108

[2020-12-30 08:30] maxvisser commented on #673
As you also mentioned year. I will change this into specifically that CR.

[2020-12-30 08:38] maxvisser commented on #655
removed the phase labels and type labels. As they were not used; Also I did not see them as usefull in anyway or form.

[2020-12-30 09:00] jamalv commented on #667
First step is a Figma proposal (https://www.figma.com/file/17admjCAaJF6ccIJappiCJ/?node-id=1%3A83), where we need to make sure it is a clear user experience, also considering what max mentioned about confused users.

When we have a good proposal, we can show it to the stakeholders. Then also we can make a decision on if this needs to be custom or if it can be generic. In general of course this but

[2020-12-30 09:17] maxvisser commented on #701
Why would it not be confusing for other implementations?

[2020-12-30 09:28] jamalv commented on #701
Yea agreed, maybe we can remove it for all logged out users, and only show these options if you are logged in.

[2020-12-30 09:30] jamalv commented on #701
Or maybe changing the word to "aanmelden" could also help make this less confusing.

[2020-12-30 09:31] jamalv commented on #701
For now the preference is to not show it if you are logged out.

[2020-12-30 09:43] jamalv commented on #677
The preference of groningen is to name this "aanbod", this also fits with how it's named on other webshops. The only thing that could be blocking this name change afaik is the seperation of funds.

@maxvisser what do you think? is it already feasible to merge subsidies and budgets? The best result would be that we don't need a "split" between subsidies and funds anymore, and that for the requester

[2020-12-30 09:58] maxvisser commented on #661
visual bugs are gone in 0.18.1 if still high priority we can add it to next sprint

[2020-12-30 12:17] maxvisser commented on #693
will be discussed with @dev-rminds

[2020-12-30 13:18] GerbenBosschieter opened #702 "CR: Add euro symbol when scanning actions"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
Every price needs an euro symbol. Currently the app doesn't show an euro symbol when scanning vouchers with actions on it.

![noprice](https://user-images.githubusercontent.com/38419514/103353586-87034900-4aa9-11eb-9781-2ebea9285744.jpg)

[2020-12-30 13:35] GerbenBosschieter opened #703 "Remove sentence from first screen after scanning action voucher"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- We inform the provider about that the requester should do a payment at the cashier. This sentence doesn't fit al scenario's. Sometimes there is no price or the action is just free

We should use the sentence after selecting an action or just remove it and inform the provi

[2020-12-31 08:36] jamalv commented on #601
Released to production. You can now find it by searching "Stadjerspas", "Me Groningen", or "Stadjerspas Groningen"

[2020-12-31 08:36] #601 closed

[2020-12-31 12:00] jamalv opened #704 "Hide: "totaal in omloop" - for subsidy fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description

This variable doesn't seem to make sense for subsidy funds (how would you calculate it?)

<img width="256" alt="Screenshot 2020-12-31 at 12 20 47" src="https://user-images.githubusercontent.com/30194799/103408677-c8f0c580-4b63-11eb-85c7-a14090d854e3.png">

[2021-01-01 09:54] maxvisser commented on #704
Subsidy funds *

[2021-01-02 22:50] jamalv commented on #704
changed

[2021-01-04 06:33] maxvisser commented on #681
Released

[2021-01-04 06:33] #681 closed

[2021-01-04 06:33] maxvisser commented on #694
released

[2021-01-04 06:33] #694 closed

[2021-01-04 06:33] maxvisser commented on #695
released

[2021-01-04 06:33] #695 closed

[2021-01-04 06:34] #661 closed

[2021-01-04 06:34] #632 closed

[2021-01-04 06:34] #631 closed

[2021-01-04 06:34] #617 closed

[2021-01-04 06:34] #390 closed

[2021-01-04 06:36] #680 closed

[2021-01-04 06:36] maxvisser commented on #680
released

[2021-01-04 06:36] maxvisser commented on #652
button is disabled

[2021-01-04 06:36] #652 closed

[2021-01-04 06:38] maxvisser commented on #656
released

[2021-01-04 06:38] #656 closed

[2021-01-04 06:38] #281 closed

[2021-01-04 06:39] #629 closed

[2021-01-04 06:39] #71 closed

[2021-01-04 06:39] #562 closed

[2021-01-04 06:40] #324 closed

[2021-01-04 06:42] maxvisser commented on #500
not relevant anymore

[2021-01-04 06:42] #500 closed

[2021-01-04 06:43] maxvisser commented on #467
released

[2021-01-04 06:43] #467 closed

[2021-01-04 06:49] maxvisser commented on #422
added some labels and screenshot

[2021-01-04 07:00] maxvisser commented on #677
not sure what you mean with feasible. lets do a refinement session to see whats needed. I don't see a reason to not change Acties to Aanbod in menu and on pages already.

[2021-01-04 07:10] jamalv commented on #677
Okay, in that case let's go :)

[2021-01-04 07:35] maxvisser opened #705 "CR: Extend expire date of voucher (provide leniency)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Nijmegen, SDOA

### Change description
As sponsor I want to be able to extend a vouchers expire date by filling in a new date. For example the expire date is 01/01/2020; I would like to extend it to 01/01/2021;

This is now more easily implementable because of funds being extended.

[2021-01-04 07:50] maxvisser opened #706 "Financial dashboard: "Totaal in omloop" budget reserved should not take into account expired vouchers"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/103512973-fbebcf80-4e69-11eb-88bd-1674889dcaa0.png)

Currently this is the sum of all amounts on vouchers. This should not take into account vouchers which are:
expired
inactive

[2021-01-04 07:52] maxvisser commented on #706
the sum of inactive vouchers is still really nice to have; we should somewhere show this on the financial dashboard.

[2021-01-04 08:24] maartenfv opened #707 ""Aanbod" on index page of webshop needs to be randomized."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

**Currently,** there are a lot of aanbiedingen from the same provider on the home page. It probably takes the newest ones.

**Should be** changed to more random aanbiedingen. Would be best that it makes a random selection every time you reload the page. This way all providers get a equal cha

[2021-01-04 08:26] maxvisser commented on #707
I remember this being the case for other sample. Aswell that products without an image were not part of this selection

[2021-01-04 09:00] maartenfv commented on #590
@maxvisser @GerbenBosschieter I see this one was closed and re-openend. What is the current status? When will this be fixed?

[2021-01-04 09:11] maxvisser commented on #590
This is split up into multiple smaller change request

[2021-01-04 10:25] maartenfv commented on #665
Can we get an estimate for the scope for this issue?

[2021-01-04 10:40] jamalv opened #708 "Change modal when stopping an action"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description

The modal says the change is permanent, but that is not the case.

Proposal:
"U verwijderd het aanbod hiermee uit de webshop"

"Informeer inwoners en aanbieders" <- maybe this line can be removed?

<img width="708" alt="Screenshot 2021-01-04 at 11 37 44" src="https://user-images.gith

[2021-01-04 11:54] jamalv opened #709 "Tot / tot en met: make this consistent"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Duidelijkheid+geven+over+vervald

[2021-01-04 11:56] jamalv opened #710 "Expiration error: no more funds (geen saldo)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Check the error you get when funds are expired

Also: check errors with actions: are they descriptive?

[2021-01-04 12:06] maxvisser commented on #708
maybe describe better what happens:
- number of times used remains the same after stop / start action
- when stopped, the action is removed from the app and the provider cannot start a transaction

[2021-01-04 12:51] maxvisser commented on #665
currently can't really give a good estimation as its not clear what is on the page.

[2021-01-04 13:05] GerbenBosschieter opened #711 "Allow organization phone number to be shorter than 6. Municipalities used shorter number."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- Allow phone number to be shorter than 6. Municipality would like to use 14050. It now says 014050. This is the contact information that is being used to all the requester.

In my view we should at least allow 4 numbers. (providers use 1200 when calling from their line, you never kno

[2021-01-04 13:56] jamalv commented on #586
Deze pagina wordt nu alleen nog gebruikt om te activeren. Aanvragen gaat via de reguliere aanvraag flow.

[2021-01-04 13:56] maartenfv commented on #586
@jamalv Kan je deze afstemmen met de gemeente en akkoord krijgen via comment in MS teams?

https://teams.microsoft.com/_#/tab::3839bb31-8cb0-4e77-a674-d0f76ecf1ae5/Ontwikkeling?threadId=19:78d8e8b589df4373895fd9676b8ca52b@thread.tacv2&ctx=channel

[2021-01-04 14:35] maxvisser opened #712 "Euro discounts: new type selection and show discounts on sponsor dashboard"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

## Figma link
https://www.figma.com/file/04lT4mV6Jsl7Ot6SlvqWHz/?node-id=66%3A412

### Change description

#### Creation of product new type selection
Its an selector

![image](https://user-images.githubusercontent.com/10818702/103531955-9fe57300-4e8a-11eb-9001-1051695f6c09.png)

<details>
<summary>Curren

[2021-01-04 15:40] maartenfv opened #713 "CR: Make seperate page for "uitleg" for providers CMS"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- Extra page for providers. Needs to be adjustable in CMS
![image](https://user-images.githubusercontent.com/30211022/103551966-725cf180-4eab-11eb-9a69-83b449774472.png)

[2021-01-04 16:36] maxvisser commented on #713
we already have an issue like this planned for this sprint #636

[2021-01-04 16:37] maxvisser commented on #713
Will close this one in favor of #636

[2021-01-04 16:37] #713 closed

[2021-01-04 16:37] maxvisser commented on #713
Will close this one in favor of #636

[2021-01-05 08:31] maartenfv opened #714 "Aanbiedingpage is cluttered. Exact amount needs to be korting amount"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen

### Change description
-
Bedragen zijn onrustig geeft gemeente aan. Er moet staan wat de korting is.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/cd317166-9039-41b8-8b32-8d90c748c5d0)

[2021-01-05 08:32] maartenfv commented on #662
This has gone live. We need to fix this asap.

[2021-01-05 08:36] jamalv opened #715 "Actions: improve the way prices / discounts are displayed"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
"Wat u betaalt: 20% korting" is expected to lead to many questions. This should be fixed as soon as possible.

Goal:

<img width="643" alt="Screenshot 2021-01-05 at 09 35 55" src="https://user-images.githubusercontent.com/30194799/103624155-6a4b9300-4f39-11eb-88a4-96f023922bb3.png">

[2021-01-05 08:42] jamalv commented on #715
@maxvisser could this be hotfixed?

[2021-01-05 08:45] maartenfv commented on #630
@jamalv please attach all smaller issues to this issue. This one is not clear.

[2021-01-05 08:51] maxvisser commented on #715
Not sure what the fix is ?

[2021-01-05 08:52] maxvisser commented on #715
we are going to do a hotfix for some bugs; maybe you can call me after you are done (or write a better proposal?)

[2021-01-05 09:06] GerbenBosschieter opened #716 "Webshop mobile: align product lis of action funds with budget fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Product cards on the mobile version of the webshop look a bit messy if a fund uses actions. Would be nice to have the same mobile behaviour as when a webshop uses budget fund. See comparison in image below:

**Webshop uses action funds (image view)**
<img width="303" alt=

[2021-01-05 09:17] GerbenBosschieter opened #717 "Webshop: Align product card height on action funds just like budget funds has"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Product cards should be same height. This is the case on funds that uses budget. But not for funds that uses actions. Please align this.

**Webshop thats uses action fund (image view)**
<img width="996" alt="Screenshot 2021-01-04 at 15 38 57" src="https://user-images.gith

[2021-01-05 09:23] jamalv commented on #636
@maxvisser what release will this be in? And when will it be staged?

[2021-01-05 09:25] jamalv commented on #700
@danrminds could you plan this in?

[2021-01-05 09:28] maartenfv commented on #690
@jamalv We need to make a plan on how to index the exact scope on where all the aanspreekvormen should change. needs FIGMA.

[2021-01-05 09:32] jamalv commented on #701
@maxvisser why is this closed, the button still is there:

(screenshot from production)

<img width="1680" alt="Screenshot 2021-01-05 at 10 32 10" src="https://user-images.githubusercontent.com/30194799/103629965-45f3b480-4f41-11eb-953e-23f4c476a322.png">

[2021-01-05 09:59] maxvisser commented on #636
Its planned for this sprint to be built; so if everything is according to sprint planning is should be done this friday; which means probably release of 18 januari?

[2021-01-05 10:03] maartenfv commented on #657
This is a must-have for Groningen. It was part of the aanbesteding. We will need to make a plan on how to send messages to providers, adjust system mail templates etc.

[2021-01-05 10:47] maxvisser opened #718 "CR: How long can a BSN be valid?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
If we add a way to set a amount of days / hours we could resolve users that restore account and after that want to directly request a fund.

What was the last time it was validated?

[2021-01-05 11:15] jamalv opened #719 "Update styling: add "hoefjes" :)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
This is for Stadjerspas webshop, styling assets:

[wetransfer-c471ae.zip](https://github.com/teamforus/general/files/5769794/wetransfer-c471ae.zip)

[2021-01-05 11:19] maartenfv opened #720 "Aftercare Groningen (feedback) fase 1 (release 11 jan.)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- To keep track of all the feedback after release. Please add related issues to this Epic.

Figma: https://www.figma.com/file/OL6X0AUnpbiP8TX5dq1mU9/?node-id=416%3A0
Google docs: https://docs.google.com/document/d/1_Gi8TSZ_zkwJ5i4GNU_ZxTSO_jjXESKddvt49we16e8/edit

[2021-01-05 11:21] maartenfv commented on #720
This issue is a continuation of issue: https://github.com/teamforus/implementation/issues/614

[2021-01-05 12:02] maartenfv opened #721 "Aftercare Groningen (feedback) fase 3"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
- Continuation of fase 1 (release 11jan)

[2021-01-05 12:23] maxvisser commented on #720
I added client labels; my proposal is to add Client: Groningen to all their issues.

[2021-01-05 12:39] maartenfv commented on #572
@maxvisser Can you add a release?

[2021-01-05 12:46] maartenfv commented on #674
This needs more white space under the button to make it look better.

[2021-01-05 13:08] maxvisser commented on #719
eps files need to be added to figma and maybe converted to svg/png

[2021-01-05 13:10] maxvisser commented on #719
Not sure what these are and where to put these; so i labeled it scope big

[2021-01-05 13:17] #696 closed

[2021-01-05 13:22] jamalv commented on #698
Comment from @danrminds; the settings are different for each configuration of excel. You'll need to update your configuration. We can change the export, but it will then not open on other systems.

Could we check what is the default for excel and adjust accordingly?

@demylubbers could you do a bit of googling on what's the default and put the answer here?

[2021-01-05 13:30] jamalv commented on #614
@maxvisser i agree with gerben that it should still be done

[2021-01-05 13:37] jamalv commented on #711
@danrminds could you plan this in?

[2021-01-05 13:41] jamalv commented on #698
@danrminds could you check demy's example and see if a task can be planned?

[2021-01-05 13:42] demylubbers commented on #698
If you put a seperator in the front of the file, it works. See the screenshot for the work around.
Open up your csv file in notepad en put in: sep=,
The seperator depends on the used seperator of course, could also be ";" for example.

![image](https://user-images.githubusercontent.com/70149827/103652853-fe325480-4f63-11eb-9ced-918caa13f516.png)

[2021-01-05 13:47] jamalv commented on #716
refinement note: Should be made one row instead of two

[2021-01-05 14:22] jamalv opened #722 "Automatically redirect to signupflow if user has no account"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a requester i would like to automatically be redirected to the signup-flow if I don't have an account.

Context: currently groningen is experiencing high volume, a lot of users clicking the wrong button.

[2021-01-05 14:28] jamalv commented on #667
Discussed this with leonie and paul today. The main goal is that people go into the right flow.

Basically there are four routes we need to support:
- Sign up for providers
- Sign in for providers
- Sign up for requesters
- Sign in for requesters

There's a couple options:
- Add one (or more) buttons that direct to a page with explanation (previous solution for stadjerspas)
- Make the system "smar

[2021-01-05 15:01] maxvisser commented on #667
fyi if you guys accept the risk of users going through flow and creating organizations/going to the dashboard etc. lets go and the button to all implementations.

My proposal would be to add links to product / aanbieders pages
![image](https://user-images.githubusercontent.com/10818702/103661538-21aecc80-4f6f-11eb-919b-ec738349227a.png)

[2021-01-05 15:04] maxvisser commented on #614
there is a pr open which will have conflicts with this.

[2021-01-05 15:11] maxvisser commented on #722
Just looked at the logs; alot of people are trying to login with their old mail address. Our system will block their IPs for 10 minutes. so this seems pretty crucial to fix if they are all trying to login on their old accounts.

[2021-01-05 15:16] maxvisser commented on #700
Do we have a figma proposal for this (what font size, colors do we use?)

[2021-01-05 15:17] danrminds commented on #700
@maxvisser That is exactly why I planned it for design for @sashooa in forus#2035

[2021-01-05 15:23] maxvisser commented on #700
I see haha :)

[2021-01-05 15:35] maartenfv commented on #586
Deze staat nu op de backlog in teams met label "Knoop door hakken".

[2021-01-05 16:11] #715 closed

[2021-01-05 16:12] #662 closed

[2021-01-05 16:12] maxvisser commented on #662
released in v0.18.2

[2021-01-05 17:41] danrminds commented on #698
Seems to work. Basically - this enforces the setting I commented above

[2021-01-05 17:54] danrminds commented on #667
From the figma proposal I like this options:

For all webshops and all main pages - use that as a link in header:
![Screenshot 2021-01-05 at 18.52.56.png](https://images.zenhubusercontent.com/5ea2e8e74754fd7c3ad28537/0e284543-a1e1-495a-bf9f-7998eb73c991)

For the provider page - we can keep the same, or try to replace the button
![Screenshot 2021-01-05 at 18.53.12.png](https://images.zenhubusercon

[2021-01-06 09:00] maxvisser commented on #667
Still think adding more options for citizens to click on and get misdirected is a poor design choice;

I see the problem mostly in that the previous system had this button and the providers of groningen expect the button be there. (they will go to the site and if the button isnt present it will break their flow).

[2021-01-06 09:14] maxvisser commented on #586
I see this is part of release for 11 jan. I see there is still no decision made and aswell no code delivered. therefor it can't be released this monday.

[2021-01-06 09:16] maxvisser commented on #720
I like these kind of issues. I would instead propose to add these into the forus repo and add all the tasks to it.

[2021-01-06 09:18] maxvisser commented on #675
there is no proposal yet; implementation is not even planned. So this can't be released on monday. Moved to the next epic.

[2021-01-06 09:30] maxvisser commented on #664
as it still needs to be built. If it isnt blocked any more it can be released

[2021-01-06 09:34] maxvisser commented on #701
Created a task for it.

[2021-01-06 09:41] maartenfv commented on #720
@maxvisser Are the release dates for the issues correct? Are we going to make the 11th on the issues that are included in this Epic?

[2021-01-06 09:49] maxvisser commented on #720
the statuses are correct. three are still not in progress. So not sure if I can stage these tomorrow for acceptance testing.

[2021-01-06 10:05] maartenfv commented on #720
@jamalv Voor straks met Paul, Afstemmen planbord in MS teams: kan je deze dingen fixen?: Bas heeft er naar gekeken en noemt dit wel in het projectoverleg als verwachting. Als we dit niet snel rechtzetten groeit dit.

- Sommige punten zijn nog niet duidelijk maar ze staan wel open bij ons op de backlog in zenhub. Voorbeeld: aanvragen knop. In Teams staat deze nu met het label "knoop doorhakken". We

[2021-01-06 10:09] maartenfv commented on #720
@jamalv De punten in de sprint klom van MS Teams moeten exact overeenkomen met de dingen die we gaan releasen zoals in deze issue op 11 januari.

[2021-01-06 10:10] maxvisser commented on #714
this is the exact amount the user needs to pay with at the retail though. Where do you want to put that amount?

[2021-01-06 11:02] maxvisser commented on #659
instead of making a figma proposal I just coded it.

[2021-01-06 11:41] maartenfv commented on #630
@Jamal please add alle issues + release dates

[2021-01-06 12:49] maartenfv opened #723 "Aftercare Groningen (feedback) fase 2 (release 18 jan.)"

[2021-01-06 12:50] jamalv commented on #667
Just discussed this with max, that a call to action in the header will probably cause confusion > proposal is to add the call to action in the providers page.

[2021-01-06 12:50] maartenfv commented on #723
Please fill this Epic with all the issues to be released 18th of jan.

[2021-01-06 12:53] maartenfv commented on #721
@maxvisser @jamalv Can you please add the issues that are planned to be released on the 25th of jan.

[2021-01-06 13:20] MichaelForus opened #724 "Change request: Can't turn off e-mail notification about product reservation anymore. This results in spam"
**Support Ticket ID:** [#2630]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @Gerbenbosschieter

### Change description
- Can't turn off e-mail notification about product reservation anymore. This results in spam<br>

[2021-01-06 13:41] maxvisser opened #725 "Requester digest"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
We sent a digest of providers and who products which are new on webshop. We need to check when and how this mail is sent. We already had complaints about it.

Goals are:
- make mail recognizable for citizen
- sent from implementation key if possible

disable mail temporarly until its goals ar

[2021-01-06 13:59] maxvisser commented on #724
planned

[2021-01-06 14:04] maartenfv commented on #590
@jamalv When can this issue be closed?

[2021-01-06 19:47] jamalv commented on #671
@danrminds @maartenfv you both have a vision on this :) could you please discuss? :)

[2021-01-06 19:59] #702 closed

[2021-01-06 19:59] jamalv commented on #702
dun

[2021-01-06 20:00] jamalv commented on #676
this is a duplicate of: https://github.com/teamforus/general/issues/677

[2021-01-06 20:00] #676 closed

[2021-01-06 20:03] jamalv commented on #708
@maxvisser sounds good. I think we'll need a text proposal? @maxvisser could you write a sample line of what you mean so it's easier for linda to do a proposal?

@linda-90 could you have a look at this?

[2021-01-07 07:21] maxvisser commented on #708
"u staat op het punt de actie te stoppen. Dit betekent dat de actie niet meer zichtbaar is in de webshop en de aanbieder geen transactie meer kan starten op deze actie. Het tegoed dat de inwoner heeft gebruikt blijft bewaard. Wanneer u later de actie opnieuw start wordt deze afgetrokken van het limiet."

[2021-01-07 14:32] maartenfv opened #726 "Actions: Third iteration"
This issue follows Action second iteration. It is meant to make it even better. Issues that pop-up after over flow.

[2021-01-07 14:41] maartenfv commented on #572
@jamalv can you please add release?

[2021-01-07 17:14] jamalv opened #727 "Page title should match implementation."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Forus

### Change description
Right now the page title for webshops displays “Forus” this is sloppy and should be something more matching. E.g. “Stadjerspas”

![3CB37A95-23B3-477C-BF1C-B0DB0C792EE5](https://user-images.githubusercontent.com/30194799/103922414-ff09e880-5113-11eb-8951-323e6a297d49.jpeg)

[2021-01-07 17:57] maxvisser commented on #727
Good one. We do have this its Groningen webshop ;) why its not working there is because angular replaces it on loading the page. you can see it happening when you load the site..
![image](https://user-images.githubusercontent.com/10818702/103927056-1350e400-511a-11eb-9851-4ca385ac744a.png)

Proposal is to change it to 'Laden...' if its not possible to fix it for all implementations

[2021-01-07 17:59] maxvisser commented on #727
scope for my quickfix is small. maybe @dev-rminds knows some alternative.

[2021-01-07 18:34] #606 closed

[2021-01-07 18:35] jamalv commented on #648
@maxvisser this is released, right?

[2021-01-07 18:39] jamalv commented on #722
@danrminds could you plan this in?

[2021-01-07 18:39] maxvisser commented on #648
Correct in 18.0

[2021-01-07 18:40] jamalv commented on #677
@danrminds please plan this in

[2021-01-07 18:41] jamalv commented on #709
@danrminds please plan this in

[2021-01-07 18:42] jamalv commented on #708
@linda-90 could you please check the text above?

[2021-01-07 18:43] danrminds commented on #677
Planned in

[2021-01-07 18:44] jamalv commented on #689
Should save when clicking bevestigen

![Screenshot 2021-01-07 at 19.43.54.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/baa16ec3-c516-411c-b90f-87c168c76a68)

Now you have to click it twice, this is confusing:

![Screenshot 2021-01-07 at 19.44.34.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/0ab88457-125c-449a-8f47-2c69d990ad9b)

[2021-01-07 18:46] danrminds commented on #722
@jamalv @maxvisser

`"As a requester i would like to automatically be redirected to the signup-flow if I don't have an account."` - **redirect from where?**

[2021-01-07 18:46] jamalv commented on #426
Discussed this with the stakeholder, most actions like this are expected to be added by the municipality themselves, so they can add it from their own account. It might not be a very big problem.

[2021-01-07 18:50] danrminds commented on #689
Not sure on Scope. Might be small to medium.

[2021-01-07 19:02] jamalv commented on #722
When logging in, just like in the me app - create an account if you don't have any - people are pressing the wrong button

<img width="689" alt="Screenshot 2021-01-07 at 20 01 58" src="https://user-images.githubusercontent.com/30194799/103933158-38962000-5123-11eb-8430-43d4e29c0619.png">