[2020-08-21 07:47] jamalv commented on #162
## Sprint results:
Dan:
Backlog refinement / designs: preparing for developmetn (potjeswijzer feedback)

Alex:
Validator dashboards: adding search filters, pagination etc #pag
Potjeswijzer: #341
Support different filetypes

Valentin
Action (not yet finished, not all pages are linked to backend, difficult to demo: we can show markup)

Lena
Testing apps; feedback to yasha
Transaction overview: both

[2020-08-21 08:30] GerbenBosschieter opened #376 "We should move to Mercury"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @dev-rminds

### Change description
- Since we only have 24 hours on this planet but need much more than 24 hours in one day we should move to Mercury. A day on Mercury has 58 hours

[2020-08-21 08:49] GerbenBosschieter commented on #376
# Tasks
 - [ ] Contact Elon Musk about the possibilities

[2020-08-21 11:46] jamalv opened #377 "IP: Activate with DigiD instead of activation code"
## Context
For multiple upcoming projects we need to be able to activate vouchers using DigiD.

The prevalidations will be added by CSV file. The BSN numbers will be in the CSV file.

## User stories
As a requester I want my vouchers to be automatically added to my account if I have the required prevalidations. If I **don't** have the right prevalidations linked to my BSN number, I would like to b

[2020-08-23 09:51] jamalv opened #378 "Check resolution size of jumbotrons"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
I coincidentally checked some header image for a webshop and it's 10mb, which is way too big! 😱

<img width="219" alt="Screenshot 2020-08-23 at 11 49 40" src="https://user-images.githubusercontent.com/30194799/90975699-ec14c400-e536-11ea-9650-b54b0ed9a1e9.png">

Figma:
https://www.figma.c

[2020-08-23 17:20] jamalv opened #379 "Login button on provider signup page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a provider I would like the option to login from the signup page

Figma: https://www.figma.com/file/LQB7ZCP8PWDyIQFaaOdz4D/Update-provider-signup-pages?node-id=1%3A94

[2020-08-24 07:01] maxvisser commented on #376
I am already there. Base camp is up and running.

[2020-08-24 07:02] maxvisser commented on #376
I will now fly back and be back on earth on Wednesday :grinning:

[2020-08-24 08:18] GerbenBosschieter commented on #375
# Webshop improvements (navigation)

In addition to the goal of finalising the webshops we would like to include the new navigation as well.
The new navigation wil influence all of the webshops and we have some desires of how to implements this.

- Good baseline in the common
- As much variables we cann add in the vars.scss
- As little a possible extra css files for navigation per implementation

[2020-08-24 09:03] jamalv commented on #376
Ah, thats great! Did you bring beer there? 🍻

[2020-08-24 09:15] maartenfv commented on #269
@jamalv What is the status of this issue? What is the priority label and what are there project labels?

[2020-08-24 09:30] maartenfv commented on #345
@jamalv @GerbenBosschieter I agree with Gerben I think this flow would benefit from adding a more logical step or adding text.

@jamalv Could we give this a priority label?

[2020-08-24 09:34] GerbenBosschieter commented on #313
bump

[2020-08-24 09:42] maartenfv commented on #346
@jamalv I think it is better to add it to the organisation. It is oke that providers will see this as well. By doing this we will not have to change it later. Adding it to the webshop will make the system less user friendly.

[2020-08-24 12:42] maartenfv opened #380 "FOR | Dev research BNG: API documentation and SDK"
@jamalv Could you re-plan this research? It was planned for this sprint but is not being worked on yet.

[2020-08-24 12:45] maartenfv opened #381 "PISP (BNG) connection: Research"
# General info
details: internal [drive](https://drive.google.com/drive/folders/1k4-19lmvP4CW_nRXxJbDycHupekW6TsR)

## Current situation
We are currently using bunq to make payments.

## Desired situation
We want to use the BNG PSD2 API connection to make payments

Sandbox: https://api.xs2a-sandbox.bngbank.nl/
Example payment initiation: https://api.xs2a.bngbank.nl/developer-portal/service-documen

[2020-08-24 13:16] maartenfv commented on #375
- Spacing of header Needs more whitespace so it will look better
- Change the title to something better @linda-90 Please check met Trees
- Check the text met Tress @linda-90 Please check met Trees
- Remove lines as they make it less clear.

[2020-08-24 13:18] maartenfv commented on #375
Flip links they are not correct
![image](https://user-images.githubusercontent.com/30211022/91049181-12149400-e61d-11ea-8fc9-a62639e990eb.png)

[2020-08-25 09:44] maartenfv opened #382 "Footer add link to open modal for choosing Login / Signup as provider"
During the text review, we found that the sign-up flow for the requester is unclear.

It is difficult to know where to start the journey. Links it the footer are not sufficient as people are not going to find it. We found the Figma proposal adding the sign up to the menu. This is a very good idea.

We have improved the texts and added suggestion on how to improve the flow.
https://www.figma.com/fi

[2020-08-25 10:10] maartenfv commented on #379
@jamalv We have done the text review and added some text to make it more clear.

[2020-08-25 10:11] Myshelova commented on #375
For a point that I mentioned, I suggest choosing pages with Atomic design

[2020-08-25 10:44] Myshelova commented on #163
### Transaction overview

**What is:** _We will show a transaction list for shopkeepers who can manage their activities directly in the Me app_

iOS And Android (Dutch) https://www.figma.com/file/yrvdXLOh7Parsd4MUyjoiT/Transaction-overview?node-id=320%3A580 iOS and Android (English version) https://www.figma.com/file/yrvdXLOh7Parsd4MUyjoiT/Transaction-overview?node-id=318%3A0

This is Balances (Li

[2020-08-25 12:27] jamalv commented on #375
@danrminds I'm un-assigning me and gerben for now; as I think there's nothing we can do at this point; if there's any questions please let us know and re-assign! :D

[2020-08-25 12:40] Myshelova commented on #375
Feedback for new webshops.

1. Webshop: https://dev.forus.io/noordoostpolder/#!/
a) Really small logo on a big header. + the position at the main page is shifted down
- Main
￼
![image](https://user-images.githubusercontent.com/22478043/91175216-c2979c00-e6e0-11ea-9d93-8313cdddc483.png)

- Other pages
￼
![image](https://user-images.githubusercontent.com/22478043/91175226-c62b2300-e6e0-11ea-8496-73a

[2020-08-25 12:44] jamalv commented on #375
@Myshelova regarding potjeswijzer; there is a new version based on the new header: https://test.potjeswijzer.nl/backup/#!/

login: potje
password: voetbal2020

[2020-08-25 12:45] jamalv commented on #375
regarding the logo of noordoostpolder; we are aware of this issue, it will be fixed on new dev version :)

I expect new dev version will be there on thursday (if this is possible for @aghimpu), that means we can better review then :)

[2020-08-25 12:47] jamalv commented on #375
about footer of groningen; this is their own website; we can look at it for inspiration about their brand identity: https://gemeente.groningen.nl/

[2020-08-25 12:57] jamalv commented on #375
@Myshelova, I just added some comments on figma regarding feedback from clients on potjeswijzer :)

[2020-08-25 18:00] maxvisser commented on #313
Also saw the same risks @GerbenBosschieter in the discussion I had with @linda-90  @maartenfv @jamalv everyone saw these risk but we decided to just implement all the changes to keywords once and don't change it back. Aswell I ask to start introducing this change (make it vocal) to all clients so it is not a 'suprise' change.

Maybe we can also start with writing a blog post and do a direct mailin

[2020-08-25 18:15] maxvisser commented on #346
maybe make it a seperate entity which a organization can create and manage. So you add a new table to db with monatary accounts. On fund creation you can choose these. Could be just a page on sponsor dashboard.

[2020-08-25 18:27] maxvisser commented on #376
![image](https://user-images.githubusercontent.com/10818702/91213014-4e292100-e711-11ea-80c8-c78346f3bc4f.png)

[2020-08-25 18:33] maxvisser commented on #378
But otherwise there is no way you can see the name of the ship 😆
![image](https://user-images.githubusercontent.com/10818702/91213636-300ff080-e712-11ea-8c92-dd16236602f4.png)

[2020-08-25 18:34] maxvisser commented on #378
Its compressed though just really high res

[2020-08-25 18:49] maxvisser commented on #378
This one is 2000x800: (1.2mb)
![jumbotron (1)](https://user-images.githubusercontent.com/10818702/91215118-59318080-e714-11ea-868e-b40ddccc27dd.png)

[2020-08-25 19:06] maxvisser commented on #378
Seems like it was mostly the jumbotrons of SDOA. If you approve above images we could make as task for it @jamalv

[2020-08-25 19:14] maxvisser commented on #377
probably a duplicate of #359 #85 #266

[2020-08-25 19:34] maxvisser commented on #371
if needed could ask jiske to make a logo @jamalv

[2020-08-25 19:37] maxvisser commented on #370
I would just auto open Funds page if you do not have any vouchers.

[2020-08-25 19:59] maxvisser commented on #374
Seems small could be as product categories have hierarchy it could be scope medium.. Should be estimated by a developer first.

[2020-08-25 20:01] maxvisser commented on #373
Scope: small but could be that the CSS is overwritten by certain implementations

[2020-08-25 20:05] maxvisser commented on #372
Suggestions for an image; as it is an header image maybe ask the projectgroup; show some examples from pexels or ask Jan Aaldert

[2020-08-25 20:07] jamalv commented on #378
Not sure If I am the one that can grant an approval but I think we came to an agreement

[2020-08-25 20:08] maxvisser commented on #368
Amazon does it well I feel, a tooltip is open when you enter logged out.
![image](https://user-images.githubusercontent.com/10818702/91222307-483a3c80-e71f-11ea-945c-1c1c3d850e3c.png)

[2020-08-25 20:12] maxvisser commented on #363
A action is fund specific so there is no list of multiple funds (where user can apply for)
A product has can be bought with multiple funds. If a product is applicable for more three; what would happen? I would only show a max of three and maybe a link to the full list.

[2020-08-25 20:16] maxvisser commented on #339
#370 I also proposed that here; I would redirect users to funds page if they do not have vouchers. If they do we should think about the flow of getting them there

[2020-08-25 20:17] maxvisser commented on #365
Seems to be a duplicate of #345

[2020-08-25 20:20] maxvisser commented on #305
If xls and doc need to be supported by preview option I would increase the scope to medium/big

[2020-08-25 20:27] jamalv commented on #369
@maxvisser, haha, would even maybe say this is too big?

[2020-08-26 11:12] maxvisser commented on #364
potjeswijzer-demo branch -> Should check if can be merged to develop @maxvisser

[2020-08-26 11:13] maxvisser commented on #363
potjeswijzer-demo branch -> @maxvisser should check if it can be merged.

[2020-08-26 11:16] maxvisser commented on #245
@Myshelova sent new icons to @jknnr
Changed icons should be uploaded to Android developer console or in app? Could we talk about this @jknnr

[2020-08-26 11:19] maxvisser commented on #371
@maartenfv English would help :D

[2020-08-26 13:15] maartenfv opened #383 "Hide sections of digest mail if there is no activity"
Example:

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/53577aae-5125-4f15-b5f9-7915077d048b)

If there is no update that we can remove the sections with "geen". This keeps the e-mail much cleaner.

[2020-08-26 13:20] maxvisser commented on #383
Could you use a template ( it helps with labeling ).

[2020-08-26 13:20] maxvisser commented on #383
I personally like the information to be in the digest (that there are no new requests) but I agree with you it seems a bit messy.

[2020-08-26 14:12] jamalv commented on #383
I agree it should be hidden if there is no info; people have short attention spans; we should only offer them highly relevant info, otherwise we will end up in their (mental) spam filters ;)

[2020-08-26 14:21] maartenfv commented on #290
@maxvisser That is good news I think. As this a Scope: Medium Can we get at an estimate from you or if needed from @danrminds on how long this will take to add?

[2020-08-27 06:58] maxvisser commented on #290
Probably this could be scope small if the issue would be to fix an image uploader and a cropper. The overlay/opacity part makes it much harder; probably need to find a new dependency for it.

Aswell as the text is now hardcoded White or Black. Probably we need a color picker for the text aswell (otherwise you could never change a dark image to a brighter image.)

Probably if a better IP is made (w

[2020-08-27 07:11] maxvisser commented on #383
needs project label

[2020-08-27 12:16] jamalv opened #384 "Information about conflicting roles"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholder

### Change description
As a system administrator I would like to be informed about conflicting roles

[doc](https://docs.google.com/document/d/1q1XYs50ns92gHkmrfRWq4sZspui6RkR6W8CvLFoCft4/edit)

[2020-08-27 12:17] jamalv opened #385 "Sessions: automatic logout"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholder

### Change description
As a user I'd like to be automatically logged out after 15 minutes (platform-wide), I would also like to option to stay logged in :)

[2020-08-28 07:26] maxvisser commented on #385
First we need to move .link to .io (api domain) https://github.com/teamforus/itsm/issues/226 and make sessions page available to users (unreleased feature)

[2020-08-28 07:57] jamalv opened #386 "Add "how it works" in header to CMS"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Linda

### Change description
As an implementation manager I would like the "how it works" (dutch: Hoe het werkt") link to be part of the header text in the CMS so that the webshop owner has the freedom to remove / edit it themselves

This issue is dependant on #373

[2020-08-28 08:00] maxvisser commented on #386
the step-by-step guide or FAQ? I would just remove these blocks completely

[2020-08-28 08:00] jamalv commented on #386
Nooo, on the homepage there is a link as well :)

[2020-08-28 08:01] jamalv commented on #386
<img width="181" alt="Screenshot 2020-08-28 at 10 00 55" src="https://user-images.githubusercontent.com/30194799/91536689-5e115280-e915-11ea-84f3-fd5b067851d0.png">

[2020-08-28 08:01] jamalv commented on #386
Probably small scope?

[2020-08-28 08:02] jamalv commented on #386
Context: one of the customers would like to remove the link on the homepage header text, if we add this part to the CMS, they can choose themselves if/how they want to link to the "uitleg" page

[2020-08-28 08:02] maxvisser commented on #386
Ah this has some issues with older implementation which do not use the CMS. You cannot just remove this link as its used by Nijmegen, Westerkwartier and others

[2020-08-28 08:03] jamalv commented on #386
Another way to comply to this CR is to hide it for that specific customer (using CSS for example)

[2020-08-28 08:04] maxvisser commented on #386
I would copy past the text which is currently in i18n into the database and basically migrate all client to CMS. After this is done; remove the link.

[2020-08-28 08:08] jamalv commented on #386
Yea, we could migrate them without them noticing if we put the same text there, right?

[2020-08-28 08:11] maxvisser commented on #386
Yeah its just some work to do. Login on each account which has CMS access copy paste the text.

[2020-08-28 12:30] maartenfv opened #387 "CR: Fix the allignment of the buttons"
On the fondsen pagina a sponsor sees:

![image](https://user-images.githubusercontent.com/30211022/91560953-fff76600-e93a-11ea-93ff-b79a80838020.png)

[2020-08-28 12:39] maartenfv opened #388 "CR: Add breadcrumb to transaction"
There is no overview or way to go back:

![image](https://user-images.githubusercontent.com/30211022/91561593-2f5aa280-e93c-11ea-87c9-0d65e234ce1b.png)

[2020-08-28 12:40] maartenfv opened #389 "CR: Redesign top of transaction view."
Currently it looks unclear.  Amount on the left. Transaction on the right. Not very clear.

![image](https://user-images.githubusercontent.com/30211022/91561753-65982200-e93c-11ea-8d27-af99800bee53.png)

[2020-08-28 12:47] maartenfv opened #390 "CR; Positioning of buttons"
Needs more space and is not clear that by pressing these the year, week or month changes.

![image](https://user-images.githubusercontent.com/30211022/91562372-654c5680-e93d-11ea-8a91-1d8073a28eec.png)

[2020-08-28 12:49] maartenfv opened #391 "CR: Improve ux by adding "There is no data to display" message"
When watching these graphs it is not clear it is not loading or there is no data.

We could add a subtle message. (Better than the one I drew below) It needs to look good :)

![image](https://user-images.githubusercontent.com/30211022/91562580-b3f9f080-e93d-11ea-8264-c3d6c9a85442.png)

[2020-08-28 12:52] maartenfv opened #392 "CR: Improve positioning shops finance"
Needs to be on one line. ![image](https://user-images.githubusercontent.com/30211022/91562728-f7ecf580-e93d-11ea-81cb-44998f20e9e5.png)

[2020-08-28 12:57] maxvisser commented on #390
if the fund has product with a category which is a long string; this happens

Example of how it looks with short strings in dropdown:
![image](https://user-images.githubusercontent.com/10818702/91563225-d04a5d00-e93e-11ea-9f13-b606ef58b8d4.png)

[2020-08-28 12:58] maxvisser commented on #390
needs design change to allow long strings or strings should be shortend within the dropdown (you loose content)

[2020-08-28 12:59] maxvisser commented on #390
@maartenfv Could you use a issue template for making change requests?

[2020-08-28 12:59] maxvisser commented on #390
needs priority and a project.

[2020-08-28 13:01] maxvisser commented on #392
If you swith context the strings shown will be ever longer; How would you want to fix it?

We could move everything down.
![image](https://user-images.githubusercontent.com/10818702/91563534-54044980-e93f-11ea-917c-788e84a6f742.png)

[2020-08-28 13:02] maxvisser commented on #392
Needs priority and project label

[2020-08-28 13:05] maxvisser commented on #388
needs figma proposal (just for getting this change aswell in the library), priority and project label

[2020-08-28 13:06] maxvisser commented on #387
This card will change on monday in release v0.14.0

![image](https://user-images.githubusercontent.com/10818702/91563944-1227d300-e940-11ea-81cc-918e6664c115.png)

[2020-08-28 13:08] maxvisser commented on #389
Needs a proposal, no estimate can be made; aswell as a project and priority label.

[2020-08-28 13:12] maxvisser commented on #391
we use chartJS we could also add a progress bar https://www.chartjs.org/samples/latest/advanced/progress-bar.html

[2020-08-28 13:13] maxvisser commented on #391
Not sure about the scope of adding the text in the graph; It seems small should be checked by a developer.

[2020-08-28 13:14] maxvisser commented on #391
#316 @jamalv maybe add all these visual improvement to this epic maybe do a bit of a design of the page.

[2020-08-28 13:18] maxvisser commented on #365
Could you check #345 and decide what to do? @jamalv

[2020-08-28 13:20] maxvisser commented on #384
Validator should not be a manager
Manager should not be able to manage vouchers or create vouchers

Create a table for this.

[2020-08-28 13:36] maxvisser opened #393 "Dashboard: Improve empty pages"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
A dashboard page can have no results.

Some wild examples:

<details>
<summary>Sponsor financial dashboard</summary>

![image](https://user-images.githubusercontent.com/10818702/91565458-8794a300-e942-11ea-9365-7314aadd65aa.png)

</details>
<details>
<summary>Sponsor approving providers</summ

[2020-08-28 13:38] maxvisser commented on #393
Must have scope is small.

[2020-08-28 13:55] jamalv commented on #172
@maxvisser I'm a bit stuck on this issue. It's a must-have and I cannot really oversee what needs to happen. Could you help me out a bit? Maybe we need to have a separate discussion about it?

[2020-08-28 13:57] jamalv commented on #172
By the way, in the context of actions I don't expect there to be a transaction at all, right? So could this at least be implemented in actions?

[2020-08-28 14:00] maxvisser commented on #172
There will be a transaction (from sponsor to provider)

[2020-08-31 10:02] GerbenBosschieter commented on #244
@jamalv this is not about technical review. This is more about new features and current users. Our new features and the edge casus that we should take into consideration.

For example:
- Proposal of aanvraag en toekenningen for stadjerspas pas and the document I wrote. (thats my risk analysis)
- Current states of all the textual update https://github.com/teamforus/general/issues/313

[2020-09-01 07:30] maartenfv opened #394 "CR: aanvraag of aanvragen. Singular or plural."
The email needs to state singular when there is only one ![image](https://user-images.githubusercontent.com/30211022/91817310-8c54a200-ec35-11ea-8e93-615bee705e2b.png)

[2020-09-01 10:10] jamalv commented on #172
Discussed this with max. This will be part of actions. When a product if fully subsidized, it will be displayed as free.

[2020-09-01 10:26] jamalv commented on #150
I have discussed the proposal about relations and the workflow in figma with the stakeholder that has to do it, and it is approved.

@danrminds could you do a design review on this? https://www.figma.com/file/rW80bGvSS7TKXovctNjjUQ/Relations?node-id=29%3A10563

[2020-09-01 11:57] maxvisser commented on #160
You need to have atleast one action (as otherwise you are not approved) is this intended? @jamalv

[2020-09-01 12:09] maxvisser commented on #263
@jamalv could we talk about this one ?

[2020-09-01 12:16] maxvisser commented on #263
Hashing vs encryption

[2020-09-01 12:17] maxvisser commented on #263
how to display information? and where it is needed?

[2020-09-01 12:24] jamalv commented on #263
@maxvisser sure, so this is what we've shared with the client so far: https://www.figma.com/file/rW80bGvSS7TKXovctNjjUQ/Relations?node-id=1%3A2164

I think maybe displaying it is not needed? If the validator also uploads a customer identifier? What would you like to discuss here?

[2020-09-01 23:07] aghimpu commented on #305
xls and doc won't have a preview for now, that would make things more difficult (most likely would have to setup and use some sort of converter from those file types to pdf)

[2020-09-02 05:42] mmjvdlinden opened #395 "Aanvraagflow DigiD: stappen kloppen niet"
### Requested by:
- Martijn van der Linden, gemeente Nijmegen

### Change description
- De stappen in de aanmeldflow gaan verkeerd, in plaats van stap 1 t/m 4 te doorlopen blijft de inwoner hangen bij stap 1 en wordt het: stap 1 van 4, stap 1 van 3, stap 1 van 2
- Zie hiervoor [deze screenshots](https://irvn-my.sharepoint.com/:f:/g/personal/m6_van_der_linden_nijmegen_nl/Essttg8ybR5FvdlmmxTRRHcBXKf

[2020-09-02 07:29] maxvisser commented on #395
Gereproduceerd.

Wanneer gebruiker al een keer heeft ingelogd met DigiD (formulier verlaat, website sluit) na inloggen met DigiD en weer terug gaat om de aanvraag (van maar 4 stappen) af te maken. Zijn er natuurlijk ook nog maar twee stappen om af te maken. Dit is enorm gek voor iemand die de stappen in één keer doorloopt.

Gewenste situatie:
Inlog stap en DigiD stap blijven deel van de stappen.

[2020-09-02 07:35] maxvisser commented on #305
Lets create a seperate CR forthat with lower priority.

[2020-09-02 07:37] maxvisser commented on #305
Made a task for this one: https://github.com/teamforus/forus/issues/1713

[2020-09-02 07:38] maxvisser opened #396 "Requester sign-upflow: preview docx and xls files (convert to pdf)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Some files that can be uploaded should be able to be previewed aswell on validator dashboard. An option could be to convert docx and xls files to PDF.

[2020-09-02 08:19] jamalv commented on #302
Release v0.14.0 went live last monday. This can be closed? @maartenfv @maxvisser 🚀

[2020-09-02 08:21] jamalv commented on #302
@maxvisser no release notes for v0.14.0? yet? :) https://github.com/teamforus/forus/tags

[2020-09-02 08:23] jamalv commented on #239
Added it to #143, closing this one in favour of that one.

[2020-09-02 08:23] #239 closed

[2020-09-02 08:43] jamalv commented on #298
@maxvisser I see you overwrote the original user story from this issue:

- As a sponsor I would like to be able to assign vouchers to different UID's (e.g., email adres or BSN).

This one was also in the original issue that you closed: https://github.com/teamforus/general/issues/299 - I already moved it to this issue myself.

@maxvisser could you make sure that this user story is part of the estim

[2020-09-02 09:07] jamalv commented on #263
We had a call yesterday and discussed that max will communicate directly with the client what is the best path;

my preference goes towards speed of implementation (less complexity is better) and I think it might be goo to add custom user identifiers to the file instead of encrypting / decrypting the BSN's, but I'll go with what max and the client think is best :)

[2020-09-02 11:17] mmjvdlinden commented on #395
Eens, maar het is voor de gebruiker vreemd om te starten met vier stappen en het aantal stappen wijzigt in plaats van dat je een stap vooruit komt.
Dus vandaar de suggestie om dit te maken zoals ik als inwoner verwacht:
1/4
2/4
3/4
4/4
Ik kwam hem tegen bij het maken van een instructie. En hij viel me zo op dat ik dacht: hebben we hier nooit een vraag over gehad?

[2020-09-02 11:20] maxvisser opened #397 "CR: Add subject icons in QR-code"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently we only use Me-logo in QR-codes. This issue is about thinking about using like a Lock/auth icon or a voucher icon to indicate what kind of QR-code it is.

[2020-09-02 12:12] maartenfv opened #398 "CR: Favicon Potjeswijzer"
Now it is logo zuidhorn. Should be favicon potjeswijzer

[2020-09-02 13:10] maxvisser commented on #395
We hebben wel vaker problemen met de stappen indicato. Het formulier is zo 'slim' dat hij soms stappen overslaat of dat er stappen bij komen. Waardoor die stappen indicator heel gek is.

De oplossing is 'onthouden' dat de stappen er waren en dat de gebruiker ze heeft volbracht en ze dus alsnog tonen, ook als de gebruiker tijdelijk de site heeft verlaten (bijv om met digid in te loggen). We hebben

[2020-09-02 13:21] maxvisser commented on #398
if logo is 'final' we can take the jar or a green P to change it 👍

[2020-09-02 13:22] maxvisser commented on #398
Or any other proposal can be made :)

[2020-09-02 14:50] maxvisser commented on #325
Please note errors:
![image](https://user-images.githubusercontent.com/10818702/91999133-577f4280-ed3c-11ea-8e73-3bc97e901c3d.png)
How should these look?

[2020-09-02 14:51] maxvisser commented on #325
![image](https://user-images.githubusercontent.com/10818702/91999318-8ac1d180-ed3c-11ea-898a-235840975946.png)
should be adjusted towards the new titles

[2020-09-02 14:54] maxvisser opened #399 "Text review: aanvullingsverzoek "het question veld is verplicht""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Max Visser

### Change description

![image](https://user-images.githubusercontent.com/10818702/91999459-af1dae00-ed3c-11ea-8c29-f4e44bf2d49f.png)

[2020-09-02 14:54] maxvisser commented on #399
Needs better texts

[2020-09-02 14:59] maxvisser opened #400 "Clarification request improving texts: missing titles, weird dutch texts"
@maxvisser commented on [Wed Sep 02 2020](https://github.com/teamforus/forus/issues/1718)

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/91999949-41be4d00-ed3d-11ea-8105-626acec90537.png)

[2020-09-02 15:00] maxvisser commented on #400
![image](https://user-images.githubusercontent.com/10818702/92000427-c8732a00-ed3d-11ea-94e5-ca29aa8c634f.png)

[2020-09-02 15:00] maxvisser commented on #400
![image](https://user-images.githubusercontent.com/10818702/92000513-dde85400-ed3d-11ea-89df-66d9ae4415e7.png)

[2020-09-03 06:50] maxvisser commented on #340
Decided to release e-mail settings; this is done after configuring on next release qdt-env to enable these pages.

[2020-09-03 07:39] maartenfv commented on #372
- Diversity
- Family
- Young old etc. everybody
- Maybe not real people but animation.

[2020-09-03 07:41] maartenfv commented on #372
Ook voorleggen aan het panel

[2020-09-03 07:53] maxvisser commented on #372
Would be nice if its the same green as logo (or have alot of green in it); I like the colors of the current header image

[2020-09-03 07:54] maxvisser commented on #398
This is staged in release v0.14.1

[2020-09-03 08:00] #33 closed

[2020-09-03 08:02] jamalv opened #401 "Add sentence to image uploader (very small and subtle)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholders

### Change description
As a an implementation owner I would like to warn users that upload images that images have to be licence-free.

"Gebruik rechtenvrije afbeeldingen of afbeeldingen waartoe u de rechten heeft" (needs review)

[2020-09-03 08:20] jamalv opened #402 "Allow provider to hide price for actions"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Client

### Change description
As a provider I would like to option to hide the price for an action so that I can offer an action on the actions page that has _no price_ but where I can put discount in the title or image: "25 percent discount on all my products and services" - to do this the label "free" or the price

[2020-09-03 10:14] maxvisser commented on #402
#204 relevant

[2020-09-03 12:25] jamalv opened #403 "Visual bug: Euro sign in signupflow goes trough textfield"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Visual bug

<img width="347" alt="Screenshot 2020-09-03 at 14 24 15" src="https://user-images.githubusercontent.com/30194799/92114512-3c223f00-edf1-11ea-85cd-6a8360fb86a4.png">

[2020-09-04 08:20] jamalv commented on #162
Valentin:
Actions (+ if android is ready)

Alex:
- Funds page
- Requester signupflows different filetypes

Yasha (vasily + daniel)
- Show actions demo
- Daniel will make video if possible to demo

Helena:
- Potjeswijzer logo update

[2020-09-04 08:21] maxvisser commented on #162
Gerben:
Geertruidenberg webshop

[2020-09-04 12:05] demylubbers opened #404 "Webshop activation modal: input field creates double numbers NUMPAD"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Demy Lubbers

### Change description
- If I want to enter my activation code using the numbers on the right side of the keyboard. They get filled in with dubbel the digits. Example: Activation code is 1814. Becomes -> 11881144.

[2020-09-04 12:22] linda-90 opened #405 "Improve the titles 'Tegoeden (?)' and 'Reserveringen (?)'"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:

### Change description

Improve the page 'Tegoeden'
- Titles
- Text update

Current situation
<img width="1440" alt="Schermafbeelding 2020-09-04 om 14 08 39" src="https://user-images.githubusercontent.com/36952230/92237809-4ce9b800-eeb8-11ea-8ac5-649bf1d02765.png">

New situation on 'Aanbieders' page
<img width="1437

[2020-09-04 12:44] demylubbers opened #406 "Provider signupflow: Editing an organization"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Demy

### Change description
- Made a typo in the registration form while signing up as a company. For example: incorrect IBAN or email. I want to return to my registration form, but that's not possible.

Solution: Editing button.

[2020-09-04 13:06] demylubbers opened #407 "Provider dashboard funds page: Lost my filter!"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Demy

### Change description
- When I am logged in as a Company and I register for a fund for (example:) 'Gemeente Berkeland', I lose the filter for which 'Gemeente'.
![lost filter](https://user-images.githubusercontent.com/70149827/92242557-40695d80-eec0-11ea-897c-9d9ffd2014df.png)

[2020-09-04 13:21] jamalv opened #408 "Header (desktop); seperator dot bug - hard to reproduce"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
I got it during a demo today 😅 don't know how to reproduce - got it earlier though - when I refresh I still have it. When I open a new tab, it's fine.

Using google chrome.

<img width="496" alt="Screenshot 2020-09-04 at 15 15 38" src="https://user-images.githubusercontent.com/30194799/92

[2020-09-04 13:26] maxvisser commented on #408
https://stackoverflow.com/questions/38363566/trouble-with-utf-8-characters-what-i-see-is-not-what-i-stored

[2020-09-05 08:46] jamalv commented on #405
## Improving the titles
@linda-90 thanks for the CR! I have made a separate proposal in Figma with the change you proposed, from my side this change is ✅ approved: https://www.figma.com/file/4D7DEAkBeKggZsLObCWqX2/Improve-vouchers-page?node-id=0%3A1

Just one question: in the current state there is a #zinnetjeerbij, and in your proposal you removed the zinnetje :P was this on purpose? (I like it b

[2020-09-05 08:47] jamalv commented on #405
@linda-90 could you let us know what you'd like to do with the #zinnetjeerbij?

[2020-09-05 09:52] jamalv commented on #395
@mmjvdlinden, bedankt voor het aanmaken de issue! ik sluit me er volledig bij aan dat dit inderdaad vreemd is en niet aansluit bij de verwachting van de inwoner.

We hebben deze issue met het team besproken en kwamen zoals Max noemt tot de conclusie dat er wat technische uitdagingen zijn omdat het aantal stappen dynamisch is. In het uitgebreidere aanvraag proces van Forus wordt namelijk niet opnie

[2020-09-06 19:48] danrminds commented on #196
@jamalv

#### Discussed with Valentin. To make the scope doable in the time we have, we should make it:
- Show notification to provider that there is an action running and it will stop
- Notify via email (directly) the sponsor
- Notification in dashboard for the sponsor (lower priority)

#### Later we can
- Add this in the digest
- Interface for actions to reactivate

[2020-09-06 19:48] jamalv commented on #196
@danrminds could you create the task(s)?

[2020-09-06 19:49] jamalv commented on #402
@danrminds could you create the task(s)?

[2020-09-06 19:51] danrminds commented on #185
@jamalv

This should be done by Valentin. it will touch a lot of difficult queries on dashboards and webshops.

Let me know on priority

[2020-09-06 19:55] jamalv commented on #160
#402 is needed to allow all providers to be approved for an action (even if it doesn't have a price)

[2020-09-06 19:56] jamalv commented on #160
so after implementing #402 this will not be needed.

[2020-09-06 20:05] danrminds commented on #402
@jamalv Discussed with Valentin. This influences a lot of things, it's a different type of interaction - on the Webshop, me app as well. Let's discuss it tomorrow at the sprint planning together.

[2020-09-07 06:40] maxvisser commented on #406
Proposal to add a sentence 'Do you want to edit this organization you can do this after you succesfully registrerd.

[2020-09-07 06:42] maxvisser commented on #404
Need priority and project label before it can be planned.

[2020-09-07 06:42] maxvisser commented on #407
Needs priority and project label

[2020-09-07 07:03] mmjvdlinden commented on #395
Mooie oplossingen. Beide zijn voor mij acceptabel. Het mooie van B is ook dat je ziet hoever je in een stap zit. Jet volgen van de WCAG richtlijnen lijkt me een vereiste.

Wat betreft de gebruikerstesten deel ik je mening ook. Volgens mij kunnen we hier binnen Nijmegen voldoende aandacht aan besteden.

[2020-09-07 07:03] maxvisser commented on #402
Scope seems Medium

[2020-09-07 07:11] maxvisser commented on #402
As I see the benefit of doing it this way #204 seems a much faster solution. If the user story is "A provider I want to only offer a discount for a product or service" I see adding a overall discount on organization level and a discount on product level as a good solution

[2020-09-07 07:12] #216 closed

[2020-09-07 07:12] #62 closed

[2020-09-07 07:13] #63 closed

[2020-09-07 07:13] #64 closed

[2020-09-07 07:13] #65 closed

[2020-09-07 07:14] #125 closed

[2020-09-07 07:15] #126 closed

[2020-09-07 07:22] maxvisser commented on #160
Ah thats smart. Another option is to bring back an 'accept' button:
Show organization description on sponsor dashboard
show #204 on sponsor dashboard

Requester will go to provider page on webshop. See all discounts and organizational description explaining how their discount works.

If you are accepted: you can scan vouchers but no running actions will appear. We could show in Me-app overall disc

[2020-09-07 07:28] maxvisser commented on #185
@jamalv Because of actions (where no product will appear automatically in the webshop) I see this as less priority. A provider can or cannot decide to apply for a fund which you can define as 'doing a proposal for a specific audience'

[2020-09-07 09:20] maxvisser commented on #196
sponsor 5 euros
25 euros
--
30 euro

[2020-09-07 09:52] maxvisser commented on #172
We make it possible approve a product (create a subsidy) with a 0 contribution; there will be 0 euro transaction. We will not send any of this information to bunq

[2020-09-07 10:28] #341 closed

[2020-09-07 10:38] maxvisser opened #409 "CR: Description steps limit increase"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently the limit is 4000 should increased to atleast 10000

[2020-09-07 12:26] jamalv commented on #375
Separate tasks have to be created be created for this. This issue can be closed when that is done.

[2020-09-07 12:32] jamalv opened #410 "Implement feedback Noordoostpolder webshop"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
https://www.figma.com/file/pUWeZwelwsJK8W58ZGip9r/Webshop-Noordoostpolder?node-id=658%3A88

[2020-09-07 12:32] jamalv commented on #410
@linda-90 please add feedback

[2020-09-07 12:35] linda-90 opened #411 "CR: NOP - Change pin at provider map"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- Change pin at provider map to  > Emmeloord (city)

Figma: https://www.figma.com/file/pUWeZwelwsJK8W58ZGip9r/Webshop%3A-Noordoostpolder?node-id=658%3A88&viewport=76%2C75%2C0.5048359036445618

<img width="686" alt="Schermafbeelding 2020-09-07 om 14 34 19" src="https://user-images.githubuserco

[2020-09-07 12:56] linda-90 opened #412 "CR: Dropshadows below white menu headers."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- headers staging are not equal

<img width="1437" alt="Schermafbeelding 2020-09-07 om 14 38 46" src="https://user-images.githubusercontent.com/36952230/92389715-e5cb3e00-f119-11ea-9049-9df48b11c140.png">
<img width="1437" alt="Schermafbeelding 2020-09-07 om 14 38 29" src="https://user-images

[2020-09-07 13:07] maxvisser commented on #412
This is about the shadow or aswell about the color change?

[2020-09-07 15:10] linda-90 commented on #412
This issue is about the shadow. What color change do you mean?

[2020-09-07 15:47] linda-90 opened #413 "CR | NOP - Improve the hover design of links and buttons on the website"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- Now several hovers are used on the website (staging environment)
<img width="147" alt="Schermafbeelding 2020-09-07 om 15 03 07" src="https://user-images.githubusercontent.com/36952230/92403304-795c3900-f131-11ea-8d3f-a50ff9cfc056.png"><img width="221" alt="Schermafbeelding 2020-09-07 om 14

[2020-09-07 15:56] linda-90 commented on #410
@jamalv @maxvisser
Feedback website design Noordoostpolder:
- https://github.com/teamforus/general/issues/413
- https://github.com/teamforus/general/issues/412
- https://github.com/teamforus/general/issues/411

[2020-09-07 16:14] linda-90 opened #414 "CR: NOP - Change color of labels on product page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- Change the color of the discount and amount labels on product page

<img width="992" alt="Schermafbeelding 2020-09-07 om 17 57 13" src="https://user-images.githubusercontent.com/36952230/92404400-c7723c00-f133-11ea-9fb9-81b2fd44438b.png">

### Tasks

- [ ] Change the color of the red label

[2020-09-07 18:07] maxvisser opened #415 "Validator dashboard: fund request status icons are inside text"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/92410840-c0542980-f145-11ea-8c3a-0dc8bf9c8ab7.png)

[2020-09-08 07:11] maxvisser commented on #412
In figma the navbar is white and on staging it is grey

[2020-09-08 07:11] maxvisser commented on #412
Background color and text color are different:
![image](https://user-images.githubusercontent.com/10818702/92444486-4064a880-f1b3-11ea-9e4b-33239b036927.png)
![image](https://user-images.githubusercontent.com/10818702/92444501-435f9900-f1b3-11ea-8aaf-33bc5d792ae7.png)

[2020-09-08 07:28] maxvisser commented on #412
Adding dropshadows is planned.

[2020-09-08 07:34] maxvisser opened #416 "NOP Webshop: Check FAQ for changes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Dead link in FAQ
![image](https://user-images.githubusercontent.com/10818702/92446641-66d81300-f1b6-11ea-8fda-17d6062b8aa7.png)

## Task
- [ ] change dead link to working one  https://www.noordoostpolder.nl/meedoenpakket
- [ ] add <a href> for links
- [ ] check FAQ for changes
figma.com/file/

[2020-09-08 07:39] maxvisser commented on #410
As feedback issues are now created I will close this one.

[2020-09-08 07:39] #410 closed

[2020-09-08 07:52] maxvisser commented on #401
Needs figma proposal

[2020-09-08 08:00] maxvisser opened #417 "CR: Image cropper and modal improvements"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
https://www.figma.com/file/Cgyc4oG77eT6yH8OQpGktr/Image-cropper-and-modal-improvements?node-id=85%3A127&viewport=519%2C758%2C0.7444210648536682

## Task
- [ ] Style changes to modal

[2020-09-08 08:02] maxvisser commented on #417
Found these modal designs in a old signupflow prototype; they were never implemented

[2020-09-08 08:04] #166 closed

[2020-09-08 08:27] maxvisser opened #418 "Convert youtube links in Markdown editor to iframe"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
There is an extension for the markdown dependency we use to allow youtube iframe to be pasted

https://github.com/zoonru/commonmark-ext-youtube-iframe

[2020-09-08 08:33] maxvisser opened #419 "Markdown editor: allow attributes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Allow image size attributes on markdown:

https://commonmark.thephpleague.com/1.5/extensions/attributes/

Something like should work
[code]

[2020-09-08 11:54] maartenfv opened #420 "CR: Auth pin code should allow pressing enter to continue"
Now I have to click the button with my mouse. I would like to press enter.
![image](https://user-images.githubusercontent.com/10818702/96423422-9b011380-11f9-11eb-80a9-a9d2217f1da6.png)

[2020-09-08 12:04] maartenfv opened #421 "CR: Allow white space around image cropper."
Should allow white space.
Should allow black space.
Optional colour picker.

Needs to allow to zoom out more.

[2020-09-08 12:07] maartenfv opened #422 "CR: Invite to employee 'Glazuur' email instead of e-mail."
During sign up flow, when adding employee, there is a spelling mistake.

![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/b2506e4e-61ac-4b99-b23c-f5c5f9b13816)

[2020-09-08 12:08] maartenfv opened #423 "CR: Test transaction textual change "even kijken of het werkt""
During sign up flow.

[2020-09-08 12:12] maartenfv opened #424 "CR: Inloggen medewerker gemeente gaat ook via huisstijl gemeente"

[2020-09-08 12:29] maartenfv opened #425 "Pauze action instead of removing it from it."
Sometimes a shopkeeper makes a spelling mistake. The Sponsor wants to hide the action from the webshop until the shopkeeper removes the mistake.

[2020-09-08 12:32] maartenfv opened #426 "CR: When action is sold out (reachers 0), keep it visible in the webshop for 2 weeks with the message sold out."
## Description
Actions will go directly out of the webshop. Sponsor would like to keep them for two weeks in the webshop with a sold out message.

[2020-09-09 06:17] maxvisser commented on #424
Could we adjust this CR to english and fill it (whats needed?)

[2020-09-09 06:18] maxvisser commented on #423
Adjust figma page with new texts

[2020-09-09 06:19] maxvisser commented on #425
Whats the expected result of pauzing a action? Whats the difference between canceling and staring a action and pauzing

[2020-09-09 06:20] maxvisser commented on #422
There are multiple places where this mistake are made. Better to try fix all at once.

[2020-09-09 06:31] maxvisser commented on #172
Task is created:
https://github.com/teamforus/forus/issues/1729

[2020-09-09 06:34] maxvisser commented on #245
@jknnr could still sent me the icons?

[2020-09-09 06:34] maxvisser commented on #364
This is done.

[2020-09-09 06:42] maxvisser commented on #378
Currently on develop: part of release v0.15.0

[2020-09-09 06:44] maxvisser commented on #313
@jamalv could you also respond on gerbens risks? How to proceed?

[2020-09-09 06:47] maxvisser commented on #361
@jamalv maybe rewrite current transaction mail + write a new one for actions?

I see this as a must have

[2020-09-09 06:51] maxvisser commented on #224
@maartenfv @linda-90 needs text review

[2020-09-09 06:55] maxvisser commented on #355
I see the change here as add an option to make uploading proof mandatory @jamalv

[2020-09-09 07:02] #76 closed

[2020-09-09 07:03] maxvisser commented on #238
Is on production release with v0.14.0; transactions happened before this release need to be migrated to support these new dates

[2020-09-09 07:05] maxvisser commented on #238
Checked again. Seems to be only in the database still needs to be in export

[2020-09-09 07:09] maxvisser commented on #238
Created a task

[2020-09-09 07:12] maxvisser commented on #49
Lets create seperate CR for footer and product cards. I will close this one and create those

[2020-09-09 07:12] #49 closed

[2020-09-09 07:13] maxvisser opened #427 "Unify Webshop Footer"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently the code of the footer is crazy. Lets unify it and make a design proposal which fits all webshops.

[2020-09-09 07:14] maxvisser opened #428 "CR: Unify and optimize product cards"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Product cards (grid or list) can be much better. This issue is about enhancing these cards.

[2020-09-09 07:14] maxvisser commented on #375
Checked all stuff in this issue; Lets close it.

[2020-09-09 07:14] #375 closed

[2020-09-09 07:18] maxvisser commented on #319
I see alot of these things are fixed but not all. I adjusted the issue to be specific about the timestamps.

[2020-09-09 07:23] maxvisser commented on #319
@jamalv I am confused if I look at figma.. One page has time and dates other has time passed? which one is accurate?

[2020-09-09 07:24] maxvisser opened #429 "Validator dashboard: fund request expand attachments by default"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Expand attachments by default, people don't understand there are attachements

[2020-09-09 07:24] maxvisser commented on #319
Created an issue for expanding attachments by default https://github.com/teamforus/general/issues/429

[2020-09-09 07:37] maxvisser commented on #234
needs text review

[2020-09-09 08:55] jamalv opened #430 "Update and extend testing paths"
### User Story
As a client I want to have testing paths for my requirements so that I can accept the results.

#### Acceptance criteria
There should be testing paths that cover the core [acceptance criteria](https://docs.google.com/document/d/1sp0dghXm_tOEOwDGM_Y8NrZHioGqx27U0b068D0X73o/edit#)

working doc: [internal](https://docs.google.com/document/d/1sp0dghXm_tOEOwDGM_Y8NrZHioGqx27U0b068D0X73o/

[2020-09-09 08:57] maartenfv opened #431 "DOB | How are we going to proceed into 2021?"
We have several current funds. 2021 is coming. How are we going to make the transition smooth for all of our users?

- Sponsors
- Requesters
  - Do they need to sign up again?
- Providers
  - Do they need to sign up again?

Wat are potential risks and considerations? Please list them here!

[2020-09-09 09:07] Myshelova commented on #245
Icons were added to a console

[2020-09-09 09:10] #245 closed

[2020-09-09 11:54] linda-90 opened #432 "CR: NOP | Make logo bigger on homepage"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- Make logo bigger on homepage

Current situation
<img width="877" alt="Schermafbeelding 2020-09-09 om 13 52 44" src="https://user-images.githubusercontent.com/36952230/92594878-c52eef80-f2a3-11ea-981c-d645de7da9fc.png">

Desired situation
<img width="880" alt="Schermafbeelding 2020-09-09 om

[2020-09-09 12:11] jamalv commented on #280
@maartenfv why did you add this to 139? we will not be using this functionality for that project. It still is nice for the client, though :)

[2020-09-09 13:15] maxvisser commented on #432
On smaller screens this will look great but on larger screen maybe a bit weird?
![image](https://user-images.githubusercontent.com/10818702/92603159-46d84a80-f2af-11ea-9594-d8b9c99e6e3d.png)

[2020-09-09 13:18] maxvisser commented on #432
Is this only on homepage or on all pages? What should the size be?

[2020-09-09 13:24] jamalv opened #433 "Validator dashboard - deny all: warning and message"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
On the validator dashboard, when you "deny all" - it denies instantly without any warning and without possiblility to undo. There should be a warning just like when you deny a single record. Also being able to send a message when a municipality denies a request is important for legal reas

[2020-09-09 13:33] maxvisser commented on #433
same with approve all I think

[2020-09-09 14:28] maxvisser commented on #325
stap 1:
- email pagina
Size input field
border radius
textual changes
Vul uw e-mailadres in om een account aan te maken
U kunt tussentijds afbreken en op een ander moment verder gaan.

Stap 1: bevestigen

Text only

Stap 2: login with DigiD

Text only

Overview:
One has criteria other has overview of steps
circles look like inputs

[2020-09-09 14:50] jamalv commented on #300
Even better would be to just add it to your account

[2020-09-09 14:59] #302 closed

[2020-09-09 14:59] jamalv commented on #302
Release notes :D https://github.com/teamforus/forus/releases/tag/v0.14.0

[2020-09-09 15:05] maxvisser opened #434 "Make Fund request auto validation flow generic"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-

[2020-09-09 15:08] maxvisser commented on #297
If  you choose product before uploading CSV you should be able to only upload a BSN

[2020-09-09 15:17] maxvisser commented on #434
Tasks
- make tables possible in markdown
- move checkmark below description

[2020-09-09 15:27] linda-90 commented on #432
@maxvisser I agree it looks a bit weird on larger screens. Would this be a possible solution? The white area with the logo is higher now.
<img width="550" alt="Schermafbeelding 2020-09-09 om 17 23 15" src="https://user-images.githubusercontent.com/36952230/92619065-56608f00-f2c1-11ea-8023-d1bef675bb01.png">

[2020-09-10 07:24] maxvisser commented on #432
As in only on the homepage or all pages? imho it still looks abit weird 😅

[2020-09-10 07:34] maxvisser commented on #432
I think if you make everything slightly bigger It will help aswell
old:
![image](https://user-images.githubusercontent.com/10818702/92694951-0d075280-f348-11ea-875d-c039ef051883.png)

new:
![image](https://user-images.githubusercontent.com/10818702/92694887-f9f48280-f347-11ea-909b-b668cb37584d.png)

[2020-09-10 07:35] maxvisser commented on #432
maybe let an designer check it out? I see the problem mainly as the logo not being completely readible right ?

[2020-09-10 07:40] maxvisser commented on #432
Logo height is btw same as in figma (105px) so there is no difference in sizes between them ;)

[2020-09-10 07:47] maxvisser commented on #432
If I would make a task:
lets change size of logo to 165px height
button text from 16px to 18px
and padding-top/bottom from 12px to 16px

Results in:
![image](https://user-images.githubusercontent.com/10818702/92696732-9881e300-f34a-11ea-977c-83ce5576f325.png)

[2020-09-10 08:05] maxvisser commented on #433
need priority and project label

[2020-09-10 10:29] jamalv commented on #185
@maxvisser i agree with that applying to a fund and then adding it to it entails this action, making this less critical (even though this functionality is still a nice-to have and has been requested by national providers on our platform as well)

[2020-09-10 11:03] #173 closed

[2020-09-10 11:24] maxvisser opened #435 "API: connect to back office (on-premise)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Nijmegen

### Change description
Sponsors often have back office system built by Centric or Pink Roccade.

**Automated checks**
In automated checking there are two steps. First step was DigiD and this is now working properly. The second step is to make it possible to carry out checks with the applicant's BSN.

We wa

[2020-09-10 11:35] jamalv commented on #435
Thx for opening the CR: My initial proposal would be to offer something to the client that they can run on their infrastructure. For example a .NET SDK: we can offer it open source on our github, and they can implement what is relevant to their situation (for example a custom database, pink, centric etc.) - This could fit the situation for multiple clients. We should research a bit what would be t

[2020-09-10 11:35] maxvisser commented on #435
idea:
create api scheme for external api which can be used to built an application which runs on their network. This application will have logic to interpret all applications on their network and answer questions about certain requesters (we will sent BSN and maybe a criteria check to this API and they will answer if the criteria is true, false or unknown.

[2020-09-10 12:13] jamalv commented on #435
Just a bit of brainstorming, but I was thinking of something in this direction:

![Infra](https://user-images.githubusercontent.com/30194799/92727592-a5fd9400-f36f-11ea-90e7-af71a749602f.png)

[2020-09-10 12:20] jamalv commented on #435
I'm very curious if such a connector would be a good idea. Would like to hear what clients and their technical partners would think about this. Some of the reasons I think it could be beneficial:
* Versioning the connector will help with support, documentation, maintainance etc.
* Offering the connector with a clear functional scope, leaves the implementation and integration with existing systems

[2020-09-11 07:21] maxvisser opened #436 "Sponsor dashboard: fund settings product formula should not be changable after fund start"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Product formula is currently a unreleased feature. Would be nice to enable this on production.

What should change is that currently you can aswell add products to the formula after the fund has started. Would be nice this can only be done when you configure the fund and while its still in th

[2020-09-11 07:23] maxvisser commented on #436
I think this is a nice thing to add for project-139

[2020-09-11 07:25] maxvisser commented on #436
Another one to cross of the list of unreleased features 👍
https://github.com/teamforus/itsm/issues/228

[2020-09-11 07:39] maxvisser opened #437 "Create funds as a sponsor (with an implementation)"
## Description

All sponsor who had an implementation with Forus still need to contact Forus again for creating new funds. A sponsor who has an implementation is familiar with the system and need less training/implementation than a completely new user.

## Desired result
If a implementation (a webshop) is configured by Forus, funds created by implementation owner will be automatically added to its

[2020-09-11 07:47] maxvisser opened #438 "Fund criteria: time since last validation, deny request if older than an configured time (days, months, years)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Max Visser

### Change description
Currently kindpakket_eligible approved by Zuidhorn from 2018 would still be trusted as right information. It would be nice to add to the criteria a time based limitation.

Example:
children_nth > 0
trusted validators
Sponsor organization
External validator

If requester applies his

[2020-09-11 07:47] maxvisser commented on #438
Needs priority and project.

[2020-09-11 08:41] maxvisser opened #439 "Productvouchers activated by form should sent different mail"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

Three use cases for this mail:
- product voucher sending to mail address
- product voucher generator assigning to mail address
- activating voucher after applying for it on webshop

Current mail being sent is the one which user gets while reserving product in webshop
![image](https://user-im

[2020-09-11 08:42] maxvisser commented on #439
@linda-90 Product voucher generator verstuurd nu geen mail (bij Nienoord hadden anders mensen 5 mails gehad) Willen we voor Busregeling wel een mail sturen?

@jamalv Maybe its better to make a 'digest' for retrieving vouchers/qr-codes by mail

[2020-09-11 09:02] maxvisser commented on #427
If scope of footer stays the same. I see the scope as small. Could be an implemention horror story as some footers differ.

[2020-09-11 09:02] maxvisser commented on #427
Needs project label and priority @jamalv

[2020-09-11 12:45] maartenfv commented on #431
This issue was discussed during retro. @jamalv are there more issues we can add to this epic?

[2020-09-11 13:09] maxvisser commented on #110
https://github.com/teamforus/general/issues/205 seems to be a duplicate

[2020-09-11 13:10] #110 closed

[2020-09-14 07:41] maxvisser opened #442 "Fund with only a product formula gives should not generate a 0 euro voucher."
@maxvisser commented on [Fri Sep 11 2020](https://github.com/teamforus/forus/issues/1759)

## Main asssignee: @

## Context/goal:
A fund with only a product formula should be able to be activated. User should get only the product voucher.

---

@maxvisser commented on [Fri Sep 11 2020](https://github.com/teamforus/forus/issues/1759#issuecomment-690956151)

Not sure if this worked in the past (if t

[2020-09-14 09:02] jamalv opened #443 "Acceptance test: proof of concept"
## Goal
The goal of this task is to define how we want to test with Groningen by first doing the full test cycle with as small a scope as possible, before we start testing the full PVE.

## Definition of done
- [x] Internal acceptance of method of testing for the proof of concept & the other criteria can be tested in the same way.

All the criteria can be found here: https://docs.google.com/docume

[2020-09-14 09:43] jamalv commented on #372
https://www.figma.com/file/IQ6oy8Up7rBcANPACCydyG?node-id=481:19883#40567985

[2020-09-14 09:44] jamalv commented on #372
☝️ @maxvisser

[2020-09-14 09:46] GerbenBosschieter commented on #412
<img width="1014" alt="Screen Shot 2020-09-14 at 11 45 58" src="https://user-images.githubusercontent.com/38419514/93071083-efa3f280-f67f-11ea-8f30-4c726eb04c6a.png">

[2020-09-14 09:47] GerbenBosschieter commented on #412
There are two issues about this So screens hotted my comment in this one

[2020-09-14 10:00] maxvisser commented on #372
This image needs to be edited first. As not on all screens it will look the same.

[2020-09-14 10:01] maxvisser commented on #412
Did you already ask @linda-90 (or lets wait until shes back from holiday) put the task on hold.

[2020-09-14 10:10] GerbenBosschieter commented on #412
@linda-90 are you sure that Figma is leading?
As you can see, the image below has different dropshadows on different pages

<img width="1250" alt="Screen Shot 2020-09-14 at 12 07 45" src="https://user-images.githubusercontent.com/38419514/93073391-26c7d300-f683-11ea-865b-298118d677a3.png">

[2020-09-14 10:25] maxvisser commented on #372
![image](https://user-images.githubusercontent.com/10818702/93074906-4f50cc80-f685-11ea-970a-6c776930d570.png)
Seems to be less of an issue then I thought.

[2020-09-14 11:22] jamalv commented on #443
We will fill the test scenario's in english and translate the bullets

[2020-09-14 11:25] maartenfv commented on #443
https://github.com/teamforus/implementation/issues/302

[2020-09-14 11:29] maxvisser commented on #443
https://github.com/teamforus/development/blob/master/.github/ISSUE_TEMPLATE/test-scenario---3---sign-up-flow-provider---url-filter.md

[2020-09-14 13:34] GerbenBosschieter commented on #295
Why is this scope big? Just start figma designing on 1024

[2020-09-14 13:43] maxvisser commented on #295
Its my task to esitmate scope if its just starting new templates based on 1024 I see no problem. But maybe its a bit weird that some pages are 1024 and some are bigger.

[2020-09-14 13:59] maxvisser commented on #372
I only looked on the smalest resolution. My first instinct thought it was a bad image. After checking it seemed fine. Now after some screenshot of @GerbenBosschieter; Image needs to be changed alot. I would prefer to only start changing / designing images after stakeholder approval

@jamalv I will put this one on hold for now.

[2020-09-14 14:17] maxvisser commented on #340
a bug on email settings should be fixed before releasing on 12 oct.

[2020-09-14 14:20] jamalv commented on #373
@maxvisser could this be planned?

[2020-09-14 14:28] jamalv opened #444 "Acceptance test: Create epics and issues"
- [x] Create issues based on the tests

[2020-09-15 07:01] maxvisser opened #445 "CR: Webshop - remove "Hoe het werkt" below header description"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Geertruidenberg

### Change description
I don't think such a button really fits there if there is a menu at the top of the page.
The button 'how it works' and 'explanation' in the menu link to the same page.

I would delete "How It Works".

[2020-09-15 08:15] jamalv commented on #433
@maxvisser, [link](https://docs.google.com/document/d/14n3u-d9oc3e3YRdS3H09OAR73TLiQBaMZuoiosmzwjA/edit) to our brainstorm

[2020-09-15 08:32] linda-90 commented on #439
@maxvisser Door de mail weten ze dat ze een busregeling voucher hebben gekregen toch? Anders moet er een bericht buiten het systeem om worden verstuurd? Ik zal een tekst opstellen!

[2020-09-15 08:48] jamalv commented on #381
@maxvisser could you already create the tasks for this epic?

[2020-09-15 08:58] jamalv commented on #372
I made a separate file and added it to proposals here: https://www.figma.com/file/ZfbRjhV8Cd1W83Kvnw7gx0/Potjeswijzer%3A-Header-Photo?node-id=0%3A1

[2020-09-15 09:48] SjoerdHilhorst opened #446 "GRO | Acceptatieprocedure"
- Opstellen testpaden en invoeren van eisen in testtool @SjoerdHilhorst
- Testpaden en versie delen met de gemeente @maartenfv
- Data inplannen voor testmomenten. @maartenfv
- Testpaden samen doorlopen, check voldoen aan eis en bevindingen vastleggen. @SjoerdHilhorst @maartenfv
- Rapportages met bevindingen delen met de gemeente. @SjoerdHilhorst @maartenfv
- Werkzaamheden om bevindingen op te loss

[2020-09-15 09:55] maxvisser commented on #381
I can for the research task for dev-rminds. But before starting research I would first create a task to find API documentation and SDK (where to get the PHP SDK; is there one?).

[2020-09-15 09:57] maxvisser commented on #380
I will close this issue as one Epic is enough

[2020-09-15 09:57] #380 closed

[2020-09-15 09:59] maxvisser commented on #381
Created a task for this

[2020-09-15 11:14] jamalv commented on #381
When looking for documentation I think we have to search for "XS2A (Access to accounts) Interface" the BNG docs can be found over at, maybe there are other docs as well: https://api.xs2a.bngbank.nl/developer-portal/service-documentation/payment-initiation-service#initiatepayment

I'm not sure if there is any SDK. I think @SjoerdHilhorst, you spent a bit of time recently looking in to this? Did you

[2020-09-15 11:34] maxvisser commented on #381
When is deadline for research; my proposal is to start on this after all other must haves are done. Whats priority in contrast to other must haves? As in do we plan this before #359 for example or before should haves from implementation which go live on 1 oct / 1 nov

[2020-09-15 11:46] jamalv commented on #381
Yes, those must-haves have priority over this one. But, by doing research (2 days for example) will help us with sprintplanning for the rest of the year earlier on, so the sooner we can plan that in a sprint, the better off course. But we first need to make sure the 1 oct / 1 nov implementations will go well.

[2020-09-15 11:59] jamalv opened #447 "POT | Redirect to funds page after login"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
User testing: "Na het inloggen kom je direct op de pagina aanvragen kindpakket, dat is vreemd want niet iedereen heeft een kindpakket nodig, of wil een kindpakket aanvragen."

### Change description
As a user I would like to be redirected to the "potjes" pagina after login, instead of starting an application for the f

[2020-09-15 12:03] jamalv opened #448 "Singulair sign-in / up"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
* Potjeswijzer usertesting (video recordings and feedback)
* Groningen explains that multiple options cause many questions in the current situation

### Change description
As a requester I would like one single "Aanmelden" button to log in to the website. If i’m new; I want to go to the signupflow / sign up page; if i

[2020-09-15 12:06] maxvisser commented on #381
Ok! We want to do this one this year? This is a really big scope; probably takes multiple sprint; (I would plan this for Q1 next year and first focus on #431 and maybe aswell fix some other big transaction issues #239)

If you ask me to estimate it I think it would take more then 2 days to setup the API without SDK; we could ask @dev-rminds / @danrminds for an estimate. As we don't really have yet

[2020-09-15 12:07] maxvisser commented on #448
Duplicate?
https://github.com/teamforus/general/issues/339

[2020-09-15 12:08] maxvisser commented on #448
second remarks seems to be #258

[2020-09-15 12:09] maxvisser commented on #448
I will close this one; If you think this should be reopened; pleae do.

[2020-09-15 12:10] maxvisser commented on #447
This will be the case for all implementations aswell for Nijmegen / Groningen. This cannot be done for a specific implementation; I would propose to finish the new requesting page and just start with implementing it better in the workflow.

[2020-09-15 12:11] jamalv commented on #448
nope that one is about merging the signupflows, this one is about making one button and doing the redirects

[2020-09-15 12:12] maxvisser commented on #447
I am not sure but you currently get redirected to vouchers page which is empty?

[2020-09-15 12:13] maxvisser commented on #448
#258 ?

[2020-09-15 12:13] maxvisser commented on #448
Ah I think I understand what you mean.

[2020-09-15 12:15] maxvisser commented on #448
Adjusted the title.

[2020-09-15 12:15] jamalv commented on #448
Thx :) added figma as well

[2020-09-15 12:17] jamalv commented on #448
Suggestion: one button:
* New identity: goes to funds page
* Identity with vouchers: goes to voucher page
* Identity with organisation: show popup to go to sponsor / provider / or validator dashboard

![image](https://user-images.githubusercontent.com/30194799/93209166-fdc84080-f75d-11ea-93b0-a446783d546c.png)

[2020-09-15 12:21] jamalv commented on #447
I added the original remark from usertesting to the CR

[2020-09-15 12:25] jamalv commented on #447
Usertesting right now is a bit messed up because of this configuration:

## Current userflow:

* user logs in
* user goes into the signupflow for the first fund
* user thinks "I don't need this kindpakket fund"

## Proposed userflow:

* User logs in
* User lands on funds page
* User thinks, oh nice all these, I will apply for the ones I need :)

[2020-09-15 12:25] maxvisser commented on #448
Just to identify the risK:
we loose the ability to check if someone really wants to signup or tries to login on a existing account.
A problem with it is that someone who thinks he used a certain mailadres can get stuck; we already have some providers which try login on me-app with a mailadres they didnt use to signup their organization. (we already have some support calls where this happens with p

[2020-09-15 12:25] jamalv commented on #447
For potjeswijzer this is a must-have since otherwise it is not really usable

[2020-09-15 12:27] jamalv commented on #447
nope, you get redirected to the first fund

[2020-09-15 12:29] jamalv commented on #447
would it be possible to do this with a flag? since potjeswijzer is the only implementation that has the funds page turned on; "if the fund page is turned on, redirect to the fund page after signup"

[2020-09-15 12:29] maxvisser commented on #447
Ah user is already on signupflow of kindpakket when they press 'start aanvraag'

[2020-09-15 12:31] maxvisser commented on #447
I would just finish the funds page before 1st of januari and implement all flows into the signupflows of requester. (get rid of flags) currently we already have three flags on the button:
- activation code flag
- DigiD flag to first fund
- Digid flag + automatic validation to fund with automatic validation

Adding more to the list is something we could do but I rather decrease it then pile on.

[2020-09-15 12:32] jamalv commented on #447
Understood but I would like this to be fixed for the next round of usertesting, as it gives a very wrong impression of the website to the testers. After finishing the funds page we can still get rid of the flag.

[2020-09-15 12:33] jamalv commented on #447
Could this be planned?

[2020-09-15 12:35] jamalv commented on #448
I like that suggestion, might also be nice for the me app :)

[2020-09-15 12:37] maxvisser commented on #447
So we will fix the whole thing before next user testing? When is this?

[2020-09-15 12:43] jamalv commented on #325
@maxvisser I believe your are now reviewing this :)

[2020-09-15 12:51] jamalv commented on #361
Yes agreed this is a Must-Have, what do you need from me? Text suggestion:

## Financieel fonds
Er is een bedrag van uw :fund_name-tegoed afgeschreven
Er is met uw tegoed een aankoop gedaan. Hierdoor is er een bedrag afgeschreven.
Het huidige bedrag van uw \':fund_name\'-tegoed is €:current_budget

## Acties fonds
U heeft gebruik gemaakt van een actie met uw :fund_name-tegoed.
Uw resterende tegoed

[2020-09-15 12:53] maxvisser commented on #325
The flow is still in prototypes right? Not all checkmarks have been set to start development. I already planned some smaller stuff to already start on this (before approval). We should still make task for alot of smaller stuff. I am currently testing #150 not this one.

[2020-09-15 13:10] jamalv opened #449 "Video in markdown editor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Potjeswijzer & Groningen

### Change description
As an implementation owner I would like to add a video to the homepage (CMS - Markdown?)

@maxvisser I think you were looking into a dependancy for this? I could't find the issue for that.

[2020-09-15 13:24] jamalv commented on #266
@maxvisser do you expect anything from me in this?

[2020-09-15 13:28] jamalv commented on #319
@maxvisser I have no strong preference here; time passed would be nice if it is not to big of a scope. Otherwise a simple timestamp will do.

I think the figma proposal still needs design review though.

[2020-09-15 13:31] jamalv commented on #338
Okay, agreed that it can be in the footer to fit the requirement of adding it to the homepage. And then I would also utilize the "uitleg" page for this, as that would make sense for a provider as well.

And then I think we have to also check with usertesting if this is suffcient; If we give a provider the task "sign up for this website" from the homepage.

[2020-09-15 13:33] #338 closed

[2020-09-15 13:55] jamalv commented on #447
I just got an email a few minutes ago that the next round of testing is planned for friday. 😳

Of course user testing is done from dev, so if changing this redirect for Potjeswijzer specifically is possible before friday, the impact on the tests would really be very high (you will understand if you watch the video's / read the reports :))

[2020-09-15 14:01] jamalv opened #450 "POT | Update testing demo content"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Right now the funds that are connected to the products don't really make much sense (only yoga lessons have a bunch of funds you can use, for example). Adding a few more products (swimming lessons, for example) and connecting the funds in a logical manner, will have a high impact on the w

[2020-09-15 14:07] jamalv commented on #449
ah, found it, nevermind :) https://github.com/teamforus/general/issues/418

[2020-09-15 14:07] #449 closed

[2020-09-15 14:07] jamalv commented on #418
This is also relevant for potjeswijzer, they would like to add a video to the homepage.

[2020-09-15 14:43] jamalv opened #451 "renewal"

[2020-09-15 14:44] jamalv commented on #451
mistake :)

[2020-09-15 14:44] #451 closed

[2020-09-15 14:48] jamalv commented on #431
Yes, very important issue, It is a very big one but I think with a very high priority. We have a lot of new users in 2020 and a lot of existing users. In order to do this well with support and quality assurance, this is indeed a must-have.

I would say we need to dedicate at least 1 development sprint in q4 to this, and I think this issue is a very important one: https://github.com/teamforus/gener

[2020-09-16 07:07] maxvisser commented on #304
Probably should create two exports as you probably don't want to mix assigned / unassigned voucher in the export. This probably makes it more difficult for the guy who creates the letters with QR-codes.

[2020-09-16 07:07] maxvisser commented on #304
Currently only unassigned vouchers are in the export

[2020-09-16 07:48] admin-forus commented on #325
https://forus.testquality.com requirement [R5](https://forus.testquality.com/project/11140/testcase/255430/requirement/10813). Do not remove or edit.

[2020-09-16 07:49] admin-forus commented on #150
https://forus.testquality.com requirement [R6](https://forus.testquality.com/project/11140/testcase/255434/requirement/10814). Do not remove or edit.

[2020-09-16 07:50] admin-forus commented on #150
https://forus.testquality.com requirement [R7](https://forus.testquality.com/project/11140/testcase/255433/requirement/10815). Do not remove or edit.

[2020-09-16 12:39] maartenfv opened #452 "Me app record validation history overview."
As a validator I would like to have a history in the Me app of all the validations I have done.

Currently, the receiver of the validation can see who validated their record.

But as the validator, I can not see who I have validated.

I would like to have a history of all the validations I have done in a nice overview.

With the date and time of the validation, the record that was validated.

I wo

[2020-09-16 12:42] maxvisser commented on #452
Currently there is no view, not even on dashboard. Only fund requests currently on dashboard

[2020-09-16 12:42] maxvisser commented on #452
Needs priority and project label

[2020-09-16 12:53] maxvisser commented on #443
added D1 to testquality

Project: Testing
Test plan: Acceptance testing
Test plan run: Release vX.X.X
![image](https://user-images.githubusercontent.com/10818702/93339776-451d0280-f82c-11ea-8fa2-b6d8f116e15f.png)

Test plan bestaat uit test 'suites' -> flows/scenario's in applicatie
die wellicht op verschillende manieren kunt bereiken (happy flows, alternative paths etc)
![image](https://user-imag

[2020-09-16 12:54] maxvisser commented on #443
Opsplitsen van bepaalde test casuses kan helpen met reusability van de steps. Bijv login kun je dan aan meerde suites toevoegen.

[2020-09-16 12:54] maxvisser commented on #443
Requirements moeten issues zijn dus ik heb een testing repo aangemaakt en issues daarin gezet voor de drie requirements.

[2020-09-16 12:57] maxvisser commented on #372
![image](https://user-images.githubusercontent.com/10818702/93340342-fde34180-f82c-11ea-91e8-f05c28ec624d.png)

[2020-09-16 12:58] maxvisser commented on #372
Cropped out this girl; gerben will add it to code.

[2020-09-16 12:58] jamalv commented on #452
currently not in scope for a project

[2020-09-16 13:01] jamalv commented on #443
@maxvisser let's go trough the testpath once together?

[2020-09-16 14:00] jamalv commented on #447
That would be nice :)

[2020-09-16 14:04] jamalv commented on #447
so than the flow would be; click 'aanvragen' > go to funds page > choose a fund > sign up ; that would be a fix IMO

btw; originally I meant it as click 'aanvragen' > log in > get redirected to funds page when you are logged in > pick a fund to apply to, but if the option above is an easier fix, that would be nice aswell :)

[2020-09-16 15:01] jamalv opened #453 "Requester sign-upflow: Default text label is missing."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
This textbox should show the correct text
<img width="785" alt="Screenshot 2020-09-16 at 17 00 21" src="https://user-images.githubusercontent.com/30194799/93355334-3a6b6900-f83e-11ea-82f2-bd87a1f05ab2.png">

[2020-09-17 07:17] maxvisser opened #454 "Actions voucher: transaction mail"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

Create a new transaction mail for actions

Subject of mail: U heeft gebruik gemaakt van een actie met uw :fund_name-tegoed.
H1: U heeft gebruik gemaakt van een actie met uw :fund_name-tegoed.

Text for mail:
U heeft gebruik gemaakt van een actie met uw :fund_name-tegoed.
Uw resterende tegoed

[2020-09-17 07:19] maxvisser commented on #361
Created a new issue for actions voucher transaction mail.

[2020-09-17 07:22] maxvisser commented on #454
Needs figma proposal

[2020-09-17 07:30] maxvisser commented on #443
Went through one with Jamal decided to go ahead with Sjoerd his setup. We can export all test cases from this project and reuse them later.

[2020-09-17 07:34] maxvisser commented on #428
needs priority label and project.

[2020-09-17 07:36] maxvisser commented on #266
needs figma proposal (where can sponsor turn off requester signupflow)
As you should still be able to 'apply' by activating by DigiD or Activation code we should see how the form shows this to the user. Probably aswell a good idea to add this to figma.

Questions I have:
Does the edit fund page change
Does the DigiD step change?

[2020-09-17 08:48] maartenfv commented on #290
This comes up again in Potjeswijzer. We are putting a lot of time in communicating this issue regarding the header. Would be best to be able to give the option to chose the header back to the municipality.

Currently, a lot of people on the team are working on the header photo. We would be able to delegate this to the municipalities themselves.

@maxvisser What would exactly be needed to fix the s

[2020-09-17 08:49] maartenfv commented on #290
@jamalv based on our experiences during Potjeswijzer should we place this higher on the Backlog? I think it would save us a lot of time?

[2020-09-17 08:50] maartenfv commented on #290
@maxvisser maybe we can ask @danrminds to give an estimation?

[2020-09-17 10:50] maartenfv opened #455 "PSD | 90 days renewal of permission to use banking API"
ING describes it pretty well (Dutch): https://www.ing.nl/particulier/digitaal-bankieren/psd2/zo-werkt-toestemming-geven.html

We need to provide the functionality to allow sponsors to give permission every 90 days to us for using the banking API.

**requirements**
- Pop-up (every 90 days) on the provider dashboard that states that you need to renew the permission. (only for an employee that has th

[2020-09-17 11:23] maxvisser commented on #455
Questions I have:
What is the question on the popup?
What happens after the 90 days?
Is it 'tot' or 'tot en met' -> 90 x 24h or 89x24h
- What is the first date between each 90 days when the permission can be granted? Example: sponsor employee gives permission on 1 of jan until 30th of march. Can he again give permission on the 2nd of januari to extend the authorization to 31th of march?
  - if yes

[2020-09-17 11:24] maxvisser commented on #455
Needs figma proposal and relevant legal documents.

[2020-09-17 12:39] maxvisser commented on #290
As the scope is medium / large. I would first fix all must haves for running project before starting on new stuff.

[2020-09-17 12:43] maxvisser commented on #170
I think these are done and this issue can be closed @linda-90

[2020-09-17 12:46] maxvisser commented on #314
Currently in release v0.15.0

[2020-09-17 12:46] #264 closed

[2020-09-17 12:47] maxvisser commented on #264
This is released to production

[2020-09-17 12:47] maxvisser commented on #318
This is released to production

[2020-09-17 12:47] #318 closed

[2020-09-17 12:49] maxvisser commented on #371
A new logo is on test.potjeswijzer.nl; As I see there is already lot of time being tracked on the logo. Whats our DoD on this?

[2020-09-17 12:50] maxvisser commented on #46
Final implementation will be in release v0.15.0; released on monday

[2020-09-17 12:51] maxvisser commented on #346
A decision needs to be maded on which route to go. After choosing lets plan this issue as it is a Must have.

[2020-09-17 12:52] maxvisser commented on #346
Also DigiD and E-mail configuration are still unreleased features. We should see how we can release those aswell and not make the same mistakes here (why those are not released yet)

[2020-09-17 12:53] maxvisser commented on #377
I will close this one in favor of #359

[2020-09-17 12:53] #377 closed

[2020-09-17 12:55] maxvisser commented on #359
This needs to be reviewed. As currently this is already done but when a user already has a BSN number assigned. In requester signupflow there is no way to retrieve new prevalidations

[2020-09-17 12:56] maxvisser commented on #359
@jamalv Maybe lets do a quick refinement session about this; I will plan it in agenda.

[2020-09-17 13:00] maxvisser commented on #450
@jamalv Do you still need help with this?

[2020-09-17 13:02] maxvisser commented on #430
Maybe close this one in favor all the issues in implementation?

[2020-09-17 13:06] maxvisser commented on #432
Gerben fixed this by moving the logo to the right and making it bigger.

[2020-09-17 13:13] jamalv commented on #450
nope; got the help I needed! thx! maybe help with a small checkup? all the polishing we can do is nice, but already this is a big improvement :D

[2020-09-17 13:13] #450 closed

[2020-09-18 07:39] maxvisser commented on #162
# Sprint demo 18-09-2020

## Valentin
Adding a relation
Disabling a product
Adding a product without a price
Creating a action without subsidizing
Formula to increase limit -> show increased number on product details

## Alex
Price changes (when a provider wants to change a price while action is running)
upload different filetypes

## Gerben
Geertruidenberg webshop

## Max
Potjeswijzer header etc

[2020-09-18 10:07] #444 closed

[2020-09-18 13:40] maartenfv opened #456 "Our website still says we are using rocket chat (should be discord)"
![image](https://user-images.githubusercontent.com/30211022/93604081-33229780-f9c5-11ea-98ac-1bf454ee51b4.png)

[2020-09-18 15:15] maxvisser commented on #456
probably should take it down aswell. and message people

[2020-09-21 06:44] maxvisser opened #457 "Support dashboard: Implementation backend & frontend repositories"
## Description

@maxvisser commented on [Thu Dec 13 2018](https://github.com/teamforus/lab/issues/26)

Idea is to create a specific backend for forus for the roles we fulfill as administrators, implementators and support.

I made implementation private as we did not use it for anything the last few months. I want to use this repository to make user stories of stuff we want to be able to do with th

[2020-09-21 06:46] maxvisser commented on #267
needs project label

[2020-09-21 06:48] maxvisser commented on #71
We decided to make the first page of the signupflow the landing page after implementing #379

[2020-09-21 06:49] maxvisser commented on #71
@jamalv Could this issue get a project? I think it is usefull for multiple projects

[2020-09-21 06:58] maxvisser commented on #291
As this probably is mostly not feasible because of security; I would like to propose a solution:

On paper vouchers print a human readible number for example 8 digits: 0000 0000
Generate a CVC (4-digits) which is not printed.
- CVC is shown on webpage of voucher and in Me-app.

Provider will fill in 8 digit number and CVC on their dashboard.
Requester has the ability to change CVC (regenerate a ne

[2020-09-21 07:06] maxvisser commented on #145
Currently it creates a new voucher instead of topping up the old one.

[2020-09-21 07:20] jamalv commented on #291
Thx for the input! I think for this issue it is also very important to ask **why** this functionality is requested (should be added to this CR if there's other cases). Because I am also curious about the direction of "direct" payments by the requester. For example directly from the webshop.

Scenario:

Provider does not have/want a phone, or is not physically near the requester
Requester chooses o

[2020-09-21 07:59] jamalv commented on #454
Figma proposal:

https://www.figma.com/file/2psjQ1NX4oFj7W3eZXMF40/Actions-voucher-transaction-mail?node-id=1%3A107

[2020-09-21 08:13] maartenfv commented on #456
@maxvisser we can start here right?

[2020-09-21 08:49] maxvisser commented on #120
I think this would be a great first step for implementing this feature #136

[2020-09-21 08:52] maxvisser commented on #291
That one is much bigger but yes would also be a solution :) Probably move your scenario to the right issue. https://github.com/teamforus/general/issues/120

I think its still nice if you only have a physical card/paper voucher and walk into a store you don't need to go home to go to the webshop to perform a transaction first.

[2020-09-21 11:11] jamalv opened #458 "wcag"

[2020-09-21 11:11] jamalv opened #459 "WCAG.nl quick scan: fix errors"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Law 👨‍⚖️ (And therefore all our clients)

### Change description
Currently we are showing up with some faults at https://wcag.nl/quickscan/h5yQqZh1bQtWpu8HCwTV

This issue is about solving the error's that are given

- [x] Run https://wcag.nl/ quickscan on https://groningen.staging.forus.io/
- [x] Create dev issues fo

[2020-09-21 11:11] #458 closed

[2020-09-21 11:22] maxvisser commented on #182
This is in release v0.15.0

[2020-09-21 11:48] maxvisser commented on #459
Sommige best practices zou je de opbouw van de html moeten veranderen bijv het toepassen van H1, H2, H3 en/of paragraven. Maar ook bijv. <header> <footer> tags gebruiken.

Hoe ver willen we gaan met deze issue? Ik heb drie naar mijn inziens eenvoudige 'quickfixes' aangemaakt.

[2020-09-21 12:14] maxvisser commented on #459
Can we define the scope of this issue; Do you want to resolve all issues (even the remarks?)

[2020-09-21 12:15] maxvisser commented on #298
Currently planned for design

[2020-09-21 12:26] jamalv commented on #459
Ah okay, I see the result has 3 categories:

Errors, Attention Points, and Best Practices.

For the initial scope I would like the errors to be fixed at least (following the definition of done) - If we are unable to fix the errors we need an explanation of why this is impossible right now, and a plan/timeline of how we will fix it.

[2020-09-21 12:31] maxvisser commented on #454
@maartenfv @linda-90 could you do a text review on proposal?

[2020-09-21 12:34] maxvisser commented on #443
@maartenfv Was the report created?
@jamalv Did you check the setup with Bas?

[2020-09-21 12:34] maxvisser commented on #359
@danrminds  is in the loop on this issue.

[2020-09-21 12:35] maxvisser commented on #453
Merged with develop. Probably will be released in v0.16.0 planed on 12 oktober.

[2020-09-21 12:38] maxvisser commented on #266
Discussed this one with @danrminds he will check create a proposal for fund settings.

[2020-09-21 12:40] maxvisser commented on #448
Added some blocking issues to this one

[2020-09-21 12:43] maxvisser commented on #447
Fixed this for the demo. A real task should be created to do this correctly.

[2020-09-21 12:44] jamalv commented on #266
Ah, nice, closed this by accident trough zenhub :)

I did create an (empty) figma file for it: https://www.figma.com/file/jwFaeDJ09fNdym7rJGHcBF/Disable-requesting-fund-via-signupflow?node-id=0%3A1

[2020-09-21 12:51] maxvisser commented on #459
I think with the current quickfixes we should fix the errors atleast. 👍 Let wait until these are done and do a rescan.

[2020-09-21 12:59] jamalv commented on #424
plan is to solve this with this CR: https://github.com/teamforus/general/issues/379 (and directly link from the footer to the signup page, with the sign in button

[2020-09-21 12:59] #424 closed

[2020-09-21 13:02] jamalv commented on #420
@maxvisser small but nice, was requested by Bas (project leader groningen :)) - can this be planned?

[2020-09-21 13:06] jamalv commented on #207
@maxvisser It's a very nice UX upgrade for existing users I think. Giving this a should-have & it's not on hold. Would be nice to get an estimation. If the scope is acceptable I will grant approval :)

[2020-09-21 13:11] maxvisser opened #460 "Visually hide controls of approving/denying single records"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Hide individual record approve and deny buttons
- hide them visually by hiding them behind three dots (choice is less likely to be made)

Clarification request will be used much more. Should stay visible

[2020-09-21 13:14] maxvisser commented on #433
Created a task

[2020-09-21 13:15] maxvisser opened #461 "Clarification request, when not signed in show modal or page login which redirects user back to clarification request"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-

[2020-09-21 13:15] maxvisser opened #465 "Clarification request, when not signed in show modal or page login which redirects user back to clarification request"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently a JS error popups which tells user he is not signed in (and needs to be). This is not a nice interaction. It would be much better to show a page or popup modal to let user login (with me-app or email).

If e-mail is used it would be really nice to remember context of which clarifica

[2020-09-21 13:25] maxvisser opened #462 "Validator dashboard: changing potential errors in records of fund request / clarification request"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently a requester when filled in wrong data on the form needs to re apply for the fund to adjust any data sent to validator. This can result in alot of work for requester and validator

A Could have could be to do any of these two options:
Option 1: Requester can edit record (clarificatio

[2020-09-21 13:30] maxvisser commented on #329
Seems to be a duplicate of https://github.com/teamforus/general/issues/319

[2020-09-21 13:30] #329 closed

[2020-09-21 13:31] maxvisser commented on #319
This is a duplicate of https://github.com/teamforus/general/issues/319

[2020-09-21 13:32] maxvisser commented on #445
This would be removed from all webshops.

[2020-09-21 14:01] maxvisser commented on #207
added an hour estimation 40h app development (both platforms) 8h design 2h backend

Probably needs a different project though as we did something different for project-100

[2020-09-21 14:04] maxvisser commented on #420
Probably Valentin would do this on reusable way. Maybe aswell adding 'enter' in the button?

[2020-09-21 14:06] maxvisser commented on #420
I remember we even had button designed with this feature in mind.

[2020-09-21 14:12] maxvisser commented on #420
I think Valentin would not allow me to create a task to fix this on this specific modal. He probably would create a module which can be implemented on multiple modals and cases where submit can be trigger by pressing enter. I will estimate it on 10/12 hours.

[2020-09-22 06:37] maxvisser opened #463 "Funds page: status of fund request"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
For the requester there is currently no way to see  the status of their fund request on fund list. It would be a nice feature to show the status with a status label.

[2020-09-22 06:38] maxvisser opened #464 "Funds page: see open clarification request"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently the only way to get to the clarification request is via a e-mail. It would be a really nice feature to see all open clarification requests on the funds page.

I would propose to start with showing only active clarification request by changing the button from 'aanvragen' to 'Aanvraag

[2020-09-22 07:35] jamalv commented on #443
@maartenfv let's go trough this one together, in preparation for the testing with Groningen. Then we can also decide how(/if) we'd like to go trough this with bas before the testing moment itself.

[2020-09-22 09:01] GerbenBosschieter commented on #459
@maxvisser @jamalv exactly. We are going to heck how far we can get with easy fixes to pass the scan

[2020-09-22 09:41] maxvisser commented on #359
Did a brainstorm session with jamal and created a figma prototype for this issue. It contains some other CR aswell #370 #448 #434 #266 https://github.com/teamforus/general/issues/300

[2020-09-22 14:25] maxvisser commented on #401
added a text to image uploader in actions branch.

[2020-09-22 14:29] GerbenBosschieter commented on #459
**Status and updates**
- The quickscan of https://wcag.nl/quickscan/3rkMvlTDufOSG1dTxAKW is reduced from 6 to 1 error.
- We have a new quickscan that is trusted by a lot of parties and the website itself also provides webshops with certifications. Also gives pretty good result: https://zelfscantoegankelijkheid.thuiswinkel.org/check_result_cpt/https-dev-forus-io-groningen/
- Lighthouse (google deve

[2020-09-22 16:18] danrminds commented on #366
@jamalv I see there are filters on the Figma link you sent. Is anything else left now?

[2020-09-22 17:27] jamalv commented on #366
I think it is good like this, it is already in pull requests. @maxvisser, what's the dev status of this? Will it be included in v0.15? - I think it can be merged into the design library.

[2020-09-22 17:31] maxvisser commented on #366
There is still a bug in the filter I noticed. Will create an issue for it. Yes it will be included for release v0.15.0

[2020-09-23 08:00] jamalv opened #466 "Signupflow: Overview page "radio's"; to bullets"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
During usertesting we found out that people (every time) try to click the circles (to check radio's), and think that they don't work. We should change it to bullets to make it a bullet list.

Current state:
<img width="691" alt="Screenshot 2020-09-23 at 10 00 01" src="https://user-images.

[2020-09-23 08:13] maxvisser opened #467 "CR: Deleting manually added records (ex. relation bsn number)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
A validator can make a typo in relation BSN number it would be a nice feature to be able to delete said BSN number from the group after typo was made.

[2020-09-23 08:13] jamalv opened #468 "Requester signupflow: Remove / hide condition block"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Current state
![](https://cdn.discordapp.com/attachments/708688825014288434/758232692562329660/Screenshot_2020-09-23_at_09.45.54.png)

Should be
<img width="785" alt="Screenshot_2020-09-23_at_09 45 54" src="https://user-images.githubusercontent.com/30194799/93985460-65494600-fd85-11ea-807

[2020-09-23 09:52] GerbenBosschieter commented on #445
@maxvisser WCAG dissagrees with you. There should always be multiple options to get to a certain page.

[2020-09-23 10:22] maxvisser commented on #445
Well you can add it back via CMS

[2020-09-23 10:29] jamalv commented on #443
Discussed with maarten that external stakeholder review is not required on the poc, internal review will suffice.

So, DoD is changed, making the scope smaller. Closing this issue.

[2020-09-23 10:29] #443 closed

[2020-09-23 11:48] jamalv commented on #435
Standard schema: scalable by design
Endpoints in english

[2020-09-23 12:54] maartenfv opened #469 "CR: Heigth should be the same."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implementation

### Change description
- Height of the aanbieding blocks should be the same. Now it is messy.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/6c633dc7-1a60-44c4-9b95-ecb878d776fa)

[2020-09-23 13:03] maartenfv commented on #381
This issue has been open for a while. We need to build the connection before the end of the year. Clear goal: SDOA wants to go live with BNG on Jan 1 st.

[2020-09-23 13:03] maartenfv commented on #381
@jamalv Could you give an update?

[2020-09-23 14:38] maxvisser commented on #469
@GerbenBosschieter Think you fixed this on develop
![image](https://user-images.githubusercontent.com/10818702/94027445-2209ca00-fdbb-11ea-913c-fd02931d1c73.png)

Should be included on release v0.15.0

[2020-09-23 15:03] maartenfv commented on #431
@jamalv Could you specify which sprint would be dedicated?

[2020-09-23 18:53] maxvisser commented on #435
Some points from a meeting we had:
add service similar to bunq
 - Should we gracefully handle the request for example 5 attempts etc

add to fund a api link
authorization to api -> Two way SSL
dev time 1.5
Sandbox?

reusability

GET REQUEST send BSN NUMBER
request list of funds which they are approved

[2020-09-23 19:14] maxvisser commented on #381
as @dev-rminds needs to do the research and is currently busy with finishing three other projects; no progress has been made. If it is still possible I would vote against implementing this on 1st of januari. Too risky as we probably need to rush implementation and testing

[2020-09-24 07:14] jamalv commented on #270
@danrminds @maxvisser @jknnr @maxvisser @GerbenBosschieter

I have invited you all to a brainstorm session this friday to talk about this issue. Please respond to the invitation to let us know if you will be there, and if anyone else might be interested in joining.

[2020-09-24 08:00] maxvisser commented on #445
It was requested by Geertruidenberg; They found it weird that they can change the whole header description but not change the text of 'hoe werkt het'

[2020-09-24 08:15] maxvisser commented on #204
Currently fixed by #172 WIll close this CR as I don't see it as relevant anymore

[2020-09-24 08:15] #204 closed

[2020-09-24 08:16] maxvisser commented on #393
I would add this DOB overall quality of the dashboard will improve.

[2020-09-24 08:18] maxvisser commented on #258
Could be part of https://github.com/teamforus/general/issues/448

[2020-09-24 08:19] maxvisser commented on #448
Discussed this with gerben it is also a security advantage to not let any external party know if an account exists.

[2020-09-24 08:21] maxvisser commented on #312
Add this to the project DOB; Should check which funds currently on the platform have this issue.

[2020-09-24 08:22] maxvisser commented on #315
Maybe better to redesign the whole product page as it is pretty messy

[2020-09-24 09:50] maxvisser commented on #247
I close this issue in favor of #366

[2020-09-24 09:50] #247 closed

[2020-09-24 11:17] maxvisser commented on #283
Unassinged parties as it is currently not actively being worked on.

[2020-09-24 11:25] maxvisser commented on #171
@GerbenBosschieter Standup call you mentioned something about FAQ; probably a different FAQ then this one. Also I heard you want to check these together with @linda-90

If this is not actively worked on you may unassign yourself. Maybe this issue can also be moved to implementation.

[2020-09-24 11:32] maxvisser commented on #454
Linda did text review.

[2020-09-24 12:16] maxvisser commented on #468
if value does not meet criteria do you still want to check this on the form. If so how would you display what the user needs  to fill in.

[2020-09-24 12:33] maartenfv commented on #466
This came up during session with Westerkwartier they want this changed as well.

[2020-09-24 12:34] maartenfv commented on #466
Bump up!

[2020-09-24 12:46] maxvisser commented on #466
In de library staat dit als desgin aangegeven.

![image](https://user-images.githubusercontent.com/10818702/94146724-a704ea00-fe74-11ea-977a-24e12c85f6a9.png)

[2020-09-24 12:58] maartenfv opened #470 "CR: Add an option to fund criteria set-up to determine the voucher amount of the fund based on properties."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Margrieta en Maarten

### Change description
On the sponsor dashboard, we can create a fund and add criteria.
It would be nice to add the option base the calculation of the voucher amount based on the properties added.

Example the amount of children determines the voucher amount. Kindpakket base voucher amount 250.

[2020-09-24 13:05] maartenfv commented on #319
@jamalv as discussed with Margrieta en Marleen we need to have a way to keep an overview of old or expired messages. How does Margrieta keep track of messages send and the ones that are old?
What happens if somebody does not reply?
Can we resend the message?
Can we send reminder automatically naar inwoner. Uw verzoek staat nog open.

[2020-09-24 13:05] maxvisser commented on #470
#280 there is already an issue about this topic; Will add this feedback to it.

Will close this issue as it is a duplicate.

[2020-09-24 13:05] #470 closed

[2020-09-24 13:06] maxvisser commented on #280
From #470:
On the sponsor dashboard, we can create a fund and add criteria.
It would be nice to add the option base the calculation of the voucher amount based on the properties added.

Example the amount of children determines the voucher amount. Kindpakket base voucher amount 250.
Total amount = amount of children * base amount.
Total amount = 0,9 (Inkomens norm 110%)  * base amount

[2020-09-24 13:07] maartenfv commented on #431
@maxvisser is er een coulance periode? Margrieta herinnerde ons aan de situatie dat een fonds afliep op 31 oktober ipv 1 november. Mensen hadden nog wel recht wouden het op de laatste dag gebruiken. Mensen stonden in de winkel maar konden niet betalen. Is dit een issue voor de overgang van de jaren?

[2020-09-24 13:08] maxvisser commented on #319
Currently there is no easy way to track these messages. Maybe a seperate page with all open 'clarification requests' would be nice feature. Aswell as allowing validators to send reminders. Could you open CR for these things or shall I?

[2020-09-24 13:25] maxvisser commented on #431
Probably not the issue for this question. I will sent you a DM on discord 👍

[2020-09-24 13:37] maartenfv opened #471 "CR: Add search location to list view providers"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Margrieta Westerkwartier

### Change description

Should be able to search by location

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/1cf4d910-ed77-467a-9b8a-d0ee8a14ac84)

[2020-09-24 13:41] maxvisser commented on #471
As in a distance filter (<1KM <5KM) and location sharing?

[2020-09-24 13:51] maartenfv commented on #319
@maxvisser That would be very nice if possible :)

[2020-09-24 13:54] maartenfv opened #472 "CR: Show the filters which are applicable"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Westerkwartier

### Change description
- Just like tweakers it would be nice which things are being filtered.

### "U heeft de volgende filters toegepast:"

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/40be7e14-4d7d-4800-92d6-0e8e28448111)

![image.png](https://images.zenhubusercontent.

[2020-09-24 13:55] maxvisser opened #473 "CR: Overview of all Clarification request"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
A clarification request can be open for a while. A validator would like to have one overview of all clarification requests.

[2020-09-24 13:55] maartenfv commented on #431
How do we inform the providers to proceed into the next year?

[2020-09-24 13:57] maxvisser opened #474 "Validator wants to send reminders for open clarification requests"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Westerkwartier

### Change description
If a clarification request is open for a while. A validator could want to sent a reminder to add clarification to the request.

[2020-09-24 14:01] maxvisser commented on #472
Good suggestion also way to remove all filters is nice ;)

[2020-09-25 08:12] jamalv commented on #436
Yes, please bring this to production :)

[2020-09-25 08:21] maxvisser commented on #218
Security feature lets do it ! 👍

[2020-09-25 08:23] maxvisser commented on #281
can be planned.

[2020-09-25 08:34] maxvisser opened #475 "Digest of notification to sponsor about actions which changed price."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
A provider can change the price of a product when a sponsor already started an action. In current system the action would stop and a notication would be sent to sponsor.

It would be a nice feature to add these notifications to the digest. Instead of sending a mail per action which got remove

[2020-09-25 08:38] maxvisser opened #476 "Actions: adding a paused state"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently there are only two state
- Active
- Closed

Which results in that a sponsor loses alot of data when a action closed because of multiple reasons:
- end date of product is reached
- price was changed
- image of product/description is not clear

If sponsor can pause actions the limit o

[2020-09-25 11:23] maartenfv opened #477 "CR: "release" all approved providers and offers in one go."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen

### Change description
- Currently starting an action needs to be done for each action individually and then it appears in the webshop one by one.
- Request is to be able to publish in one go instead of one by one.
- So they verify them one by one and keep them pending for publishing on the websh

[2020-09-25 11:30] maxvisser commented on #477
From one provider its products or all providers?

[2020-09-25 12:29] GerbenBosschieter commented on #469
I did.

[2020-09-25 13:08] maartenfv commented on #469
So we good? Will this be in next release?

[2020-09-25 13:14] maartenfv commented on #477
@maxvisser They want to review all of them but publish in one go.

[2020-09-25 13:15] maartenfv commented on #477
@maxvisser They can add more providers during the year right?

[2020-09-25 13:26] maartenfv commented on #280
@jamalv I have no idea. I think I miss clicked!
я извиняюсь

[2020-09-25 13:43] maartenfv commented on #381
@maxvisser We are still planning to implement this before 1 January 2021 because the municipalities are getting into trouble using bunq. @jamalv We should plan and discuss this with @danrminds and @dev-rminds

[2020-09-25 13:55] maxvisser commented on #475
Also need a text for notification:
![image](https://user-images.githubusercontent.com/10818702/94275706-94a7b080-ff47-11ea-9a01-36b71141907a.png)

[2020-09-25 13:57] jamalv opened #478 "Add records after filling signupflow"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Currently records are being added to your identity after a validation. This change request is about adding the records after you first fill them.

As a requester I would like records to be added to my identity after I submit them (maybe show confirmation modal).

[2020-09-25 13:58] maxvisser commented on #477
yes ofcourse. But just with renewal for next year.

[2020-09-25 14:02] maxvisser commented on #477
We need to atleast the default settings (what should we fill in for data)

whats the standard limit
whats the standard price groningen pays to provider
etc.

[2020-09-25 14:04] maxvisser commented on #477
Probably need multiple brainstorm sessions and backend adjustments. Don't see this as feasible short term. Therefor probably a big scope. Should check where the main struggles are and maybe check if we can improve their experience with some quick fixes. (if necassary)

[2020-09-25 14:05] maxvisser commented on #478
what would happen if user adjust or remove records while they are still up for validation?

[2020-09-25 14:06] maxvisser commented on #478
Adding the records seems fine but aswell add the validation upon the same records that were created seems like a horror story to adjust; I will add scope big. A developer can check if scope can be smaller.

[2020-09-25 14:08] maartenfv commented on #182
@maxvisser What is the policy? Should the issue be closed when released or when developed or tested or when?

[2020-09-25 14:12] maartenfv commented on #430
@maxvisser can we merge? Are there steps we should add to the other issues?

[2020-09-25 15:23] maxvisser commented on #182
When it's on production

[2020-09-25 16:19] jamalv commented on #381
I have had a discussion about this with @danrminds, we discussed starting research / a POC before @dev-rminds starts, to make sure the ball is already rolling as much as possible.

@danrminds could you use this issue to give some status updates when you have them?

[2020-09-25 16:30] jamalv commented on #270
### Results of the brainstorm:
We looked into the current status of the Me app and the Webshop.
We discussed what is currently possible with the API (for example regarding catagories)
We had some ideas about improving records
 - Add a pending status
 - Adding a search bar
 - Adding a "profile" part to the webhshop with all the settings/features as seperate pages and a menu
We had some discussion a

[2020-09-25 16:40] jamalv commented on #477
I think adding a "start" date for an action that can be in the future (but not after the end date of this fund) would be the most desirable feature. Have no idea about feasibility and scope, would save a lot of work before januari though:

![Screenshot 2020-09-25 at 18.36.48.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/c9405097-7b74-4653-bacd-7c0af5306776)

**Sidenote:** the

[2020-09-25 17:18] maxvisser commented on #477
Ah nice I think I read the whole feature request wrong. I thought they wanted to approve all products at once

[2020-09-28 06:01] maxvisser commented on #252
Idea for this CR:
- Let sponsor extend end date 1 week before end date is reached.
- A requester can get a second voucher if previous voucher is expired (would be nice to make this configurable)

[2020-09-29 05:53] maxvisser opened #479 "Webshop: Sort offers, products by price"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Potjeswijzer

### Change description
Products are now sorted by creation date. For a requester it makes more sense to be able to sort the list by price. Especially sort by lowest price.

[2020-09-29 06:17] maxvisser commented on #466
Currently on PR to develop

[2020-09-29 06:19] maxvisser commented on #363
Is removed from the code. Probably the action one needs to be adjust to be reusable for other types of funds.

[2020-09-29 06:25] maxvisser commented on #382
I would keep the menu for pages and not let some links open modals. I would see if there are better ways to get providers to signupflow and look on how competitors do this.

[2020-09-29 06:34] maxvisser commented on #467
Discussed with valentin currently intended. I will change this to deleting manually added records.

[2020-09-29 06:36] maxvisser commented on #467
Currently validator can unassign himself to delete relation

[2020-09-29 06:36] maxvisser commented on #469
Correct.

[2020-09-29 06:38] maxvisser commented on #475
@linda-90 @maartenfv could you write a text for this?

[2020-09-29 07:10] maxvisser commented on #304
https://github.com/teamforus/forus/issues/1799

[2020-09-29 07:36] maxvisser commented on #210
should discuss this one after 19 of oct as I see this would probably happen often.

[2020-09-29 09:24] linda-90 commented on #405
@jamalv @maxvisser
Ah ja, dat klopt! Heb het #zinnetjeerbij weggehaald omdat het denk ik niet veel toevoegt.
@GerbenBosschieter Ben benieuwd hoe jij hier naar kijkt en of je verwacht dat er vanuit de gebruikers vragen over komen.

-------------

<details>
<summary>Huidig situatie</summary>
<img width="1435" alt="Schermafbeelding 2020-09-29 om 11 09 27" src="https://user-images.githubusercontent.co

[2020-09-29 09:38] maxvisser commented on #405
dan is er geen knop bekijk transacties.

[2020-09-30 11:14] maxvisser opened #480 "Clarify email: Enters / markdown is currently not implemented"
Enters / markdown is currently not implemented on these messages.

[2020-09-30 13:43] maartenfv commented on #346
@maxvisser Max and I discussed this during a meeting on 30-09. We decided we want to add it to the organisation. However, Max stated this would have implications. I suggest putting this issue in the icebox until we know about BNG. We can discuss this with customers if it poses a problem.

[2020-09-30 18:07] linda-90 commented on #171
@maxvisser @GerbenBosschieter What can I do?

[2020-09-30 18:15] maxvisser commented on #171
Currently Nijmegen, Westerkwartier, SDOA webshops need checking if current content is still correct.

New content can be proposed to municipality or we can migrate these people to CMS (make infographics for them?). Introduce the functionality.

Personally I want to get rid of the current blocks all together.

[2020-10-01 08:50] maartenfv opened #481 "CR: Add field with info on Potjes website"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Ingrid Humanitas

### Change description
- We need to make sure people understand there are more potjes than on the website. Example I have costs for the dentist. Where can I go? Now potjeswijzer gives the impression this is all but there is more.

[2020-10-01 08:52] maartenfv opened #482 "CR: Add external fund which does not run on Forus"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Ingrid Humanitas

### Change description
- I have a list of 54 potjes. Please add these to the list of potjes. They can link to other pages or to contactperson

[2020-10-01 11:00] maartenfv opened #483 "CR: Give pop up or other notification when creating a fund."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Potjeswijzer / Implementation

### Change description
- Let sponsor know they have created a fund.

[2020-10-02 07:51] nikhilbugaliya opened #484 "... Funds"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-Nikhil Bugaliya

### Change description
-You should add some images to your page.
Add Security for the donators.
make it easy to access for the people.

[2020-10-02 07:55] nikhilbugaliya commented on #484
Sir, you have to make it with your name. So that people will get to know to whom they are donating. And add a description also for what purpose you need donation...

[2020-10-02 07:58] nikhilbugaliya commented on #478
Sir, you should use PHP for that. so that you can change the data and add the data and show the pop-up message with the conformation message.

[2020-10-02 09:15] maxvisser commented on #484
Currently sponsor can't yet ask other sponsors to donate to their funds. Not sure what you mean with donators. 👍  But ofcourse we are building a platform to make everything easy to be accessed.

[2020-10-02 12:40] maxvisser commented on #79
@linda-90 Maarten says you probably should know this?

[2020-10-05 07:47] #398 closed

[2020-10-05 08:34] linda-90 commented on #79
@maxvisser Er is een opzet voor de algemene voorwaarden van Forus https://github.com/teamforus/implementation/issues/445#issuecomment-683696394.
De algemene voorwaarden specifiek voor de aanbieder zijn er volgens mij nog niet.

[2020-10-05 08:54] linda-90 commented on #171
Okay, I can make a Figma concept with all the texts for the municipalities? And share it with them, so they can check it.

Wish: It would be very nice if the municipality could add content blocks such as FAQ and 'How it works' (as a template) in the CMS.

[2020-10-05 09:06] linda-90 commented on #412
@GerbenBosschieter Het gaat erom dat de headers op alle pagina's gelijk zijn. Nu was het zo dat de ene pagina een shadow had en de andere pagina niks en weer een andere een lijn. Zoals het nu op staging staat vind ik het prima, https://noordoostpolder.staging.forus.io/. Nu is het tenminste 1 geheel.

De shadow vind ik subtieler, maar laat het maar voor nu.
https://www.figma.com/file/pUWeZwelwsJK8W

[2020-10-05 09:10] maxvisser commented on #140
Please check if this is still the case @maxvisser

[2020-10-05 09:14] maxvisser commented on #381
Planned to start working on this in sprint 2020-Q4-S2 | Weeks 43+44

[2020-10-05 09:16] maxvisser commented on #250
planned for this sprint

[2020-10-05 09:19] maxvisser commented on #280
Planned to discuss during refinement 7 october

[2020-10-05 09:19] maxvisser commented on #156
https://github.com/teamforus/general/issues/280

[2020-10-05 09:20] #135 closed

[2020-10-05 09:20] maxvisser commented on #135
Closed until this becomes relevant again

[2020-10-05 09:20] #219 closed

[2020-10-05 09:24] #340 closed

[2020-10-05 09:29] maxvisser opened #485 "Webshop: Show products on provider / office details page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Need to be able to see products of that provider on the office and organization details page.
Add a way to go back from products page to office/organization page

[2020-10-05 09:35] maxvisser commented on #479
This is planned to do a design for

[2020-10-05 09:42] maxvisser commented on #224
@linda-90 lets discuss this one

[2020-10-05 09:44] #153 closed

[2020-10-05 09:46] linda-90 commented on #224
@maxvisser Vanmiddag tijdens dev/impl overleg?

[2020-10-05 09:52] #327 closed

[2020-10-05 09:53] maxvisser commented on #405
This is done and in release 15

[2020-10-05 09:57] maxvisser commented on #420
This seems to be already implemented @maartenfv Where did you test this?

[2020-10-05 09:59] maxvisser commented on #476
will be discussed during refinement.

[2020-10-05 10:02] maxvisser commented on #465
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/51d40be6-342c-4a75-be7f-afbd9ab9af62)

[2020-10-05 10:05] maxvisser commented on #465
This is planned to be worked on.

[2020-10-05 10:07] maxvisser commented on #460
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/36f78877-5584-43c2-a33a-1eed418ed9db)

[2020-10-05 10:09] maxvisser commented on #224
Yes

[2020-10-05 11:21] SjoerdHilhorst opened #486 "CR: E-mail settings menu item textual change"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Paul en Leonie

### Change description
"E-mail adres wijzigen" to "E-mail instellingen", same as in drop down menu

[2020-10-05 11:26] SjoerdHilhorst opened #487 "CR: Groningen Webshop Notifcation contains link to product/voucher"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Paul en Leonie

### Change description
Notfications referencing products or vouchers should contain links to that product/voucher

[2020-10-05 11:30] SjoerdHilhorst opened #488 "CR: Notification page should contain link to notification settings"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Paul en Leonie

### Change description
We should add a link on the notifications page linking to the notification settings

[2020-10-05 11:31] SjoerdHilhorst opened #489 "CR: Groningen Webshop Text fix Notification settings"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Paul en Leonie

### Change description
"Uitscrhijven voor notificaties" to "Notificaties beheren"

[2020-10-05 11:36] SjoerdHilhorst opened #490 "CR: Add popup "Verification email is sent""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Paul en Leonie

### Change description
When adding a secondary email adress, there should be a popup modal stating that there has been sent a verification email

[2020-10-05 12:47] maxvisser opened #491 "CR: Button to resent login mail"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
When user loges in there is currently no easy way to resent login mail if user did not get the mail. It would be a nice feature to allow user to do this after a few seconds.

As we don't want the user to resent the mail multiple times as they probably aswell get multiple mails; we should see

[2020-10-05 13:38] maxvisser commented on #487
Currently no linking between notifications can be made; This is a nice feature request which I could not find on the backlog.

[2020-10-05 13:41] maxvisser commented on #486
Which one? E-mailadres wijzigen or E-mail instelling

[2020-10-05 14:00] SjoerdHilhorst commented on #486
We'll make CR's grouped per page and/or subject, and close these small ones

[2020-10-05 14:01] #490 closed

[2020-10-05 14:01] #489 closed

[2020-10-05 14:01] #488 closed

[2020-10-05 14:01] #487 closed

[2020-10-05 14:01] #486 closed

[2020-10-05 14:07] GerbenBosschieter opened #492 "Landing / on boarding pages should be in design/context of the sponsor their webshop"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

**Note:** This change was requested after acceptance testing with stakeholders of project 100

### Change description
- Stakeholder gaves us the feedback that the landing pages (so the pages where people can sign up and login as a employee or provider should be in the same design/context of the webshop.

##

[2020-10-05 14:12] SjoerdHilhorst opened #493 "CR: Webshop Provider details: being able to go back to map"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Paul en Leonie

Note: This change was requested after acceptance testing with stakeholders of project 100
### Change description
- Need to be able to go back to map overview of providers from the provider details page:
from here:
![image](https://user-images.githubusercontent.com/48722300/95090284-61bea300-0725-11eb

[2020-10-05 14:16] GerbenBosschieter opened #494 "Webshop: voucher overview page in profile should give more context like a welcoming text."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

**Note:** This change was requested after acceptance testing with stakeholders of project 100

### Change description
- As a user who has a voucher I would like to be welcomed and give more context on the page I got redirected to after logging in.

[2020-10-05 14:21] SjoerdHilhorst opened #495 "CR: Me page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Paul en Leonie
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- Me page needs to be in the context of the webshop, i.e. do not link to https://forus.io/me but have a page in the webshop: https://stadjerspas.forus.io/me
  * Redesign Me page in context o

[2020-10-05 14:21] SjoerdHilhorst opened #496 "CR: Webshop Me page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Paul en Leonie
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
As an implementation holder I would like to have a page about the Me app in my brand identity.

- Me page needs to be in the context of the webshop, i.e. do not link to https://forus.io/me b

[2020-10-05 14:22] #495 closed

[2020-10-05 14:22] GerbenBosschieter opened #497 "Webshop voucher page: Hide my reservations If I don't have any"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

**Note:** This change was requested after acceptance testing with stakeholders of project 100

### Change description
- Don't show any information about reservations (product vouchers) if I don't have any. If my product voucher = 0, hide html block

### Example
![product](https://user-images.githubuserconte

[2020-10-05 14:32] SjoerdHilhorst opened #498 "CR: Adding a way to contact the municipality"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Paul en Leonie
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- As a user i would like to contact forus or the municipality via a contact form or chat box
![image](https://user-images.githubusercontent.com/48722300/95092741-499c5300-0728-11eb-9e8c-e0

[2020-10-05 14:44] GerbenBosschieter opened #499 "Webshop voucher page: profile menu sync texts"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

**Note:** This change was requested after acceptance testing with stakeholders of project 100

### Change description
The page that we recently showed again could use some improvements:

1. The names of menu items shown when clicking profile menu (the carrot) should be aligned with sidebar menu
2. Don't sho

[2020-10-05 14:48] SjoerdHilhorst opened #500 "CR: Product details: Move product info card to above provider info card"
Learn more about change requests here: https://bit.ly/39CWeEE
### Requested by:
Paul en Leonie
Note: This change was requested after acceptance testing with stakeholders of project 100
### Change description
- Move product info card to above provider info card
- ~~The page should contain a clear UX on how to redeem the product/service with stadjerspas, it is currently not very clear on what steps

[2020-10-05 14:54] GerbenBosschieter opened #501 "Change e-mailadres user flow improvements"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

**Note:** This change was requested after acceptance testing with stakeholders of project 100

### Change description
Stakeholder gaves us the feedback that it's not clear for users to change e-mailadres
1. Missing explanatory notes to tell the user what they can do here and what really happens.
2. Herstuur

[2020-10-05 15:21] maxvisser commented on #492
As we can already do this but it is not desireable to keep doing it; We can decide to copy css and create new landing page in style of Groningen. I rather deal with #71 Depends on priority on the issue and time thats needed for all must haves.

[2020-10-06 06:19] maxvisser commented on #498
@GerbenBosschieter Could you enhance this feature request further? Not sure if adding support@forus.io in the footer is really wanted. Do they really need a form?

[2020-10-06 06:20] maxvisser commented on #493
Created aswell one for potjeswijzer. Nice to have I think but both parties requested it. #485

[2020-10-06 06:20] maxvisser commented on #485
closed in favor of #493

[2020-10-06 06:24] maxvisser commented on #500
Not sure how to scope this one. Moving the product info card above the provider info is a good suggestion; Will plan that one in. The other stuff probably need a seperate issue. To discuss that further.

[2020-10-06 06:26] maxvisser commented on #499
Can be adjusted here:
https://www.figma.com/file/k8Yjwct18gJYlykIHuqMF9/Webhop-Settings?node-id=60%3A9047&viewport=-2802%2C1515%2C0.32634228467941284

[2020-10-06 06:26] maxvisser commented on #501
Can be adjusted here:
https://www.figma.com/file/k8Yjwct18gJYlykIHuqMF9/Webhop-Settings?node-id=60%3A9047&viewport=-2802%2C1515%2C0.32634228467941284

[2020-10-06 06:27] maxvisser commented on #501
@linda-90 Could you do a check for this page and add good texts?

[2020-10-06 06:32] maxvisser commented on #496
We have a page for the webshop but this one was decided to get removed. As the Me-app is a generic app; I think its not that weird that you leave the site to read info about it.

I see a few options here; I do not really have any strong opinion:
1. change the content of the page and keep it updated https://stadjerspas-acc.gemeente.groningen.nl/me
2. Remove the page and all links to it.
3. Keep as

[2020-10-06 06:33] maxvisser commented on #497
Ah I forgot that Stadjerpas never will use product vouchers. Will plan in this.

[2020-10-06 06:36] maxvisser commented on #494
I understand but to keep the page functional aswell its a pretty hard task to think about; If there is a clear proposal I can scope this issue.

[2020-10-06 06:39] maxvisser commented on #483
As the fund is currently easily deletable; Why would this be desirable? Did you not get redirected to the list?

[2020-10-06 06:41] maxvisser commented on #482
I think we spoke abit about this issue. As it is pretty abstract; I think you are meaning to ask for a change to allow adding funds which do not need a application form or voucher system. I see the scope as medium. Depends on priority to plan it in.

[2020-10-06 06:42] maxvisser commented on #481
The explanation page could be used for this?

[2020-10-06 06:48] maxvisser commented on #485
Adjusted #493 to be about going back to map

[2020-10-06 07:05] maxvisser commented on #412
This issue about dropshadows on the navbar; if these shadows are really needed I would suggest to add these to the common aswell @GerbenBosschieter

As I saw you already introduced them on Geertruidenberg; with merge conflicts I removed those shadows.
https://geertruidenberg.staging.forus.io/

[2020-10-06 07:07] maxvisser commented on #412
I changed this CR to a more general issue about these shadows (if we want them for any other webshops)

[2020-10-06 07:20] maxvisser commented on #500
Lets create some different CR for the other two. As I also see maybe a whole redesign is needed scope for the other points could become pretty big.

[2020-10-06 08:59] SjoerdHilhorst opened #503 "CR: Product details page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description

- Change text "Aantal beschikbaar" as it is not descriptive, is it referencing total amount? or amount available for this account?

- The page should contain a clear UX on how to redeem the prod

[2020-10-06 09:04] maxvisser commented on #503
Nice CR. I think we could link to the explanation page from here (where can be described how to retrieve actions how the system works?)

Maybe change it to 'Jouw saldo:' ?

[2020-10-06 09:07] SjoerdHilhorst commented on #503
"Jouw saldo" maybe wouldnt make sense in this context, "Aantal voor u beschikbaar" would already be an improvement

[2020-10-06 09:26] maxvisser commented on #503
This would be weird with multiple vouchers / tegoeden

You could get:
Stadjerspas - Aantal voor u beschikbaar 1
Stadjerspas Jongeren - Aantal voor u beschikbaar 5

[2020-10-06 09:30] maxvisser commented on #503
We could also introduce a tooltip; just show the word 'Saldo' and a little i symbol which pops open on hover; describing what a saldo is 'aantal voor u beschikbaar, ga langs bij aanbieders om gebruik te maken vaan uw saldo'

[2020-10-06 10:25] maxvisser opened #504 "Show for non returnable vouchers information of sponsor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-

[2020-10-06 10:26] maxvisser opened #505 "Fund specific contact e-mailadres"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
When a municipality has multiple funds, contact information can differ per fund. As a municipality is quite big you have multiply departments who can utilize funds. It would be a good feature to let the sponsor configure contact details per fund (instead of using that from the organization)

[2020-10-06 10:27] maxvisser opened #506 "When there are no offices for a product, hide map on product voucher"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently when there are no offices for a product voucher; the map is still visible.

![image](https://user-images.githubusercontent.com/10818702/95431715-eab82300-094d-11eb-94b3-a7b749ffc447.png)

[2020-10-06 10:30] maxvisser opened #507 "Sponsor: Export who has received a voucher and has used it."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Nijmegen

### Change description
A funds owner wants to see who retrieved a voucher (by fund request or generator) and if it was used (a transaction has happened)

Currently sponsor can export vouchers on voucher generator with all PNG.

Use case:
Export a selection of voucher receivers on generator (on filter)

[2020-10-06 11:03] maxvisser opened #508 "Add a way to make the description 'empty' criteria description"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Dev team

### Change description
Discussed during a call with development team. Its nice to keep the criteria on the step visually if no description.

Default text is for example:
'Aantal kinderen' moet meer dan 1 zijn.

Only way to change this is add a space into description field.

[2020-10-06 11:23] SjoerdHilhorst opened #509 "CR: Create Product checkbox image rights"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- On the add product page: Add a checkbox to the image stating that you have rights/ownership to the image
![image](https://user-images.githubusercontent.com/48722300/95195590-0d73fb80-07d7-11eb-

[2020-10-07 07:05] maxvisser opened #510 "Add Contact page to webshop with a form and contact details"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Usertesting

### Change description
During user testing there was a idea which was indexed which says 'State all criteria clearly and give information about the fund before you ask to login with DigiD'; A good thing would be to add a contact item in the menu so people have a clear route to get help when they get stuck

[2020-10-07 07:06] maxvisser opened #511 "Webshop: Fund details page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently we have a fund list. During usertesting we saw that the requester does not have a easy way to retrieve information about the fund (what are its criteria and what can I get with said voucher?). A detail page for said fund can help with this information distribution

Figma: https://ww

[2020-10-07 07:09] maxvisser commented on #511
- Aanvraag pakketen stappen: verwijs steeds door naar een informatiepagina over de aan te vragen potje (kindpakket of iets anders). Doe dit ook bij ieder pagina in het stappenplan.

Opties voor de should have:
Quickfix: Een fonds heeft een informatiepagina link; gebruiker kan naar een externe website gaan met informatie over het fonds

Doel: Elk fonds heeft een 'detail' pagina. Hier staat duidelij

[2020-10-07 07:22] maxvisser commented on #471
This also came up during user testing; "Geef bij de zoekfunctie een mogelijkheid om te zoeken op locatie"

[2020-10-07 07:24] maxvisser opened #512 "Webshop: generic search on homepage"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
In some previous designs we also already thought about adding a search for products/provider/funds to the homepage. During user testing this idea was also mentioned as a could have.

[2020-10-07 07:26] maxvisser opened #513 "Accessibility: make a button to increase text size"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Usertesting Potjeswijzer

### Change description
A idea was raised to add a way to increase font size for the webshop.

[2020-10-07 07:28] maxvisser opened #514 "Webshop: Filter products based on age category"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
For example a child package has multiple target audiences (different age groups of kids). A nice feature would be to add a filter on age category.

Hard part to think about: how to get this information

[2020-10-07 07:33] maxvisser opened #515 "Webshop: List/grid view products show which voucher you need to purchase it"
## Main asssignee: @

## Context/goal:
During user testing a webshop was used with alot of different funds. For the requester it was pretty difficult to grasp which products he could buy with which of his vouchers.

A proposal was raised to add 'fund images' to the list of products; in a glance user can see which voucher he needs.

[2020-10-07 08:45] maxvisser commented on #503
Proposal: https://www.figma.com/file/VvubQOugtWD50iJ0B955vl/Product-page?node-id=66%3A412&viewport=277%2C858%2C0.5264466404914856

[2020-10-07 10:14] maxvisser commented on #503
Showed proposal to Gerben; He seems to agree with the proposal (a solution for the problem)

[2020-10-07 10:14] maxvisser commented on #503
Will plan a design review for Alex

[2020-10-07 10:16] maxvisser commented on #503
Planned: https://github.com/teamforus/forus/issues/1821

[2020-10-07 10:21] #504 closed

[2020-10-07 11:45] maxvisser commented on #280
Conclusing:
![image](https://user-images.githubusercontent.com/10818702/95326745-585b4500-08a3-11eb-9241-e005800d7989.png)

[2020-10-07 11:53] maxvisser commented on #478
Lets not fix what is broken 👍

Discussed: adding records (adds alot of complexity)
Local storage could be an option (need a good way to clean this after logout)

[2020-10-07 11:55] maxvisser commented on #478
Would not be an easy fix

[2020-10-07 12:04] maxvisser commented on #210
Userflow:

Login with e-mail
Login with DigiD
Your DigiD is used by another account -> Logout and login with DigiD -> Do that now!

Loges out
Popup modal to login with DigiD

[2020-10-07 12:14] maxvisser commented on #476
Make proposal to how to stop and open a action again.

[2020-10-08 07:58] maxvisser commented on #509
@GerbenBosschieter What did they think about the implemented 'zinnetje erbij'?

![image](https://user-images.githubusercontent.com/10818702/95430960-cb6cc600-094c-11eb-9db2-07c8c772e544.png)

[2020-10-08 07:59] maxvisser commented on #509
We could do this. Personally I find this pretty weird UX. The checkbox is probably aswell not legally binding just annoying.

[2020-10-08 07:59] maxvisser commented on #509
Aswell do we need to show this checkbox somewhere? or is it just a frontend thing what enables the upload button?

[2020-10-09 08:02] maxvisser commented on #501
Proposal:
![image](https://user-images.githubusercontent.com/10818702/95558463-8f059c80-0a16-11eb-8f7b-43e388fc5d34.png)

[2020-10-09 08:28] maxvisser commented on #501
On point 4 that seems to be a bug. There is currently a message in the code which has an explanation of what user needs to do. (it currently does not popup.)

[2020-10-09 12:18] GerbenBosschieter opened #516 "Voucher page information and options are to overwhelming"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100

### Change description
The voucher page is a bit to overwhelming with information and options. Groningen requested to make the information on the page more clear. And also the banner thats being used for physical

[2020-10-09 12:42] GerbenBosschieter commented on #516
@Myshelova Could you review this page and give your opinion about the bullet points I added?

[2020-10-09 12:46] GerbenBosschieter commented on #516
@maxvisser I know this CR could be to big and maybe we should split it up.

[2020-10-09 12:47] maxvisser commented on #270
I have made a new commit to atleast show records on webshop. Seemed like a great first step

[2020-10-09 13:17] maxvisser commented on #516
![image](https://user-images.githubusercontent.com/10818702/95587627-95117280-0a42-11eb-8518-f105a3d282de.png)

[2020-10-09 14:19] GerbenBosschieter opened #517 "We should improve physical card user flow. Not clear for users."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description
There are too many option behind the physical card button, this makes it unclear for the users.
From what I understand there are 3 scenario's for users to use this button.

<img width="149" alt="Screen Shot 2020-10-09 at 16 03 39" src="https://user-images.githubusercontent.com/38419

[2020-10-09 14:20] GerbenBosschieter commented on #517
Only covered one scenario, will add more context about other scenarios

[2020-10-09 15:36] linda-90 commented on #501
@maxvisser
- [x] Text check
https://www.figma.com/file/k8Yjwct18gJYlykIHuqMF9/Webhop-Settings?node-id=60%3A9047&viewport=-2802%2C1515%2C0.32634228467941284

[2020-10-11 10:22] maxvisser opened #518 "Connection with retail kassa systems like SumUp or CCV"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

Did some research; there are two big payment terminal providers Sumup and CCV which accept Maestro, VISA etc.

It would be a nice feature to allow providers to fill in an amount on said terminal, show a QR-code on terminal which Me-app scans and let user do a payment. Their websites do not h

[2020-10-12 07:47] jamalv commented on #346
Thanks for the updates @maxvisser and @maartenfv! Updating the status to on-hold and adding it to the icebox, I agree it is better to do the BNG connection first.

[2020-10-12 07:47] GerbenBosschieter opened #519 "Provider sign-up: More context about fund when providers signs up."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** D1

### Change description
- We got the feedback that we should add more context/information about the fund in earlier steps of sign-up flow. Because it's e generic sign-up flow it's not always c

[2020-10-12 08:18] GerbenBosschieter opened #520 "Provider sign-up flow: Test payment and confirmation of applying to fund is confusing."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** D1

### Change description
Last step of provider sign up flows gives the user a confirmation that they applied for the funds and they can do a test payment.

We got the feedback that it's confusi

[2020-10-12 08:23] GerbenBosschieter opened #521 "Adding a product: Do we still need an separation between products or services?"
### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** D2

### Change description
We got a question form Groningen if it's really needed for the provider to check a checkbox to for Product / Service. Can't we just combine the categories?

[2020-10-12 08:32] GerbenBosschieter opened #522 "Product change requests (chat) improvements"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen
**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** D2

### Change description
- There is no e-mail being send after a sponsor requested a change to the product.
- Could we add the organisation name of the sender and receiver to the chat?
- Some of

[2020-10-12 08:37] GerbenBosschieter opened #523 "Align the buttons that are being used to open the list of products/providers."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** General feedback

### Change description
On provider and sponsor dashboard we are using different buttons that do exactly the same. We should align this so that's not confusing.

Proposal:
- Use

[2020-10-12 08:53] GerbenBosschieter opened #524 "No price product displays in webshop that its free; while it should show no price."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** D1

### Change description
- We got feedback from Groningen that adding a product that you only want to use for discount is really confusing. I also think it's confusing, I don't even understands

[2020-10-12 09:02] GerbenBosschieter opened #525 "Improvement of ordering a physical card"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** E5

### Change description
Ordering a physical card is incompleet. Really important information for the user is missing, after filling in all address information the user gets an confirmation tha

[2020-10-12 09:11] GerbenBosschieter opened #526 "Sponsor wants to inform users about offers/actions."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** C1

### Change description
Sponsor wants to have a possibility to inform their citizens about offers and funds.
Currently the platform sends information to the user by email digest and automatic

[2020-10-12 09:43] GerbenBosschieter opened #527 "Sponsor dashboard: Improve start action modal"
Learn more about change requests here: https://bit.ly/39CWeEE

Figma: https://www.figma.com/file/1wtD8IclpZ6OLJzduOHpit/Sponsor-dashboard-Improve-start-action-modal?node-id=1%3A80

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** E5

### Change description
The modal of starting an action is way to confusin

[2020-10-12 09:47] GerbenBosschieter commented on #527
I think it also better to show the inputs fields a first and the prices as last.  Because the prices are the result/concussion of what the things you give up on the input fields.

[2020-10-12 10:00] GerbenBosschieter opened #528 "Product and provider name are switch around if you switch the view, we should align them."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

**Note:** This change was requested after acceptance testing with stakeholders of project 100
**Requirement:** B2

### Change description
This is about the products page:
- List view: product name is above the organization name
- Image view: organization name is above the product name

 We should align th

[2020-10-12 10:21] SjoerdHilhorst opened #529 "CR: Move button destroy sessions to top of page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
~~- Sessions page is too difficult for inwoner, suggestion is to remove the page entirely.~~
If this is not feasible we can do some other things to improve the page
- Move beeindig alle sessies

[2020-10-12 10:26] maxvisser commented on #529
currently removed from menu. I think for support it will be nice to have it still in the smaller menu.

[2020-10-12 10:27] maxvisser commented on #528
Hah nice find 👍 Easy fix

[2020-10-12 10:30] maxvisser commented on #527
Should be added as a proposal in Figma.

[2020-10-12 10:31] maxvisser commented on #527
Like your proposal gerben; I would maybe move the product title and organization_name and some of the product details to the left column

![image](https://user-images.githubusercontent.com/10818702/95736641-c67a8000-0c86-11eb-8b17-c2fd49a5bd55.png)

[2020-10-12 13:36] MichaelForus opened #530 "Change request: Transaction details are hidden"
**Support Ticket ID:** [#1912]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Provider

### Change description
- Transaction details are hidden<br>
Could we add some visual element that shows us that we can click on the transaction for more details?

[2020-10-12 13:41] GerbenBosschieter commented on #530
Adding a carrot (arrow) or a just the details on the right side of the card should do the job.

<img width="915" alt="Screen Shot 2020-10-12 at 15 40 57" src="https://user-images.githubusercontent.com/38419514/95753106-647b4400-0ca1-11eb-92a2-bad741802e02.png">

[2020-10-12 14:43] SjoerdHilhorst opened #531 "CR: Notifications on Dashboard should link to pages"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- When receiving a notification on the dashboard, a user should be able to click on the notification to link him to the product/employee/fund/etc

[2020-10-12 14:47] SjoerdHilhorst opened #532 "CR: "Uitschrijven voor notificaties" to "Notificaties beheren""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- change "Uitschrijven voor notificaties" to "Notificaties beheren"

[2020-10-12 15:00] SjoerdHilhorst opened #533 "CR: Providers/Actions sort options"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- As a user I would like to sort the actions/providers by price low-high high-low, alphabetical order a-z z-a

[2020-10-12 15:12] SjoerdHilhorst opened #534 "CR: Product Image Checkbox"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen
Note: This change was requested after acceptance testing with stakeholders of project 100

### Change description
- Adding a product: Add a checkbox next to picture upload area that says that you have the rights to the image

[2020-10-12 17:18] maxvisser commented on #526
Implementing a way to show all vouchers in generator where e-mailadresses can be exported

[2020-10-12 17:20] maxvisser commented on #524
Yes this is possible using workaround described in your userflow; Sponsor should actively communicate this (A discount is a offer without a price). Not sure what they expect (how this should work)

[2020-10-12 17:22] maxvisser commented on #521
Currently this data is not used. We don't show it anywhere or allow sponsor to set anything based on it. It is a legacy feature ;) So yes indeed this could be removed or used on financial dashboard #316

[2020-10-12 17:23] maxvisser commented on #520
I aswell think the current implementation of the test transaction does more bad then good; It shows a completely different interaction

[2020-10-12 17:42] maxvisser commented on #531
Added scope big. Not an easy fix

[2020-10-13 06:58] maxvisser commented on #520
Changing some texts seems as a small scope.

[2020-10-13 06:59] maxvisser commented on #516
Page needs to be redesigned

[2020-10-13 07:00] maxvisser commented on #534
duplicate of https://github.com/teamforus/general/issues/509

[2020-10-13 07:00] #534 closed

[2020-10-13 07:04] maxvisser commented on #525
adding confirmation mail seems like scope small;

[2020-10-13 07:05] maxvisser commented on #523
Adding some texts to the button. Scope is small

[2020-10-13 07:07] maxvisser commented on #525
Text for mail is needed and which data needs to be included (to plan this issue.)

[2020-10-13 07:16] maxvisser commented on #533
Duplicate of #479

[2020-10-13 07:16] #533 closed

[2020-10-13 07:23] maxvisser commented on #517
proposal:
remove all screens which gives user a choice for example:
![image](https://user-images.githubusercontent.com/10818702/95828419-4101d900-0d35-11eb-9efe-e9d23cb238e7.png)
This screen can directly show the form

same with the other model where all options are; remove that modal aswell. Only have button on voucher card to go redirect to the actions behind these modals

So you will get:
- Req

[2020-10-13 08:45] SjoerdHilhorst commented on #529
https://github.com/teamforus/implementation/issues/509

[2020-10-13 08:46] SjoerdHilhorst commented on #528
https://github.com/teamforus/implementation/issues/515

[2020-10-13 08:47] SjoerdHilhorst commented on #527
https://github.com/teamforus/implementation/issues/531

[2020-10-13 08:48] SjoerdHilhorst commented on #526
https://github.com/teamforus/implementation/issues/521

[2020-10-13 08:49] SjoerdHilhorst commented on #525
https://github.com/teamforus/implementation/issues/513

[2020-10-13 08:49] SjoerdHilhorst commented on #524
https://github.com/teamforus/implementation/issues/531

[2020-10-13 08:50] SjoerdHilhorst commented on #522
https://github.com/teamforus/implementation/issues/525

[2020-10-13 08:51] SjoerdHilhorst commented on #521
https://github.com/teamforus/implementation/issues/531

[2020-10-13 08:52] SjoerdHilhorst commented on #520
https://github.com/teamforus/implementation/issues/530

[2020-10-13 08:52] SjoerdHilhorst commented on #519
https://github.com/teamforus/implementation/issues/530

[2020-10-13 08:53] SjoerdHilhorst commented on #517
https://github.com/teamforus/implementation/issues/513

[2020-10-13 08:55] SjoerdHilhorst commented on #516
https://github.com/teamforus/implementation/issues/513

[2020-10-13 08:56] SjoerdHilhorst commented on #501
https://github.com/teamforus/implementation/issues/510

[2020-10-13 08:58] SjoerdHilhorst commented on #499
https://github.com/teamforus/implementation/issues/509

[2020-10-13 08:59] SjoerdHilhorst commented on #497
https://github.com/teamforus/implementation/issues/514

[2020-10-13 09:01] maxvisser commented on #519
Not sure what the fix for this one is? Show a title if you apply for a specific fund_id?

[2020-10-13 09:01] SjoerdHilhorst commented on #492
https://github.com/teamforus/implementation/issues/508

[2020-10-13 09:03] maxvisser commented on #522
I think we do sent mails for chat messages. This is in the Digest (i believe).
Adding organization names to the chat seems like a quickfix
for the automatic message maybe adding a label? like 'Systeembericht: '

[2020-10-13 09:04] maxvisser commented on #529
adding a warning modal is pretty smart.

[2020-10-13 09:08] maxvisser commented on #524
Can't really scope as for me its not clear what the change is that is proposed.

[2020-10-13 09:09] maxvisser commented on #532
Currently changed to same text as in dropdown 'Notificatievoorkeuren'

[2020-10-13 11:32] linda-90 commented on #241
Hi @Myshelova,
The past two weeks we have collected feedback on the Potjeswijzer logo and website.
Everyone likes the piggy-bank logo very much!

<img width="249" alt="Schermafbeelding 2020-10-13 om 13 05 10" src="https://user-images.githubusercontent.com/36952230/95852846-c0eb6b80-0d54-11eb-8076-f3eb33e69b12.png">

They also shared a bit of feedback:
- Make the piggy bank a little less stock imag

[2020-10-13 12:01] linda-90 commented on #371
Issue over aanpassingen logo: https://github.com/teamforus/general/issues/241

[2020-10-13 12:46] maxvisser opened #535 "Stadjerspas webshop: Hardcoded link in footer for Bezoekadressen en openingstijden"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Seems like a hardcoded link to old website of stadjerspas is added to the footer.

To this page:
https://stadjerspas.nl/pagina/bezoekadressen-en-openingstijden

Probably should add this to our website or implement something else?

[2020-10-13 22:14] linda-90 commented on #372
Ik heb de header foto met Jan Aldert besproken. Een foto van Pexels vindt hij prima.
De voorbeelden heb ik aan hem laten zien https://www.figma.com/file/IQ6oy8Up7rBcANPACCydyG?node-id=481:19883#40567985

Hij heeft een aantal uitgekozen en die heb ik in dit bestand uitgewerkt: https://www.figma.com/file/ZfbRjhV8Cd1W83Kvnw7gx0/Potjeswijzer%3A-Header-Photo?node-id=84%3A0&viewport=457%2C452%2C0.078083

[2020-10-14 06:41] maxvisser commented on #372
Uit user testing kwam volgensmij het gezin als beste keuze (volgensmij wel een andere versie)

[2020-10-14 07:38] maxvisser commented on #516
![image](https://user-images.githubusercontent.com/10818702/95957714-57c13200-0e00-11eb-98bd-0df4195e4915.png)

[2020-10-14 07:44] maxvisser commented on #516
![image](https://user-images.githubusercontent.com/10818702/95958764-e2eef780-0e01-11eb-9587-d4f72767530c.png)

[2020-10-14 10:28] jamalv opened #536 "Discord profile picture: Demy"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a Jamal I would like a Demy to have a profile picture so that I feel a more personal connection.

[2020-10-14 10:29] jamalv commented on #536
Oh, and while we're at it, let's also go for github 🚀

[2020-10-14 10:29] jamalv commented on #536
@maxvisser could you rate this on scope?

[2020-10-14 10:49] maxvisser commented on #536
![image](https://user-images.githubusercontent.com/10818702/95979249-a4663680-0e1b-11eb-9fa7-da26fde81bbf.png)

[2020-10-14 10:49] maxvisser commented on #536
added a profile picture on google

[2020-10-14 10:49] maxvisser commented on #536
seems pretty doable. as it was pretty easy for me to do on Google

[2020-10-14 10:58] demylubbers commented on #536
Issue has been solved. Added a filter

[2020-10-14 11:10] maxvisser commented on #241
Will work on this during the weekend

[2020-10-14 11:30] #536 closed

[2020-10-14 11:31] jamalv commented on #536
great job guys! happy stakeholder here!

[2020-10-14 11:31] jamalv commented on #536
I think this was the quickest solved issue so far btw

[2020-10-14 14:05] jamalv commented on #372
Ik neig dan het meeste naar V4, vind beide kleuren prima. De uitsnede is nog wel wat ruig :P en de resolutie wat laag?

[2020-10-14 17:35] linda-90 commented on #372
Oké! Ik stel voor dat we ze eerst een versie laten kiezen en dan de definitieve versie maken. Kost me anders teveel tijd om alle afbeelding perfect uit te snijden;)

[2020-10-14 18:29] maxvisser commented on #372
Misschien inkoppertje: Heb je wel de high res variant rechten vrij voor
elke?

Op wo 14 okt. 2020 19:35 schreef Linda <notifications@github.com>:

[2020-10-15 07:06] maxvisser commented on #516
Jamal's suggestion is to switch around the card about physical cards

[2020-10-15 07:18] maxvisser commented on #523
should be in release v0.15.0

[2020-10-15 08:03] jamalv commented on #526
@maxvisser as discussed on monday the plan is to include this in release .15 by adding to the voucher generator. Is this still the plan?

[2020-10-15 08:12] jamalv commented on #529
I would opt to keep the page as this is a useful security feature, I fully agree with the UX improvements though. Approval is on:
- [ ] Move beëindig alle sessies to top of page
- [ ] Add warning modal when clicking beëindig alle sessies: "Je wordt nu uitgelogd op alle apparaten, wil je doorgaan?"

I edited the original issue to strike-trough the suggestion to remove the page.

[2020-10-15 08:15] maxvisser commented on #526
Yes

[2020-10-15 08:16] maxvisser commented on #526
Also discussed this with Gerben he sees no problems with current implementations only benefits

[2020-10-15 08:19] jamalv commented on #516
Did some "inspect element" editing during testsession (texts and order of elements):

![Screenshot 2020-10-13 at 15 44 11](https://user-images.githubusercontent.com/30194799/96096139-cf11c700-0ecf-11eb-8568-4b058031a2fd.png)

[2020-10-15 08:49] jamalv commented on #524
If this is not already the case (should be tested), this should be done at least:
- [ ] If "geen prijs" is checked, the "free" label should be removed for this offer in the webshop

This is also why it is not marked as "free" in the provider settings, because a provider can add a discount this way; "25% discount on all haircuts for men", for example. UX needs improvements indeed.

[2020-10-15 08:55] jamalv commented on #524
@maxvisser could you please plan that task in? I think scope small?

[2020-10-15 09:05] jamalv commented on #492
I agree with implementing https://github.com/teamforus/general/issues/71 as a fix for this I think that page.

@maxvisser what is the status of this issue? https://github.com/teamforus/general/issues/379 @SjoerdHilhorst wrote the code, is it part of .15? If so I think the task is quite simple:
Update the link in the footer to link to: https://forus.io/provider/sign-up

[2020-10-15 09:18] maxvisser commented on #524
And what if it is actually free?

[2020-10-15 09:19] maxvisser commented on #524
Scope is aswell for the Me-app applicalble; List and confirmation currently will show 'gratis'

[2020-10-15 09:21] maxvisser commented on #524
Discussed this one aswell with Gerben, he said the problem is not really that the webshops says gratis or €0 euro's; just that the mindset of the provider is not that they would add a discount the way we implemented it @GerbenBosschieter Could you confirm this?

[2020-10-15 09:21] jamalv opened #537 "New label - [Status: Question]"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Add a new label:

## Status
label | color |  description
-- | -- | --
Status: Question | Color: #0e616b | The issue is blocked by one or more questions

I'm not sure about the current status of labeling policies, but I understand there is some weight about adding new labels 😄

I would lik

[2020-10-15 09:22] maxvisser commented on #537
With the new Github function called 'Discussions' probably all questions/discussion can utilize this (issues can be tasks)

[2020-10-15 09:25] jamalv commented on #537
The main reason for adding this is that issues can often not be planned since there are still questions; having an overview of issues that are blocked for that reason can be very useful IMO

[2020-10-15 09:32] maxvisser commented on #537
Ah I read it as 'Type: Question'; Maybe rename it to 'Status: Needs clarification' or 'Status: Needs brainstorm'; I find 'Status: Question' not really descriptive.

[2020-10-15 09:34] maxvisser commented on #529
The modal is already planned and being worked on. For moving the button I would like to change the figma prototype first.

[2020-10-15 09:35] jamalv commented on #531
Yea, this is an awesome feature request! Putting this on hold since the scope is too big though, issue needs to be funded to be able to proceed. @maxvisser I would be interested in an hour-estimation for this scope, could you discuss this with the team?

[2020-10-15 09:37] maxvisser commented on #529
Just a remark: I think during the demo we showed a account with alot of sessions. Most accounts will have one or two.

[2020-10-15 11:59] jamalv commented on #522
@maxvisser

1. With what frequency do we send the mail? And can we verify that this is included in digest?
2. Agreed! Very good idea! @maxvisser could you plan this in?
3. Yes, I think that's a good idea, maybe mock something up in figma?

@maxvisser what do you think? should we split this one up into 3 cr's?

[2020-10-15 12:02] jamalv commented on #519
@maxvisser yea, that would be a good id (pun intended :P) - would be nice if we can use either the organisation or fund id for example in the title if the flow is using a filter.

[2020-10-15 12:13] jamalv commented on #499
1. Would also consider completely removing the dropdown menu, and changing the dropdown carrot to > and go to the "profile" page.
2. 👍
3. related: https://github.com/teamforus/general/issues/529#issuecomment-708981041
4. This is always good :)

[2020-10-15 12:24] jamalv commented on #517
Yea, great CR; I think making the reasoning about showing alternatives when ordering a physical card explicit is a very good idea; "you can use your digital card right now, always have it with you in the app or on the site, or email it.. environment etc"

Also like the other suggestions 👍

Slightly related: I also liked the idea of switching the order: https://github.com/teamforus/general/issues/5

[2020-10-15 12:27] jamalv commented on #494
Yeah, I understand why this was requested. I think maybe a better alternative is a confirmation after a succesful application, maybe right now it is a bit "too magical" :)

Something like:

# 🎉

_Success! You are eligible for the Stadjerspas! Here it is!_

[Continue]

[2020-10-15 12:34] jamalv commented on #498
I think this one doesn't fit in the current scope. Putting it on hold for now, needs more discussion.

[2020-10-15 12:50] jamalv commented on #496
Figma proposal: https://www.figma.com/file/MKpTh5najQ3Xnq1apodcZa/Untitled?node-id=1%3A107

[2020-10-15 14:01] jamalv commented on #516
https://www.figma.com/file/vWtj9Ro6j6T2EnPgvboAnh/Physical-cards-feedback?node-id=0%3A1

[2020-10-15 14:01] jamalv commented on #517
Figma: https://www.figma.com/file/vWtj9Ro6j6T2EnPgvboAnh/Physical-cards-feedback?node-id=0%3A1

[2020-10-16 06:31] maxvisser commented on #522
yes would help with tracking them

[2020-10-16 06:37] maxvisser commented on #522
Planned showing organization name in product chat messages modal

[2020-10-16 06:40] maxvisser commented on #522
![image](https://user-images.githubusercontent.com/10818702/96221701-48babb00-0f8b-11eb-955e-726a41697e27.png)
zoiets?

[2020-10-16 06:41] maxvisser commented on #522
Every day we sent the digest.

[2020-10-16 08:07] jamalv commented on #162
## Lena
Customisation of webshop

## Max
New release:
Assigning by BSN
Splitting fund requests flow
Stadjerspas flow
Prijsafspraak app proposal

## Gerben
Dark mode if it's done?

[2020-10-16 09:23] jamalv commented on #522
Yeaa, that's fine, could still add it in figma and let Alex / lena look at it and add like a "bot" icon or something.

[2020-10-16 09:45] jamalv commented on #537
I do like to focus on the question status; the clearification / brainstorm is to answer the question(s). So I would say that the status is: There is currently a question, and yea, the way to solve the question is with a brainstorm or clearification from the stakeholder :)

[2020-10-16 12:04] jamalv commented on #175
going with https://github.com/teamforus/general/issues/205

[2020-10-16 12:04] #175 closed

[2020-10-16 12:07] maxvisser commented on #537
Maybe add blocked? Status: Blocked by questions

[2020-10-16 12:08] maxvisser commented on #494
We do have this page already in Figma and lena already started refining it more (the success page with checkboxes to activate funds)

[2020-10-16 12:11] maxvisser commented on #496
Seems fine by me; scope is still small.

[2020-10-16 12:42] jamalv commented on #537
Yea that would be good for me 👍

[2020-10-16 12:45] jamalv opened #538 "Opt-in to digest"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a requester I would like to opt-in to recieving the digest e-mail. I would also like to know what will be in the email digest and when and how often it will be sent.

[2020-10-16 12:52] jamalv opened #539 "Opt-in to sharing your personal info with sponsors"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a requester I would like to opt-in to sharing my e-mailadres/voucher with the sponsor of a fund.
As a requester I would like an overview of which sponsors (/organisations) can see my e-mailadres.

If this setting is turned on, your e-mailadres will be in the list of vouchers on the vou

[2020-10-16 12:54] jamalv commented on #539
Related to: https://github.com/teamforus/general/issues/538

[2020-10-16 12:57] jamalv commented on #538
## Add step to signupflow:

### Receive e-mail updates

You can choose to receive monthly updates, for example about new shops that signed, up and new offers and actions that are available. You can sign out for this at any time you wish.

- [ ] I would like to receive updates.

[2020-10-16 12:59] jamalv commented on #539
## Add step to signupflow:

### Share your e-mailadres

You can choose to share your e-mailadres with [organisation name], this allows the organisation to send you newsletters, to contact you and to offer you better support. You can opt-out of this at any time via your preferences.

- [ ] I would like to share my e-mailadres with [organisation name]

[2020-10-19 07:49] jamalv commented on #307
no longer actively worked on

[2020-10-19 07:49] #307 closed

[2020-10-19 07:54] jamalv commented on #506
@maxvisser I think this was in .15?

[2020-10-19 07:55] #150 closed

[2020-10-19 07:55] maxvisser commented on #325
released

[2020-10-19 07:55] #325 closed

[2020-10-19 07:55] maxvisser commented on #468
released

[2020-10-19 07:55] #468 closed

[2020-10-19 07:55] maxvisser commented on #453
released

[2020-10-19 07:55] #453 closed

[2020-10-19 07:55] maxvisser commented on #353
released

[2020-10-19 07:55] #353 closed

[2020-10-19 07:55] maxvisser commented on #319
released

[2020-10-19 07:55] #319 closed

[2020-10-19 07:57] maxvisser commented on #459
released

[2020-10-19 07:57] #459 closed

[2020-10-19 07:57] maxvisser commented on #209
released

[2020-10-19 07:57] #209 closed

[2020-10-19 07:57] maxvisser commented on #182
released

[2020-10-19 07:57] #182 closed

[2020-10-19 07:57] maxvisser commented on #46
released

[2020-10-19 07:57] #46 closed

[2020-10-19 07:57] maxvisser commented on #523
released

[2020-10-19 07:57] #523 closed

[2020-10-19 07:58] maxvisser commented on #469
released

[2020-10-19 07:58] #469 closed

[2020-10-19 07:58] maxvisser commented on #465
released

[2020-10-19 07:58] #465 closed

[2020-10-19 07:58] maxvisser commented on #433
released

[2020-10-19 07:58] #433 closed

[2020-10-19 07:58] maxvisser commented on #432
released

[2020-10-19 07:58] #432 closed

[2020-10-19 07:58] maxvisser commented on #429
released

[2020-10-19 07:58] #429 closed

[2020-10-19 07:58] maxvisser commented on #415
released

[2020-10-19 07:58] #415 closed

[2020-10-19 07:58] maxvisser commented on #409
released

[2020-10-19 07:58] #409 closed

[2020-10-19 07:58] maxvisser commented on #405
released

[2020-10-19 07:58] #405 closed

[2020-10-19 07:58] maxvisser commented on #401
released

[2020-10-19 07:58] #401 closed

[2020-10-19 07:59] maxvisser commented on #400
released

[2020-10-19 07:59] #400 closed

[2020-10-19 07:59] maxvisser commented on #378
released

[2020-10-19 07:59] #378 closed

[2020-10-19 07:59] jamalv commented on #526
released in .15

[2020-10-19 07:59] #526 closed

[2020-10-19 07:59] maxvisser commented on #366
released

[2020-10-19 07:59] #366 closed

[2020-10-19 07:59] maxvisser commented on #364
released

[2020-10-19 07:59] #364 closed

[2020-10-19 07:59] maxvisser commented on #314
released

[2020-10-19 07:59] #314 closed

[2020-10-19 08:00] maxvisser commented on #195
released

[2020-10-19 08:00] #195 closed

[2020-10-19 08:02] maxvisser commented on #454
released

[2020-10-19 08:02] #454 closed

[2020-10-19 08:04] jamalv commented on #304
@maxvisser this was in .15?

[2020-10-19 08:04] #304 closed

[2020-10-19 08:07] jamalv commented on #373
in .15

[2020-10-19 08:07] #373 closed

[2020-10-19 08:07] #507 closed

[2020-10-19 08:07] maxvisser commented on #507
released

[2020-10-19 08:08] maxvisser commented on #434
currently the steps are still hardcoded. Issue is not fixed yet

[2020-10-19 08:10] maxvisser commented on #275
released

[2020-10-19 08:10] #275 closed

[2020-10-19 08:11] maxvisser commented on #448
Start is currently a singular sign in button.
Currently missing from this implementation is:
restoring with DigiD
as a provider go to dashboard

[2020-10-19 08:12] maxvisser commented on #399
error is probably still there. Thats why I left this open

[2020-10-19 08:12] #194 closed

[2020-10-19 08:12] #463 closed

[2020-10-19 08:12] maxvisser commented on #463
released

[2020-10-19 08:13] maxvisser commented on #266
released

[2020-10-19 08:13] #266 closed

[2020-10-19 08:13] maxvisser commented on #266
No frontend implementation for this yet.

[2020-10-19 08:13] maxvisser commented on #298
released

[2020-10-19 08:13] #298 closed

[2020-10-19 08:14] maxvisser commented on #402
released; needs a fix to hide gratis @jamalv could you create a seperate issue for that? (if not already done)

[2020-10-19 08:14] #402 closed

[2020-10-19 08:15] #446 closed

[2020-10-19 08:15] maxvisser commented on #263
released

[2020-10-19 08:15] #263 closed

[2020-10-19 08:15] maxvisser commented on #300
released

[2020-10-19 08:15] #300 closed

[2020-10-19 08:16] maxvisser commented on #355
released

[2020-10-19 08:16] #355 closed

[2020-10-19 08:17] jamalv commented on #442
@maxvisser what's the statusof this? was it in .15?

[2020-10-19 08:17] maxvisser commented on #407
released

[2020-10-19 08:17] #407 closed

[2020-10-19 08:17] maxvisser commented on #394
released

[2020-10-19 08:17] #394 closed

[2020-10-19 08:17] maxvisser commented on #365
released

[2020-10-19 08:17] #365 closed

[2020-10-19 08:18] maxvisser commented on #379
released

[2020-10-19 08:18] #379 closed

[2020-10-19 08:18] maxvisser commented on #367
Close this one in favor of #496

[2020-10-19 08:18] #367 closed

[2020-10-19 08:19] maxvisser commented on #272
released

[2020-10-19 08:19] #272 closed

[2020-10-19 08:19] jamalv commented on #414
@maxvisser this seems to not have been done?

[2020-10-19 08:19] maxvisser commented on #343
released

[2020-10-19 08:19] #343 closed

[2020-10-19 08:20] maxvisser commented on #348
released

[2020-10-19 08:20] #348 closed

[2020-10-19 08:20] maxvisser commented on #352
released

[2020-10-19 08:20] #352 closed

[2020-10-19 08:20] #351 closed

[2020-10-19 08:20] maxvisser commented on #351
released

[2020-10-19 08:21] maxvisser commented on #350
Login and Acitivation steps are not part of the stepper anymore.

[2020-10-19 08:21] #350 closed

[2020-10-19 08:22] maxvisser commented on #235
Released partly for Webshop

[2020-10-19 08:23] maxvisser commented on #262
released

[2020-10-19 08:23] #262 closed

[2020-10-19 08:23] maxvisser commented on #74
Currently a new voucher can be created to generator

[2020-10-19 08:23] #74 closed

[2020-10-19 08:24] maxvisser commented on #289
released

[2020-10-19 08:24] #289 closed

[2020-10-19 08:24] jamalv commented on #359
@maxvisser was in .15?

[2020-10-19 08:24] #359 closed

[2020-10-19 08:25] jamalv commented on #416
is in production

[2020-10-19 08:25] #416 closed

[2020-10-19 08:27] jamalv commented on #224
@maxvisser what is the status of this?

[2020-10-19 08:27] jamalv commented on #413
@maxvisser @linda-90 is this in production now? can this be closed?

[2020-10-19 08:29] jamalv commented on #271
seems to be solved, please re-open or open another issue if there are still problemens

[2020-10-19 08:29] #271 closed

[2020-10-19 08:30] jamalv commented on #528
@maxvisser could you create the task (for @SjoerdHilhorst?) - branch from master?

[2020-10-19 08:35] jamalv commented on #494
Understood from @GerbenBosschieter that he means a different page (the one in your profile)

[2020-10-19 08:44] jamalv commented on #420
it is the page you end up at if you login on your me app but open the mail on desktop

[2020-10-19 08:45] jamalv commented on #210
@maxvisser is this still an issue after .15?

[2020-10-19 08:46] jamalv commented on #120
Currently too big for internal funding, putting it on hold.

[2020-10-19 08:51] maxvisser commented on #210
Yes

[2020-10-19 08:55] maxvisser commented on #420
added screenshot to make it clear which page.

[2020-10-19 09:09] #345 closed

[2020-10-19 09:28] maxvisser opened #542 "Design review: Action modal"

[2020-10-19 09:29] maxvisser opened #543 "Action modal changes"

[2020-10-19 09:35] maxvisser commented on #439
released

[2020-10-19 09:35] #439 closed

[2020-10-19 09:39] #499 closed

[2020-10-19 09:40] #501 closed

[2020-10-19 09:50] maxvisser opened #544 "Epic: Me app action checkout price agreement"
### User Story
As a provider
I want to see the price agreement on a subsidy
So that I can know clearly which amount gets paid out.

#### Acceptance criteria

Given << some context >>
When << some action is carried out>>
Then << a set of observable outcomes should occur >>

## Prototype
__link to figma__

[2020-10-19 15:04] maxvisser commented on #414
Correct. This aswell needs variables for all implementations if adjusted

[2020-10-19 15:13] maxvisser opened #545 "CR: Manually assign vouchers: check on duplicates"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
When a sponsor creates a voucher manually, its pretty easy to make a mistake and assign a voucher twice. The system should tell the sponsor employee that said BSN/E-mailadres has already a voucher.

[2020-10-19 15:14] maxvisser commented on #545
Needs design/text for modal

[2020-10-19 15:15] maxvisser opened #546 "Account already has BSN-number and should be able to activate prevalidations"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently if user logges in a second time with DigiD it tells the user that BSN was already applied to a different account (that he should logout)

[2020-10-19 15:17] maxvisser commented on #546
Applicable for all sponsors with multiple funds which can have multiple prevalidations/vouchers assigned in different time frames.

[2020-10-19 15:18] maxvisser commented on #494
Not sure probably this needs a proposal. Currently to vague to see whats needed.

[2020-10-19 18:11] maxvisser commented on #413
Its not. Buttons need to be refactored complete for it  to be done (currently the CSS is a mess) or you will just fix it for this specific webshop

[2020-10-19 18:11] maxvisser commented on #224
Currently not implemented yet

[2020-10-19 18:12] maxvisser commented on #506
Its not. Currently on a PR to a new release (hopefully can be released tomorrow morning)

[2020-10-19 18:12] maxvisser commented on #442
Its done

[2020-10-19 18:12] #442 closed

[2020-10-19 18:15] maxvisser commented on #528
this is already as a PR to develop; needs refactoring from alex

[2020-10-19 18:15] maxvisser commented on #539
Seems to be a duplicate of #334

[2020-10-20 05:26] maxvisser opened #547 "CR: E-mail when applying for Bus"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently you get the product_reserved QR-codes in your mailbox after applying for funds with auto request validation.

For a fund without a budget formula we should not sent the budget QR code mail. The product_reserved mail is also really weird in context.
We should sent the new product_ass

[2020-10-20 05:28] maxvisser opened #548 "CR: Auto validation funds should not receive a mail to activate voucher"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently the mail that fund request is approved is also sent to users who applied for a fund with auto validation.

Example:
![image](https://user-images.githubusercontent.com/10818702/96543955-d6f1b280-12a5-11eb-9869-356dea6f8ba3.png)

I would not sent this mail in this context. As the requ

[2020-10-20 07:37] maxvisser opened #549 "Filter out approved products which are in product formula (not show these on webshop)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently the products which are in formula are always unlimited and 'special offers'. As these special offers are not really applicable to be reserverd, its better to hide these from the list and block on frontpage.

Example:
Busvoordeelabonnement is a product in Nijmegen webshop. Its a weir

[2020-10-20 07:47] maxvisser opened #550 "Voucher generator: search on reference/identity BSN number"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently you can only search on note and e-mailadres. It would be a nice feature to also be able to search on BSN.

[2020-10-20 12:36] maxvisser opened #551 "CR: Remove product description from assign product mail"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

![image](https://user-images.githubusercontent.com/10818702/96586596-813afb80-12e1-11eb-885d-91079d419581.png)

Product description is used in mail. If markdown is used in product description. This will not be shown in the e-mail (it wil show it as plain text)

[2020-10-20 12:39] maxvisser commented on #551
discussed with jamal lets remove product description from the mail (as it was not used) and its pretty hard to implement markdown (aswell can have a security impact)

[2020-10-20 14:40] GerbenBosschieter commented on #498
Adding support@forus.io is not the option thats right :P

[2020-10-20 15:11] maxvisser commented on #498
If there is a figma proposal for:
1. adding a field to CMS for e-mail contact details of implementation (could also be used for #535 and making footer generic)
2. A page with a contact form on webshop and contact details

I think this is a fix for aswell an issue for user testing potjeswijzer (easy way to contact owner of site)

This part of the footer should be configurable:
![image](https://user

[2020-10-21 07:00] maxvisser commented on #479
https://www.figma.com/file/ehttVgO6MKVZD9feDYMsa7/Sort-by...?node-id=2%3A573&viewport=1232%2C625%2C0.9104166626930237

[2020-10-21 07:30] maxvisser opened #552 "Actions (mobile ready)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
As some screens are not mobile ready. We already did some design work for actions:
https://www.figma.com/file/muiPmndPxYtpv8iFnqKXsL/?node-id=0%3A1

[2020-10-21 09:36] maartenfv commented on #455
Grip app by ABN gives a good example of what is needed. https://www.abnamro.nl/nl/prive/internet-en-mobiel/apps/grip/index.html

This app helps you track your income and expenses. It reads bank account information. You have to connect it to your bank accounts, the permission needs to be renewed every 90 days.

The user flow to provide permission is very clear in the app.

[2020-10-21 13:14] #172 closed

[2020-10-21 13:57] jamalv commented on #527
@maxvisser I have added this to figma: https://www.figma.com/file/1wtD8IclpZ6OLJzduOHpit/Sponsor-dashboard-Improve-start-action-modal?node-id=2%3A172

Could you plan a design review by alex / dan, I think they'll be able to improve it further :)

[2020-10-21 14:12] maxvisser commented on #527
Could you add this to the proposal issue?; For viewing the action details of a running action and one which was stopped should also be changed.

[2020-10-21 14:31] maxvisser commented on #492
Its done but has some feature gaps which I can briefly show you. Maybe you can plan a short meeting when you have time?

[2020-10-21 14:31] maxvisser commented on #235
Needs discussion what needed to do this for platform

[2020-10-21 14:58] maxvisser commented on #471
Design has been made for this.

[2020-10-21 14:59] maxvisser commented on #471
https://www.figma.com/file/ehttVgO6MKVZD9feDYMsa7/Sort-by...

[2020-10-23 08:01] jamalv commented on #527
done

[2020-10-23 08:27] jamalv commented on #517
@maxvisser text review is done, I think maybe the icons need to be checked by a designer (I've added a blur layer to blur what has not changed, it is locked - you can unlock/hide it, the layer name is "Focus example (detach instance)")

@maxvisser could you do a feasibility check and create the implementation tasks for the developers? https://www.figma.com/file/vWtj9Ro6j6T2EnPgvboAnh/?node-id=0%3A

[2020-10-23 12:41] linda-90 commented on #445
Can the link 'How it works' be added to the cms?

[2020-10-23 12:45] linda-90 opened #553 "CR: Update generic explanation page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
- The text on the explanation page is outdated. Some texts and buttons have been changed after the last update.
There are two designs:
    - digid
     - activation code

### Proposal
https://www.figma.com/file/q2JUoZyXg9j9iGodrK1iJg/Webshop-generic-explanation-page?node-id=0%3A1&viewport=324

[2020-10-23 14:06] GerbenBosschieter opened #554 "We need a Thank you page for surveys"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- We are making some progress met our surveys. We currenlty setup all surveys for the stakeholders and can already host it on our own domain. If a user is done with a survey they will be redirected to a thank you page of a third party. We can redirect this to or own thank y

[2020-10-23 14:24] maxvisser commented on #554
I  suggest a check mark as SVG

[2020-10-23 14:42] linda-90 opened #555 "CR: NOP"

[2020-10-23 14:46] GerbenBosschieter commented on #554
What about this @maxvisser

<img width="1016" alt="Screen Shot 2020-10-23 at 16 45 21" src="https://user-images.githubusercontent.com/38419514/97018297-463dff80-154f-11eb-8cb0-bfd8b4529481.png">

[2020-10-23 14:49] maxvisser commented on #527
Were did you put it?
Current modal looks like:
![image](https://user-images.githubusercontent.com/10818702/97018636-acc31d80-154f-11eb-8bb5-86af2b7005aa.png)

[2020-10-23 14:49] GerbenBosschieter commented on #555
@linda-90 nice Change reuqest :P

[2020-10-23 14:50] maxvisser commented on #554
Thank you

[2020-10-23 14:51] maxvisser commented on #554
Lets add it to the website as a page?

[2020-10-26 10:07] Myshelova commented on #241
<img width="478" alt="Screenshot 2020-10-26 at 11 06 25" src="https://user-images.githubusercontent.com/22478043/97159599-68b46080-177b-11eb-9793-0be7116fce02.png">

[2020-10-27 08:48] maxvisser commented on #509
Jamals proposal:
For checkbox implement I see 2 ways:

Frontend: someone has to put it, and cannot continue unless it has been set. Advantage: easy to implement. Downside: has no legal value, and someone has to put it every time you upload an image (we don't remember anything).

Backend: we store that someone has put it. This increases the scope, but I am in favor of it. For GDPR and PSD2 complian

[2020-10-27 10:54] maxvisser opened #556 "CR: Product voucher Qr-code is used error is not descriptive"
## Main asssignee: @

## Context/goal:

![image](https://user-images.githubusercontent.com/10818702/97292096-16db0b80-184b-11eb-91d3-4b84ec2f14aa.png)

Error message is not descriptive of situation

[2020-10-27 13:38] maxvisser commented on #556
needs new error text.

[2020-10-28 10:48] jamalv opened #557 "Flexible linking of funds to webshops"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Not yet requested, but I expect it will be relevant (maybe critical) for at least 2 projects

### Change description
As an implementation holder I would like to flexibly be able to turn on / off funds for my webshop.

E.g. Municipality Y has funds Y and Z on "Webshop 1", they want to create a new fund X > it does no

[2020-10-28 11:27] maxvisser commented on #557
current state:
webshops do not have an owner
funds can be configured to one webshop only.

[2020-10-28 11:28] #542 closed

[2020-10-28 11:30] #546 closed

[2020-10-28 11:30] #547 closed

[2020-10-28 11:30] #551 closed

[2020-10-28 11:30] #549 closed

[2020-10-28 11:31] maxvisser commented on #549
Implemented by filtering out product which are configured to not be shown on webshop

[2020-10-28 11:31] #548 closed

[2020-10-28 11:31] #539 closed

[2020-10-28 11:32] #555 closed

[2020-10-28 11:56] maxvisser commented on #140
@MichaelForus Could you help me with checking if this is still the case?

[2020-10-29 08:36] maartenfv opened #558 "CR: Add possibility to require home visit "huisbezoek" as a criteria."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Stichting Leergeld
- Gemeente Westerkwartier

### Change description
- Stichting Leergeld has as one of their criteria that they want to have a personal visit.
- During the application for a fund the applier needs to prove there was a home visit.
- Request is to adapt and optimize the flow of applying for a fund inc

[2020-10-29 09:31] maxvisser commented on #558
probably this should a special criteria which basically you should already have before you can digitally apply.

[2020-10-29 12:52] jamalv opened #559 "CR: Update angular"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:

### Change description
Update to the newest version of angular or similar framework (React) or something else

[2020-10-29 13:02] maartenfv commented on #431
@jamalv @maxvisser Are we on track with this issue? Please plan a check with stakeholder (@linda and @GerbenBosschieter ) to see if they agree and are informed.

Are there any risks we need to act on?

[2020-10-29 13:05] jamalv commented on #381
@maartenfv are there any transaction costs? :)

[2020-10-30 08:43] maxvisser commented on #162
Sprint demo 30-10-2020

1. Productvoucher applying requests
2. BNG Connection (internal server errors :D)
3. product page improvements
4. physical card improvements
5. show organization name on chat
6. provider search on webshop
7. soft limit products (only show limit when soft limit is reached)
8. throtling employee invitations
9. provider signupflow enter fix
10. user story map BNG
11. product v

[2020-10-30 10:53] #408 closed

[2020-10-30 13:57] MichaelForus commented on #140
@maxvisser I have tested it again. The transactions remain visible on the transactions page. But the provider is no longer visible on the financial page and therefore the statistics and transactions are no longer visible.

**Transacties**
<img width="719" alt="Schermafbeelding 2020-10-30 om 14 51 36" src="https://user-images.githubusercontent.com/66309692/97713202-cf10ea00-1abf-11eb-812f-66140eb0f

[2020-11-02 08:09] MichaelForus opened #560 "Change request: Sponser would like to have a "grace period" on vouchers."
**Support Ticket ID:** [#2079]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- Sponser would like to have a "grace period" on vouchers.
- for example: first end date on January 1 (communicate to requesters) and second (hard) end date on January 14.

[2020-11-02 08:35] maxvisser commented on #560
should decide on timeframe of grace period.
example expire date is 14 january.
sponsor checks a checkbox on fund config of grace period
januari - grace period is 1 januari

questions
- do we want to hardcode the time frame or should user be able to set an amount of days
- where to show this date; (me-app, e-mails, printables i guess)
- for example end date is 14 of januari. Our system works with e

[2020-11-02 09:11] jamalv commented on #434
@maxvisser what's the status? is this still must have or can this be downgraded to should-have?

[2020-11-02 09:32] jamalv commented on #552
@maxvisser what is the status of this? Can it be planned?

[2020-11-02 09:40] jamalv opened #561 "Me records privacy"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a user I would like to be informed about my privacy in the me app.

Figma: https://www.figma.com/file/TQMxcPx7ANAldafD9seRsF/?node-id=1%3A80

[2020-11-02 09:42] jamalv opened #562 "Me Actions: Amount paid"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Max

### Change description
As a provider I would like to understand the pricing structure with actions.

Figma: https://www.figma.com/file/OL6X0AUnpbiP8TX5dq1mU9/?node-id=1%3A2

[2020-11-02 09:45] jamalv opened #563 "Me: Release planning"
### 0.3.2 (iOS) (Release ASAP)
* Actions
* Dark mode

### 0.4 (iOS & Android)
* Me Actions: Amount paid: https://github.com/teamforus/general/issues/562
* Records and privacy notice: https://github.com/teamforus/general/issues/561
* Onboarding screens: https://github.com/teamforus/general/issues/205

[2020-11-02 10:25] jamalv commented on #381
Got a workaround for 500 errors, Valentin will finish prototype.

[2020-11-02 10:41] jamalv commented on #552
A design was made, was not implemented yet

Frontpage still looks weird, and details page on product

@danrminds could you create a task for this in forus (you can use the "move issue" command in github :))

[2020-11-02 10:46] #544 closed

[2020-11-03 07:10] maxvisser commented on #434
Currently steps of meedoen and bus funds are still hardcoded

[2020-11-03 07:10] maxvisser commented on #434
Probably a should have but for Renewel of funds a must have

[2020-11-03 09:42] jamalv opened #564 "Top up: view incoming transactions"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a sponsor I would like to see when top up's have been done to the connected bunq account so that I can see when the top-up functionality has been used.

## Current state:
<img width="987" alt="Screenshot 2020-11-03 at 10 39 58" src="https://user-images.githubusercontent.com/3019479

[2020-11-03 09:50] maxvisser commented on #564
currently how this works:
user retrieves topup code from modal
send money to BUNQ account
Forus polls transactions list for new transaction with topupcode
add its to topup transactions.

If we just want to show the transaction this needs a proposal / design etc. api routes needs to be exposed to retrieve transactions. Probably scope is small to medium

[2020-11-03 09:53] maxvisser commented on #562
proposal can be checked.

[2020-11-03 09:57] jamalv commented on #564
@maxvisser I added screenshots, what do you think? Maybe this could be a task for @SjoerdHilhorst?

[2020-11-03 09:57] maxvisser commented on #561
Nice IP. The only change I would make is not hide it behind a little i icon; I would change the i icon to the word 'Privacy'

[2020-11-03 09:58] maxvisser commented on #561
I would also suggest adding Privacy aswell as an item to profile page.

[2020-11-03 10:00] jamalv opened #565 "Top up: Link incoming transactions to fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a sponsor I would like to view incoming transactions #564, if the transaction (top up) is not linked to a fund yet, I would like to link it.

Core idea:

(still needs supporting modals and UX)

<img width="961" alt="Screenshot 2020-11-03 at 11 06 19" src="https://user-images.github

[2020-11-03 10:00] maxvisser commented on #563
Me-android is already on 0.4.0; As adding actions is a new payment method I would suggest to make it 0.4.0 and fixes for actions as 0.4.1

[2020-11-03 10:01] maxvisser commented on #563
Also this can be moved to itsm repo

[2020-11-03 10:06] maxvisser commented on #565
As we already have alot manually added transactions I see implementing this as risk where alot of payments which were registered manually are added again.

I would also like to stop polling the bank account (reading all transactions each minute or so) I rather go to a route where we ask the sponsor to start a topup transaction with a unique code. So we can start polling for maybe max 3 days each h

[2020-11-03 10:17] maxvisser commented on #564
Topups and voucher transactions are two completely different things. showing it in one table will be pretty hard job; probably not something sjoerd can already do ;)

[2020-11-03 15:10] #447 closed

[2020-11-06 08:29] #556 closed

[2020-11-06 08:33] jamalv commented on #509
https://www.figma.com/file/1wtD8IclpZ6OLJzduOHpit/Sponsor-dashboard-Improve-start-action-modal