[2020-06-08 11:10] GerbenBosschieter opened #234 "Sign-up v2: Unclear what to do after you connect the Me-app with your profile via Desktop."
Unclear what tot do after you connect the Me-app with your profile via Desktop.

The user will see a succes message, but doesn't get any information about what to do next. This information was given on the step before. But people will forget if we asked them to leave the signup form to verify mail.

## Task
- [ ] Add sentence:
    - English: "Go back to the sign up form to proceed your application

[2020-06-08 11:25] maartenfv commented on #54
@maxvisser Oke, but how will we proceed? What are we going to do with the issue besides closing it?

[2020-06-08 11:25] linda-90 commented on #220
https://github.com/teamforus/general/issues/54

[2020-06-08 11:36] GerbenBosschieter opened #233 "Sign-up v2: Form asks me to add an office while I just did."
after creating an office , the form will redirect me to a page where it tells me to add an office while I just did. Weird UX

**URL tested:** https://dev.forus.io/provider/#!/sign-up-v2

Open [URL](https://live.browserstack.com/dashboard#os=Windows&os_version=10&browser=IE&browser_version=11.0&zoom_to_fit=true&full_screen=true&resolution=responsive-mode&url=https%3A%2F%2Fdev.forus.io%2Fprovider%2F

[2020-06-09 12:06] maxvisser commented on #220
I think if we add this to the scope of #54 it would become pretty big. I think this will be a seperate epic.

[2020-06-09 12:08] maxvisser commented on #231
@GerbenBosschieter Do we already have a template for a new page? How easily can this be implemented?

[2020-06-09 12:10] maxvisser commented on #227
As the number of funds grow; I am not sure what the best way is to implement this. @jamalv

[2020-06-09 12:13] maxvisser commented on #226
Like your change request.  Some easy fixes I see are: We could add a number to the title; a sum of all prevalidation for a specific fund. For activated per fund we could add the activated state to the export which can be used in excel to get this sum.

There are currently not statistics for validators; we could add a validator landing page with some statistics @jamalv

[2020-06-09 12:17] maxvisser commented on #223
@jamalv will you write the message
@GerbenBosschieter can you update the website?

email footers is something for the whole team to do. Lets discuss this tomorrow in the daily call.

[2020-06-09 12:20] maxvisser commented on #222
I approve the IP. Tasks can be made.

[2020-06-09 12:23] maxvisser commented on #221
Gerben made a bunch of issues

[2020-06-09 12:35] maxvisser commented on #233
@jamalv needs new text / figma update

[2020-06-11 14:09] jamalv commented on #153
related (internal): https://github.com/teamforus/lab/issues/44

[2020-06-15 09:48] #180 closed

[2020-06-15 09:48] maxvisser commented on #180
discussed with @GerbenBosschieter csv uploader is fine for this.

[2020-06-15 09:51] maxvisser commented on #37
We are trying this out with Groningen and see if this works in everyones favor!

[2020-06-15 12:01] jamalv opened #235 "CR: Vouchers (NL) to 'Tegoeden'"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholders

### Change description
Change "Vouchers" to "Tegoeden"
Change "Voucher" to "Tegoed" / "Tegoedbon"

[2020-06-15 12:03] jamalv opened #236 "CR: Validaties to Beoordelingen (NL)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal & Max

### Change description
Change validaties to beoordelingen
Change validator to beoordelaar

Reasoning: beoordelaar en beoordeling is B1, making it easier for people to understand our apps.
Of course this change request can be used to propose alternatives as well.

[2020-06-15 12:04] maxvisser commented on #235
Het fonds de stadjerspas krijgt straks stadjerspas-vouchers met Budgetten en reserveringen.

Tegoed zou dus mooi zijn.

Wel heel ingrijpend

[2020-06-15 12:47] maxvisser commented on #237
I am going through some old issues on Forus which were closed but probably nice to have in our general repo. I will reopen some of these and move them:)

[2020-06-15 13:34] jamalv commented on #235
Klopt, de scope is groot, en aangezien we het op veel plekken gebruiken (emails, websites, folders, etc etc) er zeker niet te licht over denken. We moeten hier de communicatie afdelingen van klanten in mee nemen als we dit zouden willen.

Overwegingen: Vouchers is niet "B1", tegoeden ook niet. Maar is wel een "nederlandser" woord.
Er zijn ook andere mogelijkheden zoals "Waardebonnen" - maar in de

[2020-06-15 13:38] jamalv commented on #236
Overwegingen:
* We gebruiken al op enorm veel plekken "validator" in geschreven communicatie, we moeten dus goed nadenken over de scope en impact van de verandering.
* We gebruiken dit nog niet op veel plekken binnen de producten, dus daar is het (relatief) eenvoudig te implementeren als we dat zouden willen.

[2020-06-15 13:45] maxvisser commented on #236
Vaak laten we alleen de positieve beoordelingen zien op de record en doen we niks met negatieve beoordelingen. Misschien kunnen we daar nog iets mee.

[2020-06-15 13:50] maxvisser commented on #235
Wat wel grappig is dat hierbij misschien wel sprake is van 'voor corona' niet B1 en na corona wèl :P
https://www.consumentenbond.nl/reisverzekering/reisvouchers-bij-annulering-door-coronavirus
https://www.lc.nl/binnenland/Onrust-over-vouchers-concerten-en-festivals-neemt-toe-25733068.html?harvest_referrer=https%3A%2F%2Fwww.google.com%2F

[2020-06-15 13:51] maxvisser commented on #235
Ben sowieso wel voor om met Stadjerspas de eerste h1 op de vouchers pagina van Budgetten te veranderen naar Tegoeden

[2020-06-15 14:21] jamalv commented on #236
Ja dus een bevestiging eigenlijk? Die gedachte triggert ook wel weer mogelijkheden: https://synoniemen.net/index.php?zoekterm=bevestiging

[2020-06-15 14:22] jamalv commented on #236
Andere kant van die gedachte is om meer te gaan doen met "negatieve" beoordelingen.

[2020-06-17 13:43] jamalv opened #238 "Add date to exports (date of transaction and date of bunq transaction)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

### Change description
As a sponsor I'd like to see both the moment of the transaction and the date of the bunq transaction in the export.

[2020-06-18 07:44] jamalv opened #239 "CR: Bundled transactions for sponsor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Providers and sponsors

### Change description
As a provider I would like to receive bundled transactions instead of receiving a separate payment each time.
As a sponsor I would like to send bundled transactions instead of doing separate payments each time.

[internal doc](https://docs.google.com/document/d/1E6nRdKhH3

[2020-06-18 08:40] #32 closed

[2020-06-18 08:44] jamalv commented on #226
Jup, this is a very good CR and I like your proposals, next step is to make some suggestions in a figma proposal

[2020-06-18 08:44] maxvisser commented on #45
Create seperate change request for:
- a new logo for Potjeswijzer
- Webshop Sign-up page needs some love

[2020-06-18 08:46] maxvisser commented on #46
@jamalv lets plan a meeting to discuss what needs to be done.

[2020-06-18 08:47] #116 closed

[2020-06-18 08:48] maxvisser commented on #116
https://github.com/teamforus/general/issues/41

[2020-06-18 08:52] jamalv commented on #227
Hmm, yea, good CR. An MVP could be to make an error message (full-page) saying something like:

not approved

this is a voucher for [fund name] by [sponsor name].
you are not approved for this fund
visit your dashboard at [xxx] to apply for this fund

need help? contact support

you are approved for the following funds;
(scrollable)[list of funds you are approved for]

[close]

[2020-06-18 08:59] maxvisser commented on #71
@danrminds @maxvisser should plan a seperate refinement call for this issue. Low priority now.

[2020-06-18 08:59] GerbenBosschieter opened #240 "CR: Me-app align expired vouchers limitations with backend"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Me-app is currently not prepared to handle the limitations we have on backend considering expired vouchers. In the app it still possible to see the QR-code and the option to send it by mail to yourself. We should align the apps with the backend.

#### Additional informati

[2020-06-18 09:03] maxvisser commented on #161
7 pages which need this. Impact does not seem that high

[2020-06-18 09:07] maxvisser commented on #222
@danrminds can be planned

[2020-06-18 09:10] jamalv opened #241 "Create new logo for potjeswijzer"
Current logo:

<img width="299" alt="Screenshot 2020-06-18 at 11 06 55" src="https://user-images.githubusercontent.com/30194799/85001356-d4464b80-b153-11ea-93c7-952112276dc3.png">

In dutch "potje" means jar - as in - a jar of money you have for a special purpose. "Wijzer" means pointer or director. So the meaning behind the name is that this is a website that points you to the right money jars.

[2020-06-18 09:11] jamalv commented on #45
change request for logo: https://github.com/teamforus/general/issues/241

[2020-06-18 09:11] GerbenBosschieter opened #242 "Pipeline: Text review should be a part of the pipeline"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Our development is going and going, new screens and features are being added to our apps and platform. This results in a lot of textual additions or changes. As an acceptance tester I see a lot of texts that are grammatical incorrect, spelling mistakes or not no consisten

[2020-06-18 09:19] GerbenBosschieter opened #243 "Pipeline: Checking accessibility requirements should be part of our piple"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- The dutch law, team members and municipalities.

### Change description
- We should start including checking the accessibility requirements into our pipeline.
For now we are compliant with the law because we have accessibility statement on our pages of the webshops.
From september we should be 100% compliant and a s

[2020-06-18 09:26] GerbenBosschieter commented on #231
@maxvisser not really. Not matching our current design. Otherwise it would be an IP ;)

[2020-06-18 11:59] maxvisser commented on #239
Hi! I think this is a duplicate of https://github.com/teamforus/general/issues/143 Could you check if this is the case and leave your feedback there?

[2020-06-18 12:09] GerbenBosschieter opened #244 "Pipeline: Impact & risk analysis four our current implementation should be part of Improvement proposal."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- We are building some nice features. But not all features are going to work with current implementations. Or even worse, it's possible that some features are going to break.

We really need a good impact & risk analysis for some features we want to release. Mistakes are ea

[2020-06-18 12:30] maxvisser commented on #243
I like this CR alot :) I would like to extend the scope of this a bit:
- Training for Designers/programmers/reviewers about accessibility guidelines
- A good checklist for approving new design elements

[2020-06-18 13:05] maxvisser commented on #242
I agree. Should be done in Figma in the improvement proposal. Aswell as error messages, success messages and any other messages.

[2020-06-18 13:41] maxvisser opened #245 "CR: Google play console notice: Check app icon requirements"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Max Visser

### Change description
![image](https://user-images.githubusercontent.com/10818702/85027380-2601cc80-b17a-11ea-8260-20a9e242cb19.png)
https://developer.android.com/google-play/resources/icon-design-specifications

[2020-06-19 13:41] GerbenBosschieter commented on #243
Big scope :)

[2020-06-19 13:57] GerbenBosschieter opened #246 "Pipeline: announcing and providing context about new features should be added to our pipeline."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Team members, municipalities

### Change description
- We should inform our users about the new features we provide. Sometimes they don't know there are some nice features that fit there desires. Missed opportunity!
We should provide the context about these features. The context itself could be:

**Context**
- Featu

[2020-06-19 18:39] jamalv commented on #243
Really great CR indeed; I think the right place would be during "prototyping" in figma, so that's after the IP, and before the epic.

[2020-06-19 18:48] jamalv commented on #243
And let's start small.. I added a accessibility review icon for the prototyping phase.. We discussed that gerben would take this task on himself.. We can start with just checking the basics, and then work on extending the scope from there.. Having this in the pipeline will already start to raise the awareness level

<img width="380" alt="Screenshot 2020-06-19 at 20 47 34" src="https://user-images.

[2020-06-22 05:23] GerbenBosschieter commented on #243
Some of accessibility guidelines are also related to html. @maxvisser maybe we can think of something that helps us to include these guidelines in our code review process.

When doing different quickscans for accessibility you will get the results that references to the related guideline.
For start we could include these guidelines everytime we review code. This way it's easier maintainable that r

[2020-06-22 07:04] maxvisser commented on #243
Yes I agree. I would still like to focus first on aswell making a guide for this to reference to; example of a guide:
https://github.com/fejes713/accessibility-guide

So each new page/feature can be checked based upon a set of guidelines.

[2020-06-22 07:17] maxvisser commented on #243
@SjoerdHilhorst Maybe you find this interesting aswell. I looked into Lighthouse (a chrome extension) which does a accessibility audit and we score pretty poor. Some things are pretty easy to fix (like gerben described, a alt text for an image which is missing).

Used this tool:
https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=nl

Results:
htt

[2020-06-22 07:23] maxvisser commented on #243
There is aswell an angular plugin called ngAria (angular Accessible Rich Internet Application) which is built by google to support screen readers. If we have the basics done, we could implement ARIA on the requester signupflow and voucher page

[2020-06-22 09:24] jamalv commented on #244
Yes, completely agree! Same as with accessibility (https://github.com/teamforus/general/issues/243#issuecomment-646814204) I'd like to propose to add it to the prototyping phase - here I classified it as "needs technical review" - but maybe we can think about that a bit more:

<img width="253" alt="Screenshot 2020-06-22 at 11 22 49" src="https://user-images.githubusercontent.com/30194799/85271151-

[2020-06-22 09:30] jamalv commented on #242
Yes, agree aswel. The prototyping phase would be most suitable @maxvisser so that would be after **accepting** the improvement proposal (the main concept) - the way I see it a figma file for an _improvement proposal_ is "low fidelity" - and the _prototype_ should be "high fidelity" so it can be handed over to the developer :

<img width="269" alt="Screenshot 2020-06-22 at 11 28 12" src="https://us

[2020-06-22 09:31] maxvisser opened #247 "Improving funds page"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [x] Users
- [ ] Finances
- [x] Processes

## Current situation
Fund page is currently hidden from menu and is not accessible for users.

## Desired situation
Making funds page accesible. Improving UI/UX of this page.

## Plan
I would like to change the name of the page

[2020-06-22 09:37] maxvisser commented on #242
Well the pages should be added somewhere in the process. if you want linda/maarten to be able to review it quicker I would say add as much to the low fidelity (IP) as possible.

[2020-06-22 11:39] jamalv commented on #182
@maxvisser this proposal is at the stakeholders for approval.

We can now start reviewing the prototype and dev issues can be created.

Could you discuss this epic with @danrminds and start breaking it up into seperate dev tasks? It would be nice if this week the figma prototype review can be done so that the development can be planned asap.

@GerbenBosschieter would you have the possibility to do

[2020-06-22 11:55] jamalv commented on #242
I agree with that, but it needs to also be clear what is the _real_ moment that review is **needed**. There are many proposals. If we make clear that every **prototype** needs a review, then it is very clear that they can just check if there's any prototypes that need to be checked (using the 📝), this way we have a clear proces, so we need less communication overhead. But of course, if they have s

[2020-06-22 13:54] maxvisser commented on #182
I would first start with functional design and creating the high fidelity prototype.

[2020-06-22 13:56] jamalv commented on #182
Yea, I think creating the high fidelity prototype is part of the epic :)

What do you mean with functional design?

[2020-06-22 14:06] maxvisser commented on #182
With functional design I mean thinking about each; what needed for it to function.

[2020-06-22 14:58] MichaelForus opened #248 "Change request: Prices: accept a comma"
**Support Ticket ID:** #1534

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @Gerbenbosschieter, provider

### Change description
- As a provider I would like to have the option to enter prices with a comma instead of a dot when adding my product to the webshop.

[2020-06-22 16:04] danrminds commented on #248
Planned. https://github.com/teamforus/forus/issues/1609

[2020-06-22 16:11] danrminds commented on #76
@maxvisser @jamalv

Please review - https://www.figma.com/file/RolmXCeR5lPfMlnNzDU8lO/Duplicates-on-voucher-generator

[2020-06-22 16:43] danrminds commented on #219
@jamalv Can you please check this workflow for the provider on mobile? https://www.figma.com/file/YluSZHDC1E80yRaHee1UE7/%F0%9F%91%A9%E2%80%8D%F0%9F%92%BB-prototype-signupflows?node-id=721%3A44

[2020-06-23 07:19] maxvisser commented on #76
added a comment in the figma prototype; should look at the toggles: now the default is skip and the cta is yes to all. I would make both the less impactfull one so no accidents can happen; TLDR: switch around the Yes to all and Skip duplicates.

[2020-06-23 07:22] jamalv commented on #219
@danrminds it seems you haven't really thought this trough 😅

On mobile this is much simpler, you just need to add a link to "https://forus.io/DL" - no sms / qr code etc needed at all. I updated the figma file.

[2020-06-23 07:38] GerbenBosschieter commented on #182
@jamalv I will take a look at it for analysing the risk and accessibility review

[2020-06-23 07:50] jamalv commented on #243
For now, Gerben will do a review @GerbenBosschieter could you list here what you included in your review? This way we can use it to create a manual for the designers and devs.

[2020-06-23 08:10] maxvisser commented on #182
## Functional design

### User stories
1. As a requester I want to have a button on my vouchers page to assign or request a physical card.

__Acceptance criteria__
- The button to connect a card should be visible both on Desktop / Mobile
- Button should only be visible on Groningen implementation webshop
- An highlighted popup which makes a CTA to the user for assigning a existing physical card.

[2020-06-23 10:18] GerbenBosschieter opened #249 "Change feedback to support"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [x] Code
- [ ] Infrastructure
- [x] Users
- [ ] Finances
- [ ] Processes

## Current situation
- feedback@forus.io is currently being used to send message to us via the Me-app. This mail should is created to receive feedback but is being used to ask questions. The mails send via the Me-app are sent t

[2020-06-23 15:03] jamalv commented on #146
This has been implemented

[2020-06-23 15:03] #146 closed

[2020-06-24 09:18] maxvisser commented on #230
If you want to add this page, please do :) Its a nice page.

[2020-06-24 09:35] maxvisser commented on #236
Zoiets dus:
Validator naar Beoordelaar
Validatieverzoek naar Beoordelingsverzoek
Validatie naar Bevestiging

[2020-06-24 09:36] maxvisser commented on #249
@jknnr this can be planned

[2020-06-24 09:43] maxvisser commented on #212
Not sure about this one.

[2020-06-24 09:53] maxvisser commented on #244
As we grow this process gets harder and harder as you need someone who knows how our customers use the system, and if you change a feature (for the better) it could break their experience or use.

[2020-06-24 09:54] maxvisser commented on #246
we could add a changelog page to the product which directly links to the blog.

[2020-06-24 09:56] maxvisser commented on #238
As in both dates? I think we currently don't store the bunq transaction date.

[2020-06-24 11:20] maxvisser commented on #248
Don't know how to fix it with native fields

[2020-06-24 12:16] maxvisser opened #250 "CR: implementation dashboard icon"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Menu item now uses a location pin which does not really resambles what the page is about.

![image](https://user-images.githubusercontent.com/10818702/85554518-453ea500-b625-11ea-9dd1-214cb72a94e7.png)

I would suggest to change the menu image to something like a shoppingcart with a cog insid

[2020-06-25 17:03] jamalv commented on #212
Doesn't fit the strategy of the Me app. Making the dashboards fully mobile friendly is the solution for this IMO: https://github.com/teamforus/general/issues/237

[2020-06-25 17:10] jamalv commented on #236
Yes I like it. Aangezien we "validator" al wel heel lang hebben gebruikt in externe communicatie ben ik wel ook heel benieuwd wat @maartenfv en @TomForus hier van vinden; in het product is nog niet veel "legacy" aangezien het hier nog niet veel gebruikt wordt. Maar in documenten (offertes, onderzoeken etc) wordt "validator" veel gebruikt. Dit veranderen naar beoordelaar heeft in die zin wel impact

[2020-06-25 17:13] jamalv commented on #236
Wat ik wel belangrijk vind:

Een validator/beoordelaar beoordeelt **niet** of je recht hebt op een fonds, maar puur de **juistheid** van jouw informatie.

Doordat validator een "nieuw" woord is hebben we meer ruimte om dit "nieuwe" concept in te vullen. Bij beoordelaar hebben mensen al wel veel associaties en kan wellicht ook verwarring ontstaan. Het lijkt misschien meer of je beoordeeld of iemand

[2020-06-25 17:29] jamalv commented on #230
A concept: https://www.figma.com/file/gMRV1PpqxZfw2rOOlWZXTS/Onboarding-page?node-id=1%3A670

[2020-06-25 17:46] jamalv opened #251 "Website: Update texts"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
We have new texts for the website. I think we should first do a design review, and then add the texts to the website 😄

[This is the source for the texts](https://docs.google.com/document/d/1RCtNim6NqYOfHaHYWuigigqmcAl2vGiIw4f3SBtzuZk/edit), most of them have already been added to [figma]

[2020-06-25 17:59] jamalv commented on #136
How would you show "who" reserved the product? I assume you would show the provider the emailadres of the requester? I'd be interested in looking if we can have a more privacy-friendly way of doing this.

[2020-06-25 18:02] jamalv commented on #221
@maxvisser linda also did a text review, therefore a final check on texts would be useful: https://www.figma.com/file/qH0keMD7Pe3kjxx5BI0WR4/%F0%9F%94%B5Signupflow-v2-texts?node-id=1%3A2650

[2020-06-26 07:23] maxvisser commented on #136
Yes mean reason to show the reservation is aswell giving a way of contacting the request if we would make it more privacy-friendly; the provider still does not have a way to do so.

[2020-06-26 08:15] maxvisser commented on #162
Max - Notification/Digest
Max - Signup-v2
Max - Me-iOS/Android records creating, archiving, editing
Elena - Show improvement
Jamal - Reactivating old cards
Gerben - Zoho Flow automation: Support ticket to CR

[2020-06-26 12:58] jamalv commented on #222
@danrminds @maxvisser I don't see this one in the latest updates to signupflow v2. what happened?

[2020-06-27 13:21] jamalv commented on #240
Yes. Good point. I think it is related to this one: https://github.com/teamforus/general/issues/160

Basically we need a good way to handle expired vouchers in the me app, if I understand it correctly. Here I would also say we maybe should think about how to show it, and maybe add the option to archive vouchers as well.

[2020-06-27 13:25] jamalv commented on #240
For certain use-cases (for example discounts) it can still be useful to present the voucher to the provider to show that you are eligible for the discount, even though there is no budget left. That's also what #160 is about. We should think about how to show that.

[2020-06-27 13:26] jamalv commented on #212
@GerbenBosschieter what do you think about that direction?

[2020-06-27 13:37] jamalv commented on #201
Yea, this one will need some thought. Especially going trough different scenarios;

* First time sign-up, create an account bases on phone number
* Signed-up earlier using emailadres, now wants to use phone number (recovery)

What are the user stories? Risks? Workflows?

[2020-06-27 13:48] jamalv commented on #211
Some ideas here are definitely interesting, but since the main change request doesn't match the roadmap I'll put this one on hold for clarity. I'll keep the issue open since it's a good discusion which might lead to new CR's :)

[2020-06-27 14:12] jamalv commented on #193
Yes, I agree this should be added to the roadmap.

Opened a figma to start the brainstorm: https://www.figma.com/file/m4uGX6sYJSugUj1RROLQW4/Me-Notifications?node-id=0%3A1

[2020-06-27 14:13] jamalv commented on #165
@maxvisser @GerbenBosschieter, what's the status of this? Has this already been improved upon with updates in the meantime?

[2020-06-27 14:25] jamalv commented on #159
I think renewing funds is a great idea. @maxvisser could you open a separate CR for it? I think it would be pretty great to implement that before year-end.

[2020-06-27 14:33] jamalv commented on #143
Probably we also have to think about how to display the pending amount. This might have a relation with this lab issue: https://github.com/teamforus/lab/issues/46 This CR will add a lot of complexity, but the benefits are there.

[2020-06-29 06:04] maxvisser commented on #165
No its at the same stage as before.

[2020-06-29 06:20] maxvisser opened #252 "Renewal of funds"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [x] Users
- [ ] Finances
- [ ] Processes

## Current situation
Fund are recreated and configured

## Desired situation
Fund is renewed.

Sponsor presses renew after fund is closed. Old fund will connect as a child to the new fund.

Nice to have: criteria of fund is cop

[2020-06-29 06:21] maxvisser commented on #159
https://github.com/teamforus/general/issues/252

[2020-06-29 06:24] maxvisser commented on #240
Until this is fixed, on a development issue (in me repo) we decided to hide expired vouchers for now in Me-app. @jamalv a voucher with no balance is does not need to be expired; Valid no balance voucher will just be shown. I see no issue with #160 ;

[2020-06-29 07:29] GerbenBosschieter commented on #165
There was a reason why we didn't include the overview in this proposal to the new product review feature right?

[2020-06-29 08:48] maxvisser opened #253 "IP: Accessibility and WCAG Compliance"
## Tasks
- [ ] Use HTML5 elements instead of mainly using DIVs for example:
   - Change all text links, buttons which are now using DIV-elements to button-elements
@aghimpu

- [ ] add alt texts to all img-elements to describe whats on the image, if its an image which has only decorative purpose add an empty alt=""
@SjoerdHilhorst

note: user should be able to do everything with only a keyboard

-

[2020-06-29 11:26] jamalv commented on #165
@GerbenBosschieter how would you prioritise this? won't, could, should, must?

[2020-06-29 11:56] GerbenBosschieter commented on #165
must. definitely. This is THE legacy problem for our current sponsor with multiple funds.
Managing 15 funds while not having overview of all the funds the provider is connected to.

I would (and also did) manually create a  list to provide them with this  information

[2020-06-29 11:58] GerbenBosschieter commented on #165
@jamalv our defintion of "Must have" = should be done in this sprint. But this is not the case. In our defintion it's more of a "should have". But it's a should have that we eventually must have and not postpone for a long time

[2020-06-29 13:57] linda-90 opened #254 "Text reviews Figma proposals"
# Description
Text review Figma proposals

# Meeting
Every Tuesday from 9 till 10 am

[2020-06-29 14:01] linda-90 commented on #254
## Agenda 30-06
- Beschrijving:Aanmeldformulier
- Oude passen
- Mails

[2020-06-29 14:01] GerbenBosschieter commented on #81
@maxvisser why is this in the icebox?
@jamalv priority depends. Do we have another solution if people cannot acces their email so cannot acces our platform?

With our new client we will get a lot of users. If don't have another solution for the problem stated above. The priority is really high and should be fixed until we are going live with our new project.

[2020-06-29 14:06] maxvisser commented on #209
https://github.com/teamforus/general/issues/197

[2020-06-29 14:07] maxvisser commented on #209
phase 2 of price agreements: https://github.com/teamforus/general/issues/130

[2020-06-29 14:07] maxvisser commented on #209
https://github.com/teamforus/general/issues/196

[2020-06-29 14:14] maxvisser commented on #81
For Groningen there will be DigiD

[2020-06-29 14:18] jamalv commented on #209
Related to 3? https://github.com/teamforus/general/issues/185

[2020-06-29 19:02] GerbenBosschieter opened #255 "Mobile friendly dashboards"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Smartphones 📱
### Change description
- As a smartphone I would like to display the dashboards propperly.

Since we have the new signup flow almost done. We should also work on the dashboards to make it mobile friendly for better UX. I think we underestimate what the current State of the dashboard is 👀

![image](http

[2020-06-29 21:23] GerbenBosschieter commented on #251
@jamalv i don’t think there are to many design differents that are to shocking. So let’s just add the new texts for now. And let lena do an review of the complete design

[2020-07-01 07:09] jamalv commented on #81
@GerbenBosschieter will DigiD be sufficient?

[2020-07-01 07:54] jamalv commented on #221
@dev-rminds @maxvisser @danrminds we would like to release this asap, could the final fixes therefore be branched from master?

[2020-07-01 07:56] jamalv commented on #221
@maxvisser these are the final texts: https://www.figma.com/file/qH0keMD7Pe3kjxx5BI0WR4/%F0%9F%92%BBSignupflow-v2-texts

[2020-07-01 10:03] maxvisser opened #256 "Heartbeat monitoring: track important cronjobs"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
uptimerobot (status.forus.io) has a new 'heartbeat' feature;

you can sent a http request to their api (for example with cronjobs) and if they stop getting requests on certain intervals you get a notification; could be nice to track bunq payout cronjob

https://blog.uptimerobot.com/new-featur

[2020-07-01 11:18] GerbenBosschieter commented on #241
@jamalv the jar with the index in it xD.

[2020-07-01 14:24] maxvisser commented on #255
would propose to go through the dashboard; and hide alot of funtionality and start with a small mobile friendly scope. Iterate until all pages are mobile friendly.

[2020-07-01 14:29] maxvisser commented on #255
also we could check if people use this mess before removing alot of functionality (hiding it)

[2020-07-02 12:53] SjoerdHilhorst commented on #253
https://docs.google.com/document/d/1OEJsBrF6JSZwGeNZA4OXPbIViBBAs_24ZcwLSTv1uo0/edit?usp=sharing

[2020-07-03 08:07] maxvisser opened #257 "Provider sign-upflow: Image cropper"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Needs new design for desktop
Needs new design for mobile (or leave it out)

[2020-07-03 08:49] maxvisser opened #258 "CR: Redirect provider if he logs into webshop to provider dashboard of that implementation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

Userflow proposal:
- Provider presses login on webshop
- Scans QR-code with Me-app or logs in with mail
- System indicates that user has organization/products or is part of an provider organization
- Show a popup modal which tells user "Do you want to open your dashboard?" -> YES -> Redirect

[2020-07-03 11:33] jknnr commented on #205
Closing this cause we have a new one that is more specific https://github.com/teamforus/me/issues/443

[2020-07-05 14:45] danrminds commented on #182
@maxvisser @jamalv

Is there any rule applicable to the 16-digits codes from the current cards?
Would be nice to implement at least some type of validation.

Example:
- Not containing 8
- Starting with 10
- etc.

[2020-07-05 15:08] jamalv commented on #182
Yes, I just checked. All cards start with "1001" so only the last 8 digits have to be unique.

So the way we implemented in figma, can be the way it is implemented for real:

<img width="312" alt="Screenshot 2020-07-05 at 17 07 24" src="https://user-images.githubusercontent.com/30194799/86535645-10163a80-bee2-11ea-9844-78737c6fee22.png">

Side note: at these kind of fields a blinking cursor is ver

[2020-07-05 15:09] danrminds commented on #182
@maxvisser @jamalv

Also - let's discuss how we handle the ordering of new cards?

1. Where do we display those orders? In the sponsor dashboard? or in any other place?
2. At what stage is the code of the new card connected? Is this code automatically generated or not? Or the code is already on the cards? Is this something the sponsor will do from the list of orders? Or the citizen has to do it hi

[2020-07-05 15:16] jamalv commented on #182
1. The ordering of new cards will be by email. We will send an email to the printer with the order details. (postalcode + house number).

2. The printer already has 1600 pre-printed cards - they have the codes already on them. So yes, it's the last option, the citizen has to do it themselves, the instructions are in the included letter.

[2020-07-05 15:30] danrminds commented on #182
We will need an exact formatting for the email. When you have time - please check that with them.

[2020-07-05 15:32] danrminds commented on #182
Another question -
Will we need any validation for the postcode and house number?

Possible:
 - Simple format validation (4 digits + 2 letters)
 - Validation from a list of allowed postcodes
 - Validation via an API - that this postcode and house number exist.

[2020-07-05 15:43] danrminds commented on #76
@maxvisser @jamalv

Can this one be planned in?

[2020-07-05 17:03] jamalv commented on #235
Related: vraag van maarten: https://www.figma.com/file/vnpp2wD8h66vMKuYuQMNgK?node-id=4:1921#31859396

[2020-07-05 17:11] jamalv commented on #182
Depends on the scope. Simple format validation is a no brainer, so yes please :)

Next, only people in the municipality of Groningen should be able to order this card. I don't know if we already have a dependancy which we can use to check this. Do you already have experience with dependancies for checking this?

[2020-07-05 17:16] jamalv commented on #182
I have also added a couple comments for you in Figma:

New acceptance criteria: any input field should have a blinking cursor so people know they can start typing (you would be surprised how much it confuses people if there is none - they just keep clicking on the field, often selecting the whole page), comment: https://www.figma.com/file/vnpp2wD8h66vMKuYuQMNgK?node-id=5:2335#30178765

I think thi

[2020-07-06 07:00] maxvisser commented on #76
needs text review and functional design

[2020-07-06 07:19] maxvisser opened #262 "Fund list of signupflow: add fund image"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/86566233-9a55b180-bf69-11ea-9df7-e7779ece9a21.png)

Would be nice to show fund image on this list; As the list can get pretty big it is a nice way to make your fund more identifiable

[2020-07-06 11:37] maxvisser opened #263 "IP: Prevalidations hashing of bsn numbers"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [ ] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
A validator can upload prevalidations in bulk. A requester can redeem a prevalidation with an activation code or using a valid BSN number from DigiD.

## Desired situation
Citizen service numbers are sensit

[2020-07-06 11:40] maxvisser opened #264 "IP: Mutations in prevalidations"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [ ] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
Data shared with Forus is now shared with the condition that the person has a year's right to activate. (the data can therefore be kept for a year instead of a month). Therefore, data cannot be changed, dea

[2020-07-06 11:43] maxvisser opened #265 "IP: Prevalidation, add criteria check on CSV headers"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [ ] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
This development is to improve the administrative handling of the upload. At this time, the CSV would need some key/values which are for the bulk the same. For people who have equal rights, most of these co

[2020-07-06 11:46] maxvisser opened #266 "CR: Disable requesting fund via signupflow"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
@maxvisser

### Change description
As a sponsor I would like to enable/disable the signupflow for a fund.

Municipalities upload prevalidations in bulk which contain data about requester who are eligible for a fund. If a municipality decides to not use Forus its requester signupflow for a fund.

They should be able to

[2020-07-06 11:53] maartenfv commented on #172
@jamalv @maxvisser Coul you give a status update on this issue?

[2020-07-06 12:13] maxvisser commented on #172
Issue is planned to start work on concept, design, development starting next week. As limiting offers/discounts actions will become more of how it will work we can look on how to implement this. Currently working on Children/New Offers/Reactivating old cards

[2020-07-06 12:18] jamalv commented on #219
This one needs more review; the texts on mobile are now very weird and confusing to the end user.

[2020-07-06 12:29] jamalv commented on #135
My preference would be to make it for the website and link to that page from the webshops. It will be easier to maintain (1 page instead of one for each webshop) and it will also be a nice addition to the website (I think).

This means it will need designs and texts. The main question is if @GerbenBosschieter and @linda-90 think this page could be added to the website:

https://www.figma.com/file/

[2020-07-06 12:32] jamalv commented on #45
@maxvisser I think this issue can be considered done; it is a bit too big and vague. We should create seperate issues for the things that are needed still. Probably from the usertests we will have plenty :)

About the webshop sign-up page there is this issue: https://github.com/teamforus/general/issues/135

[2020-07-06 13:14] #222 closed

[2020-07-06 13:19] maxvisser commented on #45
I agree to keep DoD correct though we could decide to keep this one open until there is actually a potjeswijzer.nl webshop (as currently we don't host one yet)

[2020-07-06 13:24] maxvisser commented on #219
Agree. Welcome texts indicates that user will be redirect to dashboard while this is not the case (last step is downloading and login on Me-app.

[2020-07-06 13:26] maxvisser commented on #219
Do you want to put this back on the backlog or close this one and create a new CR for looking at the texts?

[2020-07-06 13:39] jamalv commented on #230
this one is related to: https://github.com/teamforus/general/issues/135

[2020-07-06 13:42] jamalv commented on #71
I think this is related: https://github.com/teamforus/general/issues/135

[2020-07-06 13:45] maxvisser commented on #71
yes, all information from here moves to the website or to first page of signupflow :)

[2020-07-06 13:45] jamalv commented on #178
we got in touch, apparently it is not production ready yet. would be very nice when it's ready, though.

[2020-07-06 13:47] jamalv commented on #187
Let's only do this if there is no other way; as it will increase the burden on maintenance / releases etc.

I do think it is good to first focus on optimisation of the mobile experience, optionally investigating progressive web apps at some point : https://en.wikipedia.org/wiki/Progressive_web_application

[2020-07-06 13:50] jamalv commented on #144
this one would be nice, next step would be to make an approval of what this would look like; how does it the user experience? do we need to add something to the footer? will the os take care of it?

[2020-07-06 13:53] maxvisser commented on #187
@jamalv what kind of burden do you see which is increased?

[2020-07-06 14:04] maxvisser commented on #258
Currently if user logs in on webshop there is no clear flow of getting that provider from webshop to dashboard.

[2020-07-06 14:20] GerbenBosschieter commented on #135
@jamalv we would like to add this page to the website. But the current design doesn't really fit into our current design of the website. So adding the potjeswijzer design to the website is a bit weird

[2020-07-06 14:32] GerbenBosschieter commented on #135
@jamalv This will also influence the landingspages of westerkwartier and Nijmegen. Don't like the idea of just changing it to a completely different design for these implementations. They already have a floating validator dashboard.

Before we even continue with this we should have a clear strategy to keep everything aligned for our customers.
Need some planning on how to implement this.

**Exampl

[2020-07-06 14:41] GerbenBosschieter commented on #251
Not sure If I am the one that can grant an approval but I think we came to an agreement

[2020-07-06 15:02] GerbenBosschieter commented on #230
@jamalv your concept is not about the website but about the dashboards.

[2020-07-06 15:09] GerbenBosschieter commented on #229
@linda-90 Ready to start some figma magic again for the website ^^

[2020-07-06 18:06] jamalv commented on #45
Well, to bring it to production, I assume the WK one needs to go offline. Do you want to keep this open until then?

[2020-07-06 18:07] jamalv commented on #45
I mean, we can, I'm definitely not against it, I'm fine either way :)

[2020-07-06 18:49] jamalv commented on #215
@maxvisser how big is the scope for this? it seems like a minor issue, but now that our website, signupflows and the me app are more aligned in the white style, I think this would be a nice step in harmonising our products.

Especcially if we start sharing style elements / images between the different products, it will help if the background colors are the same.

Example: ![image.png](https://imag

[2020-07-06 18:52] jamalv commented on #194
@maxvisser I left a comment in figma about the call to action:

https://www.figma.com/file/Z96JUSqKypvCPOYjWy5UbG?node-id=1:70#32180943

[2020-07-06 19:13] jamalv commented on #267
I think this is MVP:

[RPReplay_Final1594062031.mov.zip](https://github.com/teamforus/general/files/4880794/RPReplay_Final1594062031.mov.zip)

We could leave the other things (swipe to hide / link with backend) out of scope.

[2020-07-06 19:38] jamalv commented on #251
@GerbenBosschieter haha, i believe you just did ;)

[2020-07-06 19:42] jamalv commented on #254
Hey @linda-90  en @maartenfv, you can have a look at this folder (prototypes): https://www.figma.com/files/project/6040013/%F0%9F%94%8DPrototypes

If there's an 📝 icon in the file name, it means the texts still need review. When you gave your final blessing, could you change the name of the file by removing the 📝 icon?

[2020-07-06 21:55] GerbenBosschieter commented on #215
@jamalv i agree. I would also like to see the white background on general webshop.🙉

[2020-07-06 22:04] GerbenBosschieter commented on #144
@jamalv I’ve looked into it once and it didn’t look really difficult to set up ie implement.

Maybe add it the the footer of Every e-mail we send (just like e-mail preferenties). Should have a clear distiction between the two of them.

A Nice to have would be something like a (subtle)request to click on a link to accept our domain for future notifications. This request could be added to the Experi

[2020-07-07 07:19] maxvisser commented on #215
I think you mean a estimation of time? (which depends on the scope). If we want to align buttons, text fields, modals with the signupflow; each thing you add to this list adds upon how much time it takes. So maybe we can make a list on whats needed to be aligned.

[2020-07-07 07:21] maxvisser commented on #194
whats in figma is almost done (thats the current status)

[2020-07-07 07:27] maxvisser commented on #251
Just looked at Figma. Really nice guys! Texts are great.

[2020-07-07 07:28] maxvisser commented on #251
Not sure If I am the one that can grant an approval but I think we came to an agreement

[2020-07-07 07:31] maxvisser commented on #45
Well it occured to me that probably we should still have issues for the things on this list with a comment on why it is not deployed yet https://github.com/teamforus/itsm/issues/228

Somewhat the same with this one. Development is 'finished' but its not used on production yet.

[2020-07-07 07:54] jamalv commented on #251
Yea, really happy with the texts as wel!

[2020-07-07 07:54] jamalv commented on #251
Not sure If I am the one that can grant an approval but I think we came to an agreement

[2020-07-07 07:59] jamalv commented on #215
Ah yea, I understand. The scope I had in mind was purely the background color + all borders (remove dropshadows and make it the light grey line) - but I understand the scope can quickly grow with adding other UI elements as well..

for reference: https://www.figma.com/file/ArDg3BA8o4uANBLk3ZVzeM/Dashboards?node-id=65%3A138708

[2020-07-07 08:03] jamalv commented on #215
of course, since this is mostly aesthetics and harmonisation, it will not be a "must-have" (we are not apple.. yet.. :P) - but making a start and improving it iteratively means we eventually increase re-usability of elements, which is an optimisation :)

[2020-07-07 08:05] jamalv commented on #230
@GerbenBosschieter ah yea, thx, I linked the wrong one 😅  https://www.figma.com/file/lGrd2oSiUEZ6aLYF3dirt5/%F0%9F%94%B5Forus.io%3A-Organisation-signup-page?node-id=0%3A1

[2020-07-07 08:11] jamalv commented on #229
Some reference materials: https://www.figma.com/file/zWT7008xCnS6NtjDyYa65K/Website?node-id=0%3A1328 and

[2020-07-07 08:13] jamalv commented on #187
Well, I understand since it is a wrapper, the pipeline is easier then a native app, but you still need to bring it to production and update the dependancies once in a while, and recompile it sometimes for new OSs etc.

[2020-07-07 08:30] jamalv commented on #194
As the concept/proposal is already clear and it's already in the development pipeline, maybe it is better for an actual designer to review it?  My main attention point: I think the icon is a bit weird for "applying" for something, also I think since it is a call to action (the main one) it should be differentiated more from the other buttons.

[2020-07-07 08:44] jamalv commented on #215
updated issue and title

[2020-07-07 08:51] jamalv commented on #215
Ah yes me too (https://webshop.staging.forus.io/), it would also be useful to align that more with the figma webshop library, as we often use those templates for designing webshops: https://www.figma.com/file/7lQX9ZRpJW3ZTCtEosAMzs/Webshop?node-id=156%3A0

[2020-07-07 09:30] linda-90 commented on #54
Wat is de status van deze issue?
@jamalv @maxvisser

[2020-07-07 09:55] danrminds commented on #264
https://github.com/teamforus/general/issues/76

[2020-07-07 11:20] maartenfv commented on #46
@jamalv Could you specify this issue?

What are the Sub-Issues of this Epic?

[2020-07-07 11:27] maxvisser commented on #54
Its on production https://blog.forus.io/2020/06/webshop-instellingen.html So we can close this issue.

[2020-07-07 13:08] maartenfv commented on #41
Discussed with Max. Need text check. Could you please add Figma link?

[2020-07-07 13:14] maartenfv opened #268 "Email digest needs a language check"

[2020-07-07 13:18] maartenfv commented on #41
Discussed with Max as well its not just Figma needs another language check as well to make sure the emails do not "sound" like robot. Check/adjust email templates in the back-end code.

[2020-07-07 13:18] maxvisser commented on #41
https://www.figma.com/file/u3KF3hKewS4FA6YzzA7var/%F0%9F%A7%91%E2%80%8D%F0%9F%A6%AF%F0%9F%94%8D%F0%9F%93%9DMails?node-id=3%3A108&viewport=1041%2C646%2C1

[2020-07-07 13:23] maartenfv opened #269 "CRUD in Me"

[2020-07-07 13:23] maartenfv opened #270 "CRUD in Webshop"
## Current situation
We have records in the me app: https://www.figma.com/file/Dyk8ACF91stjmWmO3rUpXv/?node-id=1098%3A11364

## Desired situation
Add records to the webshop as well

## Plan
Figma (brainstorm): https://www.figma.com/file/72RtRfLFzzzLaN92EtJwxS/?node-id=1%3A23

[2020-07-07 13:26] maartenfv commented on #270
We need the Figma designs to be updated.
Could you tell a bit more about the context of this issue?

[2020-07-07 13:28] maartenfv commented on #269
Needs a language check.

Could you please add Figma link?

[2020-07-07 13:32] maxvisser commented on #269
https://www.figma.com/file/72RtRfLFzzzLaN92EtJwxS/%F0%9F%94%B5%F0%9F%93%9DCRUD-records-Me?node-id=12%3A0&viewport=429%2C420%2C0.11416016519069672

[2020-07-07 14:04] maartenfv commented on #208
@maxvisser Could you give a status update?

[2020-07-07 14:08] maartenfv commented on #186
@maxvisser Discussed with Max needs to be language checked and tested. A Max could you give us the file to be checked?

[2020-07-07 14:09] maxvisser commented on #186
https://github.com/teamforus/forus-backend/tree/develop/resources/lang/nl/notifications

[2020-07-07 14:18] jknnr commented on #208
@maartenfv This was done long ago, will appear in the next release I suppose

[2020-07-07 14:18] maartenfv commented on #87
Discussed with @maxvisser text has been made smaller. The issue is fixed with a short term solution. Still needs an overhaul. Has become part of Epic webshop improvement.

[2020-07-07 14:23] #134 closed

[2020-07-07 14:23] maartenfv commented on #134
@SjoerdHilhorst Klopt het dat deze geclosed kan worden?

[2020-07-07 14:26] maartenfv commented on #221
discussed with @maxvisser has new issues. @GerbenBosschieter Have these issues all been made and added to this epic?

[2020-07-07 14:32] maartenfv commented on #54
@linda-90 Staat ook op staging. Kunnen we dit laten zien aan Leonie en Paul?

[2020-07-07 14:37] maartenfv commented on #45
Can we do a language check on this one?

[2020-07-07 14:48] maxvisser commented on #41
@maartenfv @linda-90 Could you check this figma prototype; I see some dutch translations and some great ideas but what is what?

[2020-07-07 14:49] maxvisser commented on #33
@maartenfv @linda-90 https://www.figma.com/file/ak9pjSwJsgwOdpPjadL26Q/%F0%9F%9B%91Prototype-external-validation could you check this for language?

[2020-07-07 14:52] maxvisser commented on #45
https://www.figma.com/file/IQ6oy8Up7rBcANPACCydyG/%F0%9F%91%A9%E2%80%8D%F0%9F%92%BBPotjeswijzer.nl?node-id=42%3A10567&viewport=816%2C3799%2C0.24384088814258575
this is figma; its a normal webshop without alot of texts (now alot of texts are also user configurable) So I am not sure what you can check.

[2020-07-07 14:56] maxvisser commented on #208
Should be in release v0.3.1
https://github.com/teamforus/me-ios/pull/37

This is for @GerbenBosschieter to still accept and test

[2020-07-07 17:51] maxvisser commented on #268
https://github.com/teamforus/forus-backend/tree/develop/resources/lang/nl/digests

[2020-07-07 17:55] maxvisser commented on #268
Figma link for texts: https://www.figma.com/file/u3KF3hKewS4FA6YzzA7var/%F0%9F%A7%91%E2%80%8D%F0%9F%A6%AF%F0%9F%94%8D%F0%9F%93%9DMails?node-id=190%3A0&viewport=490%2C-231%2C0.8103119134902954

[2020-07-07 18:47] maartenfv commented on #41
@maxvisser What is the interval of the digest? Is it different for the kind of notification?
Some notifications like new offers for the citizens can be send daily?
But maybe some things are needed multiple times per day?
Is there a written proposal for these things?

[2020-07-08 05:48] maxvisser commented on #41
It are all daily digest except the one for citizens about offers which is monthly

[2020-07-08 05:49] maxvisser commented on #41
Configuring the interval was out of scope but ofcourse really nice to have

[2020-07-08 07:48] MichaelForus opened #271 "Change request: Signup flow: provider already getting stuck on step 2."
**Support Ticket ID:** #1575

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @Gerbenbosschieter

### Change description
- Signup flow: provider already getting stuck on step 2.<br>

Figma:
https://www.figma.com/file/pdUYpbnipdNFz5xnshqqst/Provider-signupflow-download-link?node-id=1%3A1048

[2020-07-08 08:17] GerbenBosschieter commented on #271
**Problem**
A lot of providers use a tablet instead of a mobile phone to use the me-app.
The tablet doesn't have a simcard so it can't receive a sms and our signup flow forces people to use a phone number.
The option to click a link wil only be displayed if people tried to enter a phone number and click Send.

But if you already know that you not have a simcard in your device, there is no incentiv

[2020-07-08 08:18] GerbenBosschieter commented on #271
<img width="1219" alt="Screen Shot 2020-07-08 at 10 07 35" src="https://user-images.githubusercontent.com/38419514/86895112-4c28e580-c104-11ea-91c0-4c313b3a33f7.png">

[2020-07-10 12:35] linda-90 commented on #235
🙏

[2020-07-10 12:37] jamalv commented on #235
We hebben dit net besproken, maarten en linda vinden het ook een goed idee!

Volgende stap: plannetje maken om overal deze aanpassing (zo consistent mogelijk) door te voeren; enerzijds betreft de techniek, anderzijds betreft communicatie naar onze gebruikers / stakeholders

[2020-07-10 12:44] linda-90 commented on #235
@jamalv Heb hiervoor een issue aangemaakt. Communicatie/technischplan uitwerken: https://github.com/teamforus/implementation/issues/406

[2020-07-10 13:51] maartenfv opened #272 "PLEASE REMOVE ALL CAPS"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implementation (Maarten&Linda)

### Change description

We would like to remove ALL CAPS text from our websites.

- We request to update the design guideline with this standard. So it will not be used in the future.
- Update the current webshops by removing all caps.

Example: website nijmegen.

![image.png](https:/

[2020-07-10 13:52] maartenfv commented on #272
@GerbenBosschieter @linda-90 what are other places we use ALL CAPS?

[2020-07-10 15:53] GerbenBosschieter commented on #251
Not sure if I am the one I can approve this message.  But i think we came to an agreement.

[2020-07-11 06:52] jamalv commented on #272
Yes agreed! I think maybe sometimes ALL CAPS can be used for call to actions? And maybe (small) labels? For the rest I also think we should use it as little as possible. maybe @Myshelova also has an opinion about this? 😄

[2020-07-11 06:53] jamalv commented on #272
Actually I just did some browsing around websites I like, and I think maybe not using it anywhere (like you proposed) is the best.

[2020-07-11 08:27] jamalv opened #273 "Improving localisation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
I was looking at some localisation integration options with Figma and came across these:

https://support.crowdin.com/enterprise/figma-plugin/
https://lokalise.com/product/integrations/designer-tools/figma

[2020-07-12 07:20] maxvisser commented on #187
https://medium.com/pwabuilder/microsoft-and-google-team-up-to-make-pwas-better-in-the-play-store-b59710e487 seems like pwa is a good way to go.

[2020-07-13 08:43] jamalv commented on #49
Brainstorming is being done [here in figma](https://www.figma.com/file/sEenqvErGSaTEfwqhsGfmQ/%F0%9F%A7%AAWebshop-improvements?node-id=93%3A986)

There were some comments that turned into a conversation, that I think is better suited for github:

Feedback from Jamal:

Feedback from Gerben on Jamal’s feedback:

Feedback from Jamal on Gerbens feedback on Jamal’s feedback.

 

[2020-07-13 08:49] jamalv commented on #49
@maartenfv placed a question in figma: How do we proceed? Needs to be closed :)

@maartenfv: I think this issue is too big to close (yet) I think many smaller issues need to come out of it that can indeed be fixed and closed, but improving the webshops without disrupting current users, is a pretty big project, and I think that this issue is a good more "abstract" issue to keep an overview of the t

[2020-07-13 09:17] jamalv commented on #205
Re-opening to have a discussion and get some feedback

[2020-07-13 09:25] GerbenBosschieter commented on #272
Well, I do see it beging used with small labels and specific call to actions. But for now we should just use normal text

[2020-07-13 09:35] jamalv opened #274 "Me app release pipeline"
Task: to write out what needs to happen for a me app release (both iOS and android); who is responsible for which part of the pipeline? What needs to happen?

## Definition of done:
- [ ] Updated document: Release manual/checklist in general repository; e.g. https://github.com/teamforus/general/tree/master/manuals/development/release-me.md or something

This list should include all the tasks/steps

[2020-07-13 09:36] maxvisser commented on #205
added profile page and about me page to figma prototype; Would like to aswell update these. I also would say 'about me' would be nice to open the onboarding screens.

[2020-07-13 09:43] maxvisser opened #275 "Download Me via Mobile Webshop should be direct download instead of SMS"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Max Visser

### Change description

![unnamed](https://user-images.githubusercontent.com/10818702/87290187-f8e8d580-c4fd-11ea-8c94-642cfd2fd791.jpg)

Seems like an easy fix to put some buttons here with an explanation

[2020-07-13 10:08] GerbenBosschieter opened #276 "Some of our e-mails should be configurable."
Learn more about change requests here: https://bit.ly/39CWeEE

**Support Ticket**: #1333

### Requested by:
- Sponsor

### Change description
- As a sponsor I would like to change the date of certain automatic mails that are being send via the platform.

**E-mails** (not a complete list, just an example)
- The date of when a reminder about the budget is being send (currently 3 and 6 weeks before e

[2020-07-13 11:06] maxvisser commented on #276
We changed abit on how this works. I will check what the possibilities are with the new notifications. I think there are two things here; the system 'notifications' which remind user on system level that voucher is about to expire and you have a mail/message by sponsor which is more social thing.

From the systems perspective you want to calculate the duration of the fund; for example a year; and

[2020-07-13 11:17] maxvisser commented on #272
Should make a list of all places we use ALL CAPS now and create a development task to clean up. @SjoerdHilhorst If you have time to look at this one; this likely one where creating a task takes more time then fixing it.

[2020-07-13 11:21] maxvisser commented on #271
Tasks I see here:
- [ ] Adjust figma @jamalv @maxvisser
- [ ] Create development task @danrminds

[2020-07-13 11:29] maxvisser commented on #271
Not sure anymore; I see I left comment and aswell approved the IP. Probably me reviewing the IP and aswell being the one who needs to plan it results in some unintended conflict of interests

[2020-07-13 11:34] jamalv opened #277 "Directly grant voucher to requester based on records"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Can we directly grant a voucher to current holders as a fund?

e.g: person has "kindpakket" and automatically gets "fund x"? - can this be done?

[2020-07-13 12:12] maxvisser commented on #264
https://www.figma.com/file/RolmXCeR5lPfMlnNzDU8lO/%F0%9F%93%9D%E2%9A%99%EF%B8%8FDuplicates-on-voucher-generator?node-id=3%3A1128&viewport=1041%2C662%2C1

[2020-07-13 12:12] maxvisser commented on #264
`Are you sure you want to create extra vouchers for these ${items.length} email addresse(s)`,
"that already have a voucher?"

[2020-07-13 20:24] jamalv opened #278 "SMS SenderID"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
https://support.twilio.com/hc/en-us/articles/223181348-Getting-Started-with-Alphanumeric-Sender-ID-for-Twilio-Programmable-SMS

[2020-07-14 07:30] linda-90 commented on #264
# 1
## EN
hero_title: "Duplicate email adresses detected.",
Description: `Are you sure you want to create extra vouchers for these ${items.length} email addresse(s)`,
"that already have a voucher?"

##NL
Er zijn dubbele e-mailadressen gedetecteerd. Weet u zeker dat u extra vouchers wilt aanmaken voor deze <<amount>> e-mailadressen?

#2
## EN
hero_title: "Duplicate prevalidations detected.",
Are yo

[2020-07-14 08:29] maartenfv commented on #268
@maxvisser @jamalv The screens in Figma are not ready for the language check.

Examples:

- We need texts to be able to understand the functionality. The texts in the designs should be written out completely. ![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/244f2abe-0afb-4736-bf9a-a4af88551743)

- The text needs to make sense. Some text are just randomly placed. (Kindpakk

[2020-07-14 08:43] maxvisser commented on #268
@maartenfv these are already in code
not sure if you saw the files:
https://github.com/teamforus/forus-backend/tree/develop/app/Digests

[2020-07-14 08:47] maxvisser commented on #268
You want me to copy over the texts from the code to figma?

[2020-07-14 08:52] maxvisser commented on #264
Activaties (activatiecodes/bsnnummers met klaargezette gegevens/ mensen die recht hebben)

[2020-07-14 09:15] jamalv opened #279 "Using DigiD as SSO with other municipality applications"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Customer

### Change description
One of the advantages of DigiD for dutch citizens, is that they can use it as single sign on (SSO): when they log in to DigiD on one application; the session can persist when a citizen goes to a different application.

In our application we use DigiD one-time for getting and validating

[2020-07-14 09:16] jamalv commented on #279
@maxvisser I assume that we at least have to migrate from CGI to SAML, is that right? And after that, is this doable? Could you share some insights?

[2020-07-14 09:25] maartenfv commented on #186
@maxvisser Does this still need to be checked?

[2020-07-14 09:26] maartenfv commented on #171
@GerbenBosschieter could you give a status update?

[2020-07-14 09:52] GerbenBosschieter commented on #272
@maxvisser Already made a start with this on the navbar branch. I discussed this with you and Jamal.
There a like 5 places left where there are still some Capitals. Have to do one or three commits to create PR for navbar. (today)

After merging of this PR we could do a assessment of where there are more capitals.

[2020-07-14 10:21] SjoerdHilhorst commented on #134
Dat is aan robin denk ik, voor mij wel

[2020-07-14 10:54] GerbenBosschieter commented on #171
To do:
- Update FAQ webshop (NI separate file)
- Widget on standby  (it's done)

[2020-07-14 11:07] jamalv commented on #257
What's the status of this? Why is this needed?

[2020-07-14 11:29] jamalv opened #280 "Make fund formula user configurable"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Right now we set the fund formula directly in the database (for each child_nth you get €300 worth of budget) - this should be configurable by the user.

Question: can we add it to the fund settings, so that it doesn't need to be changed in service window, and it is more transparant to the spo

[2020-07-14 11:30] jamalv commented on #47
My attempt to clarify the CR (might be a bit inaccurate):

A sponsor has a desire to be more flexible in the way that they set the budget of the fund. Right now there is a fund formula that dictates how much every requester gets. e.g. €300 per requester, based on an eligible key (record).

Some people have more income (e.g. 120% of the poverty line, instead of 110%)

The sponsor would like to allo

[2020-07-14 11:43] jamalv commented on #262
I created a figma prototype:

https://www.figma.com/file/L7VH4Wj2LRZu5fuYi5jbAH/%F0%9F%94%8D%E2%9A%99%EF%B8%8FSignupflow-fund-image?node-id=0%3A1

- [ ] Needs design review
- [ ] Needs development issues

[2020-07-14 11:47] jamalv commented on #256
Could you estimate scope?

[2020-07-14 11:50] jamalv commented on #256
I think it would be very useful, approval depends a bit on how long it would take to implement.

[2020-07-14 11:51] maxvisser opened #281 "CR: Add forus.io/DL to platform and webshop code"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently this page is still in the old Python code base of the previous website. It was never added to the new websites code. In some release the CSS and images got disrupted and now there is only text on forus.io/DL

## Desired situation
Add the JS, CSS, images and pug file to the forus-fro

[2020-07-14 11:56] GerbenBosschieter commented on #274
summary:
- Release of the app should be the same as front and backend
- It goed wrong with buildng: who builds what en when.
- It goes wrong staging and agreements. no planning.

[2020-07-14 11:57] maxvisser commented on #47
I already did this; a few months back during an implementation of Forus. I found that when you want to start using the requester signupflow the criteria, a percentage of budget, is not possible. If you will never use the signupflow (steps created by the criteria) it is possible.

[2020-07-14 12:00] maxvisser commented on #256
I guess a small scope; less than a few hours work. Most of it is in configuring it in Uptimerobot

[2020-07-14 12:01] jamalv opened #282 "Providers: "Last seen""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Intenal

### Change description
We would like to have an actualised offering of offers in the webshops, and avoid providers that signed up a couple years ago, from still being visible while they are not active anymore. One of the ways we achieve this, is by manually renewing the fund each year, but actually this is a

[2020-07-14 12:01] jamalv commented on #282
@maxvisser could you give an estimation of scope?

[2020-07-14 12:02] jamalv commented on #252
This is a very great CR: could you please index the scope / impact? If it is literally a button and the user can do it themselves, this would save a lot of work for all the funds that need to be renewed next year.

On a related note: I remember a discussion we had about how we prevent "ghost-town" webshops. One of the strategies we had, is to let providers re-apply; a better solution we came up wi

[2020-07-14 12:08] maxvisser commented on #280
You have three types of 'formula': products, budget fixed, budget multiplied; each one of these can be combined

Product formula needs a ui for selecting a product; after selecting the product it will save the product ID and its price. Condition: only products which have an unlimited stock currently can be added to the formula.

Budget fixed formula needs a ui for selecting if its a fixed price (e

[2020-07-14 12:14] maxvisser commented on #280
Example use case where everything is combined:
- Everyone will get a bus subscription: this a non cancelable product voucher which can only be spend for the getting a bus subscription (product fomula)
- Meedoenregeling configures a fixed price of 150; everyone will get 150€ (Budget fixed)
- If you are doing any caregiving you will get an appreciation which results in €50 for each person you give c

[2020-07-14 12:15] maxvisser commented on #280
Does this help by creating UI?

[2020-07-14 12:23] maxvisser commented on #282
We store last api calls per identity. We should define when a provider is 'active' and who's 'Last seen' counts; A provider can have multiple employees we don't store it for the organization. I can't really estimate the scope of getting the organization's status; I would first create this status 'last seen' for each organization and test if it is accurate enough before removing any of the current

[2020-07-14 12:26] maxvisser commented on #252
Currently the record_types need to be manually created as most of the fund use an Eligible key which is unique for that year. If we add time sensitivity to records we don't need to renew meedoen_2020_eligle to meedoen_2021_eligible each year. I would propose to add time sensitivity first to the criteria system before starting on renewal.

[2020-07-14 12:27] maxvisser commented on #257
We still have the old design on desktop. Mobile status is that is is usable but really sketchy

[2020-07-14 12:27] jamalv commented on #234
Added a figma prototype: https://www.figma.com/file/1qV7a2t0XTbFnmlXPlduJk/%F0%9F%94%8D%F0%9F%93%9D%F0%9F%A7%91%E2%80%8D%F0%9F%A6%AF%E2%9A%99%EF%B8%8FEmail-confirmation-followup?node-id=0%3A1

For most people they were not applying for something (it is the generic email confirmation).

My proposal is as follows: show the normal email confirmation page with a link: how to continue? when they click

[2020-07-14 12:30] maxvisser commented on #234
As the sign-up happens though Me-app there is no indication of if the user just downloaded the app from app store or used the signupflow (download link via SMS) to get the me-app. So I see it currently as not feasibly;

We can however show it to all Me-app users as you already indicated.

[2020-07-14 12:32] maxvisser commented on #279
Correct CGI does not support SSO

[2020-07-14 12:34] linda-90 commented on #269
- [ ] Language and B1 check done

[2020-07-14 12:55] linda-90 commented on #236
# Voorstel
Validator naar Beoordelaar of controlerende organisatie
Validatieverzoek naar Beoordeling aanvraag (verzoek is niet B1)
Validatie naar Goedkeuring/goedkeuren (bevestiging is niet B1)

Voorbeeld validator:
Laat de QR-code scannen door een organisatie die controleert of uw gegevens kloppen.

[2020-07-14 12:59] linda-90 commented on #233
@maxvisser @jamalv Figma link?

[2020-07-14 16:26] maxvisser opened #283 "CR: drop support for iOS 10"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Some features like Dark Mode can only be used when you drop support for older iOS versions (these devices cannot use these new features). iOS 11 is compatible with these devices:
iPhone
iPhone X
iPhone 8
iPhone 8 Plus
iPhone 7
iPhone 7 Plus
iPhone 6s
iPhone 6s Plus
iPhone 6
iPhone 6 Plus
iPho

[2020-07-14 16:31] maxvisser opened #284 "CR: Me-ios on iPad, make it look great on a large screen"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Me-app is designed for iPhone, never for iPad. I would propose to start looking on the state of Me-app on iPad and see if there are any obvious fixes.

- [ ] Make screenshots of the current state, add them to figma
- [ ] leave comments on obvious fixes. Create task to clean iPad screens
- [ ]

[2020-07-14 17:17] jamalv commented on #283
Some adoption stats here: https://developer.apple.com/support/app-store/

[2020-07-14 17:20] jamalv commented on #283
Sometimes people cannot update because they don't have enough storage available (for example). I would be a proponent of supporting old versions as long as possible. And even though dark mode is great, it's not really a strong enough reason to force people to upgrade imo :P

I do think (not completely sure) that you can download the last supported version from the app store if you have an old iOS.

[2020-07-14 17:28] jamalv commented on #282
hmmm, we could also consider something like:

last transaction: 3 months ago

last seen could be for all employees of the organisation I think

[2020-07-15 08:02] maxvisser opened #285 "CR: add tabs for provider fund requests"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

![image](https://user-images.githubusercontent.com/10818702/87519654-34141180-c682-11ea-875d-62733b23ff6c.png)

add some tabs which can be used to quickly filter the provider fund requests

[2020-07-15 09:03] GerbenBosschieter commented on #231
Status: Spoke with @linda-90 about this. She made a start with the design for this. She gonna finish this and ask team to review. If accepted we will start development

[2020-07-15 10:55] linda-90 commented on #231
Figma link: https://www.figma.com/file/KD2HGR90hiR5kDBODj7DBw/%F0%9F%92%BBWebsite?node-id=563%3A0&viewport=214%2C168%2C0.11680220812559128

[2020-07-15 12:23] MichaelForus opened #286 "Change request: As a sponsor I would to have more information about the financial statistics"
**Support Ticket ID:** [#1603]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
@Sponsor

### Change description
As a sponsor I would to have more information about the financial statistics<br>

- Total amount of budget that is granted
- Total amount of activated budget
- Total amount of not activated vouchers
- Remaining amount budget of activated vouchers

[2020-07-15 12:40] GerbenBosschieter commented on #286
This information is per fund

[2020-07-15 12:44] maxvisser commented on #286
So a financial dashboard should have an screen with all your funds combined?

[2020-07-15 12:49] GerbenBosschieter commented on #286
No. this information should be visible per fund

[2020-07-15 13:26] maxvisser commented on #286
Discussed this CR with @GerbenBosschieter we will start on defining users needs; what kind of information should be there; We will start with manually supplying this data (itsm issue) and discuss on how to automate this / add it to their dashboard. (discuss timeline with them aswell).

[2020-07-15 13:27] maxvisser commented on #286
@GerbenBosschieter / @MichaelForus could you enhance this issue if you get more info on what data should be included in the total amounts? As in: we need to define what is for them 'budget that is granted' and 'total amount of activated budget' etc.

[2020-07-15 13:36] maxvisser commented on #283
I disagree with 'support as long as possible'; same as supporting an old browsers. Best described here:
https://medium.com/marino-software/why-you-should-stop-supporting-older-os-versions-ba55115dd16

[2020-07-15 13:46] maxvisser commented on #231
Hi guys; I see the new designs and like them alot; I thought about this abit more. As a vancancy is not really static content; I see there is maybe a need for CMS functionality here. When I worked on the Blog (blog.forus.io) I thought about aswell including this in Forus but decided against it as it needs to be more rapidly released as the current frontend application.

A proposal could be to not

[2020-07-15 14:05] maxvisser commented on #236
Ik zou dan wel consistent beoordeling gebruiken dus bijv Beoordelende organisatie

Laat de QR-code scannen door een organisatie die beoordeeld of uw gegevens kloppen.

[2020-07-15 14:06] maxvisser commented on #236
Validatie zou ik ook veranderen naar Beoordeling

[2020-07-16 07:16] GerbenBosschieter commented on #231
Okay sounds good, I am not really sure how google sites works. Is it possible to add our own designs to it ?

[2020-07-16 08:44] maxvisser commented on #231
I invited you to an example intranet site I made a while back. You can create new site on https://sites.google.com/new

Not sure if we can make the experience seamless; also not sure if this is really necessary if you make it accessible on its on domain, you can even do a dark mode version of the site (as developers like it dark)

[2020-07-16 09:04] maartenfv commented on #257
@jamalv Can we move this one to Quick Scan stage? Is it clear enough?

[2020-07-16 09:12] maxvisser commented on #257
Desktop
![image](https://user-images.githubusercontent.com/10818702/87652956-224f6e80-c755-11ea-9f4d-2e2f8fbbadef.png)

Mobile
![image](https://user-images.githubusercontent.com/10818702/87653001-35623e80-c755-11ea-9570-8496be000665.png)

probably we should first fix mobile image cropper; I would just remove it on mobile

[2020-07-16 09:39] maartenfv opened #287 "CR: Add target audience to offers."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- SDOA (oostgelre)

### Change description
SDOA wants to add target audience functionalities (doelgroepen) to the website.

More specifically they would like to see that we add target audience tags to the offers.

- Tags such as
  - Target age
  - Wheelchair accessible
  - Uniek sporten (https://www.unieksporten.nl/)

[2020-07-16 09:41] maxvisser commented on #287
who will create and manage these 'target' audiences

[2020-07-16 09:41] maxvisser commented on #287
do we already have a list of possible audiences

[2020-07-16 09:44] maartenfv opened #288 "CR: Add offers to provider page."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- SDOA

### Change description
- Add offers to provider page.

Currently, when selecting a provider page we can not see their offers. The offers of the provider need to be displayed on the offer page.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/273c2393-0ca9-4823-a466-cf877d5e9be2)

[2020-07-16 09:49] maxvisser commented on #287
lab issue is maybe related  https://github.com/teamforus/lab/issues/40

[2020-07-16 09:53] maartenfv opened #289 "CR: Add Organisation description."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- SDOA

### Change description

- As a provider or sponsor, I would like to be able to add a description of my organisation.
- As a requester, I would like to read about the organisation on the provider page.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/9cc6770e-fc2a-4928-abd0-ab544233a9

[2020-07-16 10:19] maxvisser commented on #289
Probably we should allow markdown here aswell to do some basic styling

[2020-07-16 10:21] maxvisser commented on #289
@danrminds This can be planned https://github.com/teamforus/forus/issues/1650

[2020-07-16 10:36] maxvisser commented on #289
Figma link:
https://www.figma.com/file/tTUOPNkVu6VIChAsA1925q/Organization-description?node-id=1%3A14899

[2020-07-16 10:59] maartenfv opened #290 "CR: As I sponsor I want to change the header photo of the webshop in the CMS."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- SDOA, Westerkwartier

### Change description
- They want to be able to adjust the style of the webshop in more detail.

Be able to change this picture:

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/b5cb7104-f51a-4425-aee5-138c79cbe5c3)

Using the CMS

![image.png](https://images.zenhubu

[2020-07-17 10:42] GerbenBosschieter commented on #290
@maartenfv Is this currently a change request for the CMS and do they just want to have the option in the CSM. Or do they already have a desire to change the background image right now ?

[2020-07-20 07:33] linda-90 commented on #183
@jamalv We placed this issue in icebox. Is this correct?

[2020-07-20 07:59] linda-90 commented on #181
@maxvisser Could you give an update? I have moved this issue to the pipeline: Make a written plan.

[2020-07-20 08:03] linda-90 commented on #175
@jamalv I have placed this on our agenda.
De status en planning kunnen we vanmiddag bespreken:)

[2020-07-20 08:24] jamalv opened #291 "Make payments without scanning QR codes / needing a smartphone"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Gemeente Groningen, Gemeente Nijmegen

### Change description
As a provider I would like to receive the payment without having to scan a QR code.

Example usecase: a provider that only receives 1 or 2 customers per year, and doesn't have/want to use a smartphone. This is a question from one of our sponsors that is con

[2020-07-20 08:27] jamalv commented on #291
Some ideas that were mentioned here: allowing the provider to enter "part of the QR code" in their dashboard (meaning we'd have to show it to the end user) - making "direct" payments possible could also solve this (allow the requester to do this?) - I'd also like to get the perspective from support; how do we currently deal with this?

[2020-07-20 08:29] GerbenBosschieter commented on #291
Uses cases where this could be very useful:
- Sport organisation with a "penningmeester" that does the payment of the contribution once a month and is most of time not physically on location.
- Big organisations with a lot of cashiers. These organisations don't want to invest in multiple phones for one office. Not sure if this would solve their problem, but it's already better than beging forced t

[2020-07-20 09:03] maxvisser commented on #291
related:
https://github.com/teamforus/lab/issues/62

[2020-07-20 09:13] maxvisser commented on #291
thought about this before with reactivating old card we make the voucher token human readible (1001xxxxxxxxx) but this is only for one client applicable

Your suggestion of partly entering the voucher token does not seem feasible. I would require the citizen to use Me-app/webshop to generate a temporary token which is only active for a short amount of time. For all old cards this is not applicable

[2020-07-20 09:35] jamalv opened #292 "Actions: allow sponsor to override action details for their webshop (picture / text)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
For actions the sponsor is the "owner/sponsor" of the action. It might make sense to allow the sponsor to perform some "editorial" operations on the actions in the webshop:

examples:
* when they approve an action add an image that is shown by default (probably also keep the provider imag

[2020-07-20 10:16] maartenfv opened #293 "Ben u dit? of Ben u dit misschien? Nodig om in te loggen op **het** website"
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/41ea8e21-3ac5-4229-b623-392106719501)

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/2695bf8c-b271-438c-8845-aa7415db777f)

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/c5a42754-32ff-4614-9816-f1925efda4b6)

Should be:

Is deze mail wel aan u gericht maar wilt u zic

[2020-07-20 10:19] maxvisser commented on #293
het website is already changed to de website on develop branch

[2020-07-20 10:25] maartenfv commented on #293
@maxvisser Great :) let's inform our users.

[2020-07-20 10:35] maxvisser commented on #293
still need to be put on production :) We can keep track of it on this CR

[2020-07-20 11:54] maxvisser commented on #76
Could you look at these texts:
https://www.figma.com/file/RolmXCeR5lPfMlnNzDU8lO/%F0%9F%93%9D%E2%9A%99%EF%B8%8FDuplicates-on-voucher-generator?node-id=73%3A1521&viewport=963%2C662%2C0.9760416746139526

[2020-07-20 12:30] jamalv opened #294 "CR: Dashboards to XXX [NL]"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholders

### Change description
We gebruiken nu de term "dashboards" > er wordt gesproken over "beheeromgeving" "website" etc. etc. Deze CR is bedoeld om hier over na te denken en met een alternatief voorstel te komen.

Meeste impact is bijvoorbeeld in login mails

[2020-07-20 12:46] jamalv commented on #120
related: https://github.com/teamforus/general/issues/291

[2020-07-20 13:48] maxvisser commented on #293
https://github.com/teamforus/forus/issues/1651 task

[2020-07-20 13:59] GerbenBosschieter opened #295 "CR: Design webshops designs based on our minimal breakpoint (1024px;)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Currently al our webshops are designed on pages on 1920px or 1440px width. Bringing this to development could result into some problems. Since we only have desktop designs instead of mobile / tablet / dektop it's really hard to decide what should happend on smaller screen

[2020-07-20 14:42] maxvisser commented on #295
Nice CR; Also to point out: If you don't write the css with scaling it will not look good on larger screens
Some guide about this topic: https://css-tricks.com/optimizing-large-scale-displays/

[2020-07-21 07:03] maartenfv commented on #186
Language check was conducted on the following files:
- [ ] notifications_fund_providers.php
- [ ] notifications_fund_requests.php
- [ ] notifications_funds.php
- [ ] notifications_identities.php
- [ ] notifications_products.php
- [ ] notifications_vouchers.php

[2020-07-21 07:11] jamalv commented on #209
@maxvisser could you add acceptance criteria to this epic?

[2020-07-21 07:25] maartenfv commented on #186
@maxvisser

What is meant with:

'revoked_products' => [
        'title' => 'Aanmelding voor :fund_name is gewijzigd. U bent niet meer geaccepteerd voor al uw aanbiedingen.',
        'description' => 'Aanmelding voor :fund_name is gewijzigd. U bent niet meer geaccepteerd voor al uw aanbiedingen.',

Wat gebeurt er als revoked products wordt getriggerd?

[2020-07-21 07:31] maxvisser commented on #209
Made some additions to figma prototype and I still have some feedback.
- I added webshop front page for highlighted action (Could have: maybe let sponsor pick actions for the highlight instead of picking random actions)
- list view of actions page. (removed discounts here aswell)

feedback on figma prototype
- Me-app is still missing; will this be a seperate IP?
- I see no provider approval, when

[2020-07-21 07:32] maxvisser commented on #209
I would make seperate IP's for the indicators which show if there was any new action on a fund request (grey and red dots) and for the message above pages to give an explainer (the yellow card on product page)

[2020-07-21 07:40] maartenfv commented on #186
@maxvisser are these the correct/related Figma proposals?

[2020-07-21 07:44] maxvisser commented on #186
yes

[2020-07-21 07:46] maxvisser commented on #186
this notification is trigger when a sponsor revokes acceptance for All products

![image](https://user-images.githubusercontent.com/10818702/88027005-fc501280-cb36-11ea-8716-13689bd70f40.png)

Provider receives this notification. All his products are pulled from webshop and can't be reserved anymore from webshop.

[2020-07-21 09:03] maartenfv commented on #186
@maxvisser @jamalv Ik heb alles zo goed mogelijk gechecked. Is lastig zonder context. Kunnen we deze ook nog een keer controleren tijdens het testen?

[2020-07-21 09:07] maartenfv commented on #186
I have placed this back to the Figma proposal phase. Will update the Figma proposal with the actual texts for consistency and so it will be easier to change them later.

[2020-07-21 09:16] maartenfv commented on #219
@jamalv We have moved this issue back to the Figma proposal stage. Do we need a support button in the mobile design? After we have added this it can move to the design phase.

[2020-07-21 10:05] linda-90 commented on #33
@jamalv I have moved this issue back to the Figma design stage for a final design check.

[2020-07-21 11:02] maartenfv opened #296 "CR: Make better UX by adding checkboxes and selection."
This is going to be used for thousands of vouchers needs to have a better and safer UX.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/bce9ccb4-4fd4-4885-97a0-6d874b698c79)

Also add pop-up with Are you sure after clicking bevestig

[2020-07-21 11:03] jamalv commented on #296
Figma file: https://www.figma.com/file/Uy3BsLneRBEFHA3nRXxNQ3/Improve-voucher-generator-duplicates?node-id=0%3A1

[2020-07-21 11:05] maartenfv commented on #76
We did the language check it has passed and can be developed. Added to dev pipeline.

Dit find a new issue as it need better UX: https://github.com/teamforus/general/issues/296

[2020-07-21 11:23] maartenfv commented on #293
@maxvisser I have updated the text.

[2020-07-21 13:26] maxvisser opened #297 "CR: Upload example product voucher generator select product"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Select product before download upload example CSV; TO GET THE PRODUCT_ID

@maartenfv
As a Sponsor I would like to be able to select the product-id from the dropdown in de Excell sheet instead of asking for it. https://github.com/teamforus/general/issues/303

[2020-07-21 13:38] maxvisser opened #298 "CR: Voucher generator: Assign to UID and add field"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor Nijmegen.

### Change description
- As a sponsor I would like to be able to assign vouchers to different UID's (e.g., email adres or BSN).
- As a sponsor, I want to be able to add a unique ID number to the CSV upload when generating QR-codes.
- As a sponsor, **I do not** want to use the "note" field to keep

[2020-07-21 15:30] jamalv opened #299 "Assign vouchers to UID"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal & sponsors

### Change description
As a sponsor I would like to be able to assign vouchers to different UID's (e.g., email adres or BSN).

[2020-07-21 15:38] jamalv opened #300 "Assign voucher with BSN to identity which logges in with DigiD"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Client

### Change description
As a sponsor I would like to give out a voucher trough the voucher generator, and to allow a requester to apply to the same fund and automatically receive the voucher in their account.

**Sponsor workflow example:**
* Sponsor assigns (product/budget) vouchers (on bsn: #299) using the vou

[2020-07-21 16:35] maxvisser commented on #299
https://github.com/teamforus/general/issues/298

[2020-07-21 16:35] #299 closed

[2020-07-21 17:09] maxvisser commented on #300
Fixed the title. As the only reason this is possible as a non assigned voucher has no correlation to the UID from the requester (voucher is not yet owned by anyone)

[2020-07-22 07:52] maartenfv commented on #239
@maxvisser #143 is indeed the same issue but requested from a different role. During a conversation with another sponsor, this was requested again.

[2020-07-22 07:52] maartenfv commented on #143
#239 This is the same issue but then requested by sponsor role.

[2020-07-22 08:20] maartenfv opened #301 "CR: Add Column with unique id number or (klantnummer or BSN) to voucher generator screens."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor Nijmegen.

### Change description
- As a sponsor, I want to be able to add a unique ID number to the CSV upload when generating QR-codes.
- As a sponsor, **I do not** want to use the "note" field to keep track of whom I have given a code or to write down BSN or customer number.
- As a sponsor, I want to be a

[2020-07-22 08:34] maartenfv opened #302 "CR:Duplicate pop-up preventing doublings in aanbiedingvouchergenerator."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor Nijmegen

### Change description
- As a sponsor I want to be sure that I do not generate multiple vouchers for the same person.
- As a sponsor I want to be sure that I do not overrule a previous voucher.

[2020-07-22 08:47] maartenfv opened #303 "CR: CR: Download upload voorbeeld add product-id dropdown"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor Nijmegen Implementation Maarten ITSM Max

### Change description
- As a Sponsor I would like to be able to select the product-id from the dropdown in de Excell sheet instead of asking for it.

[2020-07-22 08:52] maartenfv opened #304 "CR: Add Export function to product voucher generator."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor Nijmegen + Implemenation

### Change description
- Add export function die aanbiedingsvoucher generator.

As a sponsor, I want to be able to export the qr-codes as without this it is useless.

[2020-07-22 09:16] maxvisser commented on #303
Duplicate of https://github.com/teamforus/general/issues/297

[2020-07-22 09:16] #303 closed

[2020-07-22 09:26] maxvisser commented on #294
cockpit 😎

[2020-07-22 09:29] maxvisser commented on #294
Term wordt voor gebruikt op knoppen en als verwijzing:
GA NAAR HET DASHBOARD

Keuze kan ook zijn om alle verwijzingen weg te halen.

[2020-07-22 09:30] maxvisser commented on #294
Knop wordt dan 'Login'

[2020-07-22 09:40] maxvisser commented on #301
If you also include assigning to this issue we could close this one; as this one has more content;
https://github.com/teamforus/general/issues/298

[2020-07-22 09:46] jamalv commented on #300
labeling this could have until the related project becomes "official" then it will become must-have :)

[2020-07-22 09:48] jamalv commented on #299
thx, for finding the duplicate and closing! could you add my change description (user story) to the duplicate or as a comment next time, if this is relevant? - for now i've done it as I think it helps give the other issue a bit more context :)

[2020-07-22 09:49] jamalv commented on #298
Discussed this in the context of an upcoming project, if the project becomes official, this will be upgraded to must-have

[2020-07-22 11:13] maxvisser commented on #263
Optional encryption
BSN, UID

_bsn,_uid -> a underscore show that column of this header is encrypted

Master key Forus

Fund keys -> share key with municipality

reencrypt with master key

electron app where they can fill in fund key to encrypt CSV

What is the UX?

Do we need decrypt at any point the BSN-numbers in CSV

[2020-07-23 07:50] jamalv commented on #187
Just posting this here as well (not sure it's relevant considering our userflows) https://developer.apple.com/app-clips/

[2020-07-23 08:21] maxvisser commented on #187
@jamalv maybe we could add the app clip QR-code data to our own QR-codes. So when you can it with an iphone it will show you to install Me-app. Not sure if this is really usefull as you still need to create an organization and apply for a fund.

[2020-07-23 09:12] jamalv commented on #240
Allright; I see https://github.com/teamforus/me/issues/448 is closed, does that mean that this issue can be closed as wel?

[2020-07-23 09:30] maxvisser commented on #240
Should be released first

[2020-07-23 09:31] maartenfv commented on #49
@jamalv I missed this issue. Could you give an update?

@jamal could you link the question, I can not find it?

@jamalv I think the Epic, Issue, Subtasks in markdown lists structure is the way to go. See: https://help.zenhub.com/support/solutions/articles/43000010341-an-intro-to-zenhub-epics

This means that this issue should go from discussion to concrete tasks so we know what to do.

Example:
Wh

[2020-07-23 09:32] jamalv commented on #46
The task now is to convert the design into code and bring it to production; progress is being discussed over at: https://github.com/teamforus/implementation/issues/345

[2020-07-23 09:38] jamalv commented on #87
Yes, that's right, this issue went to https://github.com/teamforus/general/issues/49

Will close this one for now and work on improving that issue / tasks

[2020-07-23 09:38] #87 closed

[2020-07-23 09:40] maxvisser commented on #49
I just want the menu part on production asap

Example of the problem:
![image](https://user-images.githubusercontent.com/10818702/88272606-453fcc80-ccd9-11ea-891d-57e79935d9c5.png)

[2020-07-23 09:41] jamalv commented on #49
Yes I agree, lets make a task for that.

I like this:

<img width="532" alt="Screenshot 2020-07-23 at 11 40 59" src="https://user-images.githubusercontent.com/30194799/88272744-7c15e280-ccd9-11ea-840d-945ca85fc8cc.png">

[2020-07-23 12:21] jamalv commented on #152
Yes, I think that's a nice way to do it. I think we can show a modal at first open of the voucher (on the webshop) - and there should then also be a setting to change this later.

Mockup:
![image.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/439111c7-75d8-42f3-830b-a1300488e1e2)

Figma: https://www.figma.com/file/aFDUiHyqzrn0gVFpJ3ysSd/Sharing-permission?node-id=1%3A60

[2020-07-23 12:22] jamalv commented on #152
As I understand, this is also part of digest? Could we rate this proposed feature on scope?

[2020-07-23 12:28] jamalv commented on #219
@maartenfv the support button is there (screenshot from production)

(![IMG_78BA81B293CB-1_24.jpg](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/5bb2b157-3978-4939-9587-38e78aecb08b)

[2020-07-23 12:40] maxvisser commented on #239
As its the same functionility (same change) I would propose to close this one.

[2020-07-23 12:42] jamalv commented on #219
Updated screens in figma:
![image.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/a308759f-fb3c-4740-b7eb-7386d982f2cb)

Url: https://www.figma.com/file/YluSZHDC1E80yRaHee1UE7/%F0%9F%91%A9%E2%80%8D%F0%9F%92%BB-prototype-signupflows?node-id=935%3A3147

@maxvisser it would be really nice if this can still be fixed for the next release, as the current screens are pretty shameful

[2020-07-23 12:44] jamalv commented on #263
Next step: write down conclusions of research. Share this with stakeholder and make a final plan.

[2020-07-23 12:44] jamalv commented on #263
@maxvisser could you help @dev-rminds with this?

[2020-07-23 12:47] jamalv commented on #265
@maxvisser if i understand this correctly it will help with a less weird UX for uploading a CSV, right? (good thing!) But there are no functional changes? I therefore downgraded this to a should have.

[2020-07-23 12:47] maxvisser commented on #219
Good proposal. I will create development tasks. As this is already broken on production I don't see it as a show stopper for a release on monday. (its a must have)

[2020-07-23 12:48] jamalv commented on #271
@maxvisser what is the status of this? Will/can this still be fixed in the next release? As we both witnessed how painful this can be 😃

[2020-07-23 12:49] jamalv commented on #293
Part of release 0.13 (planned for next monday)

[2020-07-23 12:53] maxvisser commented on #271
Nobody has adjusted figma yet and no development task was created.

[2020-07-23 12:58] jamalv commented on #271
I'll get on top of that!

[2020-07-23 13:00] maxvisser commented on #219
Created two new tasks; could you check if this is sufficient as I am not sure which other things you changed in Figma...
https://github.com/teamforus/forus/issues/1661
https://github.com/teamforus/forus/issues/1660

[2020-07-23 13:21] jamalv opened #305 "Requester signupflow: support different filetypes (jpg, jpeg, png, etc) (now only pdf)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Now when a user uploads a file, it has to be a pdf; in practice often users will take a picture with their phone; we should support all major image fileformats for the uploader. It will be used by (tens of) thousands of people so it should be solid. People will be using their iOS/Android

[2020-07-23 13:22] jamalv commented on #305
Also could we do some research into what files we need to support by major operating systems and frequently used scanners / camera's etc?

[2020-07-23 13:23] jamalv commented on #305
And if there are still files that we don't support, the errors should be clear and useful

[2020-07-23 13:37] jamalv commented on #219
Tasks are good, just added a remark to the first one that it is only for mobile.

[2020-07-23 13:38] jamalv commented on #219
I'll let you judge that :) but I would prefer to let it be branched from master and added to the release if possible

[2020-07-23 13:59] GerbenBosschieter commented on #272
Will include this while developing Groningen webshop.
@maxvisser We don't need any list. We already have the lists in the i18n files ;)

[2020-07-23 14:01] maxvisser commented on #265
Yes UX would be improved. The fund selection would also be less important.

[2020-07-23 14:02] jamalv commented on #265
Ah interesting, les important or redundant?

[2020-07-23 14:22] maxvisser commented on #271
Task https://github.com/teamforus/forus/issues/1662

[2020-07-23 14:24] maxvisser commented on #271
I find that having two 'alternative' links in the bottom is a bit of a mess. You can also show the download link prominent. Even if the user does not know the 06 number of the phone he will want to see the link more quickly...

I would propose to change it to this:
![image](https://user-images.githubusercontent.com/10818702/88298085-045bae00-cd01-11ea-842d-3552f9ab39af.png)

https://www.figma.com/

[2020-07-23 14:30] maxvisser commented on #290
As they are not able to change to color of the text on the header they don't have alot of room to do any styling. I find it a bit weird to allow changing this image without changing any other styling on the header.

[2020-07-23 14:33] maxvisser commented on #290
Aswell as not all municipalities use a jumbotron (inkomensondersteuning.nijmegen.nl) If we can enforce the jumbotron (same styling) for all municipalities. this will be easier to make possible.

[2020-07-23 14:36] maxvisser commented on #265
The only reason for it is if you want to make duplicates for BSN's (as only the BSN is unique per fund);

[2020-07-23 18:34] jamalv commented on #290
@maartenfv could you specify further?

Do they want to change the picture once? (scope: small) we'll just do it for them in the next release

Do they want to change it on a high frequency or have they requested specifically to change it themselves? then it's scope:big (see max's comment about updating all webshops to use a jumbotron etc) : would definitely be very nice to make this more standardis

[2020-07-23 18:35] jamalv commented on #290
(I assumed a priority, please update if you see it otherwise)

[2020-07-23 18:36] jamalv commented on #281
@maxvisser could you give this an estimate?

[2020-07-23 18:48] jamalv commented on #280
@maxvisser started a mockup here, could you please inspect and complete it?

https://www.figma.com/file/99YwnGU4PrgP1zCFudAxmz/Configurable-fund-formula-s?node-id=0%3A1

[2020-07-23 20:36] maxvisser commented on #280
Don't know if we want to allow it but you can add multiple fixed numbers and multiple 'vermenigvuldigingen'/multipliers.

[2020-07-23 20:47] maxvisser commented on #281
Pug file with some js and an extra route on both platform. Some images and css. All is written only need to move from old website to Forus-frontend

So I see it as very small and an easy fix.

[2020-07-24 08:14] maxvisser commented on #162
Jewan/Thomas - Their report about Quickscan/compliance (15m)
Max - Reactivating old cards Max - Android  (15min -> needs review if it can be shown already)
Gerben - Groningen webshop (5-10 min)
Lena - Me-ios new screens (5-10 min)
Michael - Survey (dutch video)
Max - Skip vouchers/prevalidations or add/replace (5 min video)
Jamal - Requester signupflow for Groningen (IP in figma -> share figma lin

[2020-07-24 11:46] maxvisser commented on #209
Important for next sprint:
https://www.figma.com/file/qQrRGvPswp0bk0JQVT8dxI/%F0%9F%94%B5-Price-changes?node-id=0%3A1&viewport=886%2C466%2C0.23462998867034912

[2020-07-24 11:55] maxvisser commented on #271
MVP version will be released on monday; I want to keep this in Figma proposal phase though to make a better iteration.

[2020-07-24 11:56] maxvisser commented on #271
https://www.figma.com/file/pdUYpbnipdNFz5xnshqqst/Provider-signupflow-download-link?node-id=1%3A1048

[2020-07-25 13:01] jamalv opened #307 "Clean figma 🧼🧹🧽"
Many people are working in Figma, and it's starting to get a bit messy! Let's work on that!

![tenor](https://user-images.githubusercontent.com/30194799/89007922-05489d00-d30a-11ea-8c2c-79cf3880d109.gif)

[2020-07-27 06:28] danrminds opened #309 "IP: Upgrade the notification module to show progress"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
Currently - the notification module we are using is just showing a one-time update of the status

## Desired situation
Would be nice to be able to show the progress bar, updates in the same notification

Ex

[2020-07-27 11:16] maxvisser commented on #309
Good idea. Discussed it with Valentin. Seems usefull for uploading things and other mechanics where a progress bar is usefull.

[2020-07-27 11:22] maxvisser commented on #305
For other signupflows we also need this; mobile cropper is terrible. Should see how some native things work and if we can use them in browser.

[2020-07-27 11:22] maxvisser commented on #305
As we preview PDF's we need to look into if images can also be previewed.

[2020-07-27 11:23] maxvisser commented on #305
@danrminds could you check whats needed for the uploader to be able to allow images / preview images on validator dashboard.

[2020-07-27 11:24] maxvisser commented on #293
Its on production

[2020-07-27 11:24] #293 closed

[2020-07-27 11:32] maxvisser commented on #152
I would say we do notify users for new products / services; As actions are new. these should be added to digest. Have no strong opinion about sharing info modal. If I would implement it I would add it to the signupflow of requester. We should see where the information is shown (is voucher added to voucher generator? should voucher generator show that it was added by signupflow?)

[2020-07-27 11:40] maxvisser commented on #298
I will unassign myself

[2020-07-27 11:42] maxvisser commented on #301
Duplicate of https://github.com/teamforus/general/issues/298

[2020-07-27 11:42] #301 closed

[2020-07-27 11:53] maxvisser commented on #302
This is already built. Current status: a pr to develop

[2020-07-27 11:54] maxvisser commented on #297
Seems it auto selects a product_id from approved provider when exporting CSV @maartenfv Probably fixes the CR. What do you think?

[2020-07-27 11:55] maxvisser commented on #304
@danrminds Fuctionality is there on budget voucher generator. Can be planned.

[2020-07-27 12:12] maxvisser commented on #292
See only UX issues with this no technical challenges.

[2020-07-28 07:20] maxvisser commented on #288
Nice CR. Same way you should be able to go from product to provider page.

[2020-07-28 07:21] maxvisser commented on #288
Needs design though; Will label this as a Should have; small scope

[2020-07-28 07:24] maxvisser commented on #282
this needs a brainstorm session (maybe @danrminds and @dev-rminds included

[2020-07-28 07:27] maxvisser commented on #285
@GerbenBosschieter says this better then the filter as the filter is abit hidden. Having pending, active fund_requests easily accesible is a nice feature.

[2020-07-28 07:51] #268 closed

[2020-07-28 07:52] maxvisser commented on #278
checked in Twilio console; this seems to be configured. Maybe we need to somehow also use it on API.

[2020-07-28 07:53] maxvisser commented on #277
I would maybe add to requester digest maybe check if they are applicable for a new fund, have direct link to funds page. If they are applicable they can activate the voucher on this page.

[2020-07-28 07:54] maxvisser commented on #275
needs mobile design; I see this as a must have.

[2020-07-28 08:01] maxvisser commented on #41
On production. can be communicated to users @maartenfv

[2020-07-28 08:04] maxvisser commented on #186
On production can be communicated to users

[2020-07-28 08:06] maxvisser commented on #54
can be communicated to users. please close when done.

[2020-07-28 08:11] maxvisser commented on #195
@danrminds I saw you made a figma prototype for this issue. Could link to it?

[2020-07-28 08:19] maxvisser opened #310 "CR: Persona's and Business Rules"
@maxvisser commented on [Mon Jul 22 2019](https://github.com/teamforus/lab/issues/40)

## Main asssignee: @

## Context/goal:
A business rule is a criteria on a specific records

Example:
Your income needs to be between x and x

Business rules will always result in a Bolean: true or false.

A set of business rules are 'Personas'

![image](https://user-images.githubusercontent.com/10818702/61614763

[2020-07-28 08:22] #123 closed

[2020-07-28 08:25] maxvisser opened #311 "CR: api key bunq transfer via qr-code"
@maxvisser commented on [Tue Nov 06 2018](https://github.com/teamforus/lab/issues/64)

## Main asssignee: @
@dev-rminds
## Context/goal:
research how BUNQ Desktop app gets the activation code via a BUNQ QR-code.

![image](https://user-images.githubusercontent.com/10818702/48070185-8f1c1280-e1d7-11e8-8893-6b47757e874f.png)

can we add this to fund settings? -> this makes it more easy to do implemen

[2020-07-28 08:28] maxvisser opened #312 "CR: Criteria should have an did not receive voucher for different fund"
@maxvisser commented on [Wed Jul 24 2019](https://github.com/teamforus/lab/issues/67)

## Main asssignee: @

## Context/goal:
This issue is about for example a Computer fund that is renewed each year but a citizen can only apply once per 5 years. (he is eligible for a new computer each 5 years).

## Options I see
- extend a fund and its vouchers for another year; we check if user has voucher and h

[2020-07-28 08:30] maxvisser commented on #312
Probably need #252

[2020-07-28 09:23] maxvisser commented on #238
There is a PR for this now

[2020-07-28 09:24] maxvisser commented on #197
Part of Actions #209

[2020-07-28 09:24] maxvisser commented on #197
@jamalv I think figma file can be archived and this CR can be closed

[2020-07-28 09:37] maxvisser commented on #209
During sprint planning Valentin had a remark that he needs to see how the 'Edit fund' page looks on sponsor dashboard (currently only creation is shown)

Jamal gave feedback on Webshop: actions list and product details; He want a easier way filter on fund/voucher on actions list. Aswell as being able to click on voucher on action detail

[2020-07-28 10:45] maartenfv commented on #33
@maxvisser Can we fix the pop up so we can translate it?

[2020-07-28 10:49] maartenfv opened #313 "Update Language guidelines voor text review"
- Aanbod of aanbiedingen?
- beoordelaars of validators

[2020-07-28 11:07] maxvisser commented on #33
https://github.com/teamforus/forus/issues/1680

[2020-07-28 12:11] maxvisser commented on #313
Vouchers of tegoed?

[2020-07-28 12:57] maxvisser commented on #294
Gerben's suggestion is Portaal

[2020-07-28 12:57] maxvisser commented on #313
Dashboard of portaal? https://github.com/teamforus/general/issues/294

[2020-07-29 05:13] jamalv opened #314 "Refresh QR code (when lost)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

### Change description
Physical cards get lost. As a sponsor(/requester) I would like to refresh the QR code so that my old card is "blocked" and can not be used by somebody else.

Project context: losing cards happens very often, about 10 per week.

### Planning

- [x] | Written proposal | Deadline: 05-08-20

[2020-07-29 06:37] maxvisser commented on #314
Now I wonder if there would be a digital alternative (mail or Me-app) if people would even bother to order a new one

[2020-07-29 06:52] maxvisser commented on #314
Probably the plastic card button should stay and open a modal with a 'block plastic card' button or request new card which blocks the card and allows users to refresh.

[2020-07-29 08:23] jamalv commented on #314
Yea I like this suggestion; could approve this if it's feasible and estimate scope? If you approve, I think next step is creating a figma proposal for this functionality.

[2020-07-29 08:37] maxvisser commented on #314
Depends on the functionality; can only estimate the scope after figma proposal. Not sure what you ask of me with the approval. (as it is a must have? should be fixed so I see no other way of approving it right?)

[2020-07-29 08:59] jamalv commented on #314
Functionality:

- Still show plastic card button when people have a plastic card
- Give option to "order new card"
- (ask to) block the old card - old 1001xxxx code is no longer connected to QR code
- When the new card arrives, allow people to connect it

It would also be fine if you just estimate scope :)

[2020-07-29 10:48] maxvisser commented on #300
probably duplicate of https://github.com/teamforus/general/issues/85

[2020-07-29 11:07] maxvisser commented on #263
what kind of algroritm?

[2020-07-29 11:34] maartenfv commented on #290
@GerbenBosschieter Not right now as in next week. They want to this in a couple weeks/months.

My proposal is indeed focused on doing this in the CMS. So we can allow the sponsors to do this themselves. It will help with every future implementation.

@maxvisser which websites do not use Jumbotron besides Nijmegen?

In terms of the overlay we should indeed add this option as well.

- Upload image
-

[2020-07-29 11:38] maartenfv commented on #287
@maxvisser I see the relation with the lab issue. For now we can make a selection of target groups together with SDOA and Groningen.

MVP
Providers will be able to add target groups to their offers
Requesters will be able to search for these targets groups.

[2020-07-29 11:41] maartenfv commented on #287
@jamalv This might relate to Groningen as well?

B3 Pashouder krijgt een gericht aanbod van aanbiedingen en gemeentelijke regelingen.
Gebaseerd op doelgroepen (o.b.v. leeftijd, product, kinderen, inkomen, etc.)

[2020-07-29 11:44] maartenfv commented on #287
@maxvisser @jamalv I need to make a proposal for SDOA. How can we get to an MVP for this issue?

[2020-07-29 11:45] jamalv opened #316 "Financial dashboard improvements"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

# [Figma](https://www.figma.com/file/oKXIg1YhjE4HU3kJ4G46pg/%F0%9F%A7%AAFinancial-dashboard-improvements?node-id=1%3A61)

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [x] Users
- [ ] Finances
- [ ] Processes

## Current situation
It is not good yet.

## Desired situation
Better financial dashboards.

## Plan
Star

[2020-07-29 11:46] maxvisser opened #317 "CR: Always use provider owner email instead of contact mail organization"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently sent to organization mail; Should we keep it this way?

[2020-07-29 11:47] maxvisser commented on #317
Invite provider from old fund to new fund (where should this go?)

[2020-07-29 13:29] maxvisser commented on #290
General webshop but that one is not online. Almost all webshops currently use jumbotron.

[2020-07-29 13:50] maartenfv commented on #314
- [ ] | Writen proposal | Deadline: 05-08-2020
- [ ] | Figma | Deadline: 07-08-2020 |
- [ ] | Development | Deadline: 21-08-2020 |
- [ ] | Staging | Deadline: 31-08-2020 |
- [ ] | Production  | Deadline: 07-09-2020 |

[2020-07-29 14:20] maxvisser commented on #287
Not really the place to discuss stuff for specific clients @maartenfv Maybe open some deals/implementation issues?

I would start with defining which Audiences we should support.

Examples:

**Parental status **
No parent
Parents of Infants (0-1 years)
Parents of Toddlers (1-3 years)
Parents of Preschoolers (4-5 years)
Parents of Grade-Schoolers (6-12 years)
Parents of Teens (13-17 years)

**Marit

[2020-07-29 14:37] maxvisser opened #318 "IP: financial statistic: sum amount vouchers"
### User Story
As a sponsor
I want to see a financial statistics
So that I can retrieve the sum of amount of vouchers of my fund

## Prototype
https://www.figma.com/file/5HZA8BBlZAaimKZbqs8un1/Financial-statistic%3A-sum-of-amount-on-funds-its-vouchers?node-id=66%3A413

[2020-07-30 05:54] jamalv commented on #314
Figma prototype: https://www.figma.com/file/tVFrDZ4QeQpC3fyTCudwBE/Block-old-cards?node-id=1%3A76

[2020-07-30 06:31] maxvisser commented on #314
The other two options can go on the popup (assign and order). Replace card is the only function that will work when a card is already assigned to voucher.

[2020-07-30 06:55] maxvisser commented on #314
Added a new play page in Figma;
Commented:
Would a user ever want to block a card without ordering a new card; if so; it could be better to make block a seperate function aswell.

[2020-07-30 07:09] jamalv opened #319 "Validator dashboard: Add timestamps"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholders

### Change description
This issue is to list some must have fixes for example from usertests to fix

- [ ] Add timestamps: https://www.figma.com/file/cHEYJrdU5hGz76pZNgsDkP/Adding-more-explicit-dates-to-validation-process?node-id=1%3A3306

[2020-07-30 07:09] jamalv commented on #319
how to reach validator dashboard? add link to dropdown? other path?

[2020-07-30 07:14] jamalv commented on #319
add carrot to dropdown

![Screenshot 2020-07-30 at 09 14 09](https://user-images.githubusercontent.com/30194799/88892427-08c62080-d245-11ea-840f-9af3e573f589.png)

add validator to this dashboard

[2020-07-30 07:17] jamalv commented on #236
bij approval van @maartenfv @linda-90 @TomForus kiezen we voor beoordelaar

[2020-07-30 08:26] GerbenBosschieter opened #320 "Add an unique identifier to export of fund requests"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter @maxvisser

### Change description
- Would be nice to add an identifier to the export of fund request. This could be a simple as adding the number of the row to the export.

#### Reason
One our implementation is using the feature of fund request and they do create a sample of all the request to ch

[2020-07-30 13:30] jamalv commented on #319
- [ ]  expand attachments by default, people don't understand there are attachements
- [ ] Add search
- [ ] Add filters (maybe als filter on status, like at the funds page)

[2020-07-31 06:45] jamalv commented on #307
Suggestion: align all page covers with the template:

![image](https://user-images.githubusercontent.com/30194799/89008033-36c16880-d30a-11ea-81e6-3ca9108959ac.png)

[2020-07-31 06:58] bodivleij commented on #307
Hi everyone, my name is Bodi and I will be cleaning Figma. Over the past few days I have mainly worked on renaming all the component files in Libraries>Dashboard>Templates to make them easily searchable.

The structure as of now is pretty straight-forward, I've taken the URL structure of the forus.io environment and based the structure on that, for instance:
https://forus.io/sponsor/#!/organizatio

[2020-07-31 06:59] jamalv commented on #307
## Update page titles in figma files

In figma, every file has page names; sometimes this is not really clean:

<img width="348" alt="Screenshot 2020-07-31 at 08 52 43" src="https://user-images.githubusercontent.com/30194799/89008578-36759d00-d30b-11ea-9cb1-c1c1b8eb3847.png">

this creates a lot of confusion for the team! Which page is the newest that needs to be developed etc?

Max made a nice pr

[2020-07-31 07:20] maxvisser commented on #307
Not sure if this is the topic to do write this down; maybe can become a seperate issue.

## Mails

Mails are pretty tedious to get into figma but when they are in we can finally do more easily text review and CR upon mails.

### Progress
- [x] Template (design) is made for the mails.
- [x] screenshots are made for all mails (done by Myself, Me and I)
- [ ] Creating figma frames for each mail and n

[2020-07-31 07:31] jamalv commented on #307
Hey @maxvisser nice comment! For now we will not split it up in seperate issues :) makes time tracking easier for bodi (just one time metric :))

[2020-07-31 07:31] jamalv commented on #307
so yea! this is definitely the place to add all the ideas!

[2020-07-31 08:37] maxvisser commented on #262
https://github.com/teamforus/forus/issues/1690

[2020-07-31 08:56] maxvisser commented on #160
@jamalv maybe only implement this on action vouchers.

[2020-07-31 12:11] jamalv commented on #287
## Using funds instead of tags

Target audiences are selected trough the _funds_ in the webshop. I would say the direction of satisfying this CR is to implement a fund overview in the webshop (overview of target audiences) and to maybe add the fund images to the product pages / overviews, also it should be possible to filter by fund (target audience).  If there is a fund for less-abled people that

[2020-07-31 12:21] jamalv commented on #289
Let's wait until we can fit more concretely this in a project. (budget coverage)

[2020-08-01 12:31] jamalv commented on #307
reminder to self: dashboard menu's

[2020-08-02 11:50] jamalv opened #321 "Search providers"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
As a requester I want to search based on provider name

https://www.figma.com/file/8OFRwEqgCfACjtEYh74y9Y/Search-providers?node-id=11%3A2407

[2020-08-03 07:18] maxvisser commented on #289
Maybe abit too late as it was already planned and built 👍 I agree with you though about budget coverage. needs to be more clear what may be worked on and which CR don't have coverage.

[2020-08-03 07:23] maxvisser commented on #321
Duplicate of https://github.com/teamforus/general/issues/181

[2020-08-03 07:23] #321 closed

[2020-08-03 07:26] maxvisser opened #322 "Me - Do you want to login?"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
Simple popup which you can't cancel

## Desired situation

As a user I want a clear choice if I want to login using Scanner.

![image](https://user-images.githubusercontent.com/10818702/89156706-68853a00-d5

[2020-08-03 07:41] maxvisser opened #323 "IP: Finalize changing email"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently we still do not allow users to change their mail. This issue is to indicate what still needs to be done and whats needed to finalize it.

## Current situation
Hidden on production, user can change e-mail without consent of old primary email address owner

## Desired situation
Make a

[2020-08-03 07:43] maxvisser commented on #163
Added another option. Show transactions on payment screen.

[2020-08-03 08:06] maxvisser opened #324 "Me-app: On voucher list we should show clearly that voucher is expired."
## Main asssignee: @

## Context/goal:
<details>
<summary>Second voucher is expired</summary>

![image](https://user-images.githubusercontent.com/10818702/89160224-04657480-d571-11ea-9b6b-a96872c03c23.png)
</details>

[2020-08-03 08:16] maxvisser commented on #324
@jamalv @Myshelova I don't see the voucher list in android libary; Can we add it and so we can make an IP?

[2020-08-03 08:19] jamalv commented on #221
@GerbenBosschieter I believe we fixed a few things two releases ago; are there still things needed to be fixed before we go live with the next client?

[2020-08-03 08:33] jamalv commented on #233
To be clear the form asks you to add **_another_** office, right? @GerbenBosschieter would making the button less prominent solve this confusion? https://www.figma.com/file/KJuU1juCHKRw9XJbnXU4zZ/Form-asks-me-to-add-an-office-while-I-just-did.?node-id=172%3A1001

[2020-08-03 08:35] jamalv commented on #282
Ok, for now this does not have a high priority, but it will become more relevant again towards the end of the year and when we start thinking about how to make funds more continuous (/auto renew).

[2020-08-03 08:37] jamalv commented on #271
since the core issue has been solved (@GerbenBosschieter @MichaelForus could you confirm this?) and now this is mainly about optimising the solution, I've downgraded the priority.

[2020-08-03 08:48] jamalv commented on #187
I was recently thinking about how it could be interesting to replace the QR code with a URL (forus.link/a0sduffjsad) - this way we could maybe do some interesting things if people scan the QR code with their own camera (open the Me app if they have it, redirect to the appropriate app store if they don't have it) - for now we don't have any stakholders requesting these kind of things, so i'm puttin

[2020-08-03 08:52] jamalv commented on #265
It seems like this is not needed for current projects' so downgrading this to could-have and putting it on hold

[2020-08-03 08:52] maxvisser commented on #187
Why put it on hold? it was never approved or planned.

[2020-08-03 09:14] jamalv commented on #182
As I understand this still needs to be fixed on mobile? @maxvisser @danrminds is that correct?

[2020-08-03 09:17] maxvisser commented on #247
Part of this IP is adding chat to funds page; removing criteria from list view. Showing state of fund request.

[2020-08-03 09:18] maxvisser commented on #247
No new design elements are needed. Hopefully alot of the code of products chats can be reused.

[2020-08-03 09:21] jamalv commented on #283
For iOS I think we can stop supporting when apple considers it "vintage" - the newest vintage iPhone is now the 5: https://support.apple.com/en-us/HT201624; which supports up to iOS 10.3.4 - it would be my preference to also support that.

[2020-08-03 09:25] maxvisser commented on #224
@jamalv could you approve this one.

[2020-08-03 09:26] maxvisser commented on #283
Yes maybe we can define what 'supporting' means; As I see it we should test and ensure quality on these platforms (what we currently not always do)

[2020-08-03 09:46] maxvisser commented on #182
Yes created a task for mobile design in Forus repo

[2020-08-03 12:00] jamalv commented on #309
How big is the scope of this change? Could you add an estimation to help with this decision? Currently don't see any projects to cover this, so will put it on hold for now.

[2020-08-03 14:06] maxvisser opened #325 "Finalize requester sign-upflow"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
...

## Desired situation
As a requester I would like to sign up to the fund so that I can get access to my budgets.

## Plan
-

https://www.figma.com/file/6mW06zt7214LgwZIoY2VVF/Requester-signupflow%3A-Pro

[2020-08-03 19:23] maxvisser commented on #263
an example BSN '100009756' and an example key 'MaxVisser' should result in '2E8CD5F95F4A6FECAB339580BB2C6CFC93E580E9A29B592EC27D9E916CE79776'

[2020-08-03 19:27] maxvisser commented on #309
Scope is small; such a component has multiple purposes and can be used in different use cases.

[2020-08-04 07:47] linda-90 commented on #318
04-08-2020 📝Text review in Figma
I have made a few comments in the Figma design. @jamalv @maxvisser

[2020-08-04 11:46] #41 closed

[2020-08-04 12:40] maartenfv opened #326 "CR: Dead end downloading Me app from PC."
When on pc, clicking on the link in the log in mail to download me app:

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/fcc44dcc-4241-4615-8d63-cf4d04688923)

It shows the following sceen.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/bf5241ea-e7f5-4bab-ac05-079a2a698dc2)

This is a dead end on pc.

It says "Gebeurd dit niet?" but gives no

[2020-08-04 12:43] maartenfv opened #327 "CR: Wrong text on financial dashboard."
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/47e748b3-0c70-425b-bc94-3ed4fd48e241)

Should be uitgegeven in 2020. Year is an English word.

[2020-08-04 12:47] maartenfv opened #328 "CR: Button positioning."
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/04347108-ee22-4fcb-850d-5f867b41a4ac)

[2020-08-04 13:02] maxvisser commented on #150
_bsn,children_nth
12, 4 --this one should not get a voucher

12 will login
gets prevalidation by using DigiD

gets voucher

Has no fund request

34 will login

Start fund request
fills in form

Validator
Fund_request
34 as BSN

Prevalidation table -> Search BSN -> check if activated -> if there and not activate -> he needs to deactive prevalidation or ask to use code 'partner check modal'

25.000

[2020-08-04 13:22] maartenfv commented on #298
@jamalv @maxvisser Can we get an estimate?

[2020-08-04 13:31] maxvisser commented on #327
https://github.com/teamforus/forus/issues/1672

[2020-08-04 14:03] maxvisser commented on #326
#281

[2020-08-04 14:18] maxvisser commented on #298
@danrminds could you help with an estimate?

[2020-08-04 14:23] #326 closed

[2020-08-04 14:44] maxvisser commented on #165
I estimated this issue. Scope small for the MVP which is proposed

[2020-08-04 14:47] maxvisser commented on #173
Not clear what the scope is.

[2020-08-04 15:10] maxvisser commented on #129
Not clear what should be included within the design manuals

[2020-08-04 15:18] #77 closed

[2020-08-05 07:17] maxvisser commented on #169
Can't estimate this issue.

[2020-08-05 07:19] maxvisser commented on #196
@jamalv lets discuss this one in a brainstorm session

[2020-08-05 07:20] maxvisser commented on #241
This is done by Lena; there are a few concepts. The one I liked will be added to new navbar implementation

[2020-08-05 08:21] jamalv opened #329 "Adding more explicit dates to validation process"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Validators

### Change description
As a validator I would like to clearly see the dates of certain actions so that I know if I'm responding within the appropriate timeframe.

figma: https://www.figma.com/file/cHEYJrdU5hGz76pZNgsDkP/Adding-more-explicit-dates-to-validation-process?node-id=0%3A1

[2020-08-05 08:51] maxvisser commented on #329
Which dates?

fund request creation date?

[2020-08-05 09:01] jamalv commented on #329
Yes, I think that is the most important one, but also for the messages I think.

[2020-08-05 09:09] GerbenBosschieter opened #330 "Change all our e-mails to text align left."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Some of our new e-mails (like digest e-mails) have the text aligned left. I've already received a couple of them and it looks much better than all the e-mails we send with text aligned center.

- It's more friendly to read
- It looks cleaner and more structured. Some of t

[2020-08-05 09:19] maxvisser commented on #33
should be on production on 17 Augustus 2020

[2020-08-05 09:22] maxvisser commented on #262
Should be on production on 17 of august

[2020-08-05 09:23] maxvisser commented on #96
duplicates warning should be on production on 17 August

[2020-08-05 09:27] maxvisser commented on #204
@jamalv could you check whats still needed?

[2020-08-05 09:30] maxvisser commented on #74
Maybe create a new CR for topups?

[2020-08-05 09:32] jamalv commented on #251
@GerbenBosschieter could we plan this in? we want to go towards the strategy where we use the website as login, instead of the implementation landing pages, but for this the website should be proper, and texts are a nice piece of this! 😄

[2020-08-05 09:32] maxvisser commented on #236
@jamalv could you check if they approve?

[2020-08-05 09:35] jamalv commented on #280
I think we can leave that out of scope for now, as nobody is using it yet. I like the proposal as it stands now!

[2020-08-05 09:35] jamalv commented on #280
Not sure If I am the one that can grant an approval but I think we came to an agreement

[2020-08-05 09:35] maxvisser commented on #294
Could you approve 'Portaal' discuss with stakeholders?

[2020-08-05 09:40] maxvisser commented on #280
Don't think this needs an design check @danrminds

[2020-08-05 09:41] maxvisser commented on #280
Checked on feasibility

[2020-08-05 09:51] GerbenBosschieter commented on #233
@jamalv I don't know what makes it clear. I just think the current state is confusing.
And the button itself is not the problem. It's more the text.

The text tells the user to create an office while the organization already has an office (not another, just create the office). But the signup flow doesn't really take that in account.

Situations:
- Organization has an office: the text could be some

[2020-08-05 09:51] maxvisser commented on #328
should be fixed with external validator; which will be released on 17 of august

[2020-08-05 09:56] GerbenBosschieter commented on #291
Not sure why I am assgined to this.

[2020-08-05 09:56] maxvisser commented on #265
On hold so I will unassign myself.

[2020-08-05 10:01] maxvisser commented on #109
@jamalv has no project label. can this still be planned?

[2020-08-05 10:02] maxvisser commented on #119
needs priority, project, approval

[2020-08-05 10:03] maxvisser commented on #160
Scope is medium, needs a brainstorm session

[2020-08-05 10:05] maxvisser commented on #172
@jamalv could you start on making an improvement proposal? Whats needed.

[2020-08-05 10:11] maxvisser commented on #205
@jamalv whats the next step?

[2020-08-05 10:14] maxvisser commented on #153
Not clear to scope. Could refine this issue (whats needed)

[2020-08-05 10:14] maxvisser commented on #153
Or close the issue.

[2020-08-05 10:36] maxvisser commented on #188
needs figma proposal, concept approval and a project.

[2020-08-05 10:37] maxvisser commented on #166
Implemented; can use some feedback from people on the blogs and maybe reviewing before publishing.

[2020-08-05 10:40] maxvisser commented on #130
part of actions; can maybe be closed @jamalv

[2020-08-05 10:41] maxvisser commented on #177
needs project

[2020-08-05 10:42] maxvisser commented on #203
part of release v0.4.0 of android

[2020-08-05 10:46] #124 closed

[2020-08-05 10:47] maxvisser commented on #240
MVP is fixed, let make a proper screen for this (design)

[2020-08-05 10:48] maxvisser commented on #304
@maartenfv what should be inside the export? which data is needed.

[2020-08-05 10:55] maxvisser commented on #242
whats the DoD? :) I think this is implemented.

[2020-08-05 10:56] maxvisser commented on #227
could be part of #160 -> link to signupflow would be nice aswell.

[2020-08-05 10:58] maxvisser commented on #202
Needs figma proposal and a project

[2020-08-05 10:59] maxvisser commented on #220
discussed this with jamal and made an initial proposal.

[2020-08-05 11:01] maxvisser commented on #322
Seems to be a duplicate of https://github.com/teamforus/general/issues/218

[2020-08-05 11:01] #322 closed

[2020-08-05 11:02] jamalv commented on #295
I approve; can be added to the styleguide: https://github.com/teamforus/general/blob/master/manuals/design/styleguide.md when somebody has time to do it :)

[2020-08-05 11:32] maartenfv commented on #304
The following needs to be part of the export:
**Deze kolommen zijn er al en moeten in de export worden meegenomen**
- Notitie
- Aanbieding
- Aangemaakt op
- Geldig tot
- Fonds
- Toegekend
- Ingebruik
- QR-code

**Deze kolommen moeten worden toegevoegd zoals gevraagd in [issue298](https://github.com/teamforus/general/issues/298) en moeten ook in de export worden meegenomen**

- BSN
- Klantnummer
-

[2020-08-05 12:56] maartenfv commented on #329
@jamalv I agree. Every message needs a date and time.

[2020-08-05 13:04] maartenfv commented on #330
@GerbenBosschieter I like this one

[2020-08-05 13:08] maartenfv opened #331 "CR: Informing users when they receive a voucher from voucher generator or aanbiedingsvoucher generator"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Nijmegen

### Change description
Currently, they receive an undigested email? @maxvisser is this correct?

We should have the option to send a mail from the system when toekennen, @maxvisser maybe the sponsor should be able to switch this on or off? What happens if you receive 5 times the same voucher like

[2020-08-05 14:49] maartenfv commented on #236
I approve

[2020-08-06 06:59] jamalv commented on #240
MVP is fixed? Then I think a proper screen is a should have?

[2020-08-06 07:12] jamalv commented on #197
agreed

[2020-08-06 07:12] #197 closed

[2020-08-06 07:21] maxvisser commented on #263
Valentins proposal is to make a working prototype. We need this to answer any question we get about this from Groningen.

[2020-08-06 09:24] jamalv opened #332 "Requester digest: Expiry data of actions/products"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
A sponsor

### Change description
As a requester I would like to receive information about expiring offers in the digest

[2020-08-06 09:26] jamalv opened #333 "Email digest per provider"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

### Change description
As a requester I would like to choose (favourite) from what providers I would like to receive notifications.

[2020-08-06 10:45] maxvisser commented on #240
yeah both apps dont show the buttons/qr codes

[2020-08-06 12:15] maartenfv commented on #186
@maxvisser Let's close this issue.

[2020-08-06 12:18] #186 closed

[2020-08-06 12:24] maartenfv commented on #76
@maxvisser This issue is ready for the next step.

[2020-08-06 13:14] maartenfv commented on #232
I would keep the separation clear and keep them in the lab repo. Once an issue has matured it can be marked for approval and after a go it can be transferred to general. Therefore we do not need another label.

The main purpose of the lab is to keep the separation. In the past things escaped the lab and this creates distraction and chaos.

[2020-08-06 13:49] maartenfv commented on #313
@maxvisser tegoed, omgeving :)

[2020-08-06 13:50] maartenfv commented on #294
Denk niet dat protaal de beste term is. Portaal (informatica)
Een portaal is een webpagina die uit diverse bronnen geselecteerde informatie biedt en/of toegang geeft tot verschillende informatiebronnen en/of services (apps). Een (openbaar) portaal op internet doet diens als "toegangspoort" tot een reeks andere websites, die over hetzelfde onderwerp gaan; soms dus synoniem van start- of hoofdpagina

[2020-08-06 13:53] maartenfv commented on #294
Ik zou gaan voor Gebruikersomgeving
https://nl.wikipedia.org/wiki/Gebruikersomgeving

[2020-08-06 14:19] maxvisser commented on #232
in practice no new issues are created in lab repo and its a bit weird that its closed

[2020-08-06 14:21] maxvisser commented on #76
Its in release v0.14.0 and will be online on 17 august

[2020-08-06 14:24] maxvisser commented on #313
Relevant issues: #294 #235 #236

[2020-08-06 14:25] maxvisser commented on #313
Maybe make a quick internal poll and ask some external party to double check our choices as it is a big thing to change these terms lets not play whack-a-mole and only change it once.

[2020-08-06 14:33] maxvisser commented on #294
Login op de beheeromgeving van de beoordelaar
Login op de beheeromgeving van de sponsor
Login op de beheeromgeving van de aanbieder

Ga naar uw beheeromgeving om de aanvraag goed te keuren
Ga naar uw beheeromgeving om de status van uw aanmelding in te zien.

[2020-08-06 14:50] maartenfv commented on #297
@maxvisser Not sure how that works maybe you can explain to me in person?

[2020-08-06 14:52] maxvisser commented on #297
![image](https://user-images.githubusercontent.com/10818702/89546722-32fb7d80-d805-11ea-8b65-aa9c151c5875.png)

[2020-08-06 14:52] maxvisser commented on #297
upload example has an example row, with a real product_id

[2020-08-06 14:57] linda-90 commented on #313
### Wijzigingen
Hierbij een overzicht van de verschillende keuzes. Graag aanvullen indien er meer woorden zijn waarin we een keuze moeten maken.

- Aanbod of aanbiedingen
✅ aanbiedingen
- beoordelaar of validator
✅ beoordelaar (beoordelende organisatie)
- vouchers of tegoed
✅  tegoed (hoe zit het met: passen?)
- dashboard, portaal of beheeromgeving
✅  beheeromgeving
- validatieverzoek of beoordeli

[2020-08-07 05:32] jamalv commented on #209
Remark: we need to inform users about new actions (using digest) - weekly would be good, or maybe monthly? Or let the user set this themselves?

Another suggestion: to also inform user about expiring actions in digest

[2020-08-07 05:34] jamalv opened #334 "Allow user to share their info with sponsor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Sponsor

### Change description
As a sponsor I would like to have acces to the contact info of requesters
As a requester I would like to choose if I want to share my info with the sponsor

Figma: https://www.figma.com/file/aFDUiHyqzrn0gVFpJ3ysSd/Sharing-permission?node-id=1%3A60

[2020-08-07 05:36] jamalv commented on #334
Also would be nice; share physical address info

[2020-08-07 05:37] jamalv commented on #152
Agreed: opened a CR for sharing details here: https://github.com/teamforus/general/issues/334 and added a remark to actions about the mails: https://github.com/teamforus/general/issues/209

[2020-08-07 05:37] #152 closed

[2020-08-07 05:43] jamalv commented on #54
This is live with end users: https://blog.forus.io/2020/06/webshop-instellingen.html

[2020-08-07 05:46] jamalv commented on #54
@maartenfv @linda-90 this is stuck in the step "tell our users" when can we close this?

[2020-08-07 05:52] jamalv opened #335 "Finalize validator dashboard: filters, search, pagination, timestamps"
### User Story
As a validator I would like my dashboard to have filters, search and pagination

## Tasks:
- [ ] Add filters, search and pagination: https://www.figma.com/file/6mW06zt7214LgwZIoY2VVF/Requester-signupflow%3A-Project-%F0%9F%92%AF?node-id=0%3A1

- [ ] Add timestamps: https://www.figma.com/file/cHEYJrdU5hGz76pZNgsDkP/Adding-more-explicit-dates-to-validation-process?node-id=1%3A3306

[2020-08-07 05:52] jamalv commented on #335
Validator dashboard still needs pagination, search and filters

[2020-08-07 07:14] maxvisser commented on #335
duplicate of https://github.com/teamforus/general/issues/325

[2020-08-07 07:14] maxvisser commented on #335
Maybe make this one specific for validator dashboard

[2020-08-07 07:17] maxvisser commented on #209
Digest is out of scope for this IP right? maybe move that discussion to #152 #332

[2020-08-07 07:20] maxvisser commented on #54
Had a discussion with @maartenfv about tell our users. If it is on the blog we can mark these now as closed.

[2020-08-07 07:20] #54 closed

[2020-08-07 07:28] maxvisser commented on #329
Made an initial scope estimation. added project-100 label

[2020-08-07 08:34] maxvisser commented on #162
Max - Blocking physical cards and ordering new one -> advise to replace icon, clear cache (10min)
Max - new funds page on external validators ( 5 min )
Lena - small improvements on archive (switcher), pages for Actions payment screen and voucher page (10 min)
Jamal - Directory structure, file structure and other Figma improvements :mand: ( 10min )
Max - Me-android - QR code logo, payment succes sc

[2020-08-07 10:02] maxvisser commented on #313
maybe we can discuss this one briefly with sprint demo @jamalv

[2020-08-07 11:03] maartenfv opened #336 "Pentest 2020 | Warpnet"
We will have new pentest coming up.

For the following projects

- Project 31
- Project 100.

@jamalv
- Could you plan 2 weeks in which this pentest will take place?
- Determine the scope of the test? It is important that the scope will include. These are must-have's
  - the validation parts
  - the bunq connection.
  - Login
These need to come back in the final report as tested as sufficient.

[2020-08-08 13:13] jamalv commented on #247
I would like to see if we can reuse the design patterns we are using for the providers and offers for the funds page as well; I think more standardization is better in this case :) as this page grows it will need search, filter and pagination just like the other pages. If we can use the same components for al pages that will be nice

I added the templates from the library to figma, let's experimen

[2020-08-09 20:03] maxvisser commented on #247
I would make the requesting page more similar to vouchers page; maybe vouchers page can aswell look more like offers/providers; maybe even making a more prominent connection between funds page and vouchers page.

[2020-08-10 09:04] #221 closed

[2020-08-10 09:15] jamalv commented on #325
notes: needs funds page;

about child fund; how do we do this?

[2020-08-10 09:33] jamalv commented on #196
locking would be okay; deleting the product will stop the action (need to inform the user about this - warning modal)

[2020-08-10 11:30] maxvisser opened #337 "CR: which flags on frontend and backend are there?"
## Main asssignee: @

## Context/goal:
On release-v0.14.0 its not needed anymore.

## Task
- [ ] remove fund criteria edit by user flag
- [ ] list all flags

[2020-08-10 11:35] maxvisser commented on #337
I want an index of which flags are in forus-backend and forus-frontend; Currently its a bit chaotic. Last friday me and valentin spent both 1h 30m looking for an issue while a flag was enabled. This can save precious time if we can have a list. (and be carefull about creating any kind of flag and explain when it can be removed.)

[2020-08-10 11:36] maxvisser commented on #337
Removing fund criteria edit by user flag (was the flag of last friday) this one can be removed

[2020-08-10 11:37] maxvisser commented on #337
estimated scope on 8h probably less.

[2020-08-10 11:59] maxvisser commented on #196
I would lock the field behind field 'there is a running action' with a tooltip "A sponsor has started an action based on this product. Delete the product to stop the action"

[2020-08-10 12:23] maartenfv commented on #314
Discussed 10-08 we hope this could go on staging next staging release 17-08.

[2020-08-10 12:26] maxvisser commented on #314
needs an icon for blocking cards

[2020-08-10 12:37] maxvisser commented on #252
There is aswell a use case to not ask the requester to apply again and renew their voucher based on new prevalidation or voucher generator

[2020-08-10 14:12] jamalv opened #338 "Organisation signup from the homepage"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholders

### Change description
As an organisation I would like a link to sign up on the webshop

Proposed task:

Add the following url structure to the menu (potjeswijzer webshop)

Organisatie aanmelden
- Aanbieder aanmelden (link to https://forus.io/provider/sign-up)
- Sponsor aanmelden (link to https://forus.i

[2020-08-10 14:44] maxvisser commented on #338
I would not add it prominent to menu actually. Why is this a must have? If you look at competitors (like [metgezondboerenverstand](https://meedoeninmontferland.info/) or [Rotterdampas](https://www.rotterdampas.nl/)) they all take the footer approach.

[2020-08-10 14:47] maxvisser commented on #252
Scope too big for estimation. I would split this CR up into atleast three seperate requests:
- renewal for provider -> add last seen provider automatically to your fund
- renewal for sponsor -> criteria is added again and statistics of old fund can be compared with new fund
- renewal for requester -> don't need to apply again if I am still eligible.

[2020-08-10 14:50] jamalv commented on #160
I don't actually think this is needed for actions, right? As with actions it will not be possible to have no budget.

[2020-08-10 14:51] jamalv commented on #196
Discussed during sprintplanning today that @danrminds would check in with valentin to see what he thinks about this one in the context of actions.

[2020-08-10 14:55] maxvisser commented on #160
well you could have nothing to scan; as in no active actions for you as a provider.

[2020-08-10 14:56] maxvisser commented on #338
Also can only be done for all webshop or we need to make menu configurable via CMS (which increases scope) or add another flag (which we can add to the mess #337)

[2020-08-10 14:57] maxvisser commented on #325
Should list all development tasks to estimate scope

[2020-08-10 15:03] maxvisser commented on #335
If the scope is just pagination, search and filters. This does not need to be that big. I see the scope as Medium.

[2020-08-10 15:03] maxvisser commented on #335
Needs an improvement proposal (what needs to be changed)

[2020-08-10 15:06] maxvisser commented on #334
Initial scope estimation, if more information of whats needed is present I could give a better estimation. Espacially a low fedelity prototype showing where the information should be shown would help aswell as the whole flow where the question should be raised.

[2020-08-10 15:10] maxvisser commented on #331
We currently have a mail which is sent by Voucher generator. 'toekenningsmail' which is sent at each voucher generator. For the product voucher generator we do not sent any mails. For nienoord I sent this mail manually to all users via Gmail.

I see two new functionality and something we already have but can be optimized

Two new requests:
- Add digest for new vouchers (notification digest?)
- Ena

[2020-08-10 15:11] maxvisser commented on #331
if planned, estimation should be checked by Dan.

[2020-08-11 06:41] jamalv commented on #335
@maxvisser added two figma proposals, they can be reviewed on design and text and then be planned in

[2020-08-11 09:07] jamalv opened #339 "Requester: single signupflow"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Users during usertesting

### Change description
As a requester I'd like a single signup-flow when I apply for multiple funds so that I have a clear UX.

## Current situation
When a requester wants to apply for multiple funds, they have to go trough each signup flow for each fund start-to finish. During usertesting th

[2020-08-11 09:47] jamalv commented on #339
@maxvisser could you rate this one on scope? I think it would be beneficial for both project 100 and 31

[2020-08-11 09:53] jamalv commented on #325
@maxvisser in order to deal with multiple funds I propose to add a step where the user selects what funds they want to apply for. This way we only need one signupflow for the requester: https://github.com/teamforus/general/issues/339

[2020-08-11 11:47] jamalv opened #340 "Webshop email and notification settings"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
As a requester I would like to have email and notification settings in the webshop.

### Figma: https://www.figma.com/file/k8Yjwct18gJYlykIHuqMF9/Webhop-Settings?node-id=0%3A1

[2020-08-11 11:50] jamalv commented on #340
For project 100 it is a must-have for the user to be able to change their e-mailadres. @maxvisser @danrminds I saw the figma prototype (linked in issue) but no issue; did I miss it or was there none?

Also, what's the status of this? can this be planned or are there still dependancies?

[2020-08-11 12:13] jamalv commented on #172
@maxvisser I made a Figma proposal here: https://www.figma.com/file/aRfkoe4wr2B4Wz8XVIaUa5/Free-offers?node-id=1%3A86

The provider should be able to offer a product/service for free > then it should appear as free in the webshop. ("Gratis")

[2020-08-11 12:29] jamalv opened #341 "Epic: Finalize Potjeswijzer"
## Context:

This thursday we have a presentation to the project group where we will show what we did with their feedback. After that we will continue user testing to keep gathering feedback from end users.

We would like to process as much feedback before thursday as possible!

This epic is to list/link required fixes for the Potjeswijzer webshop.

## Tasks

Must have:
- [x] Request a fund from t

[2020-08-11 12:30] jamalv commented on #45
MVP is on dev (test.potjeswijzer.nl) > superseding this issue with this one for specific improvements: https://github.com/teamforus/general/issues/341

[2020-08-11 12:32] jamalv commented on #241
<img width="219" alt="Screenshot 2020-08-11 at 14 31 54" src="https://user-images.githubusercontent.com/30194799/89897510-695b4300-dbdf-11ea-81e4-40338f1114c5.png">

[2020-08-11 12:34] #45 closed

[2020-08-11 12:48] jamalv commented on #242
I agree this is implemented :D

[2020-08-11 12:48] #242 closed

[2020-08-11 13:15] maxvisser commented on #339
As the signupflow is based on criteria of the fund. It's probably a big challenge to think up a system to allow this. Probably rewriting alot of what's currently there.

[2020-08-11 13:22] maxvisser commented on #172
Probably include the Sponsor and Me scanning parts aswell.

[2020-08-11 13:26] maxvisser commented on #172
As our current system expects each transaction created to be payed out by bunq (no exceptions) I  would estimate this issue on scope difficulty. You need to somehow implement it that you can allow 0 euro transactions without paying them out. Not sure on the difficulty. Probably dev-rminds needs to do this.

[2020-08-11 14:19] maxvisser commented on #263
[code]

[2020-08-11 14:20] maxvisser commented on #263
@dev-rminds code snippet

[2020-08-11 16:42] jamalv opened #342 "Remove "active" label from product details page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
We got a few questions about this in different occasions, especially during usertests

### Change description
Remove the "active" label - if a product is in the webshop, it is always active. This label confuses people, lets remove it:

<img width="1243" alt="Screenshot 2020-08-11 at 18 40 35" src="https://user-images.

[2020-08-11 19:05] jamalv opened #343 "Show fund description on funds page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Erwin

### Change description
As a requester I would like to see more info about the fund on the funds page: what can I spend it on? How big is the budget? What are the criteria?

Original Figma comment: https://www.figma.com/file/8Xc9yR3qpe0C26AfdaZnxH?node-id=889:8253#29567776

[2020-08-11 19:15] jamalv opened #344 "As a validator I would like to know if the requester got assistance"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Validator

### Change description
As a validator I would like to know if the requester got assistance so that I could contact that person

Note: unknown if this would be valuable; therefore creating and closing this issue just to have it if it becomes relevant again.

[2020-08-11 19:15] #344 closed

[2020-08-11 19:18] jamalv commented on #264
@maxvisser could you give a status update of this issue? any changes?

[2020-08-11 19:19] jamalv commented on #249
@jknnr could you give a status update of this issue?

[2020-08-11 19:22] jamalv commented on #270
Ah; missed this one - yes; we're pretty far with the mobile apps; now this is on my radar again will work to advance this furter; will update this issue when next steps have been made.

[2020-08-11 19:25] jamalv commented on #170
I believe @linda-90 is working on this :) when we have something it can be reviewed! @linda-90 if you start working on something could you link the figma file here or let us know if/how we can help?

[2020-08-11 19:26] jamalv commented on #206
This one has been superseded by #209

[2020-08-11 19:26] #206 closed

[2020-08-11 19:35] jamalv commented on #49
Had some discussions about this the plan should be to take this step by step: we have made some good steps with the mobile menu #194 and menu bar (above) - we'll have to go trough each one step by step with the goals of:

- refactoring for maintainability and scalability
- #253 WCAG complience
- improving the designs and user experience of the webshops

The way we are doing this with the menu is a

[2020-08-11 19:51] maxvisser commented on #264
In release v0.14.0 should be tested with cases like Westerkwartier/SDOA/Geertruidenberg (that skipping still works) aswell as Groningen (replacing)

[2020-08-11 19:55] maxvisser commented on #343
Currently the fund description is not shown anywhere, correct? As their are two target audiences for this text I would let the fund description mainly focus on Requester?

[2020-08-11 20:01] maxvisser commented on #340
All are done. Changing email is a unreleased feature still. Notification settings are done

[2020-08-12 04:46] jamalv opened #345 "Requester signup; refine step 1: welcome"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- The requester signup flow feels a bit incoherent for some scenario's. The expectation you get from applying for a specific fund and then land on the signupflow feels a bit weird.

Example:
1. Go to Stadjerspas webshop
2. Want to apply for stadjerspas so click on **Start a

[2020-08-12 05:09] jamalv commented on #313
https://www.accessibility.nl/tools/leesniveau

[2020-08-12 05:10] jamalv commented on #313
https://dekrachtvancontent.nl/webredactie/zin-en-onzin-van-schrijven-op-b1-niveau/

[2020-08-12 05:17] jamalv commented on #341
- [ ] provider signupflow: organisatienaam ipv bedrijfsnaam: https://www.figma.com/file/8Xc9yR3qpe0C26AfdaZnxH?node-id=1517:109#22593150

[2020-08-12 06:28] jamalv commented on #45
☝️ reasoning is as follows; from a development perspective it will be much clearer to create seperate tasks for fixes / improvements, as the basis (MVP) is there.

The next steps (implementation, configuration + deployment to staging / production should be a specific (ITSM / Implementation) task when there are concrete plans for that.

[2020-08-12 06:33] jamalv opened #346 "Let sponsor configure bunq"
Learn more about change requests here: https://bit.ly/39CWeEE

### Change description
Main CR: As a sponsor I would like to configure bunq so that I can automatically process payments.

Context: As a sponsor I would like to set up a fund without needing foundation Forus for assistance.

MVP: add to implementation dashboard (field to enter bunq key) - There's many ways to improve the MVP; but for n

[2020-08-12 06:55] maxvisser commented on #295
I would aswell say that DoD for this issue is aswell changing the templates to 1024? If so I think the scope is medium/big. If DoD is just adding it to the styleguide for all new designs to take account its much smaller.

[2020-08-12 06:55] jamalv commented on #346
@maxvisser could you rate this on scope and check out if the figma prototype is sufficient? If it's small (few hours max) it can be planned in.

[2020-08-12 06:57] #130 closed

[2020-08-12 06:57] maxvisser commented on #130
Can be reopened when it becomes usefull again.

[2020-08-12 06:58] maxvisser commented on #129
Should have a clear DoD. Currently we have a design manual but its an MVP. What need to finish this IP?

[2020-08-12 07:02] maxvisser commented on #346
Is this part of this cr? As a sponsor I would like to set up a fund without needing foundation Forus for assistance.

[2020-08-12 07:03] maxvisser commented on #346
I would do a functional design first, aswell to look at Email / DigiD settings what there went wrong (why it is now an unreleased feature). The scope currently in figma is small but probably there are some missing links.

[2020-08-12 07:04] maxvisser commented on #245
@jknnr could you give an update on this one? Is there anything needed?

[2020-08-12 07:06] maxvisser commented on #189
we could allow markdown which the scope of is small. we need to host images and do a cropper for the images aswell as letting provider easily apply that image to the product. Scope gets bigger. Also I would maybe suggest doing this on the action instead of the product.

[2020-08-12 07:08] maxvisser commented on #244
@jamalv I think its not feasibility or technical review what gerben is talking about (not something Dan or Valentin could answer)

[2020-08-12 07:08] jamalv commented on #346
The literal requirement is _"Sponsor kan zelfstandig een fonds aanmaken"_ which translates to: "Sponsor can independently create a fund" - If we add this feature and and article to the helpcenter about opening and connecting funds with bunq; then I think this is possible?

[2020-08-12 07:09] jamalv commented on #346
Also is email/DigiD settings unreleased or is it hidden behind a role?

[2020-08-12 07:09] maxvisser commented on #248
Should be in release v0.13.1

[2020-08-12 07:09] #248 closed

[2020-08-12 07:11] maxvisser commented on #341
Initial scope estimation is medium; As I see more tasks will be added this IP can become small or big. Probably when  there is a adjust Figma IP which is approved we can estimate this issue better.

[2020-08-12 07:14] maxvisser commented on #345
I have no strong opinion about this one. Maybe @linda-90 @maartenfv could look at this one.

[2020-08-12 07:16] maxvisser commented on #270
Screenshots of webshop are in the Figma IP of Me CRUD

[2020-08-12 07:18] maxvisser commented on #342
Weird indeed. Is this part of project-31?

[2020-08-12 07:21] maxvisser commented on #38
Gerben can now create CR from Zoho with a flow

[2020-08-12 07:21] #38 closed

[2020-08-12 07:23] maxvisser commented on #111
Gmail just introduced Meet into Gmail app and allows user to manually hide the tab in settings

[2020-08-12 07:25] maxvisser commented on #85
@jamalv I think #300 superseded this issue.

[2020-08-12 07:25] #85 closed

[2020-08-12 07:27] maxvisser commented on #47
could be solved with #300

[2020-08-12 07:27] maxvisser commented on #102
@GerbenBosschieter and @MichaelForus are working on this (could you write an update or progress?)

[2020-08-12 07:29] maxvisser commented on #37
This needs a DoD @GerbenBosschieter Whats needed to close it?

[2020-08-12 07:29] maxvisser commented on #95
Probably we want to do a migration in the future

[2020-08-12 07:31] maxvisser commented on #142
This issue is too vague. Could you update it?

[2020-08-12 07:32] #199 closed

[2020-08-12 07:33] #198 closed

[2020-08-12 07:34] GerbenBosschieter commented on #37
@maxvisser for the specific use case of Groningen it's done. Two employees are already onboard and more will follow. That being said, would be nice to have a testing environment / proces for our new clients.

[2020-08-12 07:34] maxvisser commented on #255
Duplicate of #255 As 255 is older I will close this one.

[2020-08-12 07:35] #255 closed

[2020-08-12 07:36] maxvisser commented on #207
@jamalv needs priority. This is on hold?

[2020-08-12 07:38] maxvisser commented on #214
Scope is probably bigger on implementation side of this area. I can't really estimate that part.  Financial part is aswell not really my expertise.

[2020-08-12 07:41] maxvisser commented on #100
I think its intended behaviour; Would be nice to show something to the requester; maybe sent a notification that he can cancel the reservation.

[2020-08-12 07:49] maxvisser commented on #320
A id number of fund request would already a nice solution

[2020-08-12 07:49] maxvisser commented on #320
Probably also an issue for project-100

[2020-08-12 07:50] maxvisser commented on #317
needs refinement discussion

[2020-08-12 07:50] maxvisser commented on #316
I will close this one in favor of #142

[2020-08-12 07:51] #316 closed

[2020-08-12 07:52] maxvisser commented on #315
@jamalv Could check priority

[2020-08-12 07:52] maxvisser commented on #315
Needs an project to be planned

[2020-08-12 07:54] maartenfv commented on #346
I really like this issue. It would help with implementation.

In Figma is see that it would be placed under webshop. I consider this to be a strange place for this input.

Could it be placed under organisation settings?

![image](https://user-images.githubusercontent.com/30211022/89989682-93fdd800-dc81-11ea-97d0-5d60bfbd41fa.png)

[2020-08-12 07:54] maxvisser commented on #312
this needs priority label and a project

[2020-08-12 07:55] maxvisser commented on #311
could be relevant for #346

[2020-08-12 07:57] jamalv commented on #346
@maartenfv Sure! 😄

@maxvisser in general I think it makes sense if bunq is connected to the organisation. I don't see any usecases where one organisation would have multiple bunq accounts, what do you think?

[2020-08-12 08:04] maxvisser commented on #277
Not sure what the proposal is; Will estimate it as big until there is a conclusion

[2020-08-12 08:06] maxvisser commented on #292
Seems like somewhat the same as #189

[2020-08-12 08:06] maxvisser commented on #302
Current state is part of release v0.14.0

[2020-08-12 08:07] maxvisser commented on #219
This is completely fixed in release v0.14.0

[2020-08-12 08:11] maxvisser commented on #37
Allright; As we did not receive any complaints yet I see this as fixed. Maybe lets reopen it when new use cases arise. (or create new proposals for improvement) as MVP is there.

[2020-08-12 08:11] #37 closed

[2020-08-12 08:14] GerbenBosschieter opened #347 "Requester signup info step: Can we make text more based on the fund of the implementation instead of always generic?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- The requester signup flow feels a bit incoherent for some scenario's. The expectation you get from applying for a specific fund and then land on the signupflow feels a bit weird.

Example:
1. Go to Stadjerspas webshop
2. Want to apply for stadjerspas so click on **Start a

[2020-08-12 08:14] maxvisser commented on #346
A provider would also be able to add a bunq key; organizations are not role specific.

[2020-08-12 08:14] GerbenBosschieter commented on #339
https://github.com/teamforus/general/issues/347

[2020-08-12 08:16] maxvisser commented on #347
Seems like somewhat the same as https://github.com/teamforus/general/issues/345

[2020-08-12 08:17] maxvisser commented on #347
Maybe combine these? @jamalv

[2020-08-12 08:20] maxvisser commented on #339
To give more context around the big challenge:
A fund has criteria for example income. If we allow a requester to apply for multiple funds at once. We need to apply the user to multiple funds. (there will be no single fund request). One validator can deny; another can approve. Aswell as if criteria differs per fund you can have multiple 'income' related steps within a flow. which gives weird UX.

[2020-08-12 08:20] jamalv commented on #346
Jup; understood.

@maartenfv what do you think about that?

- If we add it like the original proposal it will only be possible to configure bunq if you also have an implementation (your own webshop)
- If we add it like you proposed, it will be possible for **any** organisation to connect a bunq account 😉 - so also shopkeepers, they cannot really use it, unless they also choose to set up a fund 😛

[2020-08-12 08:27] maxvisser commented on #319
https://github.com/teamforus/general/issues/335 duplicate?

[2020-08-12 08:27] GerbenBosschieter opened #348 "Requester signup step 1: textual change"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Step one has the following text and needs to be changed imo.

**Title:** Vul uw email adres in om verder te gaan
**Description**: Er wordt gekeken of u al aan voorwaarden voldoet, en u kan tussentijds afbreken en op een ander moment verder gaan.
**Link to me-app**: Ik wil

[2020-08-12 08:28] maxvisser commented on #296
@maartenfv I already added to a few of your issues all labels manually; Could you use a template next time?

[2020-08-12 08:28] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/347

[2020-08-12 08:28] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/348

[2020-08-12 08:28] maxvisser commented on #296
needs a project and priority

[2020-08-12 08:30] maxvisser commented on #257
@jamalv could you check priority and see if this can be done as part of a project? As there is already a design for (which was left unfinished? not reviewed atleast) And probably #305 will also need something like this.

[2020-08-12 08:30] maxvisser commented on #286
Could be part of #142

[2020-08-12 08:32] maxvisser commented on #286
I would not make any financial statistics based on prevalidations; as this will be far too difficult to make generic. I would first implement #301 and replace prevalidations (you can create a voucher and a citizen can activate said voucher)

[2020-08-12 08:33] maxvisser commented on #284
@jamalv showed that you can maybe fixed this with constraints in Figma. Would be nice to do a one page experiment. Would need a project which wants this though.

[2020-08-12 08:34] maxvisser commented on #279
Maybe close this one and let it be part of #95 For now I will add to this one #95 as blocking

[2020-08-12 08:35] maxvisser commented on #274
Would be nice to write down what we discussed @GerbenBosschieter to make a bit of a conclusion to this issue.

[2020-08-12 08:36] maxvisser commented on #273
@jamalv Maybe bodi can work on this?

[2020-08-12 08:37] maxvisser commented on #164
As this is open till april and only me and gerben tracked time. I will close this (you can still track time on closed issues)

[2020-08-12 08:37] #164 closed

[2020-08-12 08:39] GerbenBosschieter opened #349 "Requester signup step two: Textual changes and comments"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
We need some changes to this step:
- The text feels like a computer is talking to a person and it also needs to be more action based. Instead of explaining  what happend we should tell them what to do. This is less text and less confusing.
- The title should change: don't t

[2020-08-12 08:40] maxvisser commented on #179
Would still be nice to see which file is worked upon; I will close this isse ( you can still use it to track time). A comment in description of time tracking is needed to describe what was done.

[2020-08-12 08:40] #179 closed

[2020-08-12 08:41] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/349

[2020-08-12 08:41] #154 closed

[2020-08-12 08:44] maxvisser commented on #258
needs project and priority checking

[2020-08-12 08:47] maxvisser commented on #349
This text is also not standard. We should just write this text once and use it everywhere. There is already an IP to improve this. https://github.com/teamforus/general/issues/224

[2020-08-12 08:47] maxvisser commented on #349
I will close this in favor of https://github.com/teamforus/general/issues/224 And will add https://github.com/teamforus/general/issues/224 to finalize requester signupflow.

[2020-08-12 08:47] #349 closed

[2020-08-12 08:51] GerbenBosschieter opened #350 "Requester signup step indicator: Where am I, How did I get here, What year is it?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Step indicator is weird. Doesn't really make sense. We had the same problems with the provider sign up flow. Maybe there are too many scenario's of how people can land on a certain step to get  the step indicator really clear. If this will take to much time to fix, I woul

[2020-08-12 08:51] maxvisser commented on #348
![image](https://user-images.githubusercontent.com/10818702/89995415-b72c8580-dc89-11ea-9b6b-0cfe058e1164.png)
this is in figma

[2020-08-12 08:51] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/350

[2020-08-12 08:53] maxvisser commented on #347
Combined them

[2020-08-12 08:53] #347 closed

[2020-08-12 08:55] maxvisser commented on #325
Closed 2 issues @GerbenBosschieter, as these were too similar to some already on the backlog. Tried to reuse your comments in the older ones.

[2020-08-12 09:02] #335 closed

[2020-08-12 09:02] maxvisser commented on #335
Duplicate of https://github.com/teamforus/general/issues/319

[2020-08-12 09:05] GerbenBosschieter opened #351 "Requester signup step three: use bulletpoints instead of checkboxes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- We should use bullet points instead of checkboxes (checkcirkels). It gives an impressions you can check the circles while you can't.

<img width="780" alt="Screen Shot 2020-08-12 at 11 04 47" src="https://user-images.githubusercontent.com/38419514/89996918-b5fc5800-dc8b-1

[2020-08-12 09:05] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/351

[2020-08-12 09:07] GerbenBosschieter commented on #325
@maxvisser we should add these issue you refer to to this epic. There is not really a good way for me to know what is already on the backlog expect going through the backlog.

[2020-08-12 09:08] maxvisser commented on #351
In user tests someone did try to press it 👍

[2020-08-12 09:08] maxvisser commented on #325
I will combine and close if needed; dont worry about it; I rather have duplicates then no issues at all 👍

[2020-08-12 09:12] GerbenBosschieter opened #352 "Requester signup flow step three textual style changes, the signup flow will be used by people not computers."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- The way we display criteria is like we are talking to a computer.

Critera's:
<img width="780" alt="Screen Shot 2020-08-12 at 11 04 47" src="https://user-images.githubusercontent.com/38419514/89997421-69fde300-dc8c-11ea-9c29-22f739499af1.png">

Could be:
- U bent woonacht

[2020-08-12 09:12] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/352

[2020-08-12 09:14] maxvisser commented on #352
This is fixed on new PR to develop; Sponsor can now fill in a title which will replace the default text.

[2020-08-12 09:16] GerbenBosschieter opened #353 "Requester signup flow step three: A wild DigiD has appeared"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
The user gets confronted by a random and wild DigiD logo If a user gets to the step of all the criteria's of the fund.
There is no context about DigiD at all and there is still the possibility to go the next step.

Not sure if this is a configuration thing or whatever. But

[2020-08-12 09:16] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/353

[2020-08-12 09:20] maxvisser commented on #353
https://github.com/teamforus/forus/issues/1695

[2020-08-12 09:21] maxvisser commented on #352
I see this is already in release/v0.14.0 we can improve the flow on staging.

[2020-08-12 09:22] GerbenBosschieter opened #354 "Requester signup: no DigiD connection? No possible way to apply anymore"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
If there is no active connection with DigiD the user will be confronted with an error. (no problem with the error).
If the user wants to back to the beginning page it will be redirected to the homepage while logged in, but he didn't finish the application.

The user wants t

[2020-08-12 09:23] maxvisser commented on #354
Yeah probably we need the aanvragen page. Would be good to redirect people back to this page. @GerbenBosschieter this could also be a potential issue for Nijmegen if ever the DigiD connection is down

[2020-08-12 09:34] maxvisser commented on #346
There is more still to do:
- Add fund to implementation (choose which webshop)
- Fund states need to be refactored currently we have four: waiting, pending and active and closed
Waiting: Waiting on configuration
Pending: fund is configured, pending on start date
Active: running till end date
Closed: end_date has arived no new transaction can happen. vouchers expire etc.

So if the sponsor will do

[2020-08-12 09:37] maxvisser commented on #278
need project label and priority

[2020-08-12 09:37] GerbenBosschieter opened #355 "Requester signup step one (not really step one): tell the user what to do, not just stating the criteria."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
The title of this step is the criteria. It should inform the user what to do, the description and text area where the explanation is should inform the user what it is.

Current title: **Uw inkomen is lager dan 120% van de bijstandsnorm**

I can't even think of a correct sen

[2020-08-12 09:38] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/355

[2020-08-12 09:45] maxvisser commented on #150
@danrminds lets discuss this issue briefly

[2020-08-12 09:45] jamalv opened #356 "Implement new webshop design (Geertruidenberg)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
@linda-90

### Change description
Figma: https://www.figma.com/file/qWrX7jmcCLjrFEMWe6FjDX/%F0%9F%8C%8D-Webshop-Geertruidenberg?node-id=1%3A2

Development can start when design; text; and feasibility have been reviewed.

Should be planned in the sprint starting the 24th of august, to be staged on monday 31st of august

[2020-08-12 09:51] GerbenBosschieter opened #357 "Requester signup step two (not really) agree with the criteria needs textual and design changes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
This step is really confusing for a user and it triggers some reactions (I am easily triggered btw ;) )

**Title:** You accepted the criteria (Says who? I did not, I am here to agree with it not because I already did)
**Could be**: Please confirm that you agree with the cri

[2020-08-12 09:51] GerbenBosschieter commented on #325
https://github.com/teamforus/general/issues/357

[2020-08-12 10:01] maxvisser commented on #224
Points which should be included:
- The text feels like a computer is talking to a person and it also needs to be more action based. Instead of explaining  what happend we should tell them what to do. This is less text and less confusing.
- The title should change: don't tell them about we want to know if you have acces. Just tell them, we have send you a mail, please click the link to continue you

[2020-08-12 10:03] maxvisser commented on #357
Title has been filled in from sponsor dashboard. I see this as fixed in Figma but we should check that.

[2020-08-12 10:05] maxvisser commented on #356
Can't be staged on 31st of augustus; Probably 11 september is more reasonable estimation

[2020-08-12 10:08] GerbenBosschieter opened #358 "Sponsor dashboard: Fund configuration unclear what the clicking the checkbox does"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
The sponsor has an option to click the checkbox at: **Bijlage uploaden**.
But what does this do, will this display a possibility to upload proof? Or will this make uploading proof mandatory?

We should add more context to this option. And depending of what it really does we

[2020-08-12 10:09] GerbenBosschieter commented on #358
<img width="1008" alt="Screen Shot 2020-08-12 at 12 03 15" src="https://user-images.githubusercontent.com/38419514/90003601-9ae21600-dc94-11ea-8c72-0ff07dcc94b4.png">

[2020-08-12 10:25] jknnr commented on #245
we already use uniform icon, will double-check sizes with Lena

[2020-08-12 10:37] maxvisser commented on #358
I would maybe move this to the modal

[2020-08-12 11:25] maxvisser commented on #163
@Myshelova  and @jknnr  think up a solution.

@GerbenBosschieter -> scope could be much smaller only show provider transactions (dont show the tab for requester)

[2020-08-12 12:22] jamalv opened #359 "Activate voucher using digid"
## Context
For multiple upcoming projects we need to be able to activate vouchers using DigiD.

The prevalidations will be added by CSV file. The BSN numbers will be in the CSV file.

## User stories
As a requester I want my vouchers to be automatically added to my account if I have the required prevalidations. If I **don't** have the right prevalidations linked to my BSN number, I would like to b

[2020-08-12 12:39] GerbenBosschieter commented on #272
Not sure if my PR's will ever see daylight. So I will unassign myself for now. The fix itself is in a branch that will probably stauy open for a while because it's probably needs endless refactoring

[2020-08-12 12:40] GerbenBosschieter commented on #253
Removed my assignment untill we decide to include this in our pipeline and review is being done based on the guidelines.
We can find the guidelines here:

https://www.w3.org/TR/WCAG20-TECHS/Overview.html#contents

[2020-08-12 13:50] jamalv commented on #338
The requirement is "[rol] kan zich zelfstandig aanmelden in het platform vanaf de homepagina" ; [role] can independently sign up for the platform from the homepage - so we need a good way to allow this.

Another solution would be to add another item to the menu with a seperate page for providers:

"Voor organisaties" - then make this a page like the "uitleg" page, so that on that page a custom exp

[2020-08-12 13:56] maxvisser commented on #338
Well the footer is part of the homepage so still not sure why this is a must have ;) I like the idea about adding more pages; I personally dont care about the direction; I just find it weird to add anything to the menu (as this is not important for the requester and yes they will click on it if its there and yes some will get confused and think the signupflow for provider is applying for a fund)

[2020-08-12 16:38] jamalv commented on #183
yes correct, can be closed

[2020-08-12 16:38] #183 closed

[2020-08-12 19:30] jamalv commented on #349
Mand!

[2020-08-12 19:31] jamalv commented on #224
@maxvisser why is this a must have in your opinion?

[2020-08-12 19:49] jamalv commented on #324
@maxvisser just curious why would you rate this must have? has this been a problem in the past (of course I see it's important ;) -- just trying to understand priority :)))

[2020-08-12 20:45] maxvisser commented on #324
Well seems like a no brainer and pretty shameful as it's so small in scope

[2020-08-12 20:46] maxvisser commented on #224
I see it as part of project 100 and 31 finalizing signupflows

[2020-08-12 20:47] maxvisser commented on #224
As gerben aswell indicates in #349

[2020-08-12 20:56] Myshelova commented on #324
@maxvisser I told you and Jamal about the problems with Sketch export to Figma with Android App. I'm adding all screens according to our priorities. I will add all other screens as soon as it will be possible)

[2020-08-12 20:57] Myshelova commented on #324
But we also have a voucher list with a new concept with Actions at the Android Library <img width="205" alt="Screenshot 2020-08-12 at 22 56 43" src="https://user-images.githubusercontent.com/22478043/90067256-1f618280-dcef-11ea-88fe-a3c9830437d3.png">

[2020-08-13 05:20] maxvisser commented on #324
Nice thanks

[2020-08-13 05:28] jamalv commented on #313
@max Ik zou criteria of criterium nog veranderen in voorwaarde of voorwaarden @linda-90 @maartenfv, what do you think?

[2020-08-13 05:33] jamalv commented on #278
Could have and currently not in scope of a project

[2020-08-13 05:34] jamalv commented on #278
Would be very nice though, so could think about internal funding it or picking it up internally? (Sjoerd?)

[2020-08-13 06:52] maxvisser commented on #313
Valideer eigenschap -> Eigenschap laten goedkeuren

[2020-08-13 07:08] maxvisser commented on #313
Het bedrag van de aanbieding wordt van uw Meedoenpakket-voucher afgehaald en er wordt een nieuwe voucher aangemaakt
->
Het bedrag van het aanbod wordt van uw Meedoenpakket-tegoed afgehaald en er wordt een nieuw aanbod tegoed aangemaakt.

[2020-08-13 07:09] maxvisser commented on #313
Het bedrag van het aanbod wordt van uw Meedoenpakket-tegoed afgehaald en er wordt een reservering aangemaakt.

[2020-08-13 07:17] maxvisser commented on #313
Verstuur een validatieverzoek -> Verstuur een goedkeuringsverzoek

[2020-08-13 07:31] linda-90 commented on #313
@maxvisser
✅ Het bedrag van het aanbod wordt van uw Meedoenpakket-tegoed afgehaald en er wordt een reservering aangemaakt.

Verstuur een validatieverzoek -> Verstuur een beoordelingsaanvraag
Waar komt deze tekst terug? Het woord verzoek is niet B1, aanvraag wel.
Kan deze tekst simpeler? Bijv. Versturen ter beoordeling of aanvraag laten beoordelen.

[2020-08-13 08:47] maxvisser commented on #313
volgensmij de stap bij stap gids op de uitlegpagina

[2020-08-13 09:11] maxvisser commented on #313
Aanbiedingsvouchers op het sponsor dashboard. Bij de webshop en provider dashboard kom ik wel weg met dit vervangen door 'Reserveringen' maar in het menu is Tegoeden en Reserveringen gek.
Opties:
Tegoed in natura
Product tegoed
Aanbod tegoed
Tegoed in aanbod
Aanbiedingstegoed

[2020-08-13 09:19] maxvisser commented on #313
Niet-toegekende voucher -> dit is een voucher die door de sponsor is aangemaakt maar nog niet aan een gebruikersprofiel gekoppelt is.

[2020-08-13 11:48] maxvisser opened #360 "CR: As a sponsor I want to be able to delete a voucher which was created because of a mistake"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
User stories:
- A voucher which was created by voucher generated (not assigned)
- A voucher which was assigned to an identity via voucher generator
- A voucher is created by automatically validating a fund request (nijmegen)
- A voucher was activated with a activation code which was wrongly c

[2020-08-13 12:05] maxvisser commented on #360
I see the scope as medium. Its finding the right places to add delete buttons and good modals of impact of deleting stuff. Would be nice aswell for the requester to delete its own records and its own vouchers (sometimes the requester is the one asking for deletion)

[2020-08-13 12:06] maxvisser commented on #360
If we would add more types of vouchers to sponsor dashboard (aswell vouchers generated by activation codes or fund requests) we could probably use the voucher generator list to delete vouchers. Same as implementing deleting prevalidations (activation codes)

[2020-08-13 13:37] maxvisser opened #361 "CR: Enhance Budget voucher transaction mail"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

The requester gets a mail that contains:
## Er is een bedrag van uw :fund_name-tegoed afgeschreven
Er is met uw tegoed een aankoop gedaan. Hierdoor is er een bedrag afgeschreven.
Het huidige bedrag van uw \':fund_name\'-tegoed is €:current_budget

## Proposal
Add what was deducted from saldo

[2020-08-13 14:23] maxvisser commented on #313
Meeste heb ik nu veranderd. Heb de PR voor de teksten op dev gezet. Daarmee staat hij ook gelijk op test.potjeswijzer.nl @jamalv

[2020-08-14 05:37] jamalv commented on #313
@maxvisser @linda-90

![F5408D6B-9C56-4ECD-A4DD-E0E13EBC4FC0](https://user-images.githubusercontent.com/30194799/90217173-dd286600-de00-11ea-9d89-19968d6d124e.jpeg)

[2020-08-14 05:37] jamalv commented on #313
Wat mij betreft mag die hele tekst ook weg trouwens, vind het nogal nietszeggend

[2020-08-14 05:38] jamalv commented on #313
Er staat al een 8 linksboven, en klikken voor meer informatie is uitleggen hoe het internet werkt, niet onze rol :p

[2020-08-14 05:43] jamalv commented on #313
Daarbij, de zoekfunctie is veel belangrijker, door die gelijk linksboven te hebben valt hij meer op; bij de usertests misten mensen nog verbazingwekkend vaak de zoekfunctie.

[2020-08-14 06:22] maxvisser commented on #313
ik zou voor de zoekfunctie en weghalen tekst even een IP aanmaken Jamal. Ik zie niet in waarom dat deel is van het veranderen van de termen. (behalve dat 8 aanbod beetje gek is)  maar zo zullen er wel meer gekke dingen zijn (die al gek waren maar nu meer opvallen omdat je de tekst veranderd)

[2020-08-14 06:35] maxvisser commented on #313
We kunnen er eerst wel 'Aanbod (8)', van maken

[2020-08-14 06:42] jamalv opened #362 "Offers / Providers page: replace text with breadcrumbs"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Current situation
On the offers and providers page we are displaying some text which is pretty pointless:

<img width="409" alt="Screenshot 2020-08-14 at 08 28 51" src="https://user-images.githubusercontent.com/30194799/90220297-38aa2200-de08-11ea-8f6b-bec12abd8c9c.png">
and
<img width="409" alt="Screenshot

[2020-08-14 06:44] jamalv commented on #362
@GerbenBosschieter @maxvisser @linda-90 @maartenfv what do you think?

[2020-08-14 06:46] jamalv commented on #313
https://github.com/teamforus/general/issues/362

[2020-08-14 06:48] jamalv commented on #313
Aanbod (8) is w.m.t. heel gek, aangezien dat er ook al pal naast staat :P (zie #362)

[2020-08-14 09:27] maxvisser commented on #362
Looks much more clean I like it 👍

[2020-08-14 09:28] maxvisser commented on #324
I think daniel has put this yellow text on the right side in iOS
![image](https://user-images.githubusercontent.com/10818702/90235246-44561280-de21-11ea-9e7b-4dae4469db1c.png)

[2020-08-14 09:29] maxvisser commented on #324
@GerbenBosschieter could you make a screenshot of iOS?

[2020-08-15 12:28] jamalv commented on #313
@maartenfv what is the definition of done for this issue?

[2020-08-17 07:30] jamalv commented on #346
@maartenfv, this means that the scope will be smaller if we add it to the implementation settings (so connect a bunq account for a specific webshop instead of to an organisation) - what do you think? Should we extend the scope and add the other change requests? Or just add it like this?

I would propose to then to add this like the original proposal (to the webshop), to make the upcoming implement

[2020-08-17 07:43] jamalv commented on #251
Texts are here: https://github.com/teamforus/forus-frontend/blob/7ade8d1446580aadd07a6d7455ce57f902df115f/src/sources/forus-platform/pug/tpl/pages/website/home.pug

[2020-08-17 07:53] jamalv commented on #341
<img width="441" alt="Screenshot 2020-08-17 at 09 51 59" src="https://user-images.githubusercontent.com/30194799/90371618-7f4d8580-e06f-11ea-97f9-d2b514377dd0.png">

should be tegoed

[2020-08-17 14:35] GerbenBosschieter commented on #305
@aghimpu we would like to support the following file types.

- jpg
- jpeg
- png
- pdf (already done)
- xls
- doc

It's also important that these filetypes are displayed on the preview option of the validator dashbaord.

[2020-08-17 20:30] jamalv opened #363 "Fund request on product page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Stakeholders

### Change description
As a requester I would like to request a fund from the product page

Note: this page is already in actions; but we'd also like to have it on the normal product pages 😄 - It is modified a bit to be relevant to normal product pages; and it is highly desirable for project-31

Figma: h

[2020-08-17 20:33] jamalv opened #364 "Link to fund page at the end of signupflow"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
As a requester I would like to be redirected to the funds page at the end of a fund signup if there are more funds I can apply to.

[2020-08-17 20:36] jamalv opened #365 "Requester signupflow; skip first image step"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Remove this step:
<img width="1138" alt="Screenshot 2020-08-17 at 22 34 50" src="https://user-images.githubusercontent.com/30194799/90441855-f0c21e00-e0d9-11ea-90ea-70f409aa4598.png">

And go straight to this step:
<img width="1344" alt="Screenshot 2020-08-17 at 22 35 40" src="https://use

[2020-08-17 20:39] jamalv opened #366 "Funds page: add filters, pagination and search"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Update the funds page to match the styling of the other webshop pages

Note: in the dutch translation we changed "funds" to "aanvragen"

Figma: https://www.figma.com/file/JQOpMquZiDvI2WwKdw2iDC/Improving-funds-page?node-id=52%3A0

[2020-08-18 07:37] GerbenBosschieter commented on #46
- [ ] footer links
- [ ] App icons
- [ ] Me pagina
- [ ] Mobile friendliness

[2020-08-18 07:54] jamalv commented on #341
notes (discussed with gerben)

Breadcrumbs: https://github.com/teamforus/general/issues/362
Change products to home
Uitleg becomes potjes:
Potje aanvragen vanaf product page: https://github.com/teamforus/general/issues/363
Doorlink naar aanvraagpagina eind van signup flow: https://github.com/teamforus/general/issues/364
Modal met success (met meer uitleg)
Fund page redesign: https://github.com/tea

[2020-08-18 08:45] jamalv commented on #339
Okay, marking this as a could have; the mvp to solving this problem is redirecting to the funds page, optionally adding a friendly modal that you can request another fund. Later we can work on making this more smart.

[2020-08-18 09:23] GerbenBosschieter opened #367 "Webshop me-app page needs new sreenshots/design"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter , others

### Change description
There are some desires to quick-fix the me-app page on the webshop.

1. Update images (screenshots)
2. remove the scheme image (the weird twirl thats connects the me-app screenshots)

Removal of the twirl isn't the problem.
But updatnig the screenshots is difficult

[2020-08-18 11:31] linda-90 commented on #313
@jamalv @maxvisser Dit een idee?
<img width="488" alt="Schermafbeelding 2020-08-18 om 13 30 44" src="https://user-images.githubusercontent.com/36952230/90507963-15101000-e157-11ea-9e85-c15edab1e2ff.png">

[2020-08-18 11:45] linda-90 commented on #362
@jamalv Like it!
'8 aanbod' is alleen een beetje gek. Stel voor om het op deze manier op te lossen: Aanbod 8
En dan de tekst aanbod wellicht iets groter omdat het een titel is.

<img width="674" alt="Schermafbeelding 2020-08-18 om 13 44 36" src="https://user-images.githubusercontent.com/36952230/90509022-fca0f500-e158-11ea-943a-9da9673ed65a.png">

[2020-08-18 13:03] danrminds commented on #363
@jamalv

We had 3 instances there:

- When you are logged in and have the voucher
- When you are logged in and have still to apply for a fund
- When you are not logged in

Should we add all 3 instances?

[2020-08-18 13:39] jamalv commented on #363
@danrminds yes please!

[2020-08-18 13:47] jamalv opened #368 "Experiment: Change products to be the homepage"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Ingrid, and as a result of usertesting

### Change description
As a requestor I would like to first find what I am looking for (for example swimming lessons, or something else) before I apply to a fund.

This change request is to test how people respond to this change. We will use it to get stakeholder feedback and to

[2020-08-19 11:39] jamalv opened #369 "CR: Harmonize designs & components"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
The dev/design team

### Change description
As a product developer I would like the designs and codebases to be harmonized.

Context:
We have: webshops, dashboards, signupflows, apps etc; most of it is now in figma; but we'd like to have a strategy to work on harmonizing everyting.

**Note:** Right now there's no prio

[2020-08-19 13:54] jamalv opened #370 "Modal: funds available"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a requester I would like to see a popup with funds that I can activate (I have all valid records).

(requesters don't understand they have to go to the funds page and click "activate" after their fund request has been approved)

Figma:

[2020-08-19 14:27] jamalv commented on #364
todo (gerbs) - update text on button

[2020-08-20 08:04] maartenfv opened #371 "POT | Logo feedback (Dutch)"
Logo Potjeswijzer.
- Eerste indruk Medicatie potje (geneeskunde).
- Ander vorm potje er van maken.
- QR-code is goed
- Deksel moet er af.
- Spaarvarken.
- Taalhuis, pictogrammen  zijn belangrijk (vuistje: schoolboek, Kleding etc).
- Stripverhaal in logo (van potje naar product of dienst)
- Door meerdere iconen toe te voegen kan je deze ook los verder gebruiken.

[2020-08-20 08:19] maartenfv opened #372 "POT| Change headerphoto potjeswijzer"
Figma proposal (seperate file): https://www.figma.com/file/ZfbRjhV8Cd1W83Kvnw7gx0/Potjeswijzer%3A-Header-Photo?node-id=0%3A1

The child makes it to much Kindpakket.

## Task
- [x] make a seperate proposal file @jamalv
- [ ] get stakeholder feedback on header photos @maartenfv
- [ ] adjust image to fit dark/white text @Myshelova
- [ ] add some different headers with text on different resolution siz

[2020-08-20 08:42] maartenfv opened #373 "POT | CMS Webshop: Style links as links (underline)"
Edit (Jamal): in potjeswijzer when adding a link on the homepage, it does not give an underline (styling); should be fixed.

[2020-08-20 10:57] jamalv commented on #373
That was quick! Thx!

[2020-08-20 11:03] jamalv commented on #252
unnasigning as this is on hold

[2020-08-20 12:43] maartenfv opened #374 "Sort dropdowns categories Aanbiedingen en aanbieders pages on alphabetic order."
Requested by:

Groningen

[2020-08-20 13:05] jamalv opened #375 "Epic: Finalize 4 webshops + align figma library and general webshop"
## Timeline:
The **must-have** changes should be on a develop branch this week - Then we can review & give feedback  add it to release .15 that we're aiming to stage on wednesday 2nd. The other should-have's can be done during the rest of the sprint.

# Must have
## Webshops
We have 4 new webshops, that should be brought to production quality and prepared for the next release

- [ ] Noordoostpolde