[2021-01-07 19:08] #648 closed

[2021-01-07 19:13] danrminds commented on #722
@jamalv

Okay.
But, should he get redirected to which step:

### Option 1: Start (without filled in email)
![Screenshot 2021-01-07 at 20 10 42](https://user-images.githubusercontent.com/33207036/103933994-87908500-5124-11eb-9d77-c0e42f6f229b.png)

## Option 2: Start (with filled in email and pre-checked agreement)
![Screenshot 2021-01-07 at 20 10 53](https://user-images.githubusercontent.com/33207

[2021-01-07 19:15] jamalv commented on #665
@maartenfv any ideas what would be the most relevant info for a sponsor when they open their account? where to link to and what data to show?

[2021-01-07 19:28] jamalv commented on #722
I would go for option 3. Regarding providers trying to log in, I would suggest to check if there is an existing organisation. If there is one, redirect to the provider dashboard.

Since this has to do with login, we should be careful with making changes here though. I'm curious to hear @maxvisser and @GerbenBosschieter also, let's not forget mobile for this. I think many people are clicking login

[2021-01-07 19:36] linda-90 commented on #708
"U staat op het punt de actie te stoppen. Dit betekent dat de actie niet meer zichtbaar is in de webshop en de aanbieder geen transactie meer kan starten op deze actie. Het tegoed dat de inwoner heeft gebruikt blijft bewaard. Wanneer u later de actie opnieuw start wordt deze afgetrokken van het limiet."

Titel: Actie stoppen
Tekst: Let op: de actie is hierna niet meer zichtbaar op de website en in

[2021-01-07 20:31] danrminds commented on #722
Planned here for now: https://github.com/teamforus/forus/issues/2050 Adjust if necessary.

[2021-01-07 21:08] linda-90 commented on #708
![image](https://user-images.githubusercontent.com/36952230/103945041-db0acf00-5134-11eb-8599-675e2e48b530.png)

[2021-01-08 12:07] maartenfv commented on #337
Has this been released?

[2021-01-08 12:13] jamalv opened #728 "Filter by used in voucher generator"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
SDOA

### Change description
As a sponsor I would like to filter by used vouchers in the voucher generator.

[2021-01-08 12:14] jamalv commented on #431
Gerben: SDOA wil graag kunnen filteren in de voucher generator: https://github.com/teamforus/general/issues/728

[2021-01-08 12:30] maartenfv commented on #693
@jamalv Kan je tijdens komende overleg hier de release voor afstemmen? is dit 18 jan.?

[2021-01-08 12:44] jamalv commented on #431
figma: https://www.figma.com/file/sV4R20czCqWrqshMoyRxJE/?node-id=43%3A235

[2021-01-08 13:09] maartenfv commented on #726
@GerbenBosschieter @jamalv Can you add the third iteration issues to this Epic?

[2021-01-08 13:48] jamalv commented on #693
@maxvisser ik zie geen ontwikkel taak? is deze goed ingepland?

[2021-01-08 14:04] maxvisser commented on #703
this is still the case on android on production

[2021-01-08 14:05] maxvisser commented on #663
this is not on producton yet

[2021-01-08 14:05] maxvisser commented on #479
removed from release; moved to a different one

[2021-01-08 14:28] #589 closed

[2021-01-08 14:28] #647 closed

[2021-01-08 14:29] #545 closed

[2021-01-08 14:29] #642 closed

[2021-01-08 14:30] #645 closed

[2021-01-09 08:37] maxvisser commented on #693
zit in deze release

[2021-01-11 11:31] jamalv commented on #720
@maartenfv teams is vorige week bijgewerkt, release rapport is hier te vinden: https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/reports/release?release=5fe3bf35688d8a0c014ea6fd

[2021-01-11 11:36] jamalv commented on #630
dit is de release met alle issues: https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/reports/release?release=5fe3bf35688d8a0c014ea6fd

[2021-01-11 12:10] GerbenBosschieter opened #729 "Change of how we use expiration date for products/actions"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter, providers, sponsors

### Problem Description
If an organization places an offer, they can indicate the date that this offer will expire. Recent update gave the option to indicate that that the expiration date is not applicable/unlimited. This is very useful because otherwise the offers are often

[2021-01-11 12:11] maxvisser commented on #690
This would make maintaining the system much harder. I would say its better to just rewrite all cases where we do this to not include 'jij or u'

[2021-01-11 12:13] jamalv commented on #709
@maxvisser who would be good to do this?

[2021-01-11 12:19] GerbenBosschieter commented on #729
@jamalv @maxvisser I even see a better an easier solution. Instead of using the variable of the expiration date of the product/offer to show on the webshop. We could also show the variable of the expiration date of the fund! Thats an easy fix, and doesn't negativly influences other webshops.

Only challenge here is webshops with multiple funds and different expiration dates :(

[2021-01-11 12:22] maxvisser commented on #729
Seems sensable. We could do this; but an action currently has always the end date of the fund. As nobody will get a new limit; even if you start or stop an action.

[2021-01-11 12:23] GerbenBosschieter commented on #729
@maxvisser I know. I've told them. But they really want to have the fund end date on the webshop

[2021-01-11 12:24] jamalv commented on #729
I agree this should be done. The combination:

- Provider sets "unlimited"
- Sponsor sets an end date for the action

Makes sense to me.

[2021-01-11 12:30] maxvisser commented on #729
![image](https://user-images.githubusercontent.com/10818702/104182726-2d880c00-5411-11eb-9f7c-c0a8cac8c0f8.png)

[2021-01-11 12:43] maxvisser commented on #709
Someone needs to go through the system and look at all the dates and see if these are cosistent:
Me-app
Webshop: budget voucher page, product page, product voucher

Requirements:
All fields we let user set where we ask an expire date it should work as 'Tot en met'/'up to and including'
All fields we show to the user should be shown as 'Tot en met'/'up to and including'

[2021-01-11 12:44] maxvisser commented on #709
Lets make an proposal task and ask during refinement if the task is clear and who can do it.

[2021-01-11 14:33] maxvisser commented on #686
Modal is not really usable on small screens.

[2021-01-11 14:36] maxvisser commented on #708
top

[2021-01-11 14:36] maxvisser commented on #708
wellicht de beschrijving uit het rode stuk halen;

[2021-01-11 14:37] maxvisser commented on #708
@jamalv what do you think; could you adjust linda's proposal; maybe needs design review.

[2021-01-12 09:09] maxvisser commented on #659
released

[2021-01-12 09:09] #659 closed

[2021-01-12 09:10] #724 closed

[2021-01-12 09:10] #712 closed

[2021-01-12 09:10] #711 closed

[2021-01-12 09:10] #700 closed

[2021-01-12 09:10] #693 closed

[2021-01-12 09:10] #664 closed

[2021-01-12 09:10] #663 closed

[2021-01-12 09:11] #643 closed

[2021-01-12 09:11] #614 closed

[2021-01-12 09:11] #591 closed

[2021-01-12 09:11] #572 closed

[2021-01-12 09:11] #383 closed

[2021-01-12 09:11] #674 closed

[2021-01-12 09:11] #630 closed

[2021-01-12 09:12] #703 closed

[2021-01-12 09:12] #720 closed

[2021-01-12 09:30] maartenfv commented on #690
I think the user story is something like: As a Sponsor I want to be able to choose the "aanspreekvorm" for the webshop inc. all the notifications and modals so the requester is only addressed in the form I prefer.

We should consider the goal of being able to set up a new webshop without any manual actions. I expect that more municipalities will have similar requests. During the next implementatio

[2021-01-12 10:24] maartenfv commented on #435
Needs offerte: https://github.com/teamforus/deals/issues/121

[2021-01-12 12:02] jamalv commented on #708
This looks good, I think it can be planned, indeed might need some design review.

[2021-01-12 12:04] jamalv commented on #689
@danrminds could you give us an estimate with @dev-rminds before planning it in?

[2021-01-12 12:04] jamalv commented on #689
if estimate is below 7, it can be planned

[2021-01-12 12:07] jamalv commented on #426
@danrminds could you estimate, then we can decide what to do with this :)

[2021-01-12 12:11] jamalv commented on #725
depends on overall strategy as well, needs clarification and proposal

[2021-01-12 12:14] jamalv commented on #590
we have planned all the seperate issues, therefore closing this one.

[2021-01-12 12:14] #590 closed

[2021-01-12 12:22] jamalv opened #730 "Me transactions button: hide it for requesters"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a requester it is weird to have a transactions button, while I cant have any transactions there.

We'd better check if the user has an organisation and hide the button if there isn't

[2021-01-12 12:25] maxvisser commented on #730
Which button? could you add a screenshot?

[2021-01-12 12:35] GerbenBosschieter commented on #730
@maxvisser

![IMG_1978](https://user-images.githubusercontent.com/38419514/104314985-8b345b00-54da-11eb-91ca-bc484445fa04.jpg)

This was already mentioned during the concept development of this feature. Everybody preferred it to only show information that is related to the specific role. This wasn't an option back then.

[2021-01-12 12:39] maxvisser commented on #730
we do have a tooltip on this which is only shown on installation I believe. If we implement this we should check if this still works.

[2021-01-12 12:39] maxvisser commented on #730
I would  rather add user transactions to the page but the scope of that is bigger.

[2021-01-12 12:42] GerbenBosschieter commented on #730
it wor

[2021-01-12 13:07] MichaelForus opened #731 "Change request: As a sponsor I would like to send custom mails / messages to the providers and requesters"
**Support Ticket ID:** [#2782]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- As a sponsor I would like to send custom mails / messages to the providers and requesters<br>

[2021-01-12 13:08] GerbenBosschieter commented on #731
Closed, duplicate of: #657 . Created for statistics

[2021-01-12 13:08] #731 closed

[2021-01-12 13:46] jamalv opened #732 "Totaal aanbod, what does it mean?"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
<img width="1125" alt="Screenshot 2021-01-12 at 14 44 45" src="https://user-images.githubusercontent.com/30194799/104322146-db181f80-54e4-11eb-812f-b7970a5e3590.png">

[2021-01-12 13:55] maartenfv opened #733 "Koppeling - BNG"

[2021-01-12 13:55] maartenfv commented on #733
Link to feature: https://forus.productboard.com/feature-board/planning/features/6644909

[2021-01-12 14:01] GerbenBosschieter commented on #732
It means: total amount of offers that the provider can offer. So max count of products/tickets etc. We should indeed make this more clear.

**Proposal:** _Totale voorraad dat de organisatie kan bieden_?

Maybe it doesn't even matter for the sponsor and we can't just remove it when you try to start an action.

[2021-01-12 14:11] GerbenBosschieter opened #734 "Voucher generator: search by activation_code_ui"
Learn more about change requests here: https://bit.ly/39CWeEE

**Support ticket** [ #2783 ]

### Requested by:
- Sponsor (SDOA)

### Change description
- We introduced some new features to the voucher generator for SDOA. But this also results in a request to add a new option to search on a certain column. We introduced the column: activation_code_ui . This is used as UID for the citizen they want

[2021-01-12 14:59] maxvisser commented on #734
planned

[2021-01-12 15:19] maartenfv opened #735 "CMS"

[2021-01-12 15:19] maartenfv commented on #735
Link to feature: https://forus.productboard.com/feature-board/planning/features/6646016

[2021-01-13 08:44] GerbenBosschieter opened #736 "Logging in and applying for a fund is currently a bit confusing and causes support questions."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Problem description
Requesters that are informed by the municipality that they can apply for Stadjerspas are somewhat confused on logging in and applying for a fund. The current scenario is like thise:

1. Requester receives messages to apply for Stadjerspas (they already had Stadjerspas, so

[2021-01-13 08:59] jamalv opened #737 "Response to clarification requests from providers"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a sponsor I would like to receive a response to my adjustment requests ASAP

Providers don't seem to respond to clarification requests. Research is needed into the scope and cause of this problem. Have any requests already been answered? What can we do to improve this? Right now th

[2021-01-13 09:04] jamalv commented on #736
IMO the ng-if can be a good hot-fix. For the text in the CMS, we should do a proposal to Groningen. If we have a proposal text I can ask paul. I have a meeting with him at 11:30 today.

[2021-01-13 09:06] jamalv commented on #736
What would help is a proposed text, that he could copy-paste:

**Let op, u moet eenmalig opnieuw aanmelden!**
Bestaande leden moeten eenmalig opnieuw een aanvraag doen met DigiD. Klik [hier] om opnieuw een aanvraag te doen.

[2021-01-13 09:09] jamalv opened #738 "Validator dashboard fixes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
The validator dashboard is currently slow/broken.

- Pagination doesn't work, clicking to the next page, it stays for a while and then jumps back to page 1
- Using the filters is currently the workaround, but this doesn't work well / is very slow

@maxvisser you can log into my account to

[2021-01-13 09:44] jamalv commented on #736
@GerbenBosschieter @maxvisser what do you think of the text proposal?

[2021-01-13 09:58] jamalv commented on #732
It seems like "totale vooraad" is also visibile on the top left, at beschikbaar: 4.

Let's remove it if it serves no clear purpose.

[2021-01-13 10:11] maxvisser commented on #732
its the amount that Groningen wants to give out; not the stock amount

[2021-01-13 10:14] jamalv commented on #736
I think there are some (subtle) UX issues that cause people to click the wrong links as well:
- The links below the text are the darkest, making them call to action the most; they should be much lighter
- The e-mail filled should probably be active (selected) this will trigger people more to just start typing their e-mail adres

We should fix these issues also for other implementations - people of

[2021-01-13 11:50] maxvisser commented on #736
@jamalv I removed the link we added in v0.19.0 for groningen only;

[2021-01-13 11:50] maxvisser commented on #736
Maybe lets plan the styling etc issues for release of monday

[2021-01-13 12:32] maxvisser commented on #727
Proposal to add these titles to env file

[2021-01-13 12:35] maxvisser commented on #708
title in the box;
text-align: center;
description could be below the alert box; also aligned center

[2021-01-13 13:20] jamalv commented on #736
Paul also updated the texts on production.

[2021-01-13 15:46] danrminds commented on #671
Discussed with Maarten and Valentin.

Came up to the following proposal:

Build an enhancement on top of Markdown, which will represent a visual editor. For example, something like this:
![Screenshot 2021-01-13 at 16 40 54](https://user-images.githubusercontent.com/33207036/104474294-27835e00-55be-11eb-9025-10f630cb356a.png)

In fact, on the background is the same markdown happening, with same lim

[2021-01-13 16:03] GerbenBosschieter commented on #736
Text updated. Frontend fix is released. Closed issue. Great work :)

[2021-01-13 16:03] #736 closed

[2021-01-13 18:02] maxvisser commented on #671
@danrminds I like this one:
https://github.com/sparksuite/simplemde-markdown-editor

https://simplemde.com/

this one seems to have 15 stars:
https://github.com/hansottowirtz/simplemde-angular

if possible I would not like to build a markdown editor ourselves. Don't see this as a good time investment.

[2021-01-14 09:02] jamalv opened #739 "Clarification request: send "from" sponsor / implementation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Currently clearification requests are sent from forus.io, this is not very recognizable. We should change the from address to the implementation if there is an e-mail connection (e.g. stadjerspas@groningen.nl)

[2021-01-14 09:05] jamalv opened #740 "As a provider I would like to see the amount that is subsidized by a sponsor in my dashboard."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
Currently you can only see this in the app when doing a transaction? This should be visible when scanning.

[2021-01-14 09:07] maxvisser commented on #739
This is in the digest; as Digest can contain multiple funds; you can't really do this for a digest. If you want this probably we should make a seperate mail per implementation for this functionality.

[2021-01-14 09:16] maxvisser commented on #740
you can; in the big table on your application.

[2021-01-14 09:20] maxvisser commented on #740
Maybe create a fund details page. where show a table with all the products?

So you can click from this table (on product details)
![image](https://user-images.githubusercontent.com/10818702/104570154-dc1a8f80-5651-11eb-975e-85920afe7978.png)

to a page which shows all accepted products per fund.

You can aswell make these cards much smaller:
![image](https://user-images.githubusercontent.com/1081

[2021-01-14 12:08] #737 closed

[2021-01-14 12:09] jamalv commented on #732
@linda-90 could you do a text suggestion and assign max when you did? He will then implement it :D

[2021-01-14 12:12] jamalv commented on #717
@danrminds could you check the issue and status?

[2021-01-14 12:13] #701 closed

[2021-01-14 14:08] maxvisser commented on #728
Done and reviewed

[2021-01-14 14:18] jamalv commented on #690
Should be added to CMS page

@GerbenBosschieter and @maxvisser already had some ideas? 💡

[2021-01-14 14:35] maxvisser commented on #722
done and reviewed

[2021-01-15 08:30] linda-90 commented on #732
Opties:
- Hoe vaak deze actie in totaal beschikbaar is
- Totaal aantal acties waaraan uw organisatie wilt bijdragen

[2021-01-15 08:51] maxvisser opened #741 "Intake Change Requests"
Going through the intake board with @jamalv and @danrminds

**Time tracking**
This issue is used for time tracking when preparing for or attending the Intake Change Requests session.

**Tooling**
For Intake Change Requests, we use https://app.zenhub.com/.

**Change Request** _The following text is taken from https://en.wikipedia.org/wiki/Change_request_
A change request is an issue in the General

[2021-01-15 09:02] maxvisser opened #742 "CR: Let providers remove/delete their organization"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently there is no way to remove an organization safely without alot of manually checking. There are even alot of provider who still have two organizations on their account as they applied twice.

Being able to remove these organizations would be really nice. Aswell provider who don't want

[2021-01-15 09:03] maxvisser commented on #742
Probably wise to start with soft deleting these organizations; afterwards implement a feature to really destroy all data.

[2021-01-15 09:28] maxvisser commented on #732
Tweede lijkt mij duidelijker 👍

[2021-01-15 09:48] jamalv commented on #668
this issue is superseded by: https://github.com/teamforus/general/issues/699

[2021-01-15 09:48] #668 closed

[2021-01-15 09:49] jamalv opened #743 "let sponsor"

[2021-01-15 09:49] #743 closed

[2021-01-15 10:14] jamalv commented on #732
Wil bijdragen of wilt bijdragen?

[2021-01-15 10:33] linda-90 commented on #732
Wilt is gebruikelijker in geschreven taal

[2021-01-15 12:08] jamalv commented on #690
needs a flag on backend, and then implementation on backend
- push notifications
- e-mail
-

[2021-01-15 12:13] jamalv commented on #690
@maxvisser could you create a task for the backend stuff and also for the frontend stuff?

- backend flag (hello world)
- in cms have toggle: "aanspreekvorm" [je/u]
- indexing all the places where it's used and adjusting in figma
- implementing it in the frontend

[2021-01-15 12:14] maxvisser opened #744 "Geertruidenberg footer has WCAG mistakes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
![image](https://user-images.githubusercontent.com/10818702/104726232-933b0780-5733-11eb-8383-12a21ca5585c.png)
wcag.nl/quickscan/aNoyLjxtMkYkdxiMvR4K

[2021-01-15 12:17] jamalv commented on #690
hello world:
- login mail & login modal

[2021-01-15 12:21] jamalv commented on #717
@danrminds still needs issue :)

[2021-01-15 12:22] jamalv commented on #372
Headerphoto has been changed, issue can be re-opened if there is a new one.

[2021-01-15 12:22] #372 closed

[2021-01-15 12:26] jamalv commented on #413
@danrminds expects that this has already been done for general, could you please check and add link?

[2021-01-15 13:45] maxvisser commented on #723
why?

[2021-01-15 13:47] maxvisser commented on #723
This is not easily done anymore as all issues are already closed

[2021-01-15 14:04] maxvisser commented on #732
![image](https://user-images.githubusercontent.com/10818702/104736239-f2544880-5742-11eb-890b-fb24c121be2e.png)

[2021-01-15 14:05] maxvisser commented on #732
![image](https://user-images.githubusercontent.com/10818702/104736346-1879e880-5743-11eb-9a63-73b9a83a95d9.png)

[2021-01-15 14:05] maxvisser commented on #732
seems pretty long but probably no way to make it smaller?

[2021-01-15 14:09] maxvisser commented on #413
in the library its not atleast.
can only find these:
![image](https://user-images.githubusercontent.com/10818702/104736589-7eff0680-5743-11eb-8ce7-191a6c6c3ed8.png)

Please look here:
https://webshop.staging.forus.io/#!/
![image](https://user-images.githubusercontent.com/10818702/104736673-9938e480-5743-11eb-9a7e-6b9359e0426e.png)

[2021-01-15 14:26] linda-90 commented on #732
I agree. Is this an idea?

![image](https://user-images.githubusercontent.com/36952230/104738650-16655900-5746-11eb-9fa5-4951b2e54351.png)

[2021-01-15 15:32] maxvisser opened #745 "Change word profile to account"
@maxvisser commented on [Fri Jan 15 2021](https://github.com/teamforus/me/issues/537)

## Main asssignee: @

## Context/goal:
The word profile has a bad reputation; Users don't like companies who are 'profiling'.
We should use account instead. This issue about replacing all cases to 'Account'; in dutch and in english.

[2021-01-15 15:32] maartenfv commented on #699
The link to the written proposal and to Figma have been added. Goal is to get this clear before the end of the week.

[2021-01-16 04:20] maartenfv opened #746 "Let sponsor add/update actions"
<p></p>

[2021-01-16 04:20] maartenfv commented on #746
Link to feature: https://forus.productboard.com/feature-board/planning/features/6686052

[2021-01-16 04:20] #746 closed

[2021-01-17 19:06] maxvisser opened #747 "'bring me to my mailbox'-button on email sent message"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Check if user uses a popular e-mailbox. Show a button which their webmail.

![image](https://user-images.githubusercontent.com/10818702/104853619-625cfd00-5902-11eb-8d7d-2e8424b7d47d.png)

[2021-01-18 09:49] maxvisser commented on #717
planned this in

[2021-01-18 09:57] maxvisser commented on #734
is in release v0.19.2

[2021-01-18 11:49] maxvisser commented on #655
@jamalv Could you maybe write something about status labels and approval labels; how you see these being used and who and when we should add/update these?

@maartenfv There are two labels which I think you wanted: Request: Support, Request: Meerwerk; do you still see these as usefull (they are barely used)

[2021-01-18 12:30] #738 closed

[2021-01-18 12:31] maxvisser commented on #684
![image](https://user-images.githubusercontent.com/10818702/104915856-887dae00-5991-11eb-90db-3cb297749fdf.png)

[2021-01-18 12:32] jamalv commented on #684
Are there other ways to link to the helpcenter? Could we also add a direct link on the uitleg page?

[2021-01-18 12:33] jamalv commented on #684
Needs helpcenter for requesters.

[2021-01-18 13:04] maartenfv commented on #586
@jamalv Kan je een update geven op deze issue?

[2021-01-19 11:37] jamalv commented on #690
Figma: https://www.figma.com/file/TLxmLE6tw9YvigAPF1SPvp/CMS?node-id=63%3A3555

[2021-01-19 12:18] jamalv commented on #690
@danrminds please review the design: https://www.figma.com/file/TLxmLE6tw9YvigAPF1SPvp/CMS?node-id=63%3A3555

[2021-01-19 12:22] jamalv opened #748 "Link ./aanbieder-aanmelden to specific signupflow"

[2021-01-19 15:05] linda-90 commented on #690
Can this also be added to the CMS?
Upload for images: https://github.com/teamforus/general/issues/666

[2021-01-20 08:39] GerbenBosschieter opened #749 "Rewrite e-mail after fund request approved"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
The e-mail people get after approval of fund request is to confusing for some users.

1. Title is mentioning the word "tegoed". This results in people expecting a budget.
**Current:**  Uw aanvraag voor een Stadjerspas-tegoed is goedgekeurd.
**Proposal:** Uw aanvraag voor {f

[2021-01-20 08:40] GerbenBosschieter commented on #749
Custom e-mails would even be better

[2021-01-20 10:03] jamalv commented on #690
@danrminds when doing design review, could you also add #666?

[2021-01-20 11:51] maartenfv commented on #729
Do we have an update on this issue?

[2021-01-20 11:55] maxvisser commented on #729
its in release v0.19.2 (what I proposed in the screenshot)

[2021-01-21 07:42] #615 closed

[2021-01-21 07:42] #636 closed

[2021-01-21 07:42] #723 closed

[2021-01-21 07:42] #716 closed

[2021-01-21 07:42] #717 closed

[2021-01-21 07:43] #722 closed

[2021-01-21 07:43] #728 closed

[2021-01-21 07:44] #729 closed

[2021-01-21 07:44] #734 closed

[2021-01-21 09:16] MichaelForus opened #750 "Voucher generator: remove / change warning about duplicate if there are only expired vouchers"
**Support Ticket ID:** [#2861]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- Voucher generator: remove warning about duplicate if there are only expired vouchers<br>
- We should change the text of the button to turn on / off creating a voucher. People get confused (already got three support question about this today xD) becaus

[2021-01-21 10:16] maartenfv commented on #657
See comment above. This issue needs to have a plan and a Figma proposal. We need it to finish the Groningen project. This comes after Aanbod and CMS.

[2021-01-21 10:20] maxvisser commented on #750
I already created a task which is related; to not show it when a voucher is expired.

[2021-01-21 10:25] maxvisser commented on #750
Add the issue I was talking about 'as blocking by'

[2021-01-21 10:26] maxvisser commented on #750
For this use case maybe the toggles can just be removed;
![image](https://user-images.githubusercontent.com/10818702/105338095-7000d400-5bdb-11eb-899c-26abeebeaef1.png)

[2021-01-21 10:27] maxvisser commented on #750
The AAN / UIT in the toggles is a general good idea though. ;)

[2021-01-21 10:33] maxvisser commented on #750
created two more task for design review of the toggles; and removing the toggles when there is on only on mailadres or bsn duplicate detected.

[2021-01-21 10:41] maartenfv commented on #742
This is a very good issue.

[2021-01-21 11:40] jamalv commented on #690
@jamalv todo: akkoord krijgen van gemeente op voorstel

[2021-01-21 14:31] maartenfv commented on #699
After we have an agreement with GRO we need to add a release date and communicate this to GRO.

[2021-01-22 08:50] jamalv commented on #162
## Sprint demo
* Improved download steps (tablet)
* CMS provider page
* Proposal for adding / editing products
* Improvements to validator dashboard
* Alignment of product card
* Linking to implemention provider signupflow
* Fund expiration date instead of product
* Sending link trough whatsap
* Filter by "in gebruik"
* Filter by activation UID
* Sponsor dashboard: Changes to overview of actions
*

[2021-01-22 09:14] maartenfv opened #751 "Webshop: provider explanation page; CMS needs better tooltip."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/cfadfe12-d427-49e1-ba56-97488ee08240)

What is aanbieder pagina content?

For example, this feature needs a better explanation.  It is not clear what the "standard" is. So with this text you do not help the user get a

[2021-01-23 11:00] danrminds commented on #671
@maxvisser Regarding the ones you proposed - I am not sure this is what the stakeholders are looking for:
![Screenshot 2021-01-23 at 11.59.05.png](https://images.zenhubusercontent.com/5ea2e8e74754fd7c3ad28537/9b6c1e89-e474-4610-8bc6-40f743ed8ddc)

Still having the `#, **, [links](https://google.com)` etc in the text

[2021-01-25 08:43] #748 closed

[2021-01-25 10:31] jamalv commented on #511
![Screenshot 2021-01-25 at 11.27.19.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/6223ae71-8ef7-43bb-8b8b-39df42266433)

criteria details as filled by the municipality
![Screenshot 2021-01-25 at 11.30.37.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/8f236199-de73-4426-afb8-581cb3874573)

[2021-01-25 10:32] #635 closed

[2021-01-25 10:39] jamalv commented on #510
@maxvisser sjoerd will have a look at this, if you want to continue, please check in with sjoerd

[2021-01-25 13:56] SjoerdHilhorst commented on #510
Jamal explained this to me that there needs to be a page similar to the privacy page, which has all the contact details which are in the footer. is this basically pasting the cms from https://github.com/teamforus/forus-frontend/pull/1619 on a new page?

[2021-01-26 11:36] jamalv commented on #671
ontwikkelvoorstel: https://docs.google.com/document/d/14JLbaZfMjHHuVD12wISsf4Vp5KAAEFS1RDrhO9Dawic/edit#

[2021-01-26 15:19] jamalv commented on #655
About approval labels, I use those mainly to show that it is okay to work on the issue (even though it's a **should have** or **could have** for example) for example because it's small and brings enough value to justify the investment of time.

[2021-01-26 15:21] jamalv commented on #655
Status labels I think are useful for those who don't have zenhub/understand our pipeline and want to know the status of our development issues, but that's a pretty small audience I guess, and also we'd like to start using productboard for that soon.

[2021-01-27 08:20] maxvisser commented on #655
I think both are solved by the intake board; as things are not going to the backlog without being approved right?

[2021-01-27 08:27] maxvisser commented on #655
what we wrote about status labels in 'Wijzigingsbeheer' february 2020
![image](https://user-images.githubusercontent.com/10818702/105963868-ce1d3380-6081-11eb-8e74-8ee38fd93e44.png)

[2021-01-27 08:29] maxvisser commented on #655
I can see why these are usefull still even with a board; but they need to applied by someone / updated

[2021-01-27 08:35] maxvisser commented on #510
explained my thoughts here:
https://github.com/teamforus/general/issues/498

[2021-01-27 12:30] maxvisser commented on #511
update: should be planned for alex to designed for webshop

[2021-01-27 12:36] maxvisser commented on #750
Toggles are designed
Modal is updated to make it more easy to create one duplicate.

[2021-01-28 08:22] jamalv opened #752 "Change e-mail icon for login mail for SP implementation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Aanmeldmail+is+generiek%2c+maar+

[2021-01-28 08:27] jamalv opened #753 "Start action modal: shorten input fields"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
Shorten the input fields, since input can not be so long:

<img width="1012" alt="Screenshot 2021-01-28 at 09 24 34" src="https://user-images.githubusercontent.com/30194799/106110444-050b4c00-614b-11eb-9ff2-485e9083a4eb.png">

[2021-01-28 08:33] jamalv opened #754 "Text check: use "Aanbieder" instead of "Organisatie""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=De+term+%22Organisatie%22+moet+w

[2021-01-28 10:41] jamalv opened #755 "Target_blank in signupflow"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Groningen](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_97344372?webUrl=https%3a%2f%2ftasks.office.com%2f8c3b61fd-94af-4533-8307-eb59dbd860b0%2fHome%2fPlanViews%2fCVc1-WjDbUeukZXI_ovhxZYAFzY6%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Aanvraagformulier+voor+inwoner+%

[2021-01-28 12:12] jamalv commented on #755
@danrminds could you plan this in, would be implemented for all places that use markdown

[2021-01-28 12:13] jamalv commented on #754
@maxvisser could you create the task?

[2021-01-28 12:15] jamalv commented on #511
update from @danrminds alex can probably do it this weekend, will be planned when he is available.

[2021-01-28 12:28] jamalv commented on #753
plan: do the quickfix and also a design review where we see what info is really needed here

[2021-01-28 12:33] maxvisser commented on #754
Planned forus#2096

[2021-01-28 12:36] maxvisser commented on #749
planned for text review

[2021-01-29 12:25] jamalv commented on #671
@danrminds please review / finalize the master page: https://www.figma.com/file/TLxmLE6tw9YvigAPF1SPvp/?node-id=145%3A5291 & create seperate tasks for the implementation

[2021-01-29 12:28] jamalv commented on #671
Currently the branch only misses the logo / header

[2021-01-29 12:50] maxvisser commented on #618
Native markdown does not support new lines; an extension is needed that for example allows some basic html to be used like ``<br />`` or some 'hack' which creates &nsbp; on the background

[2021-01-29 13:09] jamalv commented on #613
@linda-90 could you have a look at this text and see if you can make a clearer explanation:
- You get acces to the "webomgeving" - there you can xx
- With the app you can make the payments

[2021-01-29 16:15] maxvisser opened #756 "Rate Me-app; 5 stars app store / playstore"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Show rate Me-app when user hits for example 3 successfull transactions (making transactions or having transactions)

[2021-02-01 07:01] #750 closed

[2021-02-01 07:03] #677 closed

[2021-02-01 07:04] #727 closed

[2021-02-01 07:04] #616 closed

[2021-02-01 07:05] #653 closed

[2021-02-01 07:05] #620 closed

[2021-02-01 07:06] #732 closed

[2021-02-01 07:07] maxvisser commented on #241
Is implemented

[2021-02-01 07:07] #241 closed

[2021-02-01 07:08] #667 closed

[2021-02-01 07:12] #646 closed

[2021-02-01 07:13] #484 closed

[2021-02-01 07:14] maxvisser commented on #427
Part of CMS epic

[2021-02-01 07:15] #417 closed

[2021-02-01 07:16] maxvisser commented on #388
Done

[2021-02-01 07:16] #388 closed

[2021-02-01 07:18] maxvisser commented on #360
Can be combined with #687

[2021-02-01 07:19] maxvisser commented on #330
I think we should atleast make it consistent.

[2021-02-01 08:39] maxvisser commented on #673
This morning I also got a bit confused as I worked on a CR. If a voucher is expired you cant really see on which date is has expired on the webshop. So you currently dont know which year the voucher is from. This seem pretty impactfull.

[2021-02-01 12:08] jamalv commented on #613
@maxvisser could you still make a separate issue?

[2021-02-01 12:28] #708 closed

[2021-02-01 12:59] jamalv commented on #673
Needs figma proposal: should show expiration date of the voucher in both the me app and the webshop, as long as you can see that the voucher is expired, and see the dates when you open the details view.

Should be tested on iOS, seems not to be a problem on android (anymore)

[2021-02-01 13:58] jamalv commented on #479
Should also be done for actions:
- Free on top
- Then discounts prices: high to low
- Then then discount percentage: high to low

[2021-02-01 14:00] jamalv commented on #479
Add filters for: free, discounts € / discounts %

[2021-02-02 07:51] maartenfv opened #757 "Footer on website (map providers) and button aanbieders are bugged"
On this website https://stadjerspas.gemeente.groningen.nl/providers?show_map=1

1. The button for aanbieders is too wide.
2. The footer is bugged

Using chrome.

![image](https://user-images.githubusercontent.com/30211022/106568436-9441a680-6533-11eb-8093-7150405c9da0.png)

[2021-02-02 07:54] maartenfv commented on #756
Currently, we people are giving very low ratings. This is a sad thing. See android playstore. Would be nice to give a reminder to users that are happy with the app to rate as well.

[2021-02-02 12:34] jamalv commented on #586
We've hidden the page except for where people need it to activate the card, there it says "Activeren" the page is removed in the following places:

- Menu bar when logged out
- Personal menu when logged in

These were the places where you would end up on this button. So in that sense it's "hidden".

Still we want to improve this part, since if your application is pending, it does not show that, an

[2021-02-02 12:34] jamalv commented on #586
We will discus the proposal that we came up with tomorrow during refinement (with valentin)

[2021-02-03 12:47] maxvisser commented on #586
plan:
make another fund config flag to disable the requesting button

[2021-02-03 13:01] maxvisser commented on #586
Planned the task

[2021-02-03 13:55] GerbenBosschieter opened #758 "Textual change stoping action modal"
Learn more about change requests here: https://bit.ly/39CWeEE

[Support ticket: #2975]

### Requested by:
- Groningen

### Change description
- Please change the folliwing sentence on the stop action modal

Current sentence: "De actie wordt van de website verwijderd"
New sentence: "De publicatie van het aanbod wordt van de website verwijderd"

[2021-02-04 13:15] jamalv opened #759 "Missing notification text: adding employees"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
<img width="943" alt="Screenshot 2021-02-04 at 14 14 26" src="https://user-images.githubusercontent.com/30194799/106897564-630fd480-66f3-11eb-9c0d-755f18005f48.png">

[2021-02-05 11:52] danrminds commented on #699
Planned it in.

Several questions left @jamalv @maxvisser

1. We need most probably a new status to an action - in case the provider stopped it. Something like - stopped by provider. Please provide the translation.
2. We need the product page on the provider dashboard
3. We need the funds page on provider dashboard (to show also the link to the terms)
4. Regarding terms - should we oblige the prov

[2021-02-07 15:05] maartenfv commented on #220
![image](https://user-images.githubusercontent.com/30211022/107150431-0e23c680-695e-11eb-9c2f-16035f6c72b4.png)
 This url thing is still a problem for aanmelden and for inloggen. For aanbieders it is more logical to log into the actual webshop instead of Forus.

[2021-02-08 15:54] jamalv opened #760 "Remote payments"
Remote pay, this is the idea that users can pay remotely.

<p></p>

<p></p>

# Hallo

<p></p>

<u>underline</u>

<p></p>

---

## jojo

<p></p>

<p></p>

<p></p>

<p></p>

[2021-02-08 15:54] jamalv commented on #760
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/6685739

[2021-02-10 10:05] jamalv commented on #699
1. Translation: "Stopgezet door aanbieder"
2. It can be the same page i think, using tabs to seperate views (as in figma)
<img width="786" alt="Screenshot 2021-02-10 at 11 00 33" src="https://user-images.githubusercontent.com/30194799/107494537-35150f00-6b8f-11eb-94ce-1de3c08cc0e2.png">

Main thing is to show what sponsor/fund the product is active for, and that you can stop it. You cannot edit it

[2021-02-10 12:24] #649 closed

[2021-02-10 12:31] #760 closed

[2021-02-10 12:31] maxvisser commented on #757
fixed in a hotfix

[2021-02-10 12:31] #757 closed

[2021-02-10 12:34] maxvisser commented on #756
idea from dan: with next release ask users to rate the app via push notification

[2021-02-10 12:42] maxvisser commented on #726
supersede by #699

[2021-02-10 12:42] #726 closed

[2021-02-10 12:44] maxvisser commented on #718
A day

[2021-02-10 12:45] #714 closed

[2021-02-10 12:45] maxvisser commented on #714
Dit kan met huidige functionaliteit. Hier is het echter ingesteld als een exact bedrag.

[2021-02-10 12:48] maxvisser commented on #710
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/f10e6b20-2730-42df-8781-0c92ef7d82b0)

Helder

[2021-02-10 12:48] #710 closed

[2021-02-10 12:52] maxvisser commented on #706
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/06c0c2f0-6c14-4591-b126-6794706d8876)

[2021-02-10 12:57] maxvisser commented on #705
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/e58861f0-fb35-45b6-a559-818ba6fa1acd)
play button to extend

[2021-02-10 12:57] jamalv opened #761 "Financial dashboard: show total (potential) subsidy per voucher and per fund"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a sponsor I would like to see the total amount all requesters could spend within a subsidy fund
As a sponsor I would like to see the amount a single requester could spend with one voucher for a subsidy fund

[2021-02-10 13:04] #678 closed

[2021-02-10 13:21] maxvisser commented on #686
minimal scroll needed.

[2021-02-10 13:22] maxvisser commented on #704
superseded by general/740

[2021-02-10 13:22] #704 closed

[2021-02-10 13:27] maxvisser commented on #108
plan:
- add hold to drag and order
- add swipe to archive ( can active voucher be archived? )

add a way to unarchive

[2021-02-10 13:27] maxvisser commented on #721
Seems not to be relevant anymore

[2021-02-11 12:59] maxvisser commented on #657
discussed on 11-02-2021 there is no concrete solution yet; we are stearing towards integration with a mail tool like mailchimp for sending news letters to mailadresses in our system. People can subscribe to the newsletter natively through the platform. Needs abit of resource in the API of mailchimp or we can start with a embedding a signup process.

questions:
is mailchimp privacy compliant? (amer

[2021-02-11 13:02] jamalv commented on #657
i should also still discuss this with stakeholders, to check their current situation and if this solves their needs

[2021-02-11 14:55] maartenfv opened #762 "Swap phone number order on our website."
People keep calling me for support. Some times this is nice. But now it is happening too much. This happens because the order of the contact info.

![image](https://user-images.githubusercontent.com/30211022/107653047-8271a900-6c81-11eb-8904-929cd9257594.png)

Needs to become:

![image](https://user-images.githubusercontent.com/30211022/107653099-8ef60180-6c81-11eb-99a3-2bac33734986.png)

[2021-02-12 15:17] linda-90 commented on #690
Besproken met Max: teksten DigiD zijn aangeleverd, kunnen niet worden aangepast.

[2021-02-15 12:46] maartenfv opened #763 "Image cropper is not square"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Everybody using this cropper

### Change description
- We need more space to place the picture.
- Make sure the cropper is actually square.

It says upload square resolution but its not square.
![image](https://user-images.githubusercontent.com/30211022/107948510-35007f00-6f94-11eb-8889-c4b640fb0e7b.png)

[2021-02-16 12:07] jamalv commented on #257
@maxvisser said this is fixed and can be closed :)

[2021-02-16 12:07] #257 closed

[2021-02-16 12:11] jamalv commented on #421
Superseded by: https://github.com/teamforus/general/issues/177

[2021-02-16 12:13] jamalv commented on #763
superseded by: https://github.com/teamforus/general/issues/177

[2021-02-16 12:13] #763 closed

[2021-02-16 12:20] jamalv commented on #657
Did a bit of research: pro of mailchimp is it's a big company and industry standard, con; doesn't seem to be available in dutch, and apearantly the tool is a bit hard to learn. Alternative option is a dutch company: https://www.iwink.nl/producten/mailer

Requirements: the list of e-mailadresses should stay in sync with notification preferences in our platform (GDPR, opt-in) - tool should be usable

[2021-02-16 12:29] jamalv commented on #657
Possible alternative to mailchimp:
- Zoho campaigns (don't need to update SLA)

[2021-02-17 10:38] maxvisser commented on #762
Done in release 20

[2021-02-17 10:45] maxvisser commented on #751
@linda-90 Could you do a text review on staging?

[2021-02-17 10:47] maxvisser commented on #234
PR is open to develop

[2021-02-18 11:39] maartenfv opened #764 "Add Privacy Statement and checkbox to each of the citizen sign-up flows."
The Datawise team has conducted research and concluded that we need to improve our privacy statements.

This means every webshop needs to privacy statement in the sign-up flow for citizens.

- [ ] Stadjerspas
- [ ] Nijmegen
- [ ] Berkelland
- [ ] Oost Gelre
- [ ] Winterswijk
- [ ] Geertruidenberg
- [ ] NOP
- [ ] Wersterkwartier
- [ ] Potjeswijzer

[2021-02-18 12:54] maartenfv opened #765 "Text improvement webshop fondsen"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Maarten

### Change description
-
![image](https://user-images.githubusercontent.com/30211022/108359574-74c3a280-71f0-11eb-93ec-55d20ee2e3be.png)

![image](https://user-images.githubusercontent.com/30211022/108359877-d2f08580-71f0-11eb-9e38-daaec524a7ed.png)

[2021-02-19 08:41] maxvisser commented on #162
Sprint demo
Sponsor - Fund criteria editor: remove save button from criteria editor items
Sponsor - Fund provider request: Start action modal input fields length, code refactoring
Webshop - footer links as pages
Webshop - footer contact and opening times block as CMS content
Webshop - sort products and actions by price/min_price
Webshop - fixed sent mail succes svg webshop
Signupflow - Implement e

[2021-02-19 08:44] maartenfv commented on #753
This issue is on the Groningen MS teams backlog. Can we get an update on the status? Please add a release.

[2021-02-19 08:45] maartenfv commented on #753
https://teams.microsoft.com/_?tenantId=8c3b61fd-94af-4533-8307-eb59dbd860b0#/tab::3839bb31-8cb0-4e77-a674-d0f76ecf1ae5/Ontwikkeling?groupId=f88a0489-3ae3-4207-89a7-766381327747&threadId=19:78d8e8b589df4373895fd9676b8ca52b@thread.tacv2&ctx=channel

[2021-02-19 08:48] maartenfv commented on #752
@maxvisser @jamalv Could you please give an update on this issue? It is on the Groningen Backlog in MS Teams.  https://teams.microsoft.com/_?tenantId=8c3b61fd-94af-4533-8307-eb59dbd860b0#/tab::3839bb31-8cb0-4e77-a674-d0f76ecf1ae5/Ontwikkeling?groupId=f88a0489-3ae3-4207-89a7-766381327747&threadId=19:78d8e8b589df4373895fd9676b8ca52b@thread.tacv2&ctx=channel

[2021-02-19 10:48] maxvisser commented on #752
We worked on this and fixed the issue. While testing it on staging it did not work anymore. Currently the worker loses context of which webshop the e-mail was sent; on local dev environments we do not use a queue and a seperate worker to sent mails. Current state its implemented but only works on dev environments.

[2021-02-19 10:49] maxvisser commented on #752
Probably we need to @dev-rminds to check why it only works on dev environments and not on staging. Currently he is busy with a diffrent epic.

[2021-02-19 10:51] maxvisser commented on #753
This is done and in release v0.20.0

[2021-02-19 10:54] maxvisser commented on #764
I wonder why a company like Slack is not doing a checkbox. Did datawise have any research supporting why a checkbox is needed?

Examples from slack:

Sign up (creating an account)
![image](https://user-images.githubusercontent.com/10818702/108495430-11e21200-72a9-11eb-8064-8a1aedfa2e53.png)

Login
![image](https://user-images.githubusercontent.com/10818702/108495497-26260f00-72a9-11eb-8e59-8a45415

[2021-02-19 11:01] maxvisser commented on #764
Why I am asking:
From user testing we saw alot of confusion on which button they need to press 'Inloggen' or 'Aanmelden'; from these test we thought to remove complexity and make #448 if new users need to check a box to agree to the privacy statements you will never be able to remove this complexity.

If so we could close #448 as it will never happen

[2021-02-19 11:45] jamalv commented on #657
er is een plan voor de systeemmails; custom mail integratie moet nog verder besproken worden

beste om in 2 stukken te knippen; zodat custom mails al ingepland kan worden terwijl gewerkt wordt aan de integratie.

plan is voor eind volgende week er een punt achter te kunnen zetten

[2021-02-19 13:24] maxvisser commented on #657
custom mails is het laatste idee; Sponsor kleine berichten via webshop naar inwoner te laten sturen in een 'berichten centrum' waarin ook de notificaties staan. Als gemeente een nieuwsbrief wil sturen naar inwoners kunnen ze er voor kiezen om:
- notificatie te sturen naar een website bijv. een blog/nieuwsartikel

dit zou wel een nieuwe werkwijze zijn en past wellicht niet bij de verwachting. Voord

[2021-02-19 14:45] linda-90 commented on #751
## Text review tooltips sponsor dashboard CMS

## Tooltip 1
<img width="1292" alt="Schermafbeelding 2021-02-19 om 15 23 48" src="https://user-images.githubusercontent.com/36952230/108516462-8c6d5a80-72c6-11eb-9a30-69be3b85402a.png">

Vul hier de openingstijden van uw organisatie in. De tekst staat in de footer op de homepagina.

## Tooltip 2
<img width="1109" alt="Schermafbeelding 2021-02-19 om 15

[2021-02-19 14:52] linda-90 commented on #751
The order of the blocks is a bit weird
<img width="703" alt="Schermafbeelding 2021-02-19 om 15 48 14" src="https://user-images.githubusercontent.com/36952230/108519972-7366a880-72ca-11eb-8da5-ef11d5a6ced9.png">

[2021-02-22 09:03] jamalv commented on #698
@maxvisser could you give a status update?

[2021-02-22 09:09] jamalv commented on #752
@maxvisser allright, could you please check it out with valentin? if this is not too big to fix that's better than waiting till he's done imo.

[2021-02-22 09:41] jamalv commented on #698
discussing with dan; conclusion was to add two buttons for export / a modal: Export [.CSV] or [Excel]

[2021-02-22 09:42] jamalv commented on #698
@aghimpu needs to go trough all places where we have an export and make it possible to export both, excel and csv, @danrminds could you create the task?

[2021-02-22 13:30] jamalv opened #766 "Print cards (DCP)"
As a maintainer I would like an automated way to send cards to DCP.

[2021-02-22 13:30] jamalv commented on #766
Link to feature: https://forus.productboard.com/feature-board/planning/features/7076162

[2021-02-22 14:26] maxvisser commented on #752
@jamalv discussed it; it will take 2 hours; still small scope but probably currently not the priority?

[2021-02-22 14:27] maxvisser commented on #752
I will put this on the backlog though

[2021-02-22 14:30] maartenfv opened #767 "Update Me screenshot on me page"
https://stadjerspas.gemeente.groningen.nl/me

![image](https://user-images.githubusercontent.com/30211022/108721874-ca66ba80-7522-11eb-8365-2647fb913475.png)

- [x] The Me screenshots need to be smaller.
- [x] The screenshot need to be updated to like the ones in the app store.

[2021-02-22 14:31] maartenfv commented on #767
@linda-90 Can you add a link to the new screenshots?

[2021-02-23 08:22] maartenfv opened #768 "Custom emails | Make system generated emails adjustable"
Proposal: https://docs.google.com/document/d/1jnFYQ0p9SUCd4jN3YWsnF5_7I37AXp-uY_MgaLhu-vA/edit
Figma: https://www.figma.com/file/E09uZSki0EQM7J7x5IeUiV/Webshop-%3E-System-e-mails

As a Sponsor I want to be able to have an overview of all the e-mails the system generates. Some of these emails need to be adjustable. See written proposal for details.

This issue helps with making the emails more reco

[2021-02-23 08:22] maartenfv opened #769 "Custom emails | Send custom emails to specific target groups"

[2021-02-23 08:49] maartenfv commented on #618
@danrminds @maxvisser Do you have an update on the status this issue?

[2021-02-23 10:09] linda-90 commented on #767
New design: https://www.figma.com/file/0cC6cK9JEWpcdcXPwtOkzN/Webshop-Me-page-(Copy)?node-id=189%3A568&viewport=820%2C288%2C0.6963542103767395

[2021-02-23 10:11] maartenfv commented on #767
This issue is being tracked on the MS teams bord of Groningen.

[2021-02-23 10:18] maartenfv commented on #752
This is an important issue as it was a major trigger. Needs to keep prio and not disappear

[2021-02-23 10:59] jamalv commented on #767
Looks absolutely great! But not much I can do here. @maxvisser could you do a separate front end release for this one before Friday morning?

[2021-02-23 11:03] maxvisser commented on #767
I think one of the phones should stay an android phone though.

[2021-02-23 11:03] maxvisser commented on #767
maybe the left one

[2021-02-23 11:16] maxvisser commented on #618
it has not been planned in yet; as clear idea yet to fix it.

[2021-02-23 11:42] jamalv commented on #690
Apps moet gebeuren.

Technische koppeling webshop moet nog: ligt bij Max.

[2021-02-23 11:44] jamalv commented on #699
@danrminds when do you expect this to be ready for review?

[2021-02-23 12:25] linda-90 commented on #767
Okay, added an Android phone

[2021-02-23 13:17] maartenfv commented on #665
- Aantal actieve fondsen
- Nieuw fonds starten
- Totaal uitgegeven bedrag
- Aantal aanvragers per fonds
- Aantal aanbieders per fonds

[2021-02-23 13:22] maartenfv commented on #287
I agree understand the concept of funds = targetgroup. However I do think that we can see these tags as a separate thing.

Example: Person in a wheelchair. They just want to know what aanbod is relevant for them using Stadjserpas. Creating a whole new fund is conceptual a thing to do but in practice, it is much easier to allow the aanbieder to add wheelchair friendly tag to the offer. So that this

[2021-02-23 13:23] maartenfv commented on #287
Need to make a clear distinction between to problem the customer/stakeholder has and the vision that we have. A solution to the problem seems close.

[2021-02-23 13:24] maartenfv commented on #297
This is still unclear to me. How would a user be able to understand?

[2021-02-23 13:25] maartenfv commented on #290
@maxvisser @danrminds What is the status of this issue? It is still requested for GRO and needs to be planned.

[2021-02-23 13:29] #641 closed

[2021-02-23 13:31] maartenfv commented on #560
Make this configurable by Sponsor when creating a fund.
This is not visible for users only the sponsor knows.
Standard can be 3 days.

[2021-02-23 13:42] maartenfv commented on #764
#448 is still on hold. ![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/07deaa15-42f1-4c3d-84c8-da633010554c)

You can read the whole report with reasoning . Het gaat om dedicated moments en niet opt out.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/608a0395-043a-4d09-80ed-78f1270ec2ce)

![image.png](https://images.zenhubusercontent.com/5e79

[2021-02-23 13:45] maartenfv commented on #483
Weet u zeker dat u dit fonds wil aanmaken.

[2021-02-23 14:50] jamalv opened #770 "Generic search"
# [View on roadmap  >](https://roadmap.forus.io/c/52-algemene-zoekfunctie)

[2021-02-23 14:50] jamalv commented on #770
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/6824965

[2021-02-23 15:31] jamalv commented on #698
SjoerdHilhorst
commented on Feb 4, 2021
voucher generator, csv
prevalidation, xls
fund requests, xls
voucher transactions, xls
fund provider request list, xls

Discussed with max; the example files can be excluded from the scope. They show the example that is needed.

The proposed fix is to add the XLS option to the voucher generator as that is currently the only place where no XLS is exported yet

[2021-02-24 08:40] maxvisser commented on #764
![image](https://user-images.githubusercontent.com/10818702/108973099-462c4880-7684-11eb-9daa-ccc2d667ae6b.png)

Yes I read your comment; I think its worth the time to investigate other options then a checkbox though

[2021-02-24 08:47] maxvisser commented on #764
I find asking permission for certain actions like Forus or municipalities sending newsletters, notifications etc. better then 'agreeing' to a policy. Also there is currently no option to not agree; you cant create an account without agreeing with everything.

[2021-02-24 08:48] maxvisser commented on #764
also currently:
- you are still able to create an account in the me-app without agreeing
- you still are able to create an account in provider/validator/sponsor signupflows without agreeing
- you are still able to create an account by pressing login and filling a new e-mail without agreeing

[2021-02-24 11:40] jamalv commented on #657
donderdag weer meeting tussen max en maarten

[2021-02-24 12:47] maxvisser commented on #290
if dominant color is too light -> enable patern / text shadow
if dominant color is almost white -> switch text color to black

migrating some current implementation to allow header photo changing will be difficult. We should take into account:
- sprites/splashes

we can upload these images with alot of transparancy

[2021-02-24 12:49] maxvisser commented on #290
idea:
keep the old header photos in a sort of 'archive' to easily switch back; good for holidays

[2021-02-24 13:44] admin-forus commented on #709
This is marked as an urgent problem for Gro since December 04 2020. What is the status?

[2021-02-24 14:01] maartenfv opened #771 "Can never be more than 100%"
![image](https://user-images.githubusercontent.com/30211022/109011319-0b8cd500-76b1-11eb-81f4-5ae0134af05c.png)

Needs an error when higher than 100 and a percentage mark.

[2021-02-24 14:04] TomForus commented on #771
![unknown](https://user-images.githubusercontent.com/36765624/109011753-8a820d80-76b1-11eb-9747-50cbc45a1e03.png)

[2021-02-24 15:35] jamalv commented on #709
@danrminds @maxvisser could you give a status update?

[2021-02-24 17:25] maxvisser commented on #709
@admin-forus the issue Groningen was that we showed an expiration date which was after the end date of the fund.

If there is any concrete smaller issue we can fix now. We can. To fix them all at once we are planning to do this right after adding products as a sponsor.

[2021-02-24 17:27] maxvisser commented on #771
:joy:

[2021-02-25 09:21] jamalv commented on #690
@maxvisser zou jij deze met @SjoerdHilhorst op kunnen pakken?

[2021-02-25 11:41] jamalv commented on #657
max en maarten zijn weer een heel stuk verder

ook relatie mails en notificaties is overwogen

als het klaar is graag feedback van @GerbenBosschieter en @jamalv

[2021-02-25 11:42] jamalv commented on #699
update from @dev-rminds everyting is running according to planning. release still on 15th

[2021-02-25 12:12] jamalv commented on #771
ah, pretty big oversight, @maxvisser let's hotfix this one?

[2021-02-25 12:40] maartenfv opened #772 "add info to making aanbod"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implemenation Maarten

### Change description
-
![image](https://user-images.githubusercontent.com/30211022/109154655-e494d880-776e-11eb-94b7-e76f65922a0c.png)

This needs explanation. Please add info hover on how it works.

User story = As a provider I want to know what this section does and how it works.

[2021-02-25 12:43] maartenfv opened #773 "Provider: Improve modal after creating a product"
![image](https://user-images.githubusercontent.com/30211022/109155015-5f5df380-776f-11eb-97a4-85365d3a3600.png)

This pop-up does not make sense. The flow needs a review and better texts.

[2021-02-25 13:14] maxvisser commented on #771
Agree; pretty big oversight. if needed; it can be hotfixed but I do not see this as highly impactfull.
As these products are actually free and can't be reserved I do think the damage is pretty small (small impact); as providers who run a legit business probably aswell don't want to fill in any higher number then 100%.

but lets put it on the top of the sprint backlog and fix the issue from master.

[2021-02-25 14:09] maartenfv commented on #770
https://programmablesearchengine.google.com/about/

[2021-02-25 14:09] maartenfv commented on #770
https://www.algolia.com/

[2021-02-25 14:58] maartenfv opened #774 "Add breadcrumbs to aanbieder beheeromgeving"
![image](https://user-images.githubusercontent.com/30211022/109171592-38f58380-7782-11eb-8506-bab10eba821d.png)

Not clear where I am. Aanbod > Aanbod toevoegen

![image](https://user-images.githubusercontent.com/30211022/109171684-4e6aad80-7782-11eb-86ef-8dfa76367440.png)

[2021-02-26 09:05] GerbenBosschieter opened #775 "Email | Confirmation page needed after verifying mailadress"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Add a confirmation page or fitting message after a user changes their emailaddress. Would be nice to have an eye candy
page after verification. For short term we definitely need to have a dutch translation

English: _You successfully verified your email_
Dutch:  _Het is g

[2021-02-26 13:19] maxvisser commented on #766
List of tasks:
- have a database column which tells if physical card request is uploaded to ftp
- bundle physical card requests on voucher_id with each export so users who accidently requested two cards receive only one.
- check if voucher of physical card request already has an physical card attached, if so don't export it into the CSV.
- export only requests which did were not exported before. M

[2021-03-01 11:37] jamalv commented on #690
e-mails zijn vrijdag afgemaakt - fonds gesloten en voucher verloopt konden niet getest worden.

notificaties missen nog; hier hebben we nog wat tijd van Valentin van nodig - vraag willen we de oud verstuurde notificaties ook aanpassen?

[2021-03-01 11:39] jamalv commented on #657
vanmiddag tussen 15:00 en 16:00 maarten en jamal gaan er naar kijken

[2021-03-01 12:06] maxvisser commented on #772
@linda-90 Zou jij een tooltip kunnen schrijven?

[2021-03-01 12:09] maxvisser commented on #773
@linda-90 Kun jij een betere tekst schrijven voor deze modal? (deze krijg je nadat je een product aanmaakt.)

[2021-03-01 12:16] maxvisser commented on #399
Still an issue
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/4cbe74f2-8de2-40c4-9a8d-70bf98398080)

[2021-03-01 12:22] maxvisser commented on #684
@GerbenBosschieter @MichaelForus Helpcenter is nog nergens geimplementeerd; Deze issue komt uit potjeswijzer usertesting. De testers gaven aan dat door dat de helpcenter knop wit op wit is het niet opviel. Vraag:

Wat zijn de opties voor de icon? kunnen wij deze omzetten iets wat wij zelf hebben ontworpen?

[2021-03-01 12:23] maxvisser commented on #739
@jamalv I maybe misunderstood this issue. are these the clarification requests that the validator sent?

[2021-03-01 14:04] maartenfv commented on #142
De voorgestelde oplossing van Forus voldoet aan de volgende eisen:
1. Managementinformatie. zoals in het overzicht Bijlage A, wordt getoond in
de beheeromgeving via het nieuw te ontwikkelen dashboard.*
2. Filters worden toegevoegd voor top 10 aanbieders en postcode.
3. Het wordt mogelijk om deze informatie te exporteren vanuit de
beheeromgeving.
4. De medewerkers ontvangen een werkinstructie over

[2021-03-01 16:27] maxvisser commented on #142
Probleem:
SDOA geeft ons nu alleen een bedrag (een familiebudget).
Bij sdoa melding maken dat wij geen aantal kinderen hebben

[2021-03-02 10:43] maartenfv commented on #767
Issue is back open. We have gotten feedback. They want to add a third screen with Me logo.

![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/c5503127-a5f5-4fa1-801e-79477d07ea90)

[2021-03-02 11:10] linda-90 commented on #767
![image.png](https://images.zenhubusercontent.com/5e79fcf1079ee5a57285661f/35ae4119-84ce-40d4-80c5-62dbc6a936e4)

[2021-03-02 14:04] linda-90 commented on #773
Wat voor nut heeft deze modal? Ze klikken op de pagina ook al op bevestig?

[2021-03-02 16:01] demylubbers opened #776 "Creating labels issue"
same :)

[2021-03-03 08:24] maxvisser commented on #775
added a figma page which is already implemented on signupflow: https://www.figma.com/file/DDmzhiepvKFmDAenW8RmBC/E-mail-confirmation?node-id=176%3A137&viewport=477%2C373%2C0.4546875059604645

[2021-03-03 08:24] maxvisser commented on #775
Planned for development

[2021-03-03 08:30] maxvisser commented on #767
How would this look on mobile? I think having two screens looks alot better. Also: could we show the municipality the prototype before starting development? (to not have to reopen this issue again..)

[2021-03-03 08:54] MichaelForus opened #777 "Change request: Adjust error message for failed payment"
**Support Ticket ID:** [#3178]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @Michaelforus

### Change description
If the provider makes a payment and the plastic card is not activated, the provider will get the following error: "No query results for model".
Please adjust the error message. For example: "De pas is niet geactiveerd".

<img width="397" alt="Sche

[2021-03-03 09:24] maartenfv commented on #655
@TomForus What is the plan? @demylubbers will pick this one up?

[2021-03-03 09:30] maxvisser commented on #290
Update: Issue is planned; scope for this issue is kept small. Just changing the header photo for now (no text adjustsment yet)

[2021-03-03 09:32] maxvisser opened #778 "Tablet en iPad design Me app"
@linda-90 commented on [Fri Feb 19 2021](https://github.com/teamforus/implementation/issues/628)

We need a tablet and iPad design for the Me app.
Figma link: https://www.figma.com/file/yOwfCIGOazP3mXEEFJE6C1/Me-tablet-%2F-iPad-design?node-id=0%3A1&viewport=754%2C423%2C0.12363062798976898

---

@maartenfv commented on [Tue Mar 02 2021](https://github.com/teamforus/implementation/issues/628#issueco

[2021-03-03 09:33] maartenfv commented on #220
@maxvisser This one has been fixed right?

[2021-03-03 09:36] demylubbers commented on #655
@maartenfv I have planned a meeting about the different kind of labels. The goal of the meeting is to clearly understand why labels are used and to know which labels need to be added to our policy

[2021-03-03 10:00] maartenfv commented on #142
Zie project issue: https://github.com/teamforus/projectmanagement/issues/147

[2021-03-03 10:00] maartenfv commented on #142
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/d95167d8-bdde-47fd-8a53-65e21e7a2177)

[2021-03-03 10:53] maartenfv opened #779 "Hotfixes"
This is a time-tracking issue to be used when working on Hotfixes.

[2021-03-03 11:13] danrminds opened #780 "Onboarding new teammembers"
**Time tracking**
This issue is used for time tracking when conducting onboarding activities.

**Onboarding**
Onboarding is the process through which organizations equip new employees with the knowledge and skills they need to succeed at their jobs.

[2021-03-03 11:48] jamalv commented on #690
eerste reactie oud verstuurde notificaties optioneel

[2021-03-03 14:05] maxvisser commented on #399
Planned in for @SjoerdHilhorst to fix https://github.com/teamforus/forus/issues/2143

[2021-03-03 14:08] #762 closed

[2021-03-03 14:09] #749 closed

[2021-03-03 15:30] linda-90 commented on #772
![image](https://user-images.githubusercontent.com/36952230/109829317-b0715a00-7c3d-11eb-817c-fd6fc2a82c17.png)

[2021-03-04 10:48] jamalv opened #781 "Application overview page"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Usertesting potjeswijzer](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_1257514803?webUrl=https%3a%2f%2ftasks.office.com%2fb4a9ddbe-ddec-41ba-977a-154b31a1847e%2fHome%2fPlanViews%2f-rWQG76nFU-2YfF2jIBD1JgAC-ia%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Als+aanvrager+w

[2021-03-04 11:40] jamalv commented on #721
@maxvisser @jamalv vraag: kunnen we release rapport bijwerken voor de release van de 15e

[2021-03-04 12:56] jamalv opened #782 "Show funds while not logged in (potjeswijzer)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
[Erwin](https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_1257514803?webUrl=https%3a%2f%2ftasks.office.com%2fb4a9ddbe-ddec-41ba-977a-154b31a1847e%2fHome%2fPlanViews%2f-rWQG76nFU-2YfF2jIBD1JgAC-ia%3fType%3dPlanLink%26Channel%3dTeamsTab&label=Ik+zou+op+de+voorpagina+willen+zie

[2021-03-04 13:56] jamalv commented on #768
Looked at it yesterday together with the team. Good proposal :) - how are you looking at the scope? Initial reaction of the team is that the scope currently in the _review_ page would take about 2-3 sprints.

The *review* page seems to contain quite some "should have" / "must have" features. Maybe it's an idea to start on a "master" page (duplicate of review") and strip down the scope to what's **

[2021-03-04 13:58] jamalv commented on #768
Would also be nice to add some existing pages for context; I see some new ideas in the menu; it would be nice to see how you reach this page? What's the user path?

[2021-03-05 08:38] maxvisser commented on #162
Add products as sponsor
Multiple funds
Roadmap / productboard
Demy -> Zenhub workspaces / reports
Custom e-mails
Show app store screenshots (link to app stores)

[2021-03-05 11:41] jamalv commented on #690
gaat deels mee op de 15e moet uiterlijk eind dit kwartaal opgeleverd worden

[2021-03-05 11:41] jamalv commented on #690
voor de me app (iOS) is het gefixeerd

[2021-03-05 12:39] maartenfv commented on #671
Could we have an update for this issue. Is it possible to release this before 15 of March?

[2021-03-05 12:56] #679 closed

[2021-03-05 13:01] danrminds commented on #618
@maartenfv @maxvisser

We had some proposal on how to fix this, but no decision made. So, let's try to make a decision here.
For this - we need an alternative for the Markdown editor (enhancement of it).

## Proposal 1. Updated version of it.

Build an enhancement on top of Markdown, which will represent a visual editor. For example, something like this:
![Screenshot 2021-01-13 at 16 40 54](https:

[2021-03-08 08:14] jamalv commented on #313
Currently @linda-90 is working on a language guide: https://roadmap.forus.io/c/24-forus-taalgids

1. Please have a look and let's use the linked (public) document to discussed proposed terms and definitions @GerbenBosschieter @jamalv @maxvisser @linda-90 @maartenfv @MichaelForus
2. We will share the list with stakeholders to get feedback and improve @linda-90 @jamalv
3. We will update and finalise

[2021-03-08 09:04] jamalv commented on #234
@maxvisser will this be in the next release?

[2021-03-08 09:08] jamalv commented on #511
Got some feedback from Erwin: https://www.figma.com/file/7lQX9ZRpJW3ZTCtEosAMzs?node-id=1220:25259#66640090 "Erwin: Kunnen we hier ook meer informatie laten zien? Hoeveel geld zit er in? Wat zijn de voorwaarden?"

https://www.figma.com/file/7lQX9ZRpJW3ZTCtEosAMzs?node-id=1220:26304#66639593 : Erwin: Kunnen we hier ook meer informatie laten zien? Hoeveel geld zit er in? Wat zijn de voorwaarden?

[2021-03-08 09:09] jamalv commented on #511
@maxvisser I see this was added to a release but no development task, is this right?

[2021-03-08 09:14] jamalv opened #783 "As I sponsor I would like to see the card number and connect/disconnect cards"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As I sponsor I would like to see the card number and connect/disconnect cards

Figma: https://www.figma.com/file/94FYlEOLkCYkkwJKtx5NpJ/Physical-cards-in-dashboard?node-id=0%3A1

[2021-03-08 09:48] #767 closed

[2021-03-08 10:22] jamalv commented on #690
mails zijn gebeurt (nog 2 moeten getest worden)
webshop is behalve misschien hier en daar een modal gefixed
me ios is gefixed

voor android: @SjoerdHilhorst kan je de strings xml doorlopen en alle "u" dingen naar je/jij veranderen?

[2021-03-08 10:23] jamalv commented on #690
en op dev doorlopen of alles is aangepast

[2021-03-08 10:28] jamalv commented on #781
hoe ziet dit er uit voor nijmegen?

[2021-03-08 10:35] #588 closed

[2021-03-08 10:40] jamalv commented on #618
second option would take about 2 days

[2021-03-08 10:43] jamalv commented on #618
@danrminds would proposal 2 also solve https://github.com/teamforus/general/issues/666?

[2021-03-08 10:44] jamalv commented on #618
/ how much extra time would that take?

[2021-03-08 10:47] jamalv commented on #618
666; needs library, needs to be connected to either option: does not matter much

[2021-03-08 10:57] #427 closed

[2021-03-08 11:10] maartenfv commented on #618
Need to go for proposal 1, not 2. Our users know nothing about markdown and should not need to know. If it takes 2 weeks then that is what we need to do.

Why do we use markdown in the first place?

What about? https://quilljs.com/ or https://www.tiny.cloud/tinymce/ or https://ckeditor.com/

[2021-03-08 11:40] jamalv commented on #768
maarten: vanmiddag wordt planning met dan besproken

morgen even bespreken jamal maarten

[2021-03-08 13:48] jamalv commented on #511
@linda-90 could you review the design and erwin's comments?

[2021-03-08 13:51] jamalv commented on #511
some inspiration: https://www.figma.com/file/jeym9l4owKdoCUTluAjQFm/%F0%9F%A7%AAwebshop-vision?node-id=138%3A0

[2021-03-08 14:53] maartenfv opened #784 "Koppeling / Connection Nijmegen"
### Requested by:
- Nijmegen

### Change description
Sponsors often have back office system built by Centric or Pink Roccade.

**Automated checks**
In automated checking there are two steps. First step was DigiD and this is now working properly. The second step is to make it possible to carry out checks with the applicant's BSN.

We want to check with the BSN number if a requester is known in the

[2021-03-08 15:10] maartenfv commented on #698
@maxvisser @danrminds Can we release this before 15 of march? What is the status?

[2021-03-08 15:14] maartenfv commented on #752
@maxvisser Is deze gereleased?

[2021-03-08 15:20] maartenfv commented on #586
What is the status?

[2021-03-08 15:31] maxvisser commented on #586
Planned it in after refinement of 3 february for @dev-rminds; he is still busy with an epic; probably we can start on this next week if this has higher priority then CMS

[2021-03-08 15:34] jamalv opened #785 "Add me logo with downloads"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Groningen

### Change description
As a requester, I want to have a trustworthy experience when downloading the me app.

Figma: https://www.figma.com/file/5mYDgbgFE4Lz2jg6O0tUHl/?node-id=0%3A1

[2021-03-08 15:35] jamalv commented on #785
@linda-90 could you please design review?

[2021-03-08 15:38] maxvisser commented on #698
This is on the sprint backlog; currently not done yet; if its still done before wednesday it could make the release.

[2021-03-08 15:41] maxvisser commented on #785
me logo now looks like something you can click

[2021-03-08 15:49] maxvisser commented on #188
This is released

[2021-03-08 15:49] #188 closed

[2021-03-08 15:50] #187 closed

[2021-03-08 15:52] maxvisser commented on #215
I did some development during my free time on this issue. Its currently open as a pull-request. would be nice to update Figma aswell if there is time for this.

[2021-03-08 15:52] #569 closed

[2021-03-08 16:05] maxvisser commented on #412
I see none of our webshops have these dropshadows. I will close this issue @linda-90 if you think its still relevant you can reopen it.

[2021-03-08 16:05] #412 closed

[2021-03-08 16:06] #97 closed

[2021-03-08 16:07] #115 closed

[2021-03-08 16:07] #203 closed

[2021-03-08 16:08] maxvisser commented on #220
I believe this is a pretty URL :) https://stadjerspas.gemeente.groningen.nl/aanbieders/aanmelden

[2021-03-08 16:08] maxvisser commented on #220
I will close it as it looks like @maartenfv agrees with this :)

[2021-03-08 16:08] #220 closed

[2021-03-08 16:09] maxvisser commented on #519
I think we can fix this by always sharing https://gemeente+1.forus.io/aanbieders/aanmelden and set the link on the page to a filtered signupflow.

[2021-03-08 16:10] maxvisser commented on #519
Currently this is done for Groningen, Nijmegen and SDOA.

[2021-03-08 16:10] maxvisser commented on #168
Currently not something we are working on and not desirable.

[2021-03-08 16:10] #168 closed

[2021-03-08 17:45] #752 closed

[2021-03-09 10:33] jamalv commented on #783
Prepared the Figma page for design and technical review: https://www.figma.com/file/94FYlEOLkCYkkwJKtx5NpJ/?node-id=6%3A23380

@maxvisser @linda-90 could you please have a look?

[2021-03-09 11:37] jamalv commented on #768
maarten stuurt naar groningen, kan over een paar weken aan begonnen worden

[2021-03-09 11:39] jamalv commented on #721
release rapport voor .21 (de 15e) is nog niet bijgewerkt door jamal en max; vanmiddag bijwerken

[2021-03-09 11:40] jamalv commented on #690
in afwachting van wanneer valentin het af kan maken:

maarten: volgende week gaat valentin hier mee bezig

[2021-03-09 12:08] jamalv commented on #253
got audited, recieved a report, will update this issue

[2021-03-09 12:45] jamalv opened #786 "Include IBAN in provider export"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
As a sponsor I would like the IBAN to be included in the provider export

[2021-03-09 15:21] jamalv commented on #721
@maxvisser heeft het release rapport bijgewerkt en een nieuwe release aangemaakt voor de 29ste https://app.zenhub.com/workspaces/intake-5fe1b67c5361800022a2646c/reports/release?release=604760767f4555a18239df3a

[2021-03-09 18:23] maartenfv opened #787 "Risk/Damage control migration issue | Using test IBAN/No IBAN for provider"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Implementation/Groningen

### Change description
Groningen wants us to make an account for about 66 providers without an IBAN. The problem we think will occur is that Groningen will make offers for these accounts and place them on the webshop. When people will start making transactions our system will make API calls

[2021-03-10 08:50] maartenfv commented on #787
@danrminds Can you give an update?

[2021-03-10 08:59] maxvisser commented on #621
needs proposal, moved it there for back to be clarified

[2021-03-10 09:01] #650 closed

[2021-03-10 09:01] maxvisser commented on #650
duplicate of general#475

[2021-03-10 09:04] maxvisser commented on #625
As it is stuck on proposal phase for a while; I put it back into 'to be clarified'

[2021-03-10 09:07] maxvisser commented on #637
Was already released in v0.19.0

[2021-03-10 09:07] #637 closed

[2021-03-10 09:25] maxvisser commented on #638
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/54cb3038-a012-4d0a-aedb-1871a93e62a5)
Seems to be fixed

[2021-03-10 09:25] #638 closed

[2021-03-10 09:31] maxvisser commented on #740
Moved back to be clarified as the proposal needs to be made

[2021-03-10 09:33] #234 closed

[2021-03-10 12:02] maxvisser commented on #747
Where did I find this feature?

[2021-03-10 12:23] maxvisser commented on #783
Requirements:
Use fund config to allow sponsor to connect cards (same as config we use for webshop)

[2021-03-10 12:32] maxvisser commented on #787
When will we release this? Its impacted pretty core functionality which is hard to test (paying out to providers); should be fixed from master; gerben / max needs atleast a few hours next week to review/accept this

[2021-03-10 12:39] maxvisser commented on #413
@jamalv could you check with @linda-90 whats the priority, is this done? What should we plan in.

[2021-03-10 13:06] jamalv commented on #780
We discussed this issue today with dan and max. Next to using this issue for time tracking, we should also start on a strategy as Forus on how we onboard new developers.

- [ ] Writing abstract documentation about the platform
- [ ] Updating getting started documentation
- [ ] Updating the api documentation

[2021-03-10 13:38] jamalv commented on #669
voorstel: https://docs.google.com/document/d/1d78GE7HZq1gpbHkf8a5VQZkQy1IQMX_19Clnnx1iaOU/edit#

[2021-03-11 08:40] danrminds commented on #787
The only thing that was within scope for now - is checking whether the IBAN of the provider is: GB33BUKB20201555555555 - and in this case the transaction would not initiate a BUNQ transaction.

Later scope:
When sponsor trying to add an action (with an amount to be paid to provider) - on a provider with this or no IBAN - show an error message saying that the IBAN of the provider is not valid.

[2021-03-11 09:01] maxvisser commented on #787
I would not add more to the scope; building more stuff on this workaround seems like wasted time. I would just start thinking about a long term solution and implement that.

[2021-03-11 09:02] maxvisser commented on #787
If the short term solution is also needed for the long term solution lets do it ofcourse.

[2021-03-12 12:20] jamalv commented on #768
@maartenfv kan deze geplanned worden? of wachten we eerst reactie af van de gemeente? en als deze geplanned kan worden, doen @danrminds dat dan?

[2021-03-12 12:21] jamalv commented on #768
als ik naar het voorstel kijk, lijkt het wel alsof er nog een definitief design moet komen

[2021-03-12 12:26] maxvisser commented on #768
oplevering is na 2 sprints 28 mei; hierna review en acceptatie test. Ik stel voor om deze mee te nemen in de release van 28 juni.

[2021-03-12 13:14] maxvisser commented on #655
ITSM still needs to be synchronized

[2021-03-15 07:02] #765 closed

[2021-03-15 07:02] #771 closed

[2021-03-15 07:02] #774 closed

[2021-03-15 07:02] #775 closed

[2021-03-15 07:02] #758 closed

[2021-03-15 07:02] #759 closed

[2021-03-15 07:02] #672 closed

[2021-03-15 07:02] #613 closed

[2021-03-15 07:03] #706 closed

[2021-03-15 07:03] #422 closed

[2021-03-15 07:03] #685 closed

[2021-03-15 07:03] #707 closed

[2021-03-15 07:03] #697 closed

[2021-03-15 07:03] #165 closed

[2021-03-15 07:04] maxvisser commented on #690
E-mails and most of the texts in the webshop are now changable via formal/informal toggle.

[2021-03-15 07:04] #699 closed

[2021-03-15 07:05] maxvisser commented on #787
a fix for this will hopefully be released tomorrow.

[2021-03-15 09:55] jamalv opened #788 "Write / update documentation"
Learn more about change requests here: https://bit.ly/39CWeEE

### Change description
As a new developer I would like to be able to do self-study to learn how to contribute, before I get training / support from the core developers.

## Tasks
- [ ] Index what documentation is already there
- [ ] Update outdated documentation
- [ ] Decide how to publicise documentation (github/postman/manuals/suppor

[2021-03-15 10:24] maartenfv commented on #274
Moved this issue from general to generalmanagement

[2021-03-15 11:30] jamalv commented on #721
Sponsor offers release of the 15th was done this morning. Planned a moment this week to do a status check on the other issues @maxvisser I think we're expecting a release the 29th?

[2021-03-15 11:43] jamalv commented on #690
notificaties worden nog gedaan, en dan goede check nodig voor 29ste

[2021-03-15 14:43] maartenfv commented on #709
This was agreed upon with Groningen to be part of the release of the 15th of March. It was mentioned as point 9 in the Notes send to us by Bas and Danielle. It has been removed from the release and was placed in Icebox. We need to fix this one as soon as possible.

[2021-03-15 14:58] maxvisser commented on #709
Ah I see I accidently added it to the icebox while creating a new workspace in Zenhub; probably more issues are moved in the whole team workspace to icebox.

[2021-03-16 09:12] maxvisser commented on #787
Fix is released, IBAN to skip is added, it works now like this:
we check if IBAN is in a 'skip list', skip list contains GB33BUKB20201555555555
if IBAN is in skip list we do not sent transaction to BUNQ we add +1 to the attempts and try again for 5 times; If provider changes IBAN within 5 days of the transaction we will still payout the transaction after the 5 days forus needs to add the transacti

[2021-03-16 09:13] #787 closed

[2021-03-16 11:38] jamalv commented on #709
loopt stuk op Valentin moet het doen (planning) - @maxvisser kan jij even met valentin checken of hier nu aan gewerkt kan worden - goed testen is hierin cruciaal geeft max aan.

[2021-03-16 11:39] jamalv commented on #709
vraag van maarten: hoeveel tijd kost dit nog zodat dit ingepland kan worden? wat is er voor nodig? @maxvisser @jamalv

[2021-03-16 11:43] jamalv commented on #690
voorstel: test backlog voor jij/jou (en ook voor tot en met) - zodat test uren optimaal worden benut.

moet goed _goed_ getest worden anders inconsistency geeft @GerbenBosschieter aan

@GerbenBosschieter maakt overzicht van test backlog

[2021-03-17 09:03] jamalv opened #789 "DigiD; show error when canceling."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Logius

### Change description
When a user cancels their login attempt using DigiD, the user needs to be taken to a page with an error; that the login has been canceled. Probably we already should have this error but something is going wrong.

**Dutch:**
Schermgedrag bij annuleren. Als de gebruiker het authenticatiepr

[2021-03-17 09:04] jamalv opened #790 "Logout user after 15 minutes"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Logius

### Change description
A user needs to be logged out after 15 minutes.

**Dutch:**
Na het inloggen houdt de webapplicatie een sessie met de gebruiker bij. Na maximaal vijftien minuten inactiviteit verloopt de sessie. Bij uitloggen of als alle actieve browserschermen afgesloten worden, vervalt de sessie ook.

[2021-03-17 09:08] jamalv commented on #789
I was able to reproduce this using both the DigiD recovery, and trough the signupflows.

[2021-03-17 09:10] jamalv commented on #790
@maxvisser can we reproduce this?

[2021-03-17 09:18] maxvisser commented on #789
I don't believe it needs to return to an error. It just needs to return where you left. Currently with restoring after you cancel you are returned to the homescreen

[2021-03-17 09:20] maxvisser commented on #790
It's similar to the ITSM issues about this topic. Maybe plan those in. Already made some proposal for most of them.

[2021-03-17 09:21] jamalv commented on #790
But a user should now still be logged out after 15 minutes, right? Is this functionality currently working? Is there an easy way to test this? Or should we just open a window for 15 minutes?

[2021-03-17 09:38] maxvisser commented on #790
I checked the configuration. Seems that the flag ``log_out_time: autoLogOutTime,``is missing at Geertruidenberg implementation. If its not set by default. It could not be working.

[2021-03-17 09:53] maartenfv opened #791 "Documentation"
This is used for time tracking when writing documentation.

[2021-03-17 09:59] jamalv commented on #789
"Er dient een melding getoond te worden met de mededeling dat het inloggen is geannuleerd." - from here I understand that Logius doesn't have strong requirements on the content of the notification.

Can we use the same notification as when a user is successfully logged in? With the text; "Inlogpoging geannuleerd"?

[2021-03-17 10:10] maartenfv commented on #698
@maxvisser Do you have an update here? Has it been released?

[2021-03-17 10:14] maxvisser commented on #777
Released

[2021-03-17 10:14] #777 closed

[2021-03-17 10:53] jamalv commented on #709
zal bovenstaande vraag straks bij refinement stellen

[2021-03-17 11:37] jamalv commented on #709
maarten heeft over planning gesproken met dan: valentin kan het oppakken onder aftercare groningen

[2021-03-17 11:41] jamalv commented on #690
gerben geeft aan: ik verwacht dat duidelijk is wat in de release komt zodat ik weet wat ik moet testen.
maarten vraagt: is er een zenhub test workspace? kunnen we hier naar kijken?

[2021-03-17 12:18] jamalv commented on #698
@danrminds mentions it's been deployed

[2021-03-17 12:21] jamalv commented on #675
@maxvisser what's the status of this on android?

[2021-03-17 12:33] jamalv commented on #140
@jamalv please check if this is still the case, if so it can be planned

[2021-03-17 12:39] jamalv commented on #140
@danrminds I have verified this is still the case. It can be planned.

[2021-03-17 12:40] jamalv commented on #140
"As a sponsor I would still like to see the financial data in the financial dashboard"

[2021-03-17 12:52] linda-90 commented on #361
Text review:

## Financieel fonds
- Er is een bedrag van uw :fund_name-tegoed afgeschreven
Er is met uw tegoed een aankoop gedaan. Hierdoor is er een bedrag afgeschreven.
Het huidige bedrag van uw \':fund_name\'-tegoed is €:current_budget
- Er is een bedrag van je :fund_name afgeschreven
Met je :fund_name is een aankoop gedaan. Hierdoor is er een bedrag afgeschreven.
Het huidige bedrag van je \':f

[2021-03-17 12:55] jamalv commented on #437
Discussed this issue; the goal is to focus on the "default" configuration, not the exemptions.

@maartenfv could you please plan time (2 hours?) for valentin and max to refine this issue, and then for development? Maybe for dimitri? With this issue he will learn a lot about the platform I think :)

[2021-03-17 13:20] linda-90 commented on #413
It is also part of WCAG.

[2021-03-17 15:24] maartenfv commented on #770
Made a schedule with Jamal. (Check everhour)

Jamal will make proposal
Max will review proposal
Linda makes design
Needs to be discussed with Dan to schedule.

[2021-03-17 15:57] maartenfv commented on #437
Planned it in.

Consideration = We hope to migrate to BNG before 1 st of jan 2022.

[2021-03-18 08:41] danrminds commented on #751
Planned in

[2021-03-18 09:27] maxvisser commented on #698
Its not.

[2021-03-18 09:35] maxvisser commented on #751
Sjoerd already added the tooltips

[2021-03-18 09:44] maxvisser commented on #361
geen idee @linda-90

[2021-03-18 09:45] maxvisser commented on #361
voor budget transactie willen we het bedrag dat in mindering is gebracht van het budget in de mail zetten

[2021-03-18 10:31] jamalv commented on #675
I have prepared a release for this on iOS; @maxvisser I heard you were working on an android 0.4.4 release? Could you make sure this is included? And the I think what's left is linking it to the offers (in-page scroll on the vouchers page was proposed by @dev-rminds) can this be done by a backend update? Or do the apps need to be updated as well?

[2021-03-18 11:38] jamalv commented on #709
gister tijdens refinement besproken, valentin is er mee bezig

[2021-03-18 11:41] jamalv commented on #721
gister tijdens refinement alle issues doorgenomen; overal wordt aan gewerkt

[2021-03-18 15:51] maartenfv opened #792 "Maintenance"
Tracking hours when working on maintenance.

[2021-03-18 15:55] maartenfv opened #793 "Scheduling"
**Time tracking**
This issue is used for time tracking when preparing for or attending scheduling sessions.

**Tooling**
For Scheduling we use https://app.everhour.com

**Scheduling**
Scheduling is the process of arranging, controlling and optimizing work and workloads. We use are schedules to make use we utilise our capacity.

[2021-03-19 08:47] maxvisser commented on #162
Demo:
- Add products as sponsor -> Small ux changes like starting an action on a page.
- Exporting XLS
- Up to including
- Webshop Informal notifications
- Search on webshop
- CMS blocks
- Add IBAN to export
- Add me logo with downloads
- DigiD cancel should display an error
- Starting onboarding
- bugfixes:
 - Fund provider invitation fix
 - trusted period
 - physical card not found message
 - se

[2021-03-19 09:23] jamalv commented on #783
@maxvisser @danrminds  I see text review is done, but this has not been planned for alex. Could you plan this asap? We'd like this to make the next release.

[2021-03-19 09:26] danrminds commented on #783
@jamalv This will be planned for next week for Dmitryi. I will take care of planning it soon

[2021-03-19 11:36] jamalv commented on #709
er is een pull request.

[2021-03-19 12:30] jamalv commented on #243
Yesterday we had a presentation about this. There are a few tasks to this epic I see, that I think can be planned:
- [ ] Don't accept designs without an accessibility check (create/update internal policy)
- [ ] Make WCAG requirements part of dev requirements: Contrast, HTML structure, Alternative tekst
- [ ] Make a list of essential plugins to check accesibility and make it required for devs to us

[2021-03-19 12:32] jamalv commented on #605
@danrminds could you still help to check the scope, or plan that in somewhere?

[2021-03-22 08:31] #753 closed

[2021-03-22 08:31] #692 closed

[2021-03-22 10:14] maxvisser commented on #783
As this will be part of onboarding of Dimitry and can't be finalized before wednesday it will be released on 19 of april

[2021-03-22 10:18] maartenfv commented on #665
@linda-90 Could we discuss this issue to plan making a design?

[2021-03-22 13:09] maxvisser commented on #657
@maartenfv @jamalv could you give an update? is there any progress on the concept/proposal?

[2021-03-22 13:15] maxvisser commented on #243
lets move this CR to ITSM

[2021-03-22 14:18] maxvisser commented on #494
@GerbenBosschieter also does not know; He knows we refined something but as this is from 6 months; its probably already implemented / not needed.

[2021-03-22 14:18] #494 closed

[2021-03-23 09:44] linda-90 commented on #361
@maxvisser Ja lijkt me goed!

[2021-03-23 14:40] maxvisser commented on #118
as location are linked to offices; this can be needed for SDOA's financial dashboard proposal as well. Linkin employees to offices and retrieving postalcodes of offices so you can filter on offices on financial dashboard

[2021-03-24 09:34] maxvisser commented on #784
Hi Maarten this seems to be a duplicated of #435; I will update the issue and move over the comments from there to here; as you planned this issue in

[2021-03-24 09:34] #435 closed

[2021-03-24 09:35] maxvisser commented on #435
Superseded by https://github.com/teamforus/general/issues/784

[2021-03-24 09:37] maxvisser commented on #784
Updated the API Spec together with @danrminds and  @dev-rminds . wrote down whats needed for implementing the connection. @danrminds and @dev-rminds will look into time/planning. @danrminds could you discuss this with @maartenfv what your idea about it is?

[2021-03-24 10:44] GerbenBosschieter commented on #295
bump

[2021-03-24 11:36] maxvisser commented on #709
staged in release 22

[2021-03-24 11:37] maxvisser commented on #721
@maxvisser @maartenfv need to update list

[2021-03-24 11:38] maxvisser commented on #690
staged. still needs checking the whole webshop/e-mails

[2021-03-24 12:29] GerbenBosschieter opened #794 "Bring back the option to reject/hide application of provider. Our users are missing it."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Sponsors are used to have the option to reject and hide the application of an organisation. They don;t have this option anymore since a new feature. This means that every application that is not accepted is always in a "on hold" state. This is confusing for provider and a

[2021-03-24 12:37] GerbenBosschieter opened #795 "As a provider I would like to cancel my application for a fund if it's not accepted yet or rejected"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- @GerbenBosschieter

### Change description
- Providers accidentally apply for the wrong fund and forget to apply for the right fund. After accidentally applying for a wrong fund they can't cancel this anymore. As long the application is not procssed yet or the application is rejected we should give the option to can

[2021-03-24 12:43] maxvisser commented on #794
Agree. We should implement a deny option.

[2021-03-24 13:31] linda-90 commented on #511
Design (+ comments van Erwin): https://www.figma.com/file/LryGgoQSl0rPu41hbIqFEI/Webshop---Fund-details-page?node-id=1220%3A25259&viewport=701%2C363%2C0.09573645889759064

[2021-03-25 11:49] GerbenBosschieter commented on #794
Related issues:
- https://github.com/teamforus/general/issues/584
- https://github.com/teamforus/general/issues/519
- https://github.com/teamforus/general/issues/624
- https://github.com/teamforus/general/issues/78
- https://github.com/teamforus/itsm/issues/449

We already created change requests for similar / related issues. Our users are now asking support for this scenario but we decided no to

[2021-03-25 11:52] GerbenBosschieter commented on #795
Related issues:
- https://github.com/teamforus/general/issues/584
- - https://github.com/teamforus/general/issues/794
- https://github.com/teamforus/general/issues/519
- https://github.com/teamforus/general/issues/624
- https://github.com/teamforus/general/issues/78
- https://github.com/teamforus/itsm/issues/449

We already created change requests for similar / related issues. Our users are now as

[2021-03-29 08:48] maxvisser opened #796 "When voucher expires there is no way to block physical card / reuse it for new voucher"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Max

### Change description
When voucher expires there is no way to block physical card / reuse it for new voucher.

[2021-03-30 07:58] #403 closed

[2021-03-30 07:58] #709 closed

[2021-03-30 07:58] #751 closed

[2021-03-30 07:58] #786 closed

[2021-03-30 07:58] #789 closed

[2021-03-30 07:58] #790 closed

[2021-03-30 07:59] #586 closed

[2021-03-30 08:01] maxvisser commented on #698
The problem is solved in next release we will add more export options (.csv option to alle exports)

[2021-03-30 08:01] #698 closed

[2021-03-30 08:01] maxvisser commented on #785
Most of the scope is released. The only thing which is missing is the screenshots on Me page

[2021-03-30 09:08] MichaelForus opened #797 "Me-app: Add transaction note to transaction details"
**Support Ticket ID:** [#3281]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Provider

### Change description
- Add transaction note to transaction list<br>

[2021-03-30 09:11] GerbenBosschieter commented on #797
A lot of providers do not use the dashboard and only use the Me-app. For some organizations it would be really usefull to see what note was added during the payment. They use the note to see who the payments belong to so they can use this for their administatrion

[2021-03-30 10:36] #675 closed

[2021-03-30 10:37] #690 closed

[2021-03-30 11:05] maartenfv opened #798 "It works but the setting does not stick?"
When switching from u to je it changes the webshop to je but shows u in the settings.

![image](https://user-images.githubusercontent.com/30211022/112979214-8f2a5d80-9158-11eb-9a43-f4723938d8ae.png)

[2021-03-30 12:58] GerbenBosschieter commented on #83
https://forus.testquality.com defect [D7](https://forus.testquality.com/project/11140/result/2336879/defect/7583). Do not remove or edit.

[2021-03-30 16:01] danieltcacenco opened #819 "Snap Kit"
## Main asssignee: @danieltcacenco

## Context/goal:
clean all project from xib and storyboards for optimization and future conflicts, change old code where we using NSLayoutConstraints and change it to new SnapKit.

[2021-03-31 10:36] jamalv commented on #785
comments in figma; @linda-90 kan je de comments in figma checken?

vraag van maarten aan @linda-90 @maxvisser is om het onderling af te stemmen en snel te releasen

[2021-03-31 11:15] linda-90 commented on #785
Heb design aangepast en besproken met @maxvisser en @maartenfv

Nog een andere wijziging:

![image](https://user-images.githubusercontent.com/36952230/113136054-2d82f580-9223-11eb-9b4e-d4a6a4071b29.png)

Icon is in voorstel wit ipv blauw.

[2021-04-01 07:55] maxvisser commented on #162
Demo:
WCAG
Expire dates (up to including)
Me-app page
Fund details page
Physical cards
CSV and XLS
Disabling transactions for subsidy funds
Koop op afstand proposal? @maxvisser ask @GerbenBosschieter
Testquality @maxvisser ask @GerbenBosschieter

Update on Uploading media in CMS
Update on &nbsp; in CMS
Update: Financial dashboard proposal
Update: Nijmegen connection proposal

[2021-04-01 08:51] jamalv opened #799 "Integrate productboard"
As a user, I would like to give feedback on the product so that the developers know what improvements I would like to see.

<p></p>

**Figma Proposal:** [[https://www.figma.com/file/xzFZGRITMAtMsPFUETtRZU/Feedback-from-dashboard?node-id=3%3A0](https://www.figma.com/file/xzFZGRITMAtMsPFUETtRZU/799---Integrate-productboard?node-id=0%3A1)](https://www.figma.com/file/xzFZGRITMAtMsPFUETtRZU/Feedback-fr

[2021-04-01 08:51] jamalv commented on #799
Link to feature: https://forus.productboard.com/feature-board/planning/features/7507604

[2021-04-01 10:33] jamalv commented on #785
@maartenfv: het is gelukt! :D - het staat al live!

https://stadjerspas.gemeente.groningen.nl/me

[2021-04-01 10:33] #785 closed

[2021-04-01 11:41] jamalv commented on #799
nice one! @maartenfv could you add urgency and priority labels?

max and I discussed this during intake and made a quick figma wireframe here: https://www.figma.com/file/xzFZGRITMAtMsPFUETtRZU/Feedback-from-dashboard?node-id=3%3A0

The api asks for:

![Screenshot 2021-04-01 at 13.40.50.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/ba46cb86-2958-4ab8-9ad9-d8f5e6205d27)

[2021-04-01 11:59] jamalv commented on #799
Proposal: add details to "content",

**Organisation** [organisation name]
**Current page** [link of page that is currently opened]

etc.

[2021-04-01 12:40] maartenfv opened #800 "Footer not correctly aligned"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Groningen

### Change description

![image](https://user-images.githubusercontent.com/30211022/113295144-195cf800-92f8-11eb-9c92-364d89cbc14a.png)

[2021-04-01 13:30] linda-90 commented on #142
Feedback:

1. Export: Geen tekst maar waardevelden voor Excel
2. Periode: Maand en jaar
3. Transactiekosten: Zegt niks
4. Afronden hele getallen in euro’s op dashboard, in detail in export.

 Wensen: In de toekomst ook kinderen kunnen exporteren

[2021-04-01 13:58] maxvisser commented on #142
2. voor bijv kerstpakket markt of ander soort kort lopend fonds zijn de andere wel nodig :)

[2021-04-06 07:29] maxvisser commented on #800
weird.

![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/84d4198e-88c4-4268-ad66-96c86f781207)

[2021-04-06 07:41] maxvisser commented on #770
Linda will do a design
Jamal will write proposal (already done)
Max will review the proposal together with valentin and enhance with technical details
-> https://docs.google.com/document/d/19D34FaBAop-47_Nql3nOj1_9KXpsuxli9p6lJOz54eA/edit#
Valentin -> 8h

[2021-04-06 07:48] maxvisser commented on #784
Max makes a proposal for loading and error pages; dashboard settings pages

[2021-04-06 07:55] maxvisser commented on #142
@danrminds could you plan in tasks for alex for this sprint?

Feedback:

Export:value fields for data for Excel (example dates should be a date excel regocnizes
Periods: Month and year is useful
Transaction costs: Does not add anything
Round off whole numbers in the euro dashboard, in detail in the export.

request: Be able to export a number of children in the future

[2021-04-06 07:55] maxvisser commented on #784
@maxvisser make the issues for the tasks

[2021-04-06 07:57] maxvisser commented on #770
@maxvisser create design task for linda

[2021-04-06 08:02] maxvisser commented on #511
Write down some user stories; technical proposal
Recheck design when creating Generic search proposal @linda-90

[2021-04-06 08:04] maxvisser commented on #797
Check if this can be part of 0.5.0

[2021-04-06 08:04] maxvisser commented on #797
@jknnr Could you help me plan this in ?

[2021-04-06 08:06] maxvisser commented on #215
plan a white figma pizza party WHITE ALL THE THINGS

[2021-04-06 08:08] #755 closed

[2021-04-06 08:09] maxvisser commented on #755
released v0.22.0

[2021-04-06 08:09] maxvisser commented on #689
released

[2021-04-06 08:09] #689 closed

[2021-04-06 08:10] maxvisser commented on #745
Released 4.4

[2021-04-06 08:10] #745 closed

[2021-04-06 14:07] jamalv opened #801 "Add funds as a sponsor"
Adding funds as a sponsor has different related parts. This epic is for related issues that are linked trough zenhub.

[2021-04-06 14:21] jamalv opened #802 "Add funds as a (new) sponsor"
This issue is related to: https://github.com/teamforus/general/issues/437

This is about a completely new user signing up for the platform and starting a fund:

Requires verification
* Create funds (with verification)
* Create implementations (with verification)
* Apply to foreign implementations (webshops)
* Use voucher generator
* Create funds (with verification)
* Create implementations (with v

[2021-04-07 09:47] GerbenBosschieter opened #803 "Voucher generator: give context/helpfull information if export of datasets fails because of exceeding time limit"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- If the datasets of the export from voucher generator is to big and exceeds the time limit the platform will stop the attempt. The user doesn't get any information or context if this happens. IT would be nice if this wouldnt happend at all and we just support really big datasets, but

[2021-04-07 10:35] jamalv commented on #721
zometeen bij refinement wordt de status bijgewerkt

[2021-04-08 10:36] jamalv commented on #721
lijkt dat we de release gaan halen, max gaat nog even vragen bij alex over #2133

[2021-04-08 15:03] jamalv commented on #177
Update: default zoomed out state is ready, adding whitespace research is done and conclusion is will take a few days.

Currently doesn't fit schedule and is a should-have (no formal agreements about it). I have increased the estimate, added this insight to productboard, now depends on priority relative to other issues.

[2021-04-08 15:15] jamalv commented on #721
Update about https://github.com/teamforus/forus/issues/2133 - default zoom state and text fixes will be done.

Research for the zoom out part was also done; this is quite big (will take a couple days) - we therefore decided to take that out of scope and prioritise other issues instead (there were no formal agreements on this issue, we added it as a nice quickfix).

The insight has been added to pr

[2021-04-09 12:33] jamalv commented on #120
Acties:
- Bespreken met valentin hoe groot het is om initiatie vanuit de inwoner mogelijk te maken @maxvisser
- Voorstel aanpassen met aanpassing naar pasnummer @GerbenBosschieter
- Update geven aan maarten van stand van zaken @GerbenBosschieter
- Offerte opstellen op basis van ureninschatting max, en voorstel gerben @maartenfv

## Ureninschatting
- Op reserveringen (Nijmegen en Westerkwartier) +

[2021-04-09 14:21] maxvisser commented on #800
fixed in release v23

[2021-04-09 14:21] maxvisser commented on #798
fixed in v22.3

[2021-04-09 14:21] #798 closed

[2021-04-13 11:52] maxvisser opened #804 "Voucher generator: activation_code_uid create vouchers with activation codes which are already used."
## Description
Currently when a voucher is created using an already used activation_code_uid it creates a voucher for with an existing activation code even if the code was already used!

## Proposal
Option 1: Make it possible to automatically assign the voucher to the user who used the activation code.
Option 2: Make a new activation code for the voucher (as the activation code is already used)
Op

[2021-04-14 07:17] jamalv commented on #770
questions:
- search trough pages, how big is the scope?
- back button from details page (remember search result) how big is the scope?
- how to do this technically? especially filtering by relevancy; find a good dependancy?

[2021-04-14 08:10] maartenfv commented on #721
@jamalv Clear! Thanks for giving context on removal!

[2021-04-15 08:11] maxvisser commented on #784
https://www.figma.com/file/O3A1gpSSTJ5xoxavB4zOeG/?node-id=66%3A412

[2021-04-16 07:40] maxvisser commented on #162
Demo:
Financial dashboard part 1
Webshop banner
Cropper maximization
Nijmegen connection (figma proposal + make repo test api)
Direct payments proposal
Generic search proposal

[2021-04-16 07:47] linda-90 commented on #770
Design: https://www.figma.com/file/DP3zSdWXVutjc5s81d4s3H/770%3A-Generic-search?node-id=93%3A7691&viewport=2261%2C830%2C0.10300933569669724

[2021-04-19 05:25] #673 closed

[2021-04-19 07:04] #783 closed

[2021-04-19 07:04] maxvisser commented on #783
released

[2021-04-19 07:05] #782 closed

[2021-04-19 07:05] maxvisser commented on #782
released

[2021-04-19 07:05] maxvisser commented on #800
released

[2021-04-19 07:05] #800 closed

[2021-04-19 07:07] maxvisser commented on #618
A fix for this has been released

[2021-04-19 07:07] maxvisser commented on #618
Still needs a CSS update to allow headers / images not needing &nbsp;

[2021-04-19 07:07] #140 closed

[2021-04-19 07:08] #721 closed

[2021-04-19 07:09] #511 closed

[2021-04-19 08:18] maxvisser commented on #177
quickfix will be part of release v24

[2021-04-19 08:52] maxvisser commented on #795
Made a figma file for this issue:
https://www.figma.com/file/g9Uc1iUiGi69nYE3XOjRwv/?node-id=176%3A138

[2021-04-19 08:53] maxvisser commented on #795
discussed with gerben; as these are probably some small changes to the templates (no big visual change) he want to try to make the figma proposal.

[2021-04-19 09:31] linda-90 commented on #665
Design (WIP): https://www.figma.com/file/bfp2Unid2vBQpJ3vxXTJzv/Sponsor-dashboard-overview-page?node-id=0%3A1&viewport=-1465%2C414%2C0.603611409664154

[2021-04-19 09:45] linda-90 commented on #665
Information:
- Number of active funds
- Aantal toekenningen
- Transactions
- Employees

[2021-04-21 10:42] maartenfv commented on #231
We are going to use Zoho recruit for now. This way we can make the page fast and it is easy to manage. It also has an embed version so we can combine Zoho recruit with our own website (and design as stated above).

[2021-04-21 11:10] jamalv commented on #781
proposal: https://www.figma.com/file/0YhjrQUDtJLsiFMSXou0B5/781-Application-overview-page?node-id=0%3A1

[2021-04-21 11:27] maxvisser commented on #804
Option 1 is the preferred option

[2021-04-21 13:33] #90 closed

[2021-04-21 13:35] jamalv commented on #78
https://roadmap.forus.io/c/27-bestaande-aanbieders-toevoegen

[2021-04-21 13:35] #78 closed

[2021-04-21 13:44] jamalv commented on #26
added to documentation specs - closing due to inactivity on this issue

[2021-04-21 13:44] #26 closed

[2021-04-21 13:46] jamalv commented on #36
closing due to inactivity

[2021-04-21 13:46] #36 closed

[2021-04-21 13:49] jamalv commented on #129
closing due to inactivity

[2021-04-21 13:49] #129 closed

[2021-04-21 13:49] jamalv commented on #138
closing due to inactivity

[2021-04-21 13:49] #138 closed

[2021-04-22 11:28] jamalv commented on #369
superseded by productboard insight: https://forus.productboard.com/insights/shared-inbox/notes/15568209

[2021-04-22 11:28] #369 closed

[2021-04-22 11:37] jamalv commented on #236
onderdeel van stijlgids

[2021-04-22 11:37] #236 closed

[2021-04-22 11:53] jamalv commented on #177
added the whitespace to productboard: https://app.productboard.com/inbox/notes/15568555

this issue can be closed after release imo

[2021-04-22 12:09] jamalv commented on #282
is in production :D

[2021-04-22 12:09] #282 closed

[2021-04-22 12:11] jamalv commented on #309
since it's small and a nice UX feature; I think it can be planned. @danrminds could you plan this for dimitri?

[2021-04-22 12:13] jamalv commented on #339
moved to productboard: https://app.productboard.com/inbox/notes/15568830

[2021-04-22 12:13] #339 closed

[2021-04-22 12:14] #176 closed

[2021-04-22 12:15] jamalv commented on #406
moved to productboard: https://app.productboard.com/inbox/notes/15568851

[2021-04-22 12:15] #406 closed

[2021-04-22 12:16] jamalv commented on #161
Moved to productboard: https://app.productboard.com/inbox/notes/15568890

[2021-04-22 12:16] #161 closed

[2021-04-22 12:17] jamalv commented on #223
@all (zodat iedereen een mailtje krijgt): Somewhere in the last few years, you have joined chat.forus.io, Forus has recently moved to Discord and this chat will no longer be used. If you'd like to stay in touch, please join us at https://discord.forus.io/ See you there! NL: Ergens in de afgelopen jaren ben je aangesloten bij chat.forus.io, Forus is onlangs verhuist naar Discord en deze chat wordt

[2021-04-22 12:18] jamalv commented on #223
is the rocket.chat server still running somewhere? / did we send a message? :)

[2021-04-22 12:19] jamalv commented on #160
no longer relevant

[2021-04-22 12:19] #160 closed

[2021-04-22 12:21] jamalv commented on #42
moved to productboard: As a requester I would like to be able to contact a human when I get stuck or need more info to that I don't get stuck

[2021-04-22 12:23] jamalv commented on #189
moved to productboard: https://app.productboard.com/inbox/notes/15568998

[2021-04-22 12:23] #189 closed

[2021-04-22 12:24] jamalv commented on #277
moved to productboard: https://app.productboard.com/inbox/notes/15569014

[2021-04-22 12:25] jamalv commented on #498
mailto link was accepted by stakeholders, added this insight to productboard: https://app.productboard.com/inbox/notes/15569035

[2021-04-22 12:25] #498 closed

[2021-04-22 12:33] jamalv commented on #477
since this is no longer relevant, added it as an insight: https://app.productboard.com/inbox/notes/15569195

[2021-04-22 12:33] #477 closed

[2021-04-22 12:35] jamalv commented on #610
Added as insight: https://app.productboard.com/inbox/notes/15569218

[2021-04-22 12:36] #42 closed

[2021-04-22 12:37] #277 closed

[2021-04-22 12:40] #610 closed

[2021-04-22 13:13] jamalv commented on #671
this was discussed yesterday during refinement. valentin is working on this; it was mentioned "basically everything" wil be in scope :) - not sure about the release planning and if it will be before the 15th. @danrminds or @maxvisser do you know more about this?

[2021-04-22 14:25] jamalv commented on #223
ah, sure! how can I reach the server? 😅 before it was available at chat.forus.io but now that links to discord. do you maybe have a direct IP adres or something like that?

[2021-04-22 15:19] RobinMeles commented on #223
![rocketchatforus](https://user-images.githubusercontent.com/15342635/115739384-2cf6fe00-a38e-11eb-92a6-bb9b4ce1fbbc.JPG)

Ah you are right. Chat.forus.io already links to Discord. I browsed locally to the Rocketchat server. For people who for some reason end up at the Rocketchat page, now get a message that Forus moved to Discord (as shown in the picture). So I think the next step is that I will

[2021-04-22 21:34] jamalv commented on #223
I'd still like to send the message, as it will send an email to the users in the server :)

Could you help me log in to the server? Do you know of an IP address or something that I could visit?

[2021-04-27 15:34] jknnr commented on #108
this will need backend update, so it remembers if the voucher is in archive or changed position in the list

[2021-04-27 15:35] jknnr commented on #112
done

[2021-04-27 15:35] #112 closed

[2021-04-28 12:39] jamalv commented on #799
Update: we have now created a new e-mailadres:

feedback@forus.io > which automatically forwards feedback to productboard.

another proposal for addressing this need would be to add contact options along the lines of:

[do you have questions about how to use this product?] : support@forus.io
[do you have ideas on how to make it better?] : feedback@forus.io
[do you want to learn how to use it?] : s

[2021-04-28 12:46] jamalv commented on #521
@maxvisser regarding the comments above, could you validate that this feature can indeed be removed? or otherwise specify the user stories that can be filled by using this data so that we can add it to the roadmap on productboard?

[2021-04-28 13:15] jamalv opened #805 "Include usage information in vouchers export."
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Nijmegen

### Change description
As a sponsor I would like the export of vouchers to include if the voucher has been used.

[2021-04-28 13:17] jamalv commented on #805
@danrminds could this be planned for alex?

[2021-04-28 13:21] jamalv commented on #120
a note from a call with stakeholders: how to deal with identification? "sometimes requesters show their identity cards when redeeming the vouchers" - (how) do we account for this?

[2021-04-28 14:51] jamalv commented on #739
Yes, indeed. So those that are sent to the requester.

[2021-04-28 14:55] jamalv commented on #769
@maartenfv could you add a description, labels etc?

[2021-04-28 14:57] jamalv commented on #772
@linda-90 could you paste the text or add the Figma file?

[2021-04-29 07:46] maxvisser commented on #120
maybe allowing providers to disable reservations?

[2021-04-29 08:45] jamalv commented on #267
Moved to productboard due to inactivity; https://app.productboard.com/inbox/notes/15686080

[2021-04-29 08:45] #267 closed

[2021-04-29 08:47] maxvisser commented on #521
I believe we built it cause Nijmegen wanted more data on their financial dashboard. I also think you misunderstood. We do not use the seperation between services and products but we do use the categories.

[2021-04-29 08:48] jamalv commented on #215
closing this issue in favour of the pull request: https://github.com/teamforus/forus-frontend/pull/1482

[2021-04-29 08:48] #215 closed

[2021-04-29 08:53] jamalv commented on #107
Moved to productboard due to inactivity: https://app.productboard.com/inbox/notes/15686185

[2021-04-29 08:53] #107 closed

[2021-04-29 08:58] jamalv commented on #67
@GerbenBosschieter Is there still a strong desire here? What is the urgency/impact? Otherwise I'd like to move this request to productboard and close this issue. Is that allright?

[2021-04-29 09:00] jamalv commented on #113
Moved to productboard: https://app.productboard.com/inbox/notes/15686304

[2021-04-29 09:01] #113 closed

[2021-04-29 09:02] maartenfv opened #806 "CR: Voucher blokeren en verwijderen (deactivate)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Gemeente Groningen
- SDOA

### Change description
- Gemeentelijk medewerker wil de pas via de beheeromgeving kunnen blokeren.
- Gemeentelijk mederwerker wil de pas via de beheeromgeving kunnen verwijderen
- Inwoner wil een verzoek kunnen indienen om account te verwijderen.

[2021-04-29 09:02] jamalv commented on #79
Please re-open this issue when the terms and conditions are available

[2021-04-29 09:02] #79 closed

[2021-04-29 09:04] jamalv commented on #86
moved to productboard: https://app.productboard.com/inbox/notes/15686355

[2021-04-29 09:05] jamalv commented on #88
this issue has been added to product board: https://roadmap.forus.io/c/27-bestaande-aanbieders-toevoegen

[2021-04-29 09:10] #88 closed

[2021-04-29 09:11] jamalv commented on #237
has been added to roadmap: https://roadmap.forus.io/c/31-beheeromgeving-mobiel-vriendelijk-maken

[2021-04-29 09:11] #237 closed

[2021-04-29 09:13] jamalv commented on #81
Has been added to roadmap: https://roadmap.forus.io/c/59-account-herstel

[2021-04-29 09:14] jamalv commented on #106
superseded by: https://github.com/teamforus/general/issues/313

[2021-04-29 09:14] #106 closed

[2021-04-29 09:16] jamalv commented on #69
@maxvisser I believe this has been done?

[2021-04-29 09:19] jamalv commented on #145
Added to productboard: https://app.productboard.com/inbox/notes/15686613

[2021-04-29 09:19] #145 closed

[2021-04-29 09:21] jamalv commented on #80
Linked to productboard: https://app.productboard.com/inbox/notes/15686671

[2021-04-29 11:02] #80 closed

[2021-04-29 11:08] jamalv commented on #84
@danrminds can this be planned for alex?

[2021-04-29 12:38] maxvisser commented on #806
We hebben 'state' actief en inactief. Misschien naast voucher activeren ook deactiveren?

[2021-04-29 12:39] maxvisser commented on #806
Wat wil de gemeente na blokkade? Blijft de voucher gekoppelt aan bsn en verloopt tie na een jaar wat dan betekend dat de inwoner pas volgend jaar weer aanvraag kan doen?

[2021-04-29 12:45] jamalv commented on #805
ah, upon closer inspection this functionality is already there! so this will not be needed!

[2021-04-29 12:45] #805 closed

[2021-04-29 14:52] maartenfv commented on #806
Bas geeft dat wij toegang hebben tot het oude systeem en daar kunnen inzien om welke redenen passen werden geblokeerd (mutaties).

[2021-04-30 07:39] jamalv commented on #162
Demo:
- Financial dashboard part 1 and 2
- Editor (WYSIWYG)
- API connection (showing interface) - page where you do the config

[2021-04-30 11:47] maxvisser commented on #69
correct can be closed.

[2021-04-30 11:47] #69 closed

[2021-05-01 00:31] danrminds opened #807 "Documentation"
Documentation proposal: https://docs.google.com/document/d/1WrPrKIJbwfAs2NSwcQ6zXEYD7D0HBT8IJev8cOKDLP4/edit

Documentation drive: https://drive.google.com/drive/folders/0AF-Tbb0C4f1DUk9PVA

## Tasks
- [x] Index what documentation is already there
- [x] Specify requirements for documentation
- [ ] Update (outdated) documentation into google shared drive
- [ ] Decide how to publicise documentation

[2021-05-01 00:31] danrminds commented on #807
@jamalv Can you link the file here?

[2021-05-01 13:38] jamalv opened #808 "React"
<p></p>

[2021-05-01 13:38] jamalv commented on #808
Link to feature: https://forus.productboard.com/feature-board/planning/features/6693850

[2021-05-01 13:38] maartenfv commented on #808
We are planning the migration in July/August.

[2021-05-01 13:42] maartenfv commented on #806
Figma: https://www.figma.com/file/gqlB1qA3B2EyWf9AXFAOHL/Deactivate-voucher?node-id=15%3A22&viewport=-5003%2C371%2C0.8350463509559631

[2021-05-03 07:45] jamalv commented on #807
@danrminds done 👍

[2021-05-03 07:51] linda-90 opened #809 "Teksten website"

[2021-05-03 07:52] #809 closed

[2021-05-03 07:57] maxvisser commented on #806
ook tekst voorstel schrijven wat betekent blokkeren etc; zie je een andere melding in de Me-app? etc.

[2021-05-03 09:22] jamalv commented on #806
Ook belangrijk om scherp te zijn op definities en verwachtingen:

**1: Pas:** het plastic pasje dat voor de Stadjerspas wordt uitgegeven - kan geblokkeerd worden door medewerker en inwoner

**2: Tegoed(bon) / voucher:** de daadwerkelijke digitale tegoeden; te gebruiken vanaf de site, mail, app & pas - (bovenstaand Figma voorstel) - o.a. rekening houden met:
* weergave in de app/site etc
* wat gebe

[2021-05-03 12:18] jamalv commented on #290
Berkelland and Geertruidenberg recently requested a change of header photo; so for them it is extra important to be included :D

[2021-05-04 09:06] GerbenBosschieter opened #810 "CR: Sponsor request changes to voucher generator and export (short term)"
Learn more about change requests here: https://bit.ly/39CWeEE

[Support Ticket #3436]() (ask @GerbenBosschieter to see the e-mail)

### Requested by:
- Nijmegen

### Change description
Nijmegen would like to add the following changes to the voucher generator and the data in the export files.

1. Combine/merge the voucher & productvoucher list + export (busvoordeel and meedoen)
2. Add the list + ex

[2021-05-04 14:50] maxvisser commented on #810
@GerbenBosschieter for short term you can create a service request in ITSM for this combined export (if needed)

On long term I would first combine the pages into one generator; I would just always show the date of the first transaction. If not needed I would suggest leaving out the time (privacy by design)

[2021-05-06 10:27] jamalv commented on #784
@maxvisser as discussed we'd share instructions for the municipality to start building/testing - will we manage that?

[2021-05-07 13:00] jamalv opened #811 "Export translation: granted to 'goedgekeurd'"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Currently for the export for fund requests (validator dashboard), the translation is still in English, better to also translate this to dutch. Suggestion is 'goedgekeurd'

[2021-05-10 07:45] GerbenBosschieter commented on #811
I thinks this counts for all our exports. Better make a list of all needed translations where this is the case and do all of them at once

[2021-05-10 07:48] GerbenBosschieter commented on #810
@maxvisser oke, this was meerwerk request by nijmegen after a talk they had with @jamalv @maartenfv. I am only the messenger, not my request ;)

@maartenfv @jamalv this was after I asked what they exactly wanted

[2021-05-10 08:46] GerbenBosschieter commented on #794
Made a [Figma propsal](https://www.figma.com/file/g9Uc1iUiGi69nYE3XOjRwv/Reject%2Fdelete%2Fcancel-provider-application?node-id=66%3A412). Is this feasible? @maxvisser @aghimpu could you take a quick look. If this is feasible we should do some text review.

https://www.figma.com/file/g9Uc1iUiGi69nYE3XOjRwv/Reject%2Fdelete%2Fcancel-provider-application?node-id=66%3A412

[2021-05-10 10:14] GerbenBosschieter commented on #795
Further worked on [Figma proposal](https://www.figma.com/file/GkEYwSu3oEAezfVVqmPkoj/Provider%3A-cancel-fund-application?node-id=66%3A412). @maxvisser @aghimpu please review if this is feasible

https://www.figma.com/file/GkEYwSu3oEAezfVVqmPkoj/Provider%3A-cancel-fund-application?node-id=66%3A412

[2021-05-10 13:26] danieltcacenco opened #821 "Rethink navigation"
## Main asssignee: @danieltcacenco

## Context/goal:
Improve logic of navigation, navigation should happen through one file.

[2021-05-12 10:47] maxvisser opened #812 "Fund cycles and financial information"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Valentin/Max

### Change description
Working on the financial dashboard we noticed its pretty difficult to show transactions which are needed for budgetting purposes:

for example:
a fund runs from 1 jan 2020 to 31 december 2020
and is renewed on 31 december (extended to 31 dec 2021)

Currently the only way to see t

[2021-05-14 07:38] jamalv commented on #162
Demo:
* Editor (staging - jamal) - alignment, and visual optimisations on website itself (provider page of stadjerspas - replicate on staging the alignment with full content)
* Financial dashboard (staging - jamal) - fully finished including filters, transactions, euro signs. etc (+feedback of Linda)
* Generic search (locally - Valentin) -
* Documententation - postman (rendered) & drive folder

[2021-05-17 09:23] maxvisser commented on #739
check it again and plan it in

[2021-05-17 10:57] maxvisser opened #813 "CR: Overview modal for ordering physical cards "check what you filled in""
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Already a few users contacted support about wrong details they filled in while ordering a physical card. It would be wise to add a preview of what the user filled in before submitting it to be ordered and sent to their house.

'Check your details'

[2021-05-17 12:26] maartenfv opened #814 "Performance upgrade (using Lighthouse and Google)"
https://lighthouse-metrics.com/

![image](https://user-images.githubusercontent.com/30211022/118488231-d3c78380-b71b-11eb-8e97-12ec61c83cea.png)

Let's make a plan to improve these metrics.

@danrminds Can you make an estimation?

[2021-05-17 14:54] maartenfv commented on #253
@jamalv @GerbenBosschieter wat is de status van de WCAG compliancy?

[2021-05-17 14:59] maartenfv commented on #253
Doel is om voor Groningen ASAP compliant te zijn en de verklaring te updaten. Ook belangrijk voor aankomende opdrachten.

[2021-05-17 15:28] jamalv commented on #253
qua takenverdeling is mijn beeld:
- bijna alles staat in review dus max/gerben. gerben heeft onlangs hier een update gegeven: https://discord.com/channels/708583667634667560/708588070739509248/842051517766172712
- een aantal staan nog in de backlog, die zijn vooral gerelateerd aan design dus afhankelijk van hoe ver dat is, is tijd van linda, alex en/of sjoerd benodigd
- afhankelijk van review resu

[2021-05-17 15:33] jamalv commented on #253
van de 84 issues:
30 gesloten
46 in review
7 op de backlog
1 in de icebox

[2021-05-17 20:00] maartenfv commented on #253
Besproken met Linda ze kan dit vanaf woensdag oppakken.

[2021-05-18 08:51] maxvisser opened #815 "CR: Delete a product as a sponsor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently you can only create and edit but not delete what you just created.

[2021-05-18 08:52] maxvisser opened #816 "CR: Remove header image (resetting state to have no header uploaded)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently you can add a header image but there is no way to remove header image; Currently only way to 'reset' is upload a white image.

[2021-05-18 09:28] MichaelForus opened #817 "Change request: "Total number of offers" is unclear. Please change to “Total in stock“."
**Support Ticket ID:** [#3444]

Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Sponsor

### Change description
- When a sponsor starts a subsidy, they must fill in "Totaal aantal". This is unclear for the sponsor. Please change it to “Totale voorraad”. Also the information is unclear. Change this also.

In the overview of offers in the sponsor dashboard you see

[2021-05-18 09:37] jamalv commented on #253
Gerben geeft aan issues die nu in review staan lijken niet te zijn opgelost.

Maarten geeft aan graag meeting plannen over stand van zaken, @jamalv schiet wat in.

[2021-05-19 09:39] jamalv commented on #253
straks tijdens refinement bespreken, morgen update

[2021-05-20 14:08] RobinMeles commented on #223
@maartenfv requested me to close the instance at Transip. The Rocketchat server will be terminated when the contract ends (12th of June).

[2021-05-20 14:10] maartenfv commented on #808
Discussed with @maxvisser Max will start making a plan to migrate starting 31st of May. Allocated 40 hours to write a Plan.

[2021-05-20 14:21] linda-90 commented on #772
Kies het soort aanbod. Voorbeelden:
1. Normaal: een fiets voor € 200,-.
2. Korting €: € 20,- korting op een fiets.
3. Korting %: 20% korting op een fiets.
4. Gratis: gratis toegang voor een film.

https://www.figma.com/file/zFEUXgFxms6NmVD80VfLPd/Tooltip-add-product?node-id=0%3A1&viewport=318%2C968%2C0.6097635626792908

[2021-05-21 08:41] maxvisser commented on #806
@jamalv @danrminds I see that Dimitry built whats inside this figma proposal;
https://www.figma.com/file/gqlB1qA3B2EyWf9AXFAOHL/?node-id=0%3A1

Seems like these things are still missing in figma:
- the mail which the user gets with the reason
- where the reason is shown
- what are the cases that a sponsor can deactivate a voucher (should it be active or can it also deactivate a inactive voucher)

[2021-05-21 08:43] maxvisser commented on #806
Also there was no text proposal written. Could we still do this as this is a documentation strategy right?

[2021-05-21 09:30] maxvisser commented on #795
I tested this feature. Seems that the text is too specific. If you cancel for fund where you are accepted its does not make sense anymore.

Can we adjust the text? @GerbenBosschieter

[2021-05-21 10:40] #142 closed

[2021-05-21 13:03] maxvisser commented on #618
@linda-90 can you check this issue again and see what you still find as needed?

[2021-05-21 13:08] maxvisser commented on #810
@maartenfv @jamalv you guys had the talk could you help whats needed / who is needed

[2021-05-24 06:10] danieltcacenco opened #820 "Optimize ViewModel's"
## Main asssignee: @danieltcacenco

## Context/goal:
Optimize VideoModel's from logic of data source and create separate file for that.

[2021-05-25 09:09] maartenfv commented on #806
@maxvisser Do you have a template of this text proposal written? Or a link to read more about it?

[2021-05-25 09:13] maartenfv commented on #806
@linda-90 Kan je het voorstel dat je met Dan hebt gemaakt in Figma verder uitwerken tot een werkbaar stuk? (op basis van text proposal written?)

[2021-05-25 09:31] jamalv commented on #253
update tijdens refinement was dat de meeste issues ter review klaarliggen, er is tijd van max nodig om er doorheen te lopen

[2021-05-25 09:38] jamalv commented on #253
max heeft er nog niet naar gekeken;

max gaat kijken:
- wat staat nog open?
- wat is er nodig om het af te maken? quick wins/wat is groter?

[2021-05-25 09:39] jamalv commented on #253
gerben heeft ook wat tijd gereserveerd

[2021-05-25 09:39] jamalv commented on #253
gerben en max spelen door naar alex en sjoerd

[2021-05-25 09:41] jamalv commented on #806
algemene template: https://github.com/teamforus/general/blob/master/manuals/development/issue-improvement-proposal.md

wellicht ook goed om even naar een paar eerdere voorbeelden te kijken?

[2021-05-25 10:26] linda-90 commented on #806
@maxvisser @maartenfv Tekstueel voorstel: https://docs.google.com/document/d/1mlmLN37xzJL0LHEeJr0OTwRoYdAnwSABbrvLzhYcE2c/edit#

Mochten er nog zaken missen, please let me know

[2021-05-25 11:25] linda-90 commented on #806
Seems like these things are still missing in figma:
- the mail which the user gets with the reason > is in Figma
- where the reason is shown > was already in figma
- what are the cases that a sponsor can deactivate a voucher (should it be active or can it also deactivate a inactive voucher) > both
- How would a deactivated voucher look inside Me-app / webshop > is in figma

[2021-05-26 09:28] GerbenBosschieter commented on #120
As we discussed earlier. I have split up the Figma proposal the smaller the scope to reservation by requester on webshop and supporting plastic card number.

[- Webshop by requester ](https://www.figma.com/file/ZyMLzODQXm4nNTzqF19lny/Directly-pay%3A-Webshop?node-id=176%3A138)

[- Directly by by provider ](https://www.figma.com/file/tDbMnCbcvU0aiwxmmWvYld/Directly-pay%3A-Provider-by-using-plastic-c

[2021-05-26 09:35] jamalv commented on #806
@maxvisser is the above sufficient to continue?

[2021-05-26 09:36] jamalv commented on #806
maarten geeft aan: gemeente vereiste is mailtjes versturen naar overledenen; zijn de requirements duidelijk tussen max en linda? even contact tussen max en linda hier over.

[2021-05-26 09:37] maartenfv commented on #806
Max en Linda gaan hier over in gesprek :) en maken een plan hoe we dit kunnen uitwerken en uiteindelijk releasen.

[2021-05-26 13:10] maartenfv opened #818 "Make payments without bunq using SEPA export"
We currently are dependant on bunq. We need to make sure the system will work without this dependency. Therefor we will design a SEPA payment function.

[2021-05-26 13:11] maartenfv commented on #818
Meer over SEPA: https://www.sepa.nl/sepa-introductie/

[2021-05-27 08:04] maartenfv commented on #818
Data formats according to ING: https://www.ing.nl/zakelijk/betalen/betalingen-doen/bestandsformaten/index.html

[2021-05-27 08:25] jamalv commented on #818
Suggested user stories:

"As a sponsor I would like to export (pending) transactions in a SEPA format so that I can load the transactions in a financial system of my choosing, to perform the transactions" (must)
"As a sponsor I would like to change the status of transactions that I have paid from outside the system from "pending" to "succes" (should)

[2021-05-27 08:59] maartenfv commented on #818
https://www.moneybird.nl/blog/moneybird-neemt-geen-psd2-voor-bankkoppelingen/

[2021-05-27 09:07] maartenfv commented on #818
https://myponto.com/nl

[2021-05-27 09:36] jamalv commented on #253
max heeft er gister best veel tijd in gestopt; angular heeft zelf een aria dependency die we niet gebruiken; die voegt voor de meest gebruikte dingen ARIA labels toe en keyboard toegankelijkheid. Die heeft max als dependency toegevoegd, ook even met Valentin besproken. Scheelt hopelijk tijd in de toekomst.

[2021-05-27 09:37] jamalv commented on #806
net gebeurt; 3 dingen besproken: overlijden, hoe om te gaan met aanvraag deactiveren, en de meldingen.

[2021-05-27 09:37] jamalv commented on #806
linda werkt de tekst even uit, dan kunnen mensen meelezen :D

[2021-05-27 09:38] jamalv commented on #806
2 casussen worden afgedekt; voor overlijden is wellicht een nieuwe optie nodig (intern checken en evt. extra vragen stellen aan groningen) voorstel voorleggen aan groningen en evt. andere gemeente.

[2021-05-27 11:41] jamalv commented on #223
I have sent the message, just not sure it arrived 😅

[2021-05-27 12:39] maxvisser commented on #818
interessant aan moneybird is 'inlezen' banktransacties -> wat gaat eruit
linken aan 'facturen' openstaande betalingen;

concept kan dus zijn:
gemeente bouwt in Forus bulktransacties per aanbieder met meerdere kleinere transacties 'facturen'.
bijv scapino 10k van 100x €100 transacties
Bulk transactie krijgt een unieke code en bedrag. Wanneer gemeente zijn rekening data importeert (of dat wij dit ui

[2021-05-28 08:01] maxvisser commented on #162
Demo:
- Fund requests application overview (improve translations before
- Add option to cancel fund application for provider, Sponsor dashboard, reject/hide application of provider
- Feature search improvements: list / grid
- Add organization ownership transfer feature

[2021-05-28 09:37] jamalv commented on #253
gerben gaat nog even een review doen van wat max heeft laten zien; plan is om het mee te nemen in de release van maandag en ook opnieuw de test te doen en issues te doorlopen.

[2021-05-28 09:37] jamalv commented on #806
Goedemorgen Maarten, Jamal,

Onderdeel van het project was nog de eis/wens van de medewerker (C4) en de pashouder (B2) om over functionaliteit te beschikken voor het kunnen de-activeren van een Stadjerspas. Enkele weken geleden had ik begrepen dat jullie bezig waren om hier een voorstel voor uit te werken. In bijgevoegd document is door Leonie een aantal situaties (user stories) beschreven waarvoo

[2021-05-28 11:52] jamalv commented on #818
Discussed with max; we came up with the following:

1. We can start with an MVP for the export. At the transactions screen when clicking export, you will get a choice between CSV and SEPA. If you click sepa the export will be formatted following the standards, so that you can pay in another system.

2. On top of this functionality there's plenty other stuff to build to make it better, for example

[2021-05-31 09:33] maartenfv commented on #806
@linda-90 neemt contact op met Paul

[2021-05-31 11:10] jamalv commented on #812
I like the idea. Two questions:
* Will this be a choice for the sponsor or mandatory for all funds? Some sponsors really think in calendar years (e.g apply in November, valid until jan 1), others more in a 12 month period from the start date (e.g. apply in November, valid until November)
* Related question: will this impact how vouchers can expire as mentioned above? Are both options possible or o

[2021-05-31 11:15] jamalv commented on #810
As I recall what is needed as a user story is:
- As a sponsor I would like the voucher export to include the date (not time) at which the first transaction took place so that I can see and report when the vouchers are being used

Is that correct @GerbenBosschieter @maartenfv?

[2021-06-01 09:38] jamalv commented on #253
release staat voor morgen geplanned

[2021-06-02 09:32] GerbenBosschieter commented on #120
Made textual proposal from what we have in Figma.

https://docs.google.com/document/d/117i9W_CyNkRq5FHSIN-h4VAwqRhZlNWo5EFm0Nul1eo/edit#

[2021-06-02 09:36] jamalv commented on #253
is gereleased!

[2021-06-02 09:39] jamalv commented on #806
in afwachting van reactie

[2021-06-03 14:06] maxvisser commented on #812
Conversation with main stakeholder:
Tegoeden: need to calculate last years end saldo and show it in the table; and filter the table on creation date.
Same with top table

[2021-06-07 09:41] jamalv commented on #253
gerben verwact vandaag begin, morgen verder

[2021-06-07 12:22] #286 closed

[2021-06-08 09:37] jamalv commented on #806
voorstel lijkt goed - wordt verder uitgewerkt - nog uren inschatting nodig.

[2021-06-08 14:12] maartenfv commented on #797
@maxvisser Can we ask @danieltcacenco to do this?

[2021-06-09 09:41] GerbenBosschieter commented on #253
Nieuwe review gedaan, alle issues die opgelost zijn gesloten. Veel vooruitgang geboekt.

- 12 issues nog niet opgelost en moeten terug naar development.
- 7 issues waarvan ik niet zeker ben, opnieuw moet kijken of even moet navragen

[2021-06-09 09:46] jamalv commented on #806
straks bij refinement bespreken en ureninschatting vragen van het team.

[2021-06-09 09:48] jamalv commented on #253
bal nu bij @maxvisser, die gaat het bij refinement aan alex geven

[2021-06-09 09:50] jamalv commented on #253
gerben geeft aan nog even goed intern checken voordat we hertest doen.

[2021-06-09 09:52] jamalv commented on #253
doel: voor volgende release zoveel mogelijk verwerken, zoveel mogelijk testen en daarna met janita weer een hertest. evt hotfix dingen

[2021-06-09 12:29] linda-90 opened #822 "CR: White space between header and title 'Aanbod'"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
-

<img width="1133" alt="Schermafbeelding 2021-06-09 om 14 20 43" src="https://user-images.githubusercontent.com/36952230/121353448-29afd580-c92e-11eb-9e2c-c078855079ea.png">

<img width="550" alt="Schermafbeelding 2021-06-09 om 14 26 05" src="https://user-images.githubusercontent.com/369522

[2021-06-09 14:54] jamalv opened #823 "Add existing funds to potjeswijzer (give sponsor a choice)"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a sponsor I would like a setting where I can choose to show my fund(s) on potjeswijzer, next to my own implementation.

**Context:**
We have a pretty cool website with potjeswijzer now, and already 35 funds are on the platform. Adding all funds at once to potjeswijzer is not feasible.

[2021-06-10 09:24] jamalv commented on #806
gister besproken tijdens refinement - team heeft even tijd nodig voor een goede ureninschatting - max herinnert Dan er vandaag even aan - komt vandaag.

[2021-06-10 09:37] jamalv commented on #253
issues zijn gister met refinement overgedragen aan Alex

[2021-06-11 07:54] maxvisser commented on #162
Demo:
- Tom will show his results of his graduation project
- Gerben will show remote payments / koop op afstand
  - Valentin can show somethings / Call before sprint demo
- Linda deactivating vouchers/cards: 1 sprint / 1.5 sprint

[2021-06-11 09:35] maartenfv commented on #253
Gerben geeft aan we houden ons aan de planning.

[2021-06-11 09:36] maartenfv commented on #806
@maxvisser @jamalv Is bovenstaande gelukt?

[2021-06-11 14:27] jamalv commented on #806
Yes! Got the estimation this morning. Development will take about 1 or 1.5 sprints.

Note from maarten: Should be implemented systemwide

[2021-06-14 09:09] maxvisser commented on #815
@danrminds could you plan this for alex?

[2021-06-14 09:10] maxvisser commented on #813
@maxvisser make a small proposal

[2021-06-14 09:11] maxvisser commented on #816
@danrminds could you plan this in?

[2021-06-14 09:11] maxvisser commented on #772
@danrminds could you plan in Linda's comment to change this tooltip?

[2021-06-14 09:17] #804 closed

[2021-06-14 09:34] maxvisser commented on #806
Linda gaat er mee aan de slag; vanaf volgende week maandag start ontwikkeling

[2021-06-14 09:37] maxvisser commented on #253
Eerst schermlezersoftware zelf testen, issues aanmaken en fixen daarna hertest!

[2021-06-15 09:22] maxvisser commented on #813
https://www.figma.com/file/2gEoeloe8UKQw3aNm4dcyp/?node-id=176%3A137

[2021-06-16 09:41] jamalv commented on #806
maandag start is afhankelijk van of het voorstel af komt en 2e deel koop op afstand - of het deze week afgemaakt wordt of deze week nog loopt.

straks na refinement iets beter beeld. - max heeft weinig zicht op 2e deel koop op afstand.

[2021-06-16 09:47] jamalv commented on #253
Alex fixt issues - gerben is op vakantie.

[2021-06-16 12:32] maxvisser commented on #806
Koop op afstand loopt uit; dus we starten maandag nog niet met deactiveren passen.

[2021-06-17 10:29] maxvisser opened #824 "Allow sponsor to set limit_multiplier on creating subsidy vouchers via dashboard"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently there is no way to create a subsidy voucher with a higher multiplier then 1 via voucher generator

Proposal is to add an input field for this on voucher creation

[2021-06-21 11:42] maxvisser commented on #823
Currently a fund can only be attached to one webshop at a time. All webshops are currently connected to the general webshop.

The change would be that a fund can be in multiple implementation webshops at a time.

[2021-06-23 09:37] jamalv commented on #253
gerben is bezig met screenreader dingen - het loopt!

[2021-06-23 10:01] linda-90 opened #825 "VIA"

[2021-06-23 11:18] maxvisser commented on #824
plan it in for valentin

[2021-06-23 14:32] linda-90 commented on #825
[VIA.Affiche.Forus (1).pdf](https://github.com/teamforus/general/files/6702619/VIA.Affiche.Forus.1.pdf)

[2021-06-23 15:34] #825 closed

[2021-06-24 09:40] jamalv commented on #253
gerben gaat vanmiddag verder en hoopt nog wat aan de release te kunnen toevoegen

[2021-06-25 08:00] maxvisser commented on #162
Demo:
- Remote payments
- Navigation update
- WCAG screen reader?
- Emiel graduation research

[2021-06-25 09:40] jamalv commented on #253
Alex heeft een pr geopend - volgende week gaat dit verder

[2021-06-28 09:39] jamalv commented on #806
verwachting nu is volgende week maandag (afhankelijk van hoe deze week gaat)

[2021-06-28 09:44] jamalv commented on #253
vanochtend is weer een deel gereleased

gerben verwacht vandaag/morgen pull request voor screenreader dingen

janitia wordt gecontacteerd door max zodra het klaar is.

[2021-06-28 13:27] GerbenBosschieter opened #826 "As a requester, I would like to see which pass number is linked to my physical card"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
- Requester

### Change description
- This is currently only possible if they click on **I lost my card** but this isn't something they will click on if they just want to know the card number that is connected to the voucher. Some users have multiple vouchers and plastic cards and they would like to know wich one is c

[2021-06-29 09:09] linda-90 commented on #806
@maxvisser @maartenfv

Please check: https://github.com/teamforus/implementation/issues/656

[2021-06-29 09:14] maxvisser commented on #826
Yes this is something which is really nice to do actually. Lets see in figma whats a logical place to put it;

Just on top of my mind I would add it here:
- in the breadcrumb
- after the fundname between ()

[2021-06-30 09:37] maxvisser commented on #253
gerben opent pull request binnenkort

[2021-07-01 09:39] jamalv commented on #253
gerben; 'jaaaa, dit gaat lekker jongens' - pr staat klaar, gerben is nog uitgebreid aan het testen met tooling

interne tool van chrome geeft ons een 90+ score - we gaan heel lekker

zijn geen grote dingen meer

[2021-07-01 13:26] jamalv commented on #618
was just looking at this with linda - it seems like enter does still not work, and you need to fill &nbsp in order to make a linebreak

[2021-07-01 13:28] jamalv commented on #618
@dev-rminds @maxvisser is that correct or are we doing something wrong? the usecase is if we want to add a few extra lines - for example between an image and some text, the extra space doesn't work

[2021-07-01 13:30] linda-90 commented on #618
Image
![vraagteken](https://user-images.githubusercontent.com/36952230/124132555-3cc34a80-da81-11eb-9903-5a11d794206c.png)

Screenshot website
<img width="470" alt="Schermafbeelding 2021-07-01 om 15 29 36" src="https://user-images.githubusercontent.com/36952230/124132571-42209500-da81-11eb-8f0f-a661381821da.png">

[2021-07-02 08:04] jamalv opened #827 "DigiD subdirectory"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Logius

### Change description

Adapt API to new method (8 hours ) Review
new method / test pre-production (4 hours ) Review
new method / testing production (8 hours)
Implementation with Logius 4 hours (max / jamal)

[2021-07-05 08:17] maxvisser commented on #618
this is not related to &nbsp ? Maybe create a seperate issue about image width / height; Seems to be that we make them always 100% width; if this is not desired we can not scale them.

[2021-07-05 09:37] jamalv commented on #253
gerben heeft dit weekend pr geopend - laatste lootjes - alle tools van janita is 100%

na daily even met max over de release - vervolgens kan janita ingepland worden

[2021-07-05 09:38] jamalv commented on #253
vraag om na dat gesprek (zekerheid release) janita inplannen

[2021-07-06 07:43] maxvisser commented on #826
https://www.figma.com/file/pPRLF9jHhycsGUTxuCkSJn/?node-id=66%3A412

[2021-07-06 07:43] maxvisser commented on #826
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/3e83b52e-a26e-448d-ba0e-3b25a25a2bfd)

[2021-07-06 07:53] maxvisser commented on #618
adding white lines into the CMS does not work.
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/5c2805fc-ce8c-4bd3-9997-a7acfbafe521)

![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/f15927cd-173f-48a9-84ae-2879f3e5e07a)

you still need to add &nbsp; to create new white lines between texts

[2021-07-06 07:54] #223 closed

[2021-07-06 07:55] #781 closed

[2021-07-06 07:59] #479 closed

[2021-07-06 07:59] #218 closed

[2021-07-06 07:59] #530 closed

[2021-07-06 08:01] maxvisser commented on #421
reopened it as this part still needs to be done.

[2021-07-06 08:01] #177 closed

[2021-07-06 08:02] #290 closed

[2021-07-06 08:02] #784 closed

[2021-07-06 08:03] #84 closed

[2021-07-06 08:03] #666 closed

[2021-07-06 08:04] #770 closed

[2021-07-06 08:05] #795 closed

[2021-07-06 08:07] jamalv opened #828 "Visual fix: Nijmegen search box CSS"
![Screenshot 2021-07-06 at 10.06.32.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/0e1061fe-aac3-4881-b904-f1d3b643b57c)

[2021-07-06 09:38] jamalv commented on #253
is besproken: commits staan in een branch, koop op afstand houdt het tegen omdat er veel pagina's met koop op afstand zijn geraakt.

plan is om koop op afstand en huidige fixes maandag te releasen - janita kan dan na komende maandag gevraagd worden.

[2021-07-07 09:43] jamalv commented on #253
max kan bij janita gaan checken of/wanneer ze beschikbaar is (na maandag)

[2021-07-07 11:14] maxvisser opened #829 "Webshop: Hover on login ( inside dropdown)"
![image.png](https://images.zenhubusercontent.com/5ba4ae539f1e9e096ebdcc88/4a0da689-d196-49c4-b412-ae25bd774169)

[2021-07-07 11:15] maxvisser commented on #828
Task to check all webshops on styles of the search bar
must have: vertical align all texts in the middle of the search bar

[2021-07-08 09:36] jamalv commented on #253
na maandag heeft max waarschijnlijk ruimte hiervoor

vraag van gerben om rapport van janita te delen @jamalv

[2021-07-09 07:38] maxvisser commented on #162
Demo:

- Remote payments (show new texts and bulk upload)
	- create some accounts, share accounts, let them go through it
- Limit multiplier (aantal personen per voucher)
- Physical card ordering confirmation screen
- delete product as a sponsor
- CMS banner removal
- WCAG Fixes
- Daniel Me-iOS; Snapkit, nagivation structure
- Deactivating vouchers?

[2021-07-09 08:19] jamalv opened #830 "Emailadres in address menu bar instead of behind dropdown"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
As a requester I would like to see my e-mailadres in the top right address bar to see that I am logged into the right account (this is also useful for support to check if someone is logged in "do you see your e-mailadres in the top right?"

[2021-07-09 09:40] jamalv commented on #253
gerben heeft rapport gelezen en dingen aangegeven die hij nog wil checken - focus ligt nu op release kan zijn dat er nog dingen naar boven komen.

[2021-07-09 12:36] linda-90 commented on #817
1. Totaal op voorraad
2. Aantal per toekenning

[2021-07-12 09:21] maxvisser commented on #739
Seems to not work (don't get a e-mail)

[2021-07-12 09:25] maxvisser commented on #688
Plan these things in to do:
We need the e-mail text;
Page to activate;

[2021-07-12 09:26] maxvisser commented on #827
Needs a task with a english translation of the document.

[2021-07-12 09:29] maxvisser commented on #830
Task:
Add new navigation structure to figma,
Add e-mailaddress to menu bar

[2021-07-12 09:30] maxvisser commented on #554
@MichaelForus is this stil needed?

[2021-07-12 09:41] jamalv commented on #253
@GerbenBosschieter zet deze na de release weer op high prio

[2021-07-12 11:32] maartenfv commented on #618
@maxvisser :P let's fix this!

[2021-07-12 11:33] maartenfv commented on #618
It is blocking closing the CMS project.

[2021-07-13 07:22] #232 closed

[2021-07-13 07:27] #655 closed

[2021-07-13 07:27] maxvisser commented on #618
we talked about it during refinement; we need to plan this in again for valentin

[2021-07-13 07:29] maartenfv commented on #810
@GerbenBosschieter Do you have an update on this issue?

[2021-07-13 07:36] maartenfv opened #831 "I keep clicking the button but nothing happens. It needs a prompt "Please select one to continue""
![image](https://user-images.githubusercontent.com/30211022/125410918-aca8cd80-e3bd-11eb-8778-ba8fe9ef9a11.png)

Or a better text.

[2021-07-13 07:39] maartenfv commented on #764
@RobinMeles could you help with resolving this issue?

[2021-07-13 07:47] maxvisser commented on #831
Probably a description; 'Selecteer een rol, ik wil inloggen als...'

[2021-07-14 09:41] maartenfv opened #832 "Position of text it overlaps the image"
![image](https://user-images.githubusercontent.com/30211022/125600617-6b52946c-e563-48bf-8a62-e53885fc17e9.png)

[2021-07-14 09:42] jamalv commented on #253
release is er uit! - nu janita vragen?

@GerbenBosschieter zegt ; nog 1 verse test er doorheen en dan janita vragen

@maxvisser en @GerbenBosschieter hoe om te gaan met laatste fixes?

@maxvisser draagt vraag aan janita over naar gerben

[2021-07-14 11:19] maxvisser commented on #827
https://docs.google.com/document/d/195EtLtmkiM4hgsDiSIUwSnpoyU7W9kXMg6Mn_04xb3M/edit#

[2021-07-14 11:23] maxvisser commented on #832
will fixed this asap

[2021-07-14 16:20] #832 closed

[2021-07-14 18:34] maxvisser opened #833 "Make reservations exportable"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
-

### Change description
Currently there is no way to get the reservations out of the system for the provider. It would be nice to make them exportable.

Another thing would be nice is to add the note to the transaction details. (and export)

[2021-07-15 09:44] maxvisser commented on #253
zelfde status als gisteren.

Gerbens doel is om vandaag de fixes van WCAG klaar te hebben en evt al op staging te hebben staan.

Gerbens afhankelijkheid zit hem in context van hoe het de vorige keer ging en bespreekt dit graag met @jamalv

[2021-07-16 09:35] linda-90 commented on #806
Gisteren niet aan toegekomen, bel na de daily!

[2021-07-16 11:50] GerbenBosschieter commented on #810
@maartenfv no, you and jamal requested me to ask what they exactly want and if to check if development is needed so we could check if we could build this or ask for meerwerk. I've created this issue after I did that. So I was just the guy who delivered the information so you guys could decide what we could do with this request.

@jamalv not sure whats clear and why we again need confirmation of wh

[2021-07-19 08:05] jamalv commented on #810
Something clearly went wrong here. Let's solve the problem first and then look what's needed to avoid this in the future.

**For now I think what's needed:**
- [ ] ****Decision**:** on doing this - I assume the scope is a few hours max (maybe 5) - @maartenfv we could use the Nijmegen budget for this. Who decides that? Or we can do it from internal support budget. What do you guys think? @maartenfv

[2021-07-19 09:15] GerbenBosschieter commented on #253
Mail naar Janita gestuurd met vraag waneer ze een indicatie heeft op welke termijn ze zou kunnen. LAatste fixes zijn nog niet doorgevoerd.

[2021-07-19 09:37] jamalv commented on #810
wordt geplanned, gerben stuurt antwoord. plan is 29ste live

[2021-07-19 09:41] jamalv commented on #253
janita test op staging - laatste fixes gaan binnenkort naar staging

prio is afhankelijk van janita's planning

[2021-07-21 09:26] jamalv opened #834 "Add CaseID to API"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Nijmegen

### Change description
The municipality needs a unique 'case' ID for the [API](https://docs.google.com/document/d/1CJIzLuhm9Zz_URL4wuT_sed-ddoRZxzYZj7zCQV64MI/edit#heading=h.2uk6madqfceo) connection.

[2021-07-21 09:35] jamalv commented on #810
will be planned in this afternoon during refiment (created the task)

[2021-07-21 09:37] jamalv commented on #253
janita is begin september beschikbaar (week 38/39)
technisch vanochtend doorlopen, alleen nog aanvraagproces, kan geen issues meer vinden :D

[2021-07-21 09:38] jamalv commented on #253
@GerbenBosschieter zet deze issue begin september weer op high prio!

[2021-07-22 09:34] jamalv commented on #810
gerben heeft terugkoppeling gedaan - 29ste is prima, release later is ook goed. ze willen graag augustus of oktober beginnen.

[2021-07-23 07:42] jamalv commented on #162
Demo:
* Productboard (jamal)
* Documentation (jamal)
* We are working on DigiD fix
* https://github.com/teamforus/forus-frontend/pull/1876
* https://github.com/teamforus/forus/issues/2331 & https://github.com/teamforus/forus-frontend/pull/1872 & https://github.com/teamforus/forus/issues/2332
* https://github.com/teamforus/forus/issues/2333
* https://github.com/teamforus/forus/issues/2339
* Deactiv

[2021-07-23 13:41] jamalv commented on #162
feedback:
- adding gifs would be nice (for example for instructions) - to do this we should check the library.
-

[2021-07-23 13:46] maartenfv commented on #806
https://app.zenhub.com/workspaces/whole-team-5e79d635e969e6cdeeebb411/issues/teamforus/implementation/656

[2021-07-23 13:51] maartenfv commented on #512
@jamalv What is the progress with asking municipalities to release this?

[2021-07-26 08:55] maxvisser commented on #131
https://www.figma.com/file/bqc9uvpCMVvgYqXZUJvBLt/?node-id=66%3A412

[2021-07-26 08:57] maxvisser commented on #131
Some funds like Kindpakket 2018 / Meedoenregeling 2019 / Nienoord are cluttering the UI would be nice to have an archive function to make the UX for these sponsors better.

[2021-07-26 08:58] maxvisser commented on #131
As we already have some problems with that the sponsor can still perform actions on closed funds which can be damaging; I think this can be a solution for that aswell.

[2021-07-26 09:30] maxvisser commented on #830
planned it for Max to work

[2021-07-26 09:38] jamalv commented on #512
jamal is van plan eind van de dag comment te plaatsen met voortgang.

[2021-07-26 09:47] jamalv commented on #806
deze is leading voor daily: https://app.zenhub.com/workspaces/whole-team-5e79d635e969e6cdeeebb411/issues/teamforus/implementation/656

[2021-07-27 09:39] jamalv commented on #512
westerkwartier is akkoord en mag live gezet gaan worden
nijmegen is akkoord en staat live
sdoa is gecontacteerd maar na marjons vakantie
verder is lijstje gemaakt met contactpersonen (todo: jamal linken en status)

[2021-07-28 08:03] jamalv commented on #108
moved to productboard, due to inactivity: https://app.productboard.com/inbox/notes/17398093

[2021-07-28 08:03] #108 closed

[2021-07-28 08:09] jamalv commented on #72
Added as an insight to productboard: https://app.productboard.com/inbox/notes/17398171

[2021-07-28 08:10] jamalv commented on #72
@maxvisser what do you think? Is this something that could be planned for alex?

[2021-07-28 08:13] jamalv commented on #70
maybe this will be superseded by https://github.com/teamforus/general/issues/806?

[2021-07-28 08:20] jamalv commented on #109
@maxvisser I see some time has been tracked on this. Did this ever go to production?

About prioritisation; i'm adding this to productboard to help with deciding the value in relation to other issues: https://app.productboard.com/inbox/notes/17398335

[2021-07-28 08:22] jamalv commented on #75
@GerbenBosschieter is this still something that you want? I think the e-mails can be found here in figma: https://www.figma.com/file/u3KF3hKewS4FA6YzzA7var/?node-id=371%3A0

Maybe by creating a seperate figma file with all the mails that need to be updated can help here?

[2021-07-28 08:25] jamalv commented on #315
@maxvisser i believe this was done in the redesign, so closing this issue. please re-open if it's still relevant

[2021-07-28 08:25] #315 closed

[2021-07-28 08:30] jamalv commented on #83
Added to productboard as an insight: https://forus.productboard.com/insights/shared-inbox/notes/17398498

Added these user stories as well. Are they accurate? @GerbenBosschieter and @maxvisser?

As an office that is part of a national organisation, I would still like to be able to independently sign up to use forus.

As an office, I would like to be able to use a bank account number that is differ

[2021-07-28 08:33] jamalv commented on #82
@maxvisser Could we plan in time for someone to do this? Who could perform this issue? Let's put it in everhour?

[2021-07-28 08:34] jamalv commented on #118
Productboard insight: https://forus.productboard.com/insights/shared-inbox/notes/17375231

[2021-07-28 08:37] jamalv commented on #119
@maxvisser If this is less than 5 storypoints, let's plan it in

[2021-07-28 08:39] jamalv commented on #47
@maxvisser @GerbenBosschieter I believe this is fixed now that they can directly assign a budget. Closing this. Please re-open if i'm wrong here :)

[2021-07-28 08:39] #47 closed

[2021-07-28 08:44] jamalv commented on #48
Added this insight to productboard: https://app.productboard.com/inbox/notes/17398694

I'm closing this issue due to inactivity - please re-open if needed.

[2021-07-28 08:46] jamalv commented on #50
Replaced with item on the roadmap: https://roadmap.forus.io/c/66-generieke-pas

[2021-07-28 08:46] #50 closed

[2021-07-28 08:49] jamalv commented on #92
https://app.productboard.com/inbox/notes/17398777

[2021-07-28 08:52] jamalv commented on #114
added to productboard: https://app.productboard.com/inbox/notes/17398937

[2021-07-28 08:55] jamalv commented on #114
Just some thoughts:
I'd like to see if we can make a proposal with sensible defaults:
- Only showing contact details to logged in users instead of publicly on the internet might be good to avoid spam.
- If information is needed, probably we can inform users about this, but we can't really give an option because otherwise we'd break functionality.

In general I'd like to aim that we think up a good

[2021-07-28 08:56] jamalv commented on #95
Added to roadmap: https://roadmap.forus.io/c/25-digid-migratie-naar-saml

[2021-07-28 09:01] jamalv commented on #144
I think this needs:
- [ ] Text proposal (something in figma?)
- [ ] Development task

I like the issue. Next step is planning some time for the tasks above.

[2021-07-28 09:03] jamalv commented on #96
Closing this epic in favour of the seperate issues (epic is no longer relevant) - and this is a stale issue

[2021-07-28 09:03] #96 closed

[2021-07-28 09:51] jamalv commented on #512
jamal stuurt mail naar esmeralda (gtb) en roy (nop)
gerben deelt contactgegevens gtb (Monique)

[2021-07-28 13:52] jamalv commented on #99
just checked, this was overhauled - so I don't think this is relevant anymore

[2021-07-28 13:52] #99 closed

[2021-07-28 13:54] jamalv commented on #102
superseded by: https://github.com/teamforus/implementation/issues/657

[2021-07-28 13:54] #102 closed

[2021-07-28 14:03] jamalv commented on #120
Launched: https://forus.productboard.com/portal/1-forus-me-roadmap/tabs/381bddc4-3d90-4a9b-b647-ed1fc713db6b/features/6685739/portal/expanded

Currently working on phased rollout

[2021-07-28 14:03] #120 closed

[2021-07-28 14:04] jamalv commented on #121
created as an insight: https://app.productboard.com/inbox/notes/17412879

[2021-07-28 14:04] #121 closed

[2021-07-28 14:09] jamalv commented on #151
replaced by card on roadmap: https://forus.productboard.com/portal/1-forus-me-roadmap/tabs/22ffeb8e-8122-48aa-b41c-9e2670321809/features/7248489/portal/expanded

[2021-07-29 08:18] maxvisser commented on #114
this might be a nice one for a first proposal for @RobinMeles as @maartenfv said during daily that he also wants more people to being able to make proposals.

[2021-07-29 08:18] maxvisser commented on #114
moved this one to the inbox

[2021-08-02 09:37] jamalv commented on #512
wellicht kan dit morgen een plekje krijgen met Groningen.

[2021-08-02 09:37] jamalv commented on #512
jamal verstuurd vanmiddag mails

[2021-08-03 09:38] jamalv commented on #512
jamal heeft gistermiddag geen mails verstuurd :(

[2021-08-03 09:45] jamalv commented on #512
volgende daily zijn de mails verstuud

[2021-08-04 09:29] jamalv commented on #512
mails zijn verstuurd! naar roy en esmeralda

[2021-08-04 09:30] jamalv commented on #512
elke gemeente is nu gecontacteerd - afwachten op reactie.

voorstel is dat ik deze maandag weer high prio zet voor een status update.

[2021-08-06 07:53] maxvisser commented on #162
Review:
- Blocking vouchers
- Fund archiving
- Deleting organizations

[2021-08-09 09:29] jamalv commented on #512
heb een mailtje terug gehad van roy, nog niet van esmeralda

[2021-08-09 09:33] jamalv commented on #512
jamal zet vrijdag weer high prio om te checken of esmeralda dan heeft gereageerd

[2021-08-10 14:01] jamalv opened #835 "Notification title and body are the same"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
Could notification titles and bodies please be separated? Right now they are exactly the same, which is pretty dumb imo :)

## Current situation:
**Gemeente Groningen heeft een nieuw aanbod toegevoegd aan Entree Familiepark Nienoord.**
_Gemeente Groningen heeft een nieuw aanbod toegevoegd

[2021-08-10 14:40] jamalv opened #836 "Order card by sponsor"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Team Forus

### Change description
As a sponsor I would like to order a card for a requester.

Figma: https://www.figma.com/file/9sxl6RFub2G2MENlcQDO1c/?node-id=176%3A137

[2021-08-10 14:51] jamalv opened #837 "Add card ordered notification"
Learn more about change requests here: https://bit.ly/39CWeEE

### Requested by:
Jamal

### Change description
I would like to receive a notification after I ordered a card

[2021-08-11 05:20] jamalv commented on #739
@maxvisser that should then be classified as an incident, right? That something is broken on production?

[2021-08-17 09:48] GerbenBosschieter commented on #512
Namens @jamalv meeting gehad met projectleider en andere mensen van GTB. Ze zijn met blij met zoekfunctie en wijze van doorontwikkeling. Tevens roadmap geïntroduceerd, zal nog een e-mail erachteraan sturen voor de bijbehorende linkjes.

Idee om deze issue te verplaatsen naar een andere repo? Volledige namen worden genoemd in deze issue namelijk

[2021-08-24 14:30] maartenfv commented on #618
Waaauw we did it!!!!

[2021-08-24 14:30] #618 closed

[2021-08-24 14:32] #671 closed

[2021-08-24 14:37] #291 closed

[2021-08-24 14:37] maartenfv commented on #291
Gerben zegt we kunnen het sluiten!!!

[2021-08-24 14:39] maartenfv commented on #81
Still needed

[2021-08-31 07:30] maxvisser opened #839 "Create list of all required action a provider / sponsor."
@GerbenBosschieter commented on [Mon Apr 20 2020](https://github.com/teamforus/forus/issues/1510)

## Main asssignee: @GerbenBosschieter

## Context/goal:
We want to give more context on the dashboard what the minimum actions are a provider or sponsor need to preform before they can use the patform.

- [ ] Create list of all required action a provider or sponsor should preform before they can use

[2021-08-31 07:37] maxvisser commented on #806
released 30 august in v0.29.0

[2021-08-31 07:37] #806 closed

[2021-08-31 07:40] maxvisser commented on #830
Released in v0.29.0

[2021-08-31 07:40] #830 closed

[2021-08-31 07:40] maxvisser commented on #826
Released in v0.28.0

[2021-08-31 07:40] #826 closed

[2021-08-31 07:40] #827 closed

[2021-08-31 07:40] #828 closed

[2021-08-31 07:41] #813 closed

[2021-08-31 07:41] #822 closed

[2021-08-31 07:41] #815 closed

[2021-08-31 07:41] #819 closed

[2021-08-31 07:41] #820 closed

[2021-08-31 07:41] #821 closed

[2021-08-31 07:41] #816 closed

[2021-08-31 07:41] #744 closed

[2021-08-31 07:41] #399 closed

[2021-08-31 07:42] #686 closed

[2021-08-31 07:43] #834 closed

[2021-08-31 07:49] maxvisser commented on #83
Yes these are the user stories.

[2021-08-31 07:49] #83 closed

[2021-09-01 08:54] jamalv commented on #253
sure! mijn verwachting is dat het maximaal €360 in beslag neemt (hertest + bespreking) als we near 100% zou bespreking niet eens nodig zijn. dus dan €270,-

 ![Screenshot 2021-09-01 at 10.51.30.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/55f278a7-5515-4cea-93bd-ed37c47534cf)

dan is het kwestie van doen & factuur naar finance@forus.io

[2021-09-01 09:36] maxvisser commented on #253
Aanvraagproces is eigenlijk niet te testen met de tools van Janita.

[2021-09-01 09:37] maxvisser commented on #253
Max gaat gerben helpen bij het testen van fixes (door localhost te koppelen aan staging)

[2021-09-02 07:09] maartenfv opened #840 "Conduct research to determine if we can use a PISP and AIS provider."

[2021-09-02 09:48] maxvisser commented on #840
lets move this to a project. @maartenfv lets create a repo and add it to everhour

[2021-09-03 07:36] maxvisser commented on #162
Order physical card by sponsor
Archiving funds (update)
Email templates discussing about which emails should be editable

[2021-09-03 09:34] jamalv commented on #253
gerben liep vast maar gaat nu weer de goede kant op - maandag janita!
vraag aan robin is om te stagen zodra pr er is

[2021-09-06 09:36] jamalv commented on #253
mail naar janita is toegestuurd - loopt nu niet stuk

[2021-09-06 09:36] jamalv commented on #253
gerben houd in de gaten en zet weer high prio wanneer nodig.

[2021-09-09 14:30] GerbenBosschieter commented on #802
For antoher issue I had similair challenges. I have an figma link to play with. I got stuck with it.

https://www.figma.com/file/Wj5BDfqQhYvCpmQhtDeCiU/Sharing-%2F-public-funds-(research%2Fplay)?node-id=176%3A139

[2021-09-13 08:16] jamalv opened #841 "Review stale issues."
**Context;** We're currently moving issues to productboard and separate projects.

**Productboard:** issues with no clear deadline; mostly to put issues on the radar and help prioritise and plan them.
**Project:** batch of work that should be finished as a whole.

**Closing issues in general:** The goal is to close issues in general. They should either be moved to productboard or to projects. Or i

[2021-09-13 08:19] jamalv commented on #67
Added feedback to productboard and closing this issue: https://app.productboard.com/inbox/notes/18631847

[2021-09-13 08:19] #67 closed

[2021-09-13 08:22] jamalv commented on #81
Closing this issue and adding it to stale issues https://github.com/teamforus/general/issues/841 - if we plan this, a project should be opened. In the meantime, productboard can be used for votes/input.

[2021-09-13 08:22] #81 closed

[2021-09-13 08:23] #72 closed

[2021-09-13 08:25] jamalv commented on #455
closing because issue is stale/outdated

[2021-09-13 08:25] #455 closed

[2021-09-13 08:26] jamalv commented on #457
stale issue - added as an insight to productboard: https://app.productboard.com/inbox/notes/18631987

[2021-09-13 08:26] #457 closed

[2021-09-13 08:27] jamalv commented on #515
I believe this has been implemented

[2021-09-13 08:27] #515 closed

[2021-09-13 08:27] jamalv commented on #337
I believe this is an ITSM issue

[2021-09-13 08:27] #337 closed

[2021-09-13 08:29] jamalv commented on #560
Added as an insight to productboard: https://app.productboard.com/inbox/notes/18632051

[2021-09-13 08:29] #560 closed

[2021-09-15 09:37] maartenfv opened #842 "Stuur een bericht naar (andre) bunq met marketing voorstel"

[2021-09-22 07:44] maartenfv commented on #768
@maxvisser Hoe staan we er voor?

[2021-09-22 08:28] maxvisser commented on #768
deze general issue kan gesloten worden

[2021-09-27 10:02] #756 closed

[2021-09-27 10:03] maartenfv commented on #766
@RobinMeles Kan je hier een status update over geven?

[2021-09-27 10:04] maartenfv commented on #836
@maxvisser Wat is de status van deze issue? Wanneer gaat het live? Kunnen we een release toeveogen?

[2021-09-27 10:04] maartenfv commented on #742
@RobinMeles Could you help check status?

[2021-09-27 10:09] RobinMeles commented on #766
Het uploaden van CSV naar ftp server gebeurt nog steeds handmatig. Misschien met @maxvisser handig om dit een keer te bespreken of dit automatisch kan en of we dit willen.

[2021-09-27 10:48] RobinMeles commented on #742
@maxvisser want to close this one? Or what is the status?

[2021-09-27 11:18] maxvisser commented on #742
Currently still open as a PR (not yet reviewed)

[2021-09-27 11:19] maxvisser commented on #836
Open as a PR; afhankelijk van Custom notificaties (omdat er twee nieuwe notificaties worden toegevoegd)

[2021-09-27 12:37] #719 closed

[2021-09-27 13:12] RobinMeles commented on #764
I think it's wise to add a privacy statement checkbox to the sign-up flow for the provider/sponsor. I will set up this privacy statement and check with Max how we can add this to the flow and in what way.

[2021-09-28 09:39] jamalv commented on #836
verwachte release 11 oktober.

[2021-09-29 14:48] maartenfv commented on #810
Kan deze worden gesloten?

[2021-10-01 08:29] #824 closed

[2021-10-01 08:29] maxvisser commented on #824
done and released

[2021-10-08 12:20] jamalv opened #844 "Add notes to reservation (remote payments)"
## User story:

As a provider, I would like to have more context about the user that made a reservation so that I know who made the reservation. For example name, address, etc. This way, when fulfilling the order I know who my customer is.

## Proposed solution:

Add an (optional) note field to the reservation, and show this note to the requester when making a reservation. Show this note to the pr

[2021-10-08 12:25] maartenfv commented on #844
@maxvisser Er is budget kan je het inplannen?

[2021-10-08 13:36] Gerben commented on #844
wat???????????????????????

[2021-10-12 07:49] jamalv commented on #844
Proposed solution: add an (optional) note field to the reservation, and show this note to the requester when making a reservation. Show this note to the provider as well.

Note from Max: Probably this user need of the provider will grow as we keep developing this feature; for example when users want to order a package, then the provider will need shipping info.

[2021-10-19 07:49] #131 closed

[2021-10-19 07:56] maxvisser commented on #831
@maartenfv

[2021-10-19 08:01] #837 closed

[2021-10-19 08:04] #747 closed

[2021-10-19 11:13] #840 closed

[2021-10-19 11:13] maartenfv commented on #840
no

[2021-10-19 11:18] maartenfv commented on #274
old

[2021-10-19 11:18] #274 closed

[2021-10-19 11:41] maartenfv opened #847 "Make a release branch. Merge unreleased features in 0.5"

[2021-10-20 12:55] #773 closed

[2021-10-26 08:10] jamalv opened #848 "Estimation of eligibility"
As a requester I want to learn if I am eligible for funds, before I actually apply for the fund.

[2021-10-26 08:57] jamalv opened #849 "View archived vouchers"
As a user I would like to hide and unhide expired/deactivated vouchers so that I have a cleaner overview of active vouchers.

[2021-11-01 09:13] jamalv opened #851 "Recurring payments"

[2021-11-01 09:13] jamalv commented on #851
Link to feature: https://forus.productboard.com/feature-board/planning/features/10134048

[2021-11-01 09:36] jamalv commented on #851
Link to roadmap: https://roadmap.forus.io/c/74-terugkerende-betalingen

[2021-11-03 09:51] maxvisser commented on #82
![image](https://user-images.githubusercontent.com/10818702/140039380-ef78c593-e8ed-4e39-9370-a1039552c8bf.png)

[2021-11-03 13:43] jamalv opened #852 "Pie charts"
As a financial administrator, I would like to see financial data in a pie chart so I can get a quick visual understanding of the current state.

[2021-11-03 13:43] jamalv commented on #852
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10533388

[2021-11-03 13:46] maxvisser commented on #852
Would maarten like to show existing data we show currently on the financial statistics (line/barchart?) in a pie chart? That would be a small scope. If he wants to extend (use different data) this would be a medium or big scope.

[2021-11-03 13:49] #852 closed

[2021-11-03 14:01] jamalv opened #853 "Product delivery"
As a requester, I would like products to be delivered at home.

<p></p>

<p></p>

[2021-11-03 14:01] jamalv commented on #853
Link to feature: https://forus.productboard.com/feature-board/planning/features/10533767

[2021-11-03 14:06] maxvisser commented on #853
I am placing the label big. (not too big). Currently we have already built a new reservation system. This system currently does not allow adding address information. A concern I already would have is the ....

[2021-11-04 12:41] jamalv opened #854 "External fund overview"
As a sponsor I would like the ability to add my fund without being required to integrate my application procedure and do a financial integration.

<p></p>

<p></p>

[2021-11-04 12:41] jamalv commented on #854
Link to feature: https://forus.productboard.com/feature-board/planning/features/8468747

[2021-11-05 08:55] maartenfv opened #855 "Communication with bunq in regards about the app."

[2021-11-05 09:01] maartenfv opened #856 "Getting a "Support package" at bunq."
Bunq offers API support: https://assets.website-files.com/60eefc649e044902478b0a4b/6177b06a13fb4370d762a7a9_20211026_consumers_business_pricing_EN.pdf

[2021-11-05 09:01] maartenfv commented on #856
![image.png](https://images.zenhubusercontent.com/5e79d94fc5b97af9090e495c/82dad1fa-fa39-43dd-9fd2-880b0da5ddeb)

[2021-11-05 09:02] maartenfv commented on #856
What do we expect to get when we pay?

[2021-11-05 09:43] maartenfv opened #857 "SLA aanpassen"
We gaan op een andere manier werken in verband met bunq. Dit moeten we opnemen in de SLA. Wat zijn de consequenties als een gemeente de betalingen niet doorvoert?

[2021-11-05 09:45] maartenfv opened #858 "Trainingen/aanpassing werkproces bespreken met gemeenten"

[2021-11-08 08:59] jamalv opened #859 "Set scope of export"
As an administrator I would like to select the scope of every export so that I don't have to export the entire data set, if I only need a subset of the data.

Requirements: https://docs.google.com/document/d/1CrtWCFHc_6fRc2-Cbq60ignB92fGDNegvPVBK1Ich7k/edit#
Figma: https://www.figma.com/file/CKzXAJLJqp5fOyyQpmarcf/Untitled?node-id=0%3A1

[2021-11-08 08:59] jamalv commented on #859
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10590849

[2021-11-08 09:12] jamalv commented on #853
@maxvisser we updated the user stories to show what's 'must have' does this impact the estimation?

[2021-11-08 09:16] maxvisser commented on #859
Assigned michael as he submitted the insight.

[2021-11-08 09:18] jamalv opened #860 "Customize mobile menu"
As a user on a mobile device, I would like a flexible menu that enables me to easiliy find the right page.
![Navigation_dropdown_v2](https://user-images.githubusercontent.com/30194799/140715986-1a4ff1be-73af-4295-b086-4274ba4ae0a8.png)

[2021-11-08 09:18] jamalv commented on #860
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10591012

[2021-11-08 09:28] jamalv opened #861 "Set product limit"
As a sponsor I would like to set a limit per product on a financial fund, so that a requester cannot use an offer more than x amount of times.

[2021-11-08 09:28] jamalv commented on #861
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10591199

[2021-11-08 09:31] maxvisser commented on #853
As a requester, I would like to fill in my address when delivering a product.
scope: small

As a provider, I would like to see the address of the requester so that I can send the product to the home of the requester
Scope: small

These two would be scope medium

but I suspect users don't want to fill in again and again their NAW-data; so we should probably aswell store this data?:
As a requester I

[2021-11-08 10:17] maxvisser commented on #853
So I would estimate it on big / too big; I would start with allowing saving NAW-data / pickup location before starting on ordering and a research into shipping costs.

[2021-11-08 10:18] maxvisser commented on #861
Seems a small issue but is rather complex and needs alot of testing

[2021-11-08 10:20] maxvisser commented on #861
If I read the insight it aswell states to only use financial fund to reserve products (all users stories included in using an financial fund in such manner is not included in the scope estimation); I guess  that there would be more complex user stories to fix before the desire written in the insight could be implemented

[2021-11-08 11:43] jamalv opened #862 "Set text alignment (left, center, right)"
As an administrator I would like to set the alignment of the text over the header image so that I can use different kinds of images.

[2021-11-08 11:44] jamalv opened #863 "Set theme colors"
As a content manager I want to set primary and secondary colors for styling of links, buttons etc so that I can align the webshop with my company colors.

[2021-11-08 11:44] jamalv commented on #863
Link to feature: https://forus.productboard.com/feature-board/planning/features/10591319

[2021-11-08 11:44] jamalv opened #864 "Product voucher multiplier"
As a sponsor I would like to select a multiplier when automatically asigning productvouchers so that I can use the bulk feature and don't have to do this manually.

[2021-11-08 12:25] linda-90 commented on #853
can we break it into phases?

[2021-11-08 18:44] maxvisser commented on #853
Yes I would suggest starting with the data (could maybe be part of our research into BRP / Haalcentraal api) and a research into shipping costs (what is desired, that user pays this from their voucher or that this is directly payed from the fund? or is iDEAL required?)

[2021-11-09 08:53] maxvisser commented on #862
The issue is to add an extra setting to the CMS where the sponsor owner of the implementation can set the alignment of the block of the header.

[2021-11-09 08:58] maxvisser commented on #863
We need to refactor the HTML/CSS for implementing this feature. I would suggest to fix this feature when we move to react (as we probably are going to do alot of rewriting of HTML/ CSS there aswell)

Its alot of research before development could start, main question that I would have are:
- Which colors we should allow the CMS manager to change?
- What HTML classes/elements?
   - CSS classes need

[2021-11-09 09:01] maxvisser commented on #864
Currently we do not even have UI for financial formula (where you can set the amount and multiplier) I would highly suggest to fix that first before adding more options to the formula.

The formula settings are pretty complex, scope of this issue is rather small. I estimated it medium as the task has a high complexity.

[2021-11-09 09:03] #860 closed

[2021-11-09 09:31] MichaelForus commented on #859
@maxvisser can you make an estimate? If we can do it within 20 hours, we have the support budget.

[2021-11-09 09:42] jamalv commented on #859
FYI:
<img width="200" alt="Screenshot 2021-11-09 at 10 38 33" src="https://user-images.githubusercontent.com/30194799/140899838-3c8b6188-439a-4804-a3e4-a616d76771c0.png">

[2021-11-09 09:46] GerbenBosschieter commented on #859
I like this change. This would not only improve the UX of doing exports but also prevents unnecessary dumps of data.

@jamalv we could use the support budget for this if it will cover the hours of development thats needed

[2021-11-09 10:52] #554 closed

[2021-11-09 12:31] maxvisser commented on #797
Moved to itsm.

[2021-11-09 12:31] #797 closed

[2021-11-12 08:37] maxvisser commented on #162
Sprint demo 12 november 🗡️
Survey results :D @GerbenBosschieter
Pentest / Digid audit @RobinMeles
Research Nijmegen - Application procedures @jamalv
Sitemap  @maxvisser
Alternative texts for images  @maxvisser
Lead times  @maxvisser
Collapsable items  @maxvisser
Fund long description  @maxvisser
Banking integration proposal @maxvisser

[2021-11-15 10:01] linda-90 commented on #853
Yes, a research into shipping costs sounds good. Let's start small: Pay from voucher credit. As an extra, it would of course be nice to pay with ideal.

[2021-11-16 08:17] maartenfv opened #865 "bunq developer account voor Forus Operations B.V."

[2021-11-16 12:55] linda-90 commented on #794
@maxvisser Could you add the status of this issue/change? I also get questions about this feature.

[2021-11-16 12:57] linda-90 commented on #794
@maxvisser what is the status of this issue/change?

[2021-11-24 11:42] maxvisser commented on #812
I will plan this in to be worked on in the project overgang-2021

[2021-11-26 08:41] maxvisser commented on #162
Sprint 26 november
Survey final results? @GerbenBosschieter
WCAG Update -> janita will test again coming week @RobinMeles
Banking integration
	- Screenshare phone bunq
	- do a consent
	- make a bulk
	- payout
	- Switchin active iBAN
	- Notifications about consent becoming invalid / a new connection is established/created
Informative funds
	- Fund labels
	- Signupbutton
	- FAQ (show again)
	- Fund

[2021-11-26 12:00] maartenfv opened #866 "Webinar: Ontologie GBI: wat betekent wat? 30 november 2021"
Het webinar Ontologie GBI: wat betekent wat? is op 30 november van 15.00 tot 16.00 uur.

Inschrijven via: https://www.vngrealisatie.nl/agenda/webinar-ontologie-gbi-wat-betekent-wat-op-weg-naar-een-gestandaardiseerd-informatiemodel

**Ingeschreven**
- [ ] Maarten
- [ ] Robin

[2021-11-26 12:02] maartenfv commented on #866
Ik heb me ingeschreven!

[2021-11-29 08:47] jamalv opened #867 "Show providers offers"
As a provider I would like to always get the option to select (one of) the products that are accepted for the specific fund when I scan the voucher so I will always have the option to confirm the payment for the product.

[2021-11-29 08:47] jamalv commented on #867
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10692623

[2021-11-29 08:59] jamalv opened #868 "Show products and reservations"
As a provider I would like to see products and reservations when I scan a budget voucher so that I can initiate a product transaction when a requester scans a budget voucher.

<p></p>

**Criteria:** this should work both when a provider is accepted to scan budget vouchers, and when they are accepted to scan product vouchers

[2021-11-29 08:59] jamalv commented on #868
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10692586

[2021-11-29 09:01] jamalv commented on #867
superseded by: https://github.com/teamforus/general/issues/868

[2021-11-29 09:01] #867 closed

[2021-11-29 09:08] jamalv opened #869 "Enable/disable budget payments"
As a sponsor I would like to enable/disable a provider to make financial payments so that I can allow a requester to only make specific purchases at a store.

<p></p>

**Criteria:** the option to fill the amount should be removed during checkout when this option is disabled.

[2021-11-29 09:08] jamalv commented on #869
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/10899755

[2021-11-29 09:09] jamalv commented on #869
@maxvisser please note we already support this user story, but this request is mainly about the criteria.

[2021-11-29 09:10] maxvisser commented on #869
I believe these are related:
https://github.com/teamforus/general/issues/845

[2021-11-29 09:10] maxvisser commented on #869
We already talked about this during backlog refinement:
1-2 days of backend development + what ever is needed on the me-app (depends on implementation of the feature); our guess is that it definitely needs development on the apps though.

[2021-11-29 09:15] maxvisser commented on #869
Reading the user stories there are two more which would maybe put this into the medium scope; Somethings I would say could also be necassary:
- what to do with left over budget on the voucher (for example product is 125 and voucher is 150; user is left with 25 euro's he is not be able to easily spend anymore.
- more stress on providers creating and adding their products to forus; probably being ab

[2021-11-29 09:17] maxvisser commented on #868
We did have this before, it was implemented in a bit of a different way; we prefilled the amount of certain products in the budget field.

[2021-11-29 09:18] maxvisser commented on #868
Its a small feature, complex to implement at the backend but a small scope. We do need both apps to be adjusted.

[2021-11-29 09:26] #178 closed

[2021-11-29 13:08] jamalv opened #870 "View validation status information"
As a validator I want to see the status of a validation request so that I know if action by me or the requester is required or if the request has been finished.

<p></p>

**Statuses:**

1. Pending review (waiting for response by validator)

2. Pending clarification (waiting for response by requester)

3. Approved (information is correct)

4. Denied (information is incorrect)

5. Expired (long resp

[2021-11-29 13:08] jamalv opened #871 "View validation lead times"
As a validator I want to see what the lead times are so that I know if I still need to take action on this request (or if the legal term has expired).

<p></p>

**Criteria:** Status: pending review shows action required by validator (for xx days)

**Criteria:** Status: pending clarification shows action required by requester (for xx days)

<p></p>

[2021-11-29 13:08] jamalv commented on #871
Link to feature: https://forus.productboard.com/feature-board/planning/features/10903123

[2021-11-30 08:29] jamalv commented on #868
@maxvisser this was funded by implementation and support, could you plan this in?

[2021-11-30 08:29] jamalv commented on #869
@maxvisser this was funded by implementation and support, could you plan this in?

[2021-12-01 08:34] #761 closed

[2021-12-01 08:34] #718 closed

[2021-12-01 08:36] maxvisser commented on #796
Will be planned in for overgang project

[2021-12-01 15:02] linda-90 commented on #817
Unassign mezelf

[2021-12-01 15:08] maxvisser commented on #817
Ik verplaats deze naar ITSM. Lijkt me ondergesneeuwd!

[2021-12-07 08:58] jamalv commented on #868
Extra user story: As a requester I would like to pay extra at the cash register when I don't have enough budget left to pay for an offer.
**Criteria:** this works basically the same as when you try to spend 50 euro's but only have 40 euro's left on a budget voucher.

[2021-12-07 09:08] jamalv commented on #868
@jamalv should create a proposal and update the issue. also consider financial funds in the proposal.

[2021-12-07 09:11] jamalv commented on #870
Figma: https://www.figma.com/file/sDODi9Ry5Q1ZELMKYiNhOh/Validation-status-and-lead-times?node-id=3%3A3893

[2021-12-07 09:13] #807 closed

[2021-12-07 09:15] #768 closed

[2021-12-07 09:16] maxvisser commented on #844
In Release v0.31.0 - 27 december

[2021-12-07 09:17] jamalv commented on #253
actie bij @maxvisser om janita te bellen

[2021-12-07 09:20] jamalv commented on #742
Valentin says this issue needs refinement.

[2021-12-07 09:23] jamalv commented on #835
@maxvisser could you point to where these texts are?

[2021-12-07 09:24] maxvisser commented on #835
https://github.com/teamforus/forus-backend/blob/master/database/seeds/resources/mail_templates/notification_templates.json

[2021-12-07 09:25] jamalv commented on #361
@maxvisser could you plan this in itsm?

[2021-12-07 09:31] maxvisser commented on #739
lets make an ITSM issue to check this clarification request on staging / groningen

[2021-12-07 09:33] #739 closed

[2021-12-09 15:30] jamalv commented on #269
superseded by: https://github.com/teamforus/itsm/issues/564

[2021-12-09 15:30] #269 closed

[2021-12-09 15:33] jamalv commented on #437
currently not planned in, no project, superseded by: https://roadmap.forus.io/c/67-zelfstandige-aanmelding-van-sponsoren

[2021-12-09 15:33] #437 closed

[2021-12-10 09:51] maxvisser commented on #162
Spint demo of 10-12
show results feedback from last review
Sponsor dashboard add fund details page
fund FAQ (show reviewed state)
Haalcentraal POC and BRP cards
Validation status proposal

[2021-12-10 12:50] maxvisser commented on #796
Will be added to release of v0.27.0 currently in development

[2021-12-17 12:03] maartenfv opened #872 "Stagiair aannemen Gerben"

[2021-12-20 12:43] jamalv opened #873 "View QR code voucher generator"
As a sponsor I would like to see the QR code of the voucher that I have just created.

<p></p>

Currently it is only possible to view the QR code by exporting it, but this is sensitive for mistakes. The sponsor would like to also be able to view QR's directly in the UI after creating them.

[2021-12-20 12:43] jamalv commented on #873
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/11216887

[2021-12-21 07:22] maxvisser commented on #873
Seems like a bug you are describing; it is intended that the QR-code is not visible anymore when the voucher is assigned.

[2021-12-21 07:24] maxvisser commented on #873
Its pretty easy to add and I have no strong opinion to show the QR-code always. Easiest fix is to remove the frontend flag to hide it. Small if we want to change the way we present the QR-code and make a download button specifically for the QR-code.

[2021-12-24 08:38] maxvisser commented on #162
Sprint demo
EFO is being released (Clientenraad demo)
Disregarding validation status proposal
Categories on funds
Overgang -> artisan command physical cards
AWS RUM in production; show reports and first results
Me-app transaction improvement -> Reservations / Products

[2021-12-27 08:26] maartenfv opened #874 "Make a preliminary release and version number planning for 2022"
Please see [this document](https://docs.google.com/document/d/1vh21Xe4eoFu9DnTEQCCDqnwHh0g-uPirZ7S5CgDyk9s/edit#heading=h.ptha9ew1m39t) for the release and version number planning for 2022. It needs to be filled in. Currently the basis scruture of the document is there but the content is missing.

Important to note is that this document is the basis of the planning we maintain for other teams and

[2021-12-27 08:27] maartenfv commented on #874
This document lives in the folder "Releases".  You can find the document we used for last year there as well.

[2021-12-27 08:32] maartenfv commented on #874
@maxvisser Zou jij naar dit document kunnen kijken en de release momenten en versie nummer kunnen invullen?

[2021-12-27 09:37] #873 closed

[2021-12-27 10:38] maartenfv commented on #874
Plan staat! Snelle actie erg lekker

[2021-12-27 10:38] #874 closed

[2021-12-29 09:59] #844 closed

[2021-12-29 10:00] maxvisser commented on #796
we implemented a artisan command to migrate physical cards;

[2021-12-29 10:00] maxvisser commented on #796
This still not fixed completely but there is now a manual workaround for the issue. So I will not close it but unlink it from the release.

[2021-12-29 10:02] #871 closed

[2021-12-29 10:02] maxvisser commented on #871
Released in v0.31.0

[2021-12-29 12:25] #310 closed

[2021-12-29 12:36] maartenfv commented on #812
@maxvisser is dit gelukt? Is er een update?

[2021-12-29 12:38] #839 closed

[2021-12-29 13:19] maartenfv commented on #808
Well this started bumpy. New plan is to start in April.

[2022-01-03 09:38] maxvisser commented on #812
Dit is niet gelukt en wordt deel van 't nieuwe overgangsproject

[2022-01-03 09:40] maxvisser commented on #253
Janita komt langs 11 januari

[2022-01-03 09:41] #811 closed

[2022-01-03 09:42] maxvisser commented on #811
This was fixed for Waalwijk

[2022-01-03 09:43] #854 closed

[2022-01-03 09:46] maxvisser commented on #431
This seems really out dated. I close this issue

[2022-01-03 09:46] #431 closed

[2022-01-03 09:48] maxvisser commented on #346
This has been released

[2022-01-03 09:48] #346 closed

[2022-01-03 09:48] #776 closed

[2022-01-03 09:51] maxvisser commented on #482
This is released

[2022-01-03 09:51] #482 closed

[2022-01-03 09:52] maxvisser commented on #456
This is fixed

[2022-01-03 09:52] #456 closed

[2022-01-03 09:53] #438 closed

[2022-01-03 09:55] maxvisser commented on #389
this is fixed for bulk transaction page

[2022-01-05 12:04] #764 closed

[2022-01-05 14:33] #684 closed

[2022-01-05 14:34] #75 closed

[2022-01-05 14:44] maartenfv commented on #253
Please maak nieuwe isseu voor janita in itsm geen project meer.

[2022-01-05 14:44] maartenfv commented on #253
Please maak nieuwe isseu voor janita in itsm geen project meer.