[2022-01-05 14:44] #253 closed

[2022-01-05 14:59] #229 closed

[2022-01-05 14:59] #230 closed

[2022-01-05 15:00] #519 closed

[2022-01-07 08:38] maxvisser commented on #162
Sprint demo 7-1-2022

Disregarding fund requests
Filters on webshop -> dropdown search
BSN api -> depending on Max getting a VPN

Fixes:
	- prevalidations scrollable
	- icons in the dashboard menu

[2022-01-10 08:52] jamalv opened #875 "Dutch URL's in webshop"
Change the URL's for dutch webshops:

Proposal: 

<https://paswijzer.waalwijk.nl/aanbieders> (was: providers)
<https://paswijzer.waalwijk.nl/aanbieders/{id}>

<https://paswijzer.waalwijk.nl/acties> (was: actions)
<https://paswijzer.waalwijk.nl/aanbod> (was: products)
<https://paswijzer.waalwijk.nl/aanbod/{id}>

<https://paswijzer.waalwijk.nl/uitleg> (was: explanation)

<https://paswijzer.waalwijk.

[2022-01-10 08:52] jamalv commented on #875
Link to feature: https://forus.productboard.com/feature-board/planning/features/11400401

[2022-01-10 09:03] maxvisser commented on #875
I believe scope: small/medium; dependend on if you would include query filters (for ex. https://paswijzer.waalwijk.nl/products?organization_id=18) it could even become big as these are variables defined on the backend.

last time I discussed this one with @dev-rminds I think the conclusion was this would mess with development alot (as for our developers its not really clear anymore which page it i

[2022-01-10 09:10] #362 closed

[2022-01-10 09:10] maxvisser commented on #362
This seems to be fixed already :D

[2022-01-10 09:10] jamalv commented on #875
I don't think filters need to be included, as this is mostly for communication material I expect. So then it would be small?

[2022-01-10 09:14] maxvisser commented on #875
Correct. I would suggest discussion it with development team before planning in; As I do not remember clearly why we did not do this already.

[2022-01-10 09:16] maxvisser commented on #875
If everything is dutch and some stuff is still english; I would think people will notice and complain; so I would suggest doing everything at once; if we do 👍

[2022-01-10 09:30] maxvisser commented on #875
I thought about it abit more; I would think support English routes would necassary for backwards compatibility (for example people add the site to their bookmarks in Chrome)

[2022-01-10 12:35] jamalv opened #876 "BNG Integration"
As a sponsor I would like to connect with my BNG bank account so that I can initiate payments and see the payment status.

[2022-01-10 12:35] jamalv commented on #876
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/6693879

[2022-01-13 14:38] EmielForus opened #877 "GTB | Nieuw verwerkersovereenkomst"
N.a.v. het addendum van Geertruidenberg moet er een nieuwe verwerkersovereenkomst opgesteld worden. Dit is opgenomen in het addendum.

To do:
- [ ] @RobinMeles nieuwe overeenkomst opstellen & delen met GTB
- [ ] Done: verwerkersovereenkomst getekend.

### Bericht JZ GTB

Hoi Esmeralda,

Het geniet wel de voorkeur om de afspraken met de nieuwe partij vast te leggen en dat kan wel met het addendum (

[2022-01-14 13:19] jamalv opened #878 "Initiate account deletion"
As a user I would like to initiate account deletion.

<p></p>

Specs: <https://docs.google.com/document/d/1JVfHCvQqM3TdSHBB6X3MvSJKGjrPitUFRcKolGbMwV4/edit#>

<p></p>

[2022-01-17 09:21] jamalv commented on #875
Yes, thinking about the use case this is mostly because municipalities wil print the url's on paper flyers and show them in video's for example. And there they want to show dutch urls. If it shows some English filters on visit, that's no big deal IMO.

I agree with @maxvisser that English url's still would also need to be supported for backwards compatibility. So then the user should be able to vi

[2022-01-17 15:46] maxvisser commented on #875
I believe this issue is more about maintaince then about initial implementation. if the application uses the english routes, developers use the english routes, we need to really test the dutch routes each acceptance test.

[2022-01-20 14:08] #285 closed

[2022-01-20 14:10] #311 closed

[2022-01-20 14:10] #317 closed

[2022-01-21 08:34] maxvisser commented on #162
Sprint 21 - 1 - 2022

Export configurations voucher generator
proposal me-app deletion
proposal rejecting providers
retry person bsn haalcentraal API
forus brochure?

[2022-01-25 14:31] maxvisser commented on #742
Still same as in september, no progress as it has no real priority to work on it.

[2022-01-31 10:31] #780 closed

[2022-02-02 08:44] EmielForus opened #879 "EVA | retro overgang nieuwe jaar"
# Evaluatie Overgang Nieuwe Jaar

**Belangrijkste bevindingen evaluatie**

[2022-02-02 09:07] EmielForus commented on #879
## Belangrijkste bevindingen evaluatie

Document Max
https://docs.google.com/document/d/1Ap6-0thwdVin4yXnid6-lZdop-W2Yc1hu4HiJLW9aSc/edit?usp=sharing

[2022-02-04 08:40] jamalv commented on #162
List backend work:
* Me app checkout update (scanning vouchers and products list)
* BNG implementation
* Hiding BSN's
* Working on rejecting providers
* Bugfixes and WCAG
* Design of new thing (Jamal asks Alex)

[2022-02-07 09:35] jamalv commented on #518
Roadmap: https://roadmap.forus.io/c/79-kassa-systemen

[2022-02-07 09:35] #518 closed

[2022-02-07 14:22] jamalv opened #880 "Design Library Maintenance"
The idea is to spend some time every sprint (~8 hours?) on maintaining the design library. This will make it easier for everyone to contribute, and will make sure we can make proposals faster.

[2022-02-11 08:30] maartenfv commented on #879
https://docs.google.com/document/d/1Ap6-0thwdVin4yXnid6-lZdop-W2Yc1hu4HiJLW9aSc/edit#heading=h.f194218cec6j

[2022-02-11 08:31] maartenfv commented on #879
https://docs.google.com/document/d/1zdXapzR6uedY6VpqRV1Z0h5gyDaoB6yiv5xmIUxgCEI/edit?usp=sharing

[2022-02-14 10:09] jamalv opened #881 "Add people to voucher"
As a **sponsor** I would like to increase the amount of people on a vouchers so that the budget can be increased and it is less confusing for requesters that otherwise would have to get a new voucher.

<p></p>

Figma: <https://www.figma.com/file/aVs4QjOjba8Bw7FxG2QHgr/881-Add-people-to-voucher>

<p></p>

[2022-02-14 10:09] jamalv commented on #881
Link to feature: https://forus.productboard.com/feature-board/planning/features/11981231

[2022-02-14 10:11] jamalv commented on #881
<img width="1085" alt="Screenshot 2022-02-14 at 10 10 28" src="https://user-images.githubusercontent.com/30194799/153844192-7a3b552d-cb4c-4d5b-921f-d766a4f88c04.png">

[2022-02-14 14:14] jamalv opened #882 "Direct payments from voucher"
As a **sponsor** I would like to directly send money from an unassigned voucher to a provider so that I have more freedom while sending money.

Figma: [<https://www.figma.com/file/IntONFj90gliw0AkoH8ReL/?node-id=0%3A1>](https://www.figma.com/file/IntONFj90gliw0AkoH8ReL/?node-id=118%3A29484)

[2022-02-14 14:14] jamalv commented on #882
Link to feature: https://forus.productboard.com/feature-board/planning/features/10414486

[2022-02-15 15:02] jamalv opened #883 "Filter by age category"
As a **requester** I would like to filter by age in the webshop so that I can find products that are in my target audience.

<p></p>

**Criteria:**

- Offers can be categorised into age category

- There's a dropdown filter in the webshop with category

[2022-02-15 15:02] jamalv commented on #883
Link to feature: https://forus.productboard.com/feature-board/planning/features/6702673

[2022-02-15 15:04] jamalv commented on #883
@RobinMeles @GerbenBosschieter I think we already developed this feature, but I can't find it anywhere. Do you know about this?

[2022-02-15 15:11] jamalv opened #884 "Filter by location"
As a requester, I would like to filter providers by location in the webshop so that I can look for providers that are nearby.

<p></p>

**Technical context:**

When a provider signs up through our platform, the provider is prompted to fill in an address. Based on this address we get a postal code (postcode). When we have a list of postcodes per location/city/municipality we can use this filter acc

[2022-02-15 15:11] jamalv commented on #884
Link to feature: https://forus.productboard.com/feature-board/planning/features/11980612

[2022-02-16 08:49] jamalv opened #885 "View validations by other employees"
As a validator I would like to see validation information by other employees so that I know what has been going on if another validator is on a (permanent) leave.

[2022-02-16 08:49] jamalv commented on #885
Link to feature: https://forus.productboard.com/feature-board/planning/features/9311935

[2022-02-16 08:52] jamalv commented on #884
Related: https://github.com/teamforus/itsm/issues/692

[2022-02-16 09:07] jamalv commented on #885
I think some research is needed to figure out how this currently works, and how this should work. Maybe @ateamcms can have a look at how this works now and make a proposal on how to improve this? Possibly with help of @sashooa if designs are needed?

[2022-02-16 12:33] jamalv commented on #799
Feedback from Valentin: is it possible to do this more like an embed?

[2022-02-16 12:51] jamalv commented on #884
Distance would be easier

[2022-02-17 10:04] jamalv commented on #884
Predefined distances:

<img width="174" alt="Screenshot 2022-02-17 at 10 04 05" src="https://user-images.githubusercontent.com/30194799/154452749-326f4709-7036-4ca8-895d-96ded15d9217.png">

[2022-02-18 08:35] jamalv commented on #162
Sprint demo:
- BNG connection
- 3 proposals in figma
- Misha will show something: Scripts to make configuration easier.
- Rejecting providers
- Hide BSN
- Apps checkout update
- Increase limit for subsidy voucher

[2022-02-21 08:58] ateamcms commented on #884
https://github.com/teamforus/forus-backend/pull/1380

[2022-02-21 08:59] ateamcms commented on #884
https://github.com/teamforus/forus-frontend/pull/2072

[2022-02-21 14:08] #70 closed

[2022-02-21 14:10] #82 closed

[2022-02-21 14:10] #114 closed

[2022-02-21 14:10] #118 closed

[2022-02-21 14:10] #127 closed

[2022-02-21 14:10] #136 closed

[2022-02-21 14:10] #143 closed

[2022-02-21 14:12] #159 closed

[2022-02-21 14:12] #167 closed

[2022-02-21 14:12] #174 closed

[2022-02-21 14:12] #193 closed

[2022-02-21 14:12] #202 closed

[2022-02-21 14:12] #210 closed

[2022-02-21 14:12] #211 closed

[2022-02-21 14:12] #213 closed

[2022-02-21 14:12] #214 closed

[2022-02-21 14:12] #217 closed

[2022-02-21 14:12] #226 closed

[2022-02-21 14:12] #227 closed

[2022-02-21 14:12] #233 closed

[2022-02-21 14:12] #240 closed

[2022-02-21 14:12] #244 closed

[2022-02-21 14:12] #258 closed

[2022-02-21 14:12] #265 closed

[2022-02-21 14:12] #270 closed

[2022-02-21 14:16] #276 closed

[2022-02-21 14:16] #278 closed

[2022-02-21 14:16] #279 closed

[2022-02-21 14:16] #280 closed

[2022-02-21 14:16] #283 closed

[2022-02-21 14:16] #284 closed

[2022-02-21 14:16] #287 closed

[2022-02-21 14:16] #292 closed

[2022-02-21 14:16] #295 closed

[2022-02-21 14:16] #297 closed

[2022-02-21 14:16] #309 closed

[2022-02-21 14:16] #312 closed

[2022-02-21 14:16] #313 closed

[2022-02-21 14:16] #320 closed

[2022-02-21 14:16] #330 closed

[2022-02-21 14:16] #331 closed

[2022-02-21 14:16] #332 closed

[2022-02-21 14:16] #333 closed

[2022-02-21 14:16] #358 closed

[2022-02-21 14:16] #360 closed

[2022-02-21 14:16] #361 closed

[2022-02-21 14:17] #389 closed

[2022-02-21 14:17] #391 closed

[2022-02-21 14:17] #392 closed

[2022-02-21 14:17] #396 closed

[2022-02-21 14:17] #397 closed

[2022-02-21 14:17] #413 closed

[2022-02-21 14:17] #419 closed

[2022-02-21 14:17] #421 closed

[2022-02-21 14:17] #423 closed

[2022-02-21 14:17] #425 closed

[2022-02-21 14:17] #426 closed

[2022-02-21 14:17] #428 closed

[2022-02-21 14:17] #436 closed

[2022-02-21 14:17] #462 closed

[2022-02-21 14:17] #464 closed

[2022-02-21 14:17] #471 closed

[2022-02-21 14:17] #474 closed

[2022-02-21 14:24] #561 closed

[2022-02-21 14:24] #564 closed

[2022-02-21 14:24] #565 closed

[2022-02-21 14:24] #582 closed

[2022-02-21 14:24] #584 closed

[2022-02-21 14:24] #605 closed

[2022-02-21 14:24] #608 closed

[2022-02-21 14:24] #611 closed

[2022-02-21 14:24] #621 closed

[2022-02-21 14:24] #625 closed

[2022-02-21 14:24] #654 closed

[2022-02-21 14:24] #657 closed

[2022-02-21 14:24] #665 closed

[2022-02-21 14:24] #705 closed

[2022-02-21 14:24] #778 closed

[2022-02-21 14:24] #801 closed

[2022-02-21 14:24] #803 closed

[2022-02-21 14:24] #814 closed

[2022-02-21 14:24] #818 closed

[2022-02-21 14:24] #823 closed

[2022-02-21 14:25] #478 closed

[2022-02-21 14:25] #483 closed

[2022-02-21 14:25] #491 closed

[2022-02-21 14:25] #505 closed

[2022-02-21 14:25] #508 closed

[2022-02-21 14:25] #510 closed

[2022-02-21 14:25] #513 closed

[2022-02-21 14:25] #514 closed

[2022-02-21 14:25] #521 closed

[2022-02-21 14:25] #557 closed

[2022-02-21 14:25] #558 closed

[2022-02-21 14:25] #559 closed

[2022-02-21 14:27] #812 closed

[2022-02-21 14:28] #835 closed

[2022-02-21 14:28] #796 closed

[2022-02-21 14:29] #475 closed

[2022-02-21 14:29] #476 closed

[2022-02-21 14:31] #531 closed

[2022-02-21 14:33] #609 closed

[2022-02-21 14:33] #730 closed

[2022-02-21 14:34] #538 closed

[2022-02-21 14:36] #742 closed

[2022-02-21 14:52] jamalv commented on #766
Wordt op dit moment niet aan gewerkt, kan evt. later weer geopend worden

[2022-02-21 14:52] #766 closed

[2022-02-21 14:54] #792 closed

[2022-02-21 14:55] #848 closed

[2022-02-21 14:56] #833 closed

[2022-02-22 09:39] jamalv opened #886 "Authenticate"
As a requester I would like to easily and safely authenticate so that I can create/access my account.

Figma: https://www.figma.com/file/8WwFbq9j2KYccYmwlIiizP/?node-id=0%3A1

[2022-02-22 09:39] jamalv commented on #886
Link to feature: https://forus.productboard.com/feature-board/planning/features/6714236

[2022-02-22 09:45] jamalv commented on #886
Context: this is an existing feature, for which we want to improve the UX.

[2022-02-22 12:29] sashooa commented on #881
https://www.figma.com/file/aVs4QjOjba8Bw7FxG2QHgr/?node-id=46%3A7315

[2022-02-23 12:11] jamalv commented on #885
@jamalv will make a separate issue about adding validator supervisor.

[2022-02-25 09:47] jamalv opened #887 "Webshop menu"
As a requester I would like to have clear way to navigate the webshop

Figma: https://www.figma.com/file/KVR4NiJY3elZ3Lrq4HgELB/?node-id=0%3A1

[2022-02-25 09:47] jamalv commented on #887
Link to feature: https://forus.productboard.com/feature-board/planning/features/10591005

[2022-02-28 09:57] jamalv commented on #875
/funds
/funds/{id}

/vouchers
/vouchers/{address}

/providers
/providers/{id}

And fund related?
/funds/2/activate
/funds/2/request

Any others? Like:
/security/sessions ?
/reservations ?

![image](https://user-images.githubusercontent.com/30194799/155962517-c51d0a8a-db45-42ed-af52-d5e753942ec8.png)

![image](https://user-images.githubusercontent.com/30194799/155962899-54942e46-ecfd-488d-acdd-5d63

[2022-03-04 08:44] jamalv commented on #162
Sprint demo:
* Updates we worked on: BNG, WCAG, Adding to voucher, Refactoring on voucher export (for re-usability + refactoring on the backend - removed a lot of code), Reviewing pull requests.

* Figma: New mobile navigation / authentication
* Search providers by distance
* Productboard integration
* IIT environment

* New mobile designs

[2022-03-04 18:13] ateamcms commented on #885
https://github.com/teamforus/forus-backend/pull/1388

[2022-03-04 18:13] ateamcms commented on #885
https://github.com/teamforus/forus-frontend/pull/2086

[2022-03-14 08:58] jamalv opened #888 "Set voucher end date"
As a sponsor I would like to set an end date for a voucher so that

[2022-03-14 08:58] jamalv commented on #888
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/12456562

[2022-03-14 09:01] jamalv commented on #888
We got the following feedback on this feature:

Right now a sponsor can use the calendar date picker to pick a date:
<img width="436" alt="Schermafbeelding_2022-03-07_om_14 41 28" src="https://user-images.githubusercontent.com/30194799/158138638-f7ec74c6-5b72-4c10-8cf7-583d14bdb778.png">

But, if the sponsor needs to create a lot of vouchers, this is a lot of clicking.

Therefore, the sponsor woul

[2022-03-14 09:13] jamalv opened #889 "Add attachment as validator"
As a validator, I would like to add attachments to a validation request so that I can add files that are not shared trough Forus, but for example e-mailed to me by the client.

<p></p>

**Criteria:**

- Show the difference between files that are uploaded by the requester and the validator

- Support the same filetypes as when the requester uploads a file

- Don't show the files to the requester wh

[2022-03-14 09:13] jamalv commented on #889
Link to feature: https://forus.productboard.com/feature-board/planning/features/12456852

[2022-03-16 12:07] jamalv commented on #799
@jamalv add feedback from sprint demo.

[2022-03-16 12:09] jamalv commented on #882
Scope is about existing vouchers right now.

[2022-03-16 12:12] jamalv commented on #882
@jamalv create separate issues for the 2 scopes

[2022-03-18 08:38] jamalv commented on #162
Sprint demo:
* IIT - User path figma. @jamalv
* Adding external funds to generic search @aghimpu
* Validator supervisor @dev-rminds

Release/v0.33.0
- Filteren op afstand (postcode)
- Aantal personen toevoegen op bestaande passen
- Error message validations (wcag update)
- More wcag updates
- Filter out expired products when exporting providers
- Backoffice certificaat 8000 tekens
- Fix backoffice

[2022-03-21 09:31] danrminds opened #890 "Time not planned in"
### Requested by:
@danrminds

### Description
Issue used for time tracking of unplanned time during the week.

[2022-03-22 08:30] jamalv commented on #849
Roadmap: https://roadmap.forus.io/c/81-verlopen-tegoeden-in-me-app

Note: scope should include both the webshop and the Me app.

[2022-03-24 09:22] jamalv opened #891 "Export bulk"
As a sponsor I would like to export an overview of transactions (in bulk) so that I can give a document to my colleague that will sign for transactions without logging in to Forus and so that this colleague can check if the bank transactions match Forus.

<p></p>

**Acceptance:**

**Must:** list all transactions

**Should:** sum amount

**Should:** number of transactions

**Could:** transaction ha

[2022-03-24 09:22] jamalv commented on #891
Link to feature: https://forus.productboard.com/feature-board/planning/features/12622692

[2022-03-24 09:26] jamalv commented on #891
## Current state
It's possible to export all transactions:
<img width="1014" alt="Screenshot 2022-03-24 at 09 22 44" src="https://user-images.githubusercontent.com/30194799/159884486-0b607e84-6583-40f9-ad47-433259c7be6e.png">

## Desire
Add an export to the bulk transaction overview.
<img width="1032" alt="Screenshot 2022-03-24 at 09 23 41" src="https://user-images.githubusercontent.com/30194799/1

[2022-03-28 08:23] jamalv opened #892 "Change record values"
As a validator, I would like to change the value of a record so that if the information I have is different from what the requester has, then I can add the most actualized information.

<p></p>

**Criteria:**

- Old values should still be saved so that there's a clear and auditable history

- There should be a changelog (on details page) of the changes and who made them

[2022-03-28 08:23] jamalv commented on #892
Link to feature: https://forus.productboard.com/feature-board/planning/features/12664209

[2022-03-28 09:15] jamalv opened #893 "Type: Product/service"
As a provider I want to add a type to my product or service so that it's easier to find for the user.

<p></p>

**Criteria:**

Products / services should be in one list

This should be searchable trough dropdown-search

[2022-03-28 09:15] jamalv commented on #893
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/6694849

[2022-03-28 09:17] jamalv commented on #893
This is the current situation:

<img width="713" alt="Screenshot 2022-03-28 at 11 15 24" src="https://user-images.githubusercontent.com/30194799/160366576-f78661c4-242d-4c79-af99-dcd4ad891287.png">

Can we combine the 2 lists into one? And allow the user to search using dropdown search?

Question: is 'service' still needed? I remember something about it being a legacy feature. Can we migrate this

[2022-03-30 08:55] jamalv commented on #875
/funds **Becomes:** fondsen
/funds/{id}

/vouchers **Becomes:** tegoeden
/vouchers/{address}

/providers **Becomes:**aanbieders
/providers/{id}

**Note from jamal:** I don't think the ones below are needed. Since they will not be directly linked (for example in newsletters or in flyers, @linda-90 what do you think?

Otherwise it would be:

And fund related?
/funds/2/activate **Becomes:** /fondsen/

[2022-04-01 06:05] #881 closed

[2022-04-01 07:38] jamalv commented on #162
Sprint demo
* Logo update
* Figma protoype for IIT
* Android app update (maybe)
* Automatic activation
* Remove employee confirmation modal

Fixes:
* 404 page fix
* Click outside logout menu dropdown to close
* QR-code export fix
* Add deactivated vouchers to statistics

[2022-04-01 08:18] jamalv commented on #875
@dev-rminds - I have updated the original issue

[2022-04-04 15:16] lexlog commented on #891
@lexlog need to get the review from the Valentine about does he understands the scope and his estimations

[2022-04-04 15:35] dev-rminds commented on #888
@jamalv
https://github.com/teamforus/forus-frontend/pull/2135

[2022-04-05 07:47] jamalv commented on #887
The goal is to fix mobile and keep desktop the same (for now) please let us know if this is clear and doable, or if there's any difficulities.

[2022-04-05 07:48] jamalv commented on #887
@lexlog please also add scope to the issue

[2022-04-05 07:55] jamalv commented on #891
![Screenshot 2022-04-05 at 08.54.55.png](https://images.zenhubusercontent.com/5bc6fc7b86f3a678d497cf05/b10b7daa-6bdb-40ac-a448-3dbdf10fb5dc)

[2022-04-06 10:47] lexlog commented on #891
intake - issue for @aghimpu

[2022-04-06 11:16] lexlog commented on #875
refinement - @GerbenBosschieter will close this issue after reviewing PR (and also https://app.zenhub.com/workspace/o/teamforus/forus-frontend/issues/2129 )

[2022-04-06 11:33] lexlog commented on #887
@GerbenBosschieter will write a comment with more details about the issue (especially for logging out status)
and the context of desires of municipalities

this work shouldn't be done parallel with Authentication (DigiD) issue, decided to do it first

[2022-04-06 11:55] lexlog commented on #891
assigning this issue to @aghimpu

[2022-04-06 11:58] lexlog commented on #891
@dev-rminds will write down the details about increasing the scope

[2022-04-11 15:02] GerbenBosschieter commented on #875
Issue closed. Released.

https://github.com/teamforus/itsm/issues/751

[2022-04-11 15:02] #875 closed

[2022-04-11 15:37] dev-rminds commented on #891
@aghimpu @lexlog updated the issue description.

[2022-04-12 08:11] lexlog commented on #799
intake note - unasign Alex, Jamal needs to plan it

[2022-04-12 08:13] lexlog commented on #885
intake notes - issue is finished and release already

[2022-04-12 08:24] lexlog commented on #884
intake notes - issue is released, closing

[2022-04-12 08:24] #884 closed

[2022-04-12 08:43] lexlog commented on #883
intake note - still need info about this, do you have any info?
@dev-rminds @GerbenBosschieter @RobinMeles

[2022-04-12 08:49] #876 closed

[2022-04-12 08:49] lexlog commented on #876
intake notes - there are project now for this
@jamalv we can close it because it released (otherwise - should be kept)

[2022-04-12 08:56] lexlog commented on #878
intake note - @jamalv can be closed ( released for ios, for the rest is not planned)

[2022-04-12 08:56] #878 closed

[2022-04-12 08:57] lexlog commented on #870
intake note - release and should be closed

[2022-04-12 08:57] #870 closed

[2022-04-12 09:05] lexlog commented on #859
intake note - release and should be closed

[2022-04-12 09:05] #859 closed

[2022-04-12 09:09] lexlog commented on #869
intake note - @jamalv is it part of [this issue](https://app.zenhub.com/workspaces/intake-5fe1b67c5361800022a2646c/issues/teamforus/general/868) ?
then we can add it to the sprint to do them together

[2022-04-12 09:22] lexlog commented on #882
intake notes - was blocked by BNG release
now its released and can be done

@jamalv will separate and then we will add it to sprint during sprint planning

[2022-04-12 13:43] GerbenBosschieter commented on #883
@jamalv we did not develop this. We developed this for funds (EFO). For products we don't have something like this. If we would do this I would suggest to let this be added by the sponsor. This way the category can be managed by the sponsor and prevent pollution of too many categories.

This would need a figma proposal how to handle this in sponsor dashboard

[2022-04-13 09:30] jamalv commented on #882
I've updated this issue and figma file to reflect the scope. Still need to create a new issue for the other scope(s)

[2022-04-13 11:18] lexlog commented on #887
refinement - issues is clear for @aghimpu

[2022-04-13 11:28] lexlog commented on #891
refinement note - @aghimpu scope is clear, not sure will finish during sprint, but its started

[2022-04-13 11:59] lexlog commented on #882
@dev-rminds @sashooa @ateamcms do we have any development already done? please update the status

refinement note - not refined, need to understand the status

[2022-04-19 06:27] aghimpu commented on #887
https://github.com/teamforus/forus-frontend/pull/2151

[2022-04-19 07:46] jamalv commented on #162
Sprint demo
* Webshop menu (Alex) - https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/general/887
* Fund provider states (Valenin) - https://app.zenhub.com/workspace/o/teamforus/development-implementation/issues/5
* Replaced dropdown selectors (Valentin) - https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/itsm/734
* Allow only the o

[2022-04-19 08:04] jamalv commented on #883
Thx! Looking in product board I see this was requested as part of user-testing result. This makes the priority a 'could-have' right now. Since it needs some time for a proposal, I don't think we have the bandwidth to work on it right now.

[2022-04-19 08:05] #883 closed

[2022-04-19 08:16] jamalv commented on #893
@lexlog could you discuss this during refinement and give an update about the scope?

[2022-04-19 08:59] jamalv commented on #799
Updated the proposal with feedback: https://www.figma.com/file/xzFZGRITMAtMsPFUETtRZU/?node-id=501%3A20889 - can be planned for @aghimpu (I couldn't manage to properly align the checkbox with autolayout, but I think you will understand :))

[2022-04-19 08:59] jamalv commented on #799
let's discuss during refinement

[2022-04-19 13:27] GerbenBosschieter commented on #882
Please take in consideration that these proposals do not meet the requirements for IIT.

[2022-04-19 13:54] lexlog commented on #882
@ateamcms figma master is finally checked, we can start

[2022-04-19 14:16] lexlog commented on #799
@jamalv will update proposal after sprint planning discussion ( show email after checkbox is filled)

[2022-04-19 14:18] lexlog commented on #799
@aghimpu please add the estimations

[2022-04-19 14:23] lexlog commented on #893
est-s 6h @dev-rminds

[2022-04-19 14:28] lexlog commented on #882
this issue is only for the first part
backend part will be done by @dev-rminds

the second part of the issue - @jamalv will create separate

[2022-04-20 08:33] jamalv commented on #799
Done

[2022-04-20 11:17] lexlog commented on #799
refinement note - @aghimpu clear, 2h est
@jamalv will open figma file for @aghimpu

[2022-04-20 11:18] lexlog commented on #882
refinement note - @ateamcms clear, ready to start in sprint

[2022-04-20 11:19] lexlog commented on #893
refinement note - @ateamcms clear for current sprint

[2022-04-20 11:59] lexlog commented on #868
refinement note - @jamalv planning to make it clear for current sprint

[2022-04-22 12:45] ateamcms commented on #893
https://github.com/teamforus/forus-frontend/pull/2154
https://github.com/teamforus/forus-backend/pull/1436

[2022-04-28 08:22] aghimpu commented on #799
https://github.com/teamforus/forus-frontend/pull/2085
https://github.com/teamforus/forus-backend/pull/1387

[2022-04-28 11:10] lexlog commented on #799
refinement note - no need for demo, small changes that were shown already in previous demo

[2022-04-28 11:16] lexlog commented on #887
refinement note - quite important for review for Valentin ( more than productboard PR)

[2022-04-28 11:33] lexlog commented on #891
refinement note - in progress, approx. until the end of sprint

[2022-04-28 11:35] lexlog commented on #882
refinement note - started, @ateamcms add the link for the PR pls

[2022-04-28 11:36] ateamcms commented on #882
https://github.com/teamforus/forus-frontend/pull/2157

[2022-04-29 07:46] jamalv commented on #162
Sprint demo.

- Add e-mailadres https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/itsm/750 @ateamcms
- Type: product service merge: https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/general/893 @ateamcms
- Logo alignment: https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/itsm/713 @aghimpu
- Integrate

[2022-05-02 08:08] jamalv opened #894 "Search employees"

[2022-05-02 08:08] jamalv commented on #894
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/13176651

[2022-05-02 08:55] jamalv opened #895 "Send fund expiration reminder"
As a sponsor I would like to send an expiration reminder to people that still have an active voucher when the fund is about to expire so that the amount of people that are too late to spend their voucher is minimised.

<p></p>

**Criteria:**

- Set the target audience
- Set the message body
- Decide when to send it

[2022-05-02 08:55] jamalv commented on #895
Link to feature: https://forus.productboard.com/feature-board/planning/features/7169241

[2022-05-02 09:11] lexlog commented on #891
sprint planning - keep to the next sprint, @aghimpu can you add left estimations ?

[2022-05-02 15:04] lexlog commented on #868
@jamalv hey, can you update the status for it ?

[2022-05-03 08:07] jamalv commented on #886
Figma proposal was updated based on client feedback. Ready for review by @GerbenBosschieter

https://www.figma.com/file/8WwFbq9j2KYccYmwlIiizP/?node-id=325%3A7306

Still needs:
- Desktop version

[2022-05-03 08:55] jamalv commented on #886
Tracking continues in project: https://github.com/teamforus/AUF-2022-Authenticate-And-FundRequest-Userflow/

[2022-05-03 09:27] lexlog commented on #895
Intake notes - part of EMC project, should be moved there

approximate estimations:
- 3h for Jamal for Figma proposals
- probably 30h for Alex

scope: covers EMC project fully

[2022-05-03 09:27] lexlog commented on #895
Intake notes - part of EMC project, should be moved there

approximate estimations:
- 3h for Jamal for Figma proposals
- probably 30h for Alex

scope: covers EMC project fully

[2022-05-03 09:37] EmielForus opened #896 "HR | Stage vacatures 2022"
Uitwerken van aanmeldformulieren en mogelijke (afstudeer)onderzoeken.

Te benaderen instituten:
- [ ] Commerciele Economie - Marktonderzoek: Feature Marketing, Pricing & Expansie Sociaal Domein, Marketingplan
- [ ] Communicatie (& Multimediadesign) - Onderzoek Business Case, Branding & Content
- [ ] ICT -
- [ ] Finance & Control - Dashboard, Processen, Beleid, Risk Management, Pricing & Billing

[2022-05-03 19:13] #869 closed

[2022-05-03 19:15] #893 closed

[2022-05-03 19:32] lexlog commented on #885
was not in sprint also, added

[2022-05-03 19:32] #885 closed

[2022-05-03 19:39] #895 closed

[2022-05-03 19:39] lexlog commented on #895
Issue moved to [teamforus/EMC-2022-Nijmegen-Emails-configuration #2](https://github.com/teamforus/EMC-2022-Nijmegen-Emails-configuration/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-04 10:41] lexlog commented on #882
refinement note - @dev-rminds review

[2022-05-04 10:42] lexlog commented on #799
refinement note - @GerbenBosschieter review (transferred yesterday)

[2022-05-04 10:43] lexlog commented on #887
refinement note - @GerbenBosschieter review

[2022-05-04 11:45] lexlog commented on #868
refinement note - release frontend and backend same issue, postponing

[2022-05-06 13:56] EmielForus commented on #896
Verzonden:
stageopdrachten voor Communicatie, ICT & Communicatie Multimedia design

[2022-05-10 08:35] lexlog commented on #882
status update - backend part of this issue is in progress by @dev-rminds

[2022-05-11 10:42] lexlog commented on #887
https://github.com/teamforus/forus-frontend/pull/2161

[2022-05-11 11:07] lexlog commented on #799
refinement note - should be released soon before laravel

[2022-05-11 11:08] lexlog commented on #887
refinement note - also for monday release

[2022-05-11 11:16] lexlog commented on #882
refinement note - @dev-rminds almost done backend part

[2022-05-13 07:53] lexlog commented on #162
Sprint demo.
- [Direct payment from vouchers ](https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/general/882) @dev-rminds
- [ Visual bug: buttons on voucher details page](https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/itsm/758) @ateamcms just show the screenshot
- [App (iOS) show most recent transactions (provider transaction) on

[2022-05-16 09:11] lexlog commented on #868
sprint planning - should discuss with app devs.

[2022-05-17 13:46] lexlog commented on #886
moved to https://github.com/teamforus/AUF-2022-Authenticate-And-FundRequest-Userflow/issues/8

[2022-05-17 13:46] #886 closed

[2022-05-18 08:56] #887 closed

[2022-05-18 11:09] lexlog commented on #882
https://github.com/teamforus/forus-backend/pull/1451

[2022-05-23 08:24] lexlog opened #897 "Everhour filling"
Time tracking issues for filling everhour

[2022-05-23 08:25] lexlog opened #898 "Everhour filling schedule"
Timetracking issues for filling own everhour schedule

[2022-05-23 08:25] lexlog opened #899 "Everhour filling timesheets"
Time-tracking issues for filling everhour timesheets

[2022-05-23 11:48] linda-90 opened #900 "HR | Stage gesprekken communicatie / branding"

[2022-05-23 11:48] linda-90 commented on #900
Mail + gesprek inplannen stagegesprek

[2022-05-23 13:03] lexlog opened #901 "Big clean-up"

[2022-05-23 13:13] lexlog opened #902 "Close unactual projects in Github"
**Problem:**
There are some unactual projects its Github and some of them are already archived in Everhour

**Goal**
- all projects in Github are actual

Steps:
- [ ] create a list of archived projects in Everhour, that are not closed in Zehub and give it to Emiel
- [ ] Emiel will review it
- [ ] Not to forget to add archiving projects in Github in procedure of closing projects

[2022-05-23 13:22] lexlog opened #903 "Zero issue in Zenhub sprint development board"
**Problem**:
There are lots of old issues in Zenhub, they create a mess when refining issues with dev. team and we spent more time understanding the status of the issue and finding needed issues in columns with lots of other issues

**Goal:**
cleanup all columns in Zenhub sprint board, except for refinement
https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/board
- no issue in "in p

[2022-05-23 17:44] lexlog opened #904 "Cleanup ios and android PRs"

[2022-05-23 18:22] lexlog commented on #902
Archived in Everhour and not archived in Github:
- https://github.com/teamforus/backoffice-example

- https://github.com/teamforus/BIB-2021-banking-intergrations-bunq-bng

- https://github.com/teamforus/BIB-bng-proof-of-concept

- https://github.com/teamforus/changemanagment/issues
( and 9 issues opened )

- https://github.com/teamforus/compliance

- https://github.com/teamforus/dev-new-feature/is

[2022-05-25 10:08] #882 closed

[2022-05-25 10:08] #799 closed

[2022-05-25 10:45] jamalv opened #905 "Reimbursement of invoices"
![image](https://user-images.githubusercontent.com/30211022/174799245-d4edf13c-ddd1-460e-9dd3-c25d2037af88.png)

**User Stories**

- [ ] As a requester, I want to be able to hand in invoices , so that I receive money for my expense.
- [ ] As a requester, I want to be able to see the invoices that I handed in in my account so that I have a history of things that I submitted
- [ ]  As a requester, I

[2022-05-25 10:45] jamalv commented on #905
Link to feature: https://forus.productboard.com/feature-board/planning/features/13551381

[2022-05-25 10:46] maartenfv commented on #905
Link to Figma proposal: https://www.figma.com/file/nPac4T0balinQGEEMjNptn/

[2022-05-25 15:44] #903 closed

[2022-05-25 18:35] danieltcacenco commented on #849
done: https://github.com/teamforus/me-ios/pull/155

[2022-05-31 08:46] lexlog opened #907 "Jenkins | Install needed jenkins plugins and backups"
**Situation**:
Before changing Jenkins a lot we need to have a backup to restore Jenkins if something is broken
Also small change - it would be nice to beautify Jenkins UI with a custom UI theme
And some other plugins for future jobs

**Desire**

1. Install https://plugins.jenkins.io/backup/
Configure backup dirs in settings
( maybe changing rights is needed )
Create a backup
Test restoring
2. Ins

[2022-06-02 08:59] jamalv opened #908 "Show fund top-up transaction history"
Show transaction history because the user can not see it within their system they are unsure when and how much money was added.

![](https://pb-files.s3.amazonaws.com/production/attachments/fb3539730fa8ffae64fcb34c4e6e52b99c45bd33b9ef2d8e0a3ec5093a403603/image.png)

![](https://pb-files.s3.amazonaws.com/production/attachments/66e73caac31e9958906c06a1fc1b05a6c6c74123f5acb0a7295e8af26bc207ba/image.p

[2022-06-02 09:02] maartenfv commented on #908
Could we maybe add it below this?
![image](https://user-images.githubusercontent.com/30211022/171595373-d09e6778-20ac-4eff-88d1-3f084a2ac2a0.png)

[2022-06-02 12:28] maartenfv opened #909 "Unify the organisation settings into a single menu"
![image](https://user-images.githubusercontent.com/30211022/171629304-bc773c77-9ccd-4cee-8109-6a2d205848b3.png)

![image](https://user-images.githubusercontent.com/30211022/171629361-56ff200f-8402-407a-bf98-e4eb575fff7c.png)

Currently there are three places (at least) to change organisational settings. This is unclear. Need to make a single clear menu.

[2022-06-02 12:47] maartenfv opened #910 "Unify adding new things."
In our designs there are different buttons to add new stuff. Should be the same everywhere to keep design and ux consistent.

![image](https://user-images.githubusercontent.com/30211022/171632325-ecbac765-ac47-4ed6-8654-96c33896b84a.png)

![image](https://user-images.githubusercontent.com/30211022/171632403-8736bcdc-a9a3-4aa5-80f5-24f0baf097d0.png)

[2022-06-02 14:06] maartenfv commented on #909
@lexlog @GerbenBosschieter Can we do this?

[2022-06-02 14:10] maartenfv commented on #909
@sashooa You had an idea about this? Can you dicuss this with @lexlog (if you have time).

[2022-06-08 10:48] GerbenBosschieter commented on #909
We could if we want to. But I do recall a conversation with Valentin that he would like to use this location for some other purposes. Not sure what it was

[2022-06-08 11:26] lexlog commented on #908
@dev-rminds we can use a table for information
for table - we need the list of columns to show

we need firstly @sashooa proposal in figma
for @sashooa - ask @maartenfv and @GerbenBosschieter for details

[2022-06-08 11:28] maartenfv commented on #908
@sashooa what would you like to know? :)

[2022-06-08 11:35] maartenfv commented on #908
The way it currently works is in our knowledge base: https://helpcentrum.forus.io/kb/guide/nl/budget-toevoegen-als-sponsor-OIhD88P127/Steps/1113963?1654687952702&lang=nl Would be nice to have this in English as well but for now we can use google translate in chrome I think.

[2022-06-08 11:40] lexlog commented on #894
estimations @ateamcms 4h

[2022-06-09 08:18] sashooa commented on #908
I need the exactly information which will be presented on the table :) time, date, amount, code used and etc.

[2022-06-09 08:21] sashooa commented on #908
@lexlog I didn't made those elements from the screen in new mode, and I don't have them right now so I should make them again from zero, and this will take a little time so... let it be 12-14h

[2022-06-09 08:27] lexlog commented on #908
note - for next sprint planning

[2022-06-09 08:28] lexlog commented on #908
note - for current sprint for @sashooa

[2022-06-10 07:43] lexlog commented on #162
Sprint demo.

@ateamcms

- itsm 802
- itsm 814
- itsm 805

@aghimpu
https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/wbr-2022-webshop-redesign-nijmegen/1 - updates to show?
https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/wbr-2022-webshop-redesign-nijmegen/6
https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/

[2022-06-13 07:53] EmielForus commented on #896
## Sollicitanten

### Communicatie
Debalina Mukherjee
[https://app.zenhub.com/files/123948463/13da9796-4fae-4271-98b4-50a4db3178fc/download](https://app.zenhub.com/files/123948463/13da9796-4fae-4271-98b4-50a4db3178fc/download)

### CMD
Mike ....

### ICT
...

### Commerciële Economie

[2022-06-13 10:38] maartenfv commented on #908
It needs to be a table with the at least the following columns: fund_id, code, monetary_account_iban, fund_top_up_id, amount, time & date,

[2022-06-13 11:31] sashooa commented on #908
The design will appear here: https://www.figma.com/file/T6p9xhf5fSKl8IwRLDGvhb/?node-id=915%3A96296

[2022-06-14 09:46] sashooa commented on #908
@lexlog @maartenfv @GerbenBosschieter I think this issue is done

[2022-06-15 07:28] EmielForus commented on #896
### Mogelijke opdrachten / werkzaamheden
@PatrickTrentelman @linda-90 @GerbenBosschieter

Kunnen jullie meedenken over mogelijke werkzaamheden & opdrachten voor Marketing & Communicatie stagiairs?

Idee leeft om te kijken of we twee kunnen aannemen waar de een zich mogelijk meer richt op interne (design, branding, helpcentrum e.d.) en de ander op externe zaken (ondersteuning implementatie, marketi

[2022-06-15 07:56] GerbenBosschieter commented on #849
For webshop:
- All vouchers that can't be used anymore should be underneath the "Archive" tab (so used vouchers, expired vouchers etc etc)

<img width="650" alt="Screenshot 2022-06-15 at 09 55 29" src="https://user-images.githubusercontent.com/38419514/173773643-45a0caaf-ce0a-4497-a209-fdf274d0d07b.png">

[2022-06-15 11:18] lexlog commented on #908
need @GerbenBosschieter and @maartenfv review to finalize result

[2022-06-16 10:19] jamalv opened #911 "Personalised recommendations"
**Background of the feature request**

The municipality of Nijmegen has requested this feature as part of their set of requirements that were provided to us at the end of Q2-2022. They stated in Dutch:

*"Na inloggen met DigiD en het aanklikken van een regeling krijgt de inwoner andere suggesties van regelingen aangeboden om aan te vragen."*

<p></p>

Which means in English:

<p></p>

*"After logg

[2022-06-16 12:32] jamalv opened #912 "Improve the side menu in the user dashboard"
We need to improve the side menu in the Dashboard. It is becoming filled with to many items and it needs a better structure.

![image](https://user-images.githubusercontent.com/30211022/174073876-52a572bd-2346-4851-88ad-38b8189e811d.png)

[2022-06-16 12:33] maartenfv commented on #912
Hi @sashooa could you make a first draft for a proposal and paste the link in this issue?

[2022-06-16 12:34] sashooa commented on #912
@maartenfv Yes I can give it to you and your next 2 or 3 days

[2022-06-16 12:35] maartenfv commented on #912
@sashooa It just he link the actual design can come later!

[2022-06-16 12:38] maartenfv commented on #912
Oke thanks @sashooa I got it! https://www.figma.com/file/bG8kn0xyaPXZVCSijfnzAA/Navigation-Menu-Improvements

[2022-06-16 12:40] maartenfv commented on #912
@linda-90 You made a design as well right? to improve the menu? Could you give the link as well?

[2022-06-16 15:56] sashooa commented on #908
**Update!** Hope it’s the final version: https://www.figma.com/file/T6p9xhf5fSKl8IwRLDGvhb/?node-id=955%3A52636

[2022-06-17 10:29] ateamcms commented on #894
https://github.com/teamforus/forus-frontend/pull/2208
https://github.com/teamforus/forus-backend/pull/1478

[2022-06-20 08:15] jamalv opened #913 "Generic application for funds"
**As a user,
while applying for a fund
I want to submit as less information as possible,
so that the application process will be friendly and easy for me.**

<https://docs.google.com/document/d/1_M_MwHNKbV-boeemqLSVQTcJiWeofovIYiqacwMsrE4/edit#heading=h.6tkkt66ax7w7>

[2022-06-20 08:15] jamalv commented on #913
Link to feature: https://forus.productboard.com/feature-board/planning/features/13918067

[2022-06-20 08:33] maartenfv commented on #913
@MichaelForus Could you please add an article to the helpcenter about the current form generator and how it works?

[2022-06-20 09:05] jamalv opened #914 "Open payments to the requester IBAN"
## **Userstory**

- As a requester
- I want to receive money strictly in my bank account after I applied for a fund such as IIT
- So that I will get what was appointed

<p></p>

## How it should work

The engine of payments should consist of two modules - decision and calculation modules

**The decision module** - based on requirements for citizen
Examples of requirements:
- You have not received

[2022-06-20 09:22] jamalv opened #915 "Confirmation for a fund application if already logged in by DigiD"
## **User story**

<p></p>

- **As** a requester

- **When** applying for a fund I don't want to confirm my DigiD connection again if I'm logged in

- **So** that applying process will be faster and easier for me.

## **Description**

Part of quotation Nijmegen

[2022-06-20 09:39] jamalv opened #916 "Single Sign On (SSO) and connecting to (Azure) Active Directory"
As a sponsor, I want to be able to use Active Directory, so that I can manage my employees and allow them to securely authenticate with multiple applications and websites by using just one set of credentials.

<p></p>

<p></p>

<p></p>

[2022-06-20 09:39] jamalv commented on #916
Link to feature: https://forus.productboard.com/feature-board/planning/features/13556066

[2022-06-20 11:09] jamalv opened #917 "Generic intergration for BI-tools"
<p></p>

**User stories**

As a Sponsor I want to be able to integrate Forus with my BI tools so I can use the data without manual exports and imports.
**Background**

PVE Hart van West Brabant:

*The possibility to generate and display a basic set of management information in a dashboard for internal use at WP, including the possibility to openly export data from the system to a (generic) BI tool

[2022-06-20 11:09] jamalv commented on #917
Link to feature: https://forus.productboard.com/feature-board/planning/features/13556216

[2022-06-20 11:24] jamalv opened #918 "For each page on the webshop configure if they are publicly accessibel"
As a sponsor, I want to be able to use the CMS to determine and configure if a webshop page is publicly accessible or not so I have control over which pages are displayed and to who.

[2022-06-20 11:24] jamalv commented on #918
Link to feature: https://forus.productboard.com/feature-board/planning/features/13556411

[2022-06-20 11:43] jamalv opened #919 "Two-factor Personal account security"
As a user, I want to be able to protect my account with a second factor so that I decrease the risks of people breaking into my account or changing my data.

[2022-06-20 11:43] jamalv commented on #919
Link to feature: https://forus.productboard.com/feature-board/planning/features/13921384

[2022-06-20 11:43] jamalv opened #920 "Using two-factor when logging in"

[2022-06-20 11:43] jamalv commented on #920
Link to subfeature: https://forus.productboard.com/feature-board/planning/features/13921404

[2022-06-20 11:43] jamalv opened #921 "Using two-factor when changing specific information"
- IBAN

- Email

- Telephone number

Example: when user changes an IBAN it needs to confirm with a SMS.

[2022-06-20 12:08] jamalv opened #922 "Search and filter based on distance from a specific postalcode"
Just like what we have for providers but then for offers.

![](https://pb-files.s3.amazonaws.com/production/attachments/e4ff233bfe49507a52a0659f34bde7adeb4b9fb29f8c0db23d9a8f4d79873283/image.png)

<p></p>

[2022-06-20 12:14] #922 closed

[2022-06-20 12:58] jamalv opened #923 "Show requester records in their account and allow them to edit"
The user account in the webshop contains a page were customers/residents can change a number of predefined system data themselves. This concerns at least the following information: e-mail address, telephone number and IBAN number (including IBAN check).
Important is that this goes with 2-factor check. So user should confirm with the second factor before being able to change things like the phone n

[2022-06-20 12:58] jamalv commented on #923
Link to feature: https://forus.productboard.com/feature-board/planning/features/13556612

[2022-06-20 13:18] jamalv opened #924 "Custom banner on webshop pages to be configured using CMS"
The CMS has a content element for notifications / announcements / malfunctions which can be easily placed on different pages at the top if necessary.

<p></p>

When something goes wrong they want to be able to add a notification on the pages.

<p></p>

Examples:

![](https://pb-files.s3.amazonaws.com/production/attachments/1d2571ee61d581b0ada4aa9aff7abdbc588d9e1ef19d1dd108a3971aad613b78/image.png)

[2022-06-20 13:18] jamalv commented on #924
Link to feature: https://forus.productboard.com/feature-board/planning/features/13923416

[2022-06-20 14:00] maartenfv commented on #905
@sashooa Could you please update the Figma proposal so it looks nice again. We need it to have a cover etc. We will work on the proposal later but now just want to have the file ready.

[2022-06-20 14:22] maartenfv commented on #908
So @GerbenBosschieter @lexlog Please chose what is better the simple one like above, or the one I just suggested. I prefer having one overview of all transactions. Going in and going out.

[2022-06-21 12:52] maartenfv commented on #905
Worked with @linda-90 to update the Figma file. We added user stories, added the flowchart and made a start with the actual proposal. Later @sashooa will use this proposal to build the new proposal template. This template can be used for all future proposals.

[2022-06-21 13:24] maartenfv commented on #924
@sashooa Do you have a figma file/proposal for this? Could you add the link?

[2022-06-21 14:25] GerbenBosschieter commented on #908
For next time, please asign me if you expect something from me hehe

[2022-06-22 10:57] GerbenBosschieter commented on #908
Dont understand what Maarten is proposing because for topups there is no such thing as money going out. So for now I will ignore this proposal and give a go to develop what @sashooa made.

I will ask Maarten about what he meant

[2022-06-22 11:02] sashooa commented on #908
@GerbenBosschieter ohhh yeah!!!)))

[2022-06-22 11:40] lexlog commented on #918
duplicates https://app.zenhub.com/workspaces/sprint-5f61c6c0a53fb84e755c82f6/issues/teamforus/itsm/809
scope in issue above increased and includes toggle for temporary disabling pages

functionality will be checked on the PR review

[2022-06-22 11:44] lexlog commented on #849
refinement note
add filter
add request to filter

@ateamcms 4h est

[2022-06-27 07:35] lexlog commented on #908
refinement note
for Maartens proposal - the problem to do that is that we are not keeping balances of sponsors. so we can't count the current amount of money.

current figma design - ready and estimated (see above)

[2022-06-27 09:48] maartenfv commented on #908
Oke let's go!

[2022-06-27 11:35] maartenfv commented on #915
@lexlog Can we clarify this issue?

[2022-06-27 13:09] GerbenBosschieter commented on #915
Duplicate: https://github.com/teamforus/itsm/issues/707

Conclussion: Is already possible, but not "sexy" enough and configured. If someone logged in with DigiD and they apply for fund they are able to "skip" this step. But "skipping" this step is the "not sexy" part

[2022-06-27 13:11] maartenfv commented on #915
![image](https://user-images.githubusercontent.com/30211022/175949560-93802a13-f60e-4c5f-8797-65a3f0cf3956.png)

[2022-06-27 14:17] GerbenBosschieter commented on #915
- [ ] @sashooa needs context to make good UX for this one

[2022-06-27 14:33] GerbenBosschieter commented on #924
Related issue is this one: https://github.com/teamforus/itsm/issues/824 so we already developed a foundation for this.

Tasks to get it to next status:
- [ ] Use the page for system notifications (its called /implementation-notifications) where the user can add a announcement. The design of the option to add announcement should be a bit different than the list we currently have. It needs to "pop o

[2022-06-28 07:48] #914 closed

[2022-06-28 07:48] lexlog commented on #914
Issue moved to [teamforus/OPA-2022-Open-payments #1](https://github.com/teamforus/OPA-2022-Open-payments/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-28 09:02] sashooa commented on #915
**Just for information:** Link to the Figma file: https://www.figma.com/file/KYcnedvXo9CA4OBNSWLw94/Confirmation-for-a-fund-application-%7C-%23915?node-id=36%3A4

[2022-06-28 09:07] sashooa commented on #924
**Just for information:** Link to the Figma file: https://www.figma.com/file/VPDqNnRnOPESQ6DnheMA8G/Custom-banner-on-webshop-pages-to-be-configured-using-CMS-%7C-924?node-id=36%3A4

[2022-06-28 09:12] sashooa commented on #912
Link to the Figma file: https://www.figma.com/file/bG8kn0xyaPXZVCSijfnzAA/Improve-the-side-menu-in-the-user-dashboard-912

[2022-06-28 09:19] sashooa commented on #909
Link to the Figma file: https://www.figma.com/file/bG8kn0xyaPXZVCSijfnzAA/Improve-the-side-menu-in-the-user-dashboard-912

[2022-06-28 11:36] lexlog commented on #924
we need design for a webshop

we need a design for dashboard - design not needed
frontend feature needed to be branched from CMS block feature

backend part will be nice to start soon

[2022-06-28 12:01] lexlog commented on #915
@lexlog decide whom @sashooa can ask about this issue

[2022-06-29 10:48] #924 closed

[2022-06-29 11:00] lexlog commented on #915
not for refinement today to discuss with sasha

[2022-06-29 13:53] lexlog commented on #908
issue moved to itsm

[2022-06-29 13:53] #908 closed

[2022-06-29 14:58] lexlog commented on #923
@sashooa design est. - 3d +
@sashooa needs webshop examples links from @GerbenBosschieter

[2022-06-29 14:58] lexlog commented on #923
@sashooa design est. - 3d +
@sashooa needs webshop examples links from @GerbenBosschieter

[2022-06-30 08:53] #915 closed

[2022-06-30 08:55] #905 closed

[2022-07-02 14:15] sashooa commented on #912
I think we have to close the issue, because we have this one https://github.com/teamforus/general/issues/909 - here is the same subject but is much global.

[2022-07-02 14:15] #912 closed

[2022-07-07 12:30] EmielForus commented on #779
Closed. New hotfix related things should be tracked in itsm: https://github.com/teamforus/itsm/issues/863

[2022-07-07 12:30] #779 closed

[2022-07-07 12:35] #157 closed

[2022-07-07 12:35] EmielForus commented on #157
Moved to ITSM: https://github.com/teamforus/itsm/issues/864

[2022-07-07 15:12] EmielForus commented on #902
@lexlog I am going to leave Forus Eth and Research for how it is now. I archived lab and going to move changemanagement. I can not archive Foundation, Research and Changemanagement.

[2022-07-08 12:06] #900 closed

[2022-07-14 09:15] lexlog commented on #909
refinement notes:
@dev-rminds proposed - we can move sessions and notifications menu items to dropdown list in the right upper corner

there was also something about the bell - could someone remind? and something else?
@sashooa @GerbenBosschieter @dev-rminds

[2022-07-20 11:41] lexlog commented on #909
- @dev-rminds propose to make "role chooser" configurable per organization
- @RobinMeles @GerbenBosschieter check current flags for the roles ( as a sponsor as provider etc) and check if they are useful
- @GerbenBosschieter @dev-rminds @lexlog putting organization items to one place is not very ux friendly also, because its not personal configuration, but dashboard configuration
-

[2022-07-21 16:10] sashooa commented on #909
https://www.figma.com/file/Fx3s4hFDIfTkHtm5SGhlD7/Update-sidebar-menu-and-add-helpcentrum-icon-%7C-909?node-id=1549%3A6144 here's the Design

[2022-07-27 07:34] GerbenBosschieter commented on #909
So I've checked what flags we currently have. And its about these three:

- is_sponsor
- is_provider
- is_validator

Not sure where the **is_sponsor** and **is_provider** is used for. But for certainly I can say that **is_validator** is being used for external validator (something we are currently not using)

I am not sure if we could use this configuration because its on organization level and no

[2022-07-27 11:57] lexlog commented on #909
refinement note

@GerbenBosschieter check, while using sign-up flow, is there are a flag "is_sponsor" when using signup as an organization

[2022-08-03 11:00] maartenfv opened #925 "SEPA export desire"
The municipality of Ede would like to export transactions as a SEPA file.

The reason is that they want to have a clear division between the person that pushes the bulk towards BNG and the person that Accepts the bulk within BNG. Currently, this needs to be the same person.

There fore they prefer a manual approach by exporting the SEPA file.

Side note: They do want to keep using the connection f

[2022-08-03 11:01] maartenfv commented on #925
@GerbenBosschieter @lexlog could we have an estimation in regards to the scope of this desire?

[2022-08-03 12:00] lexlog commented on #925
refinement note:
rough est. for dev - 2d
+ needed design here to see how its going to be accepted

[2022-08-03 16:23] EmielForus commented on #155
New: https://github.com/teamforus/DevOps/issues/1

[2022-08-03 16:25] EmielForus commented on #156
New: https://github.com/teamforus/DevOps/issues/2

[2022-08-03 16:26] EmielForus commented on #158
New: https://github.com/teamforus/DevOps/issues/3

[2022-08-03 16:30] EmielForus commented on #880
https://github.com/teamforus/DevOps/issues/5

[2022-08-03 16:30] #880 closed

[2022-08-03 16:33] #899 closed

[2022-08-03 16:33] #898 closed

[2022-08-03 16:33] #897 closed

[2022-08-03 16:35] #890 closed

[2022-08-03 16:38] #741 closed

[2022-08-04 18:02] #155 closed

[2022-08-04 18:02] #156 closed

[2022-08-04 18:02] #158 closed

[2022-08-04 18:11] EmielForus opened #926 "test"
test

[2022-08-04 18:11] EmielForus commented on #926
test

[2022-08-04 18:11] EmielForus commented on #926
test

[2022-08-05 19:39] ateamcms commented on #909
https://github.com/teamforus/forus-frontend/pull/2252

[2022-08-08 09:04] lexlog commented on #925
scope:
- bng + bank

[2022-08-09 13:07] EmielForus commented on #896
https://skerestudent.com/deeltijd-duale-opleiding/

[2022-08-18 15:15] maartenfv opened #927 "Estimation request | Make GEO locations configurable in CMS"
The municipality of Ede requestes to remove the map on the provider page. 1. They only want to show the list view. Example Nijmegen:

![image](https://user-images.githubusercontent.com/30211022/185429702-d0e0ae3e-656b-4dab-bd1a-f8fb0afa0068.png)

2. Also there is Geo info on the page of the provider.

![image](https://user-images.githubusercontent.com/30211022/185430202-b3d19937-f1db-499e-90a0-073

[2022-08-19 13:32] linda-90 opened #928 "Estimation request | Add (customizable) categories and subcategories per webshop"
## Requirements client

Be able to define and set categories.

- 4 categories:
    1. Sport
    2. Cultuur
    3. Recreatie
    4. Meedoen &amp; Ontmoeten
- Subcategories with images:
For example: Sport > Voetbal, tennis, andere balsport, Denksport, Yoga en tai chi, badminton, andere sporten etc.

## Goal

Making it possible to set the categories per implementation (webshop) so that the sponsor ca

[2022-08-19 14:36] linda-90 opened #929 "Estimation request | Make menu items and pages customizable"
## Problem
Currently the menu-items and pages are fixed. It is not possible to add pages and menu items themselves.

## Goal
Be able to configure menu-items and add pages via the CMS. Like adjusting the text in the menu and being able to add new pages.

https://forus.productboard.com/insights/notes/all-notes/notes/22101639
https://forus.productboard.com/insights/notes/all-notes/notes/21189237

[2022-08-24 07:56] linda-90 opened #930 "Estimation request | Add start date for products"
## Question
Currently you can set the end date of a product, but there is no functionality for adding a start date. This is desirable because you can already create products that are valid in a certain period in advance and will be visible on the webshop on this date.

https://forus.productboard.com/insights/notes/all-notes/notes/15569195

## Goal
Add start date for products

![Schermafbeelding 20

[2022-08-24 11:20] lexlog commented on #927
**refinement note**

two options
editable:
- CMS 6h ( in dropdown near )

not editable:
- do this with the internal flag ( in qdt-env.js ). est 4h (for @dev-rminds + @aghimpu)
- value in fund configs

out of scope thought - we should think about what to put in CMS, if something is going to be changed only once during lifecycle of webshop. in future CMS can become too complicated, so we should put

[2022-08-24 11:23] lexlog commented on #930
**refinement note**

need some research to know what it will impact
rought est. - up to 3 days

[2022-08-24 11:30] lexlog commented on #929
**refinement note**

rough estimations
big one
if we are going to use as "source" everything we have now in the webshop, it will be easier - 80h
if do it friendly and customizable - more

[2022-08-24 11:43] lexlog commented on #928
**refinement notes**

@dev-rminds categories per implementation?
answer - both, product and business type level

@dev-rminds
ux - where it will happen?
for the fund - on the provider approve page?

notes - complexity, that current database is big and uses optimizations

probably one sprint **guestimations** 80h - 160h @dev-rminds if we will know more details

[2022-08-29 11:03] linda-90 opened #931 "Estimation request: Add FAQ on explanation page"
## Problem
Sponsor dashboard: There is currently no option to add FAQ through the CMS on the explanation page.

## Goal
Make it possible to add a FAQ on the explanation page via the CMS (same as on the funds detail page).

## Background
The sponsor would like to have multiple options where they can add the FAQ list to make it as easy as possible for the customer. The explanation page is a logical

[2022-08-29 13:15] GerbenBosschieter opened #932 "Make content on homepage configurable (hide html)"

[2022-08-29 13:53] #921 closed

[2022-08-31 10:15] GerbenBosschieter opened #933 "CMS update: Give option to choose for image or extra text block."
# Description

We currently have the option to add textual content to certain pages (see image 1). And we also have the option to add blocks to the homepage (see image 2).

**Image 1**
<img width="1557" alt="image1" src="https://user-images.githubusercontent.com/38419514/187655752-2e206348-e07b-47d7-9be1-4943f5859185.png">

**Image 2**
<img width="1555" alt="image2" src="https://user-images.github

[2022-08-31 11:18] lexlog commented on #933
refinement note:
not clear how to scale, for @GerbenBosschieter to decide what to do next with this issue

[2022-08-31 11:20] lexlog commented on #932
ref. note

3 toggles:
product
map homepage
map products

@dev-rminds up to 6h

[2022-08-31 11:29] #927 closed

[2022-08-31 11:35] lexlog commented on #931
refinement note:

- refactor fund FAQ to be more universal and use it here ( @dev-rminds 10d)
- use a separate duplicate table for CMS FAQ ( @dev-rminds 4d )

[2022-08-31 12:40] maartenfv commented on #902
@EmielForus What will be next?
How can we work towards closing this issue?

[2022-08-31 17:41] EmielForus commented on #902
@GerbenBosschieter / @RobinMeles Check the following repo's and archive them if they are not necessary to keep:
https://github.com/teamforus/backoffice-example
https://github.com/teamforus/forus
https://github.com/teamforus/forus.io-survey
https://github.com/teamforus/me
https://github.com/teamforus/me-debug
https://github.com/teamforus/rd-me-ios-rog
https://github.com/teamforus/scauting

@maarten

[2022-09-01 12:20] RobinMeles commented on #95
While discussing the new Digid implementation plan with the municipality Ede we found out that Logius does not accept new applications for DigiD based on a CGI interface/connection (since 24th of December last year, Waalwijk was lucky). This is an incident for us, since we will have three new implementations starting next year who want to use DigiD for citizens to log in with. At the moment all th

[2022-09-02 09:33] GerbenBosschieter commented on #95
https://github.com/teamforus/SML-2022-SAML-DigiD-Migration

[2022-09-05 09:39] GerbenBosschieter commented on #95
No updates for now, should think of strategy this week.

[2022-09-06 09:37] RobinMeles commented on #95
No update, so lets take it off high prio. We should however plan something in to discuss it. @TeunTycho will plan a meeting with everyone involved.

[2022-09-06 15:01] #909 closed

[2022-09-06 15:02] lexlog commented on #894
delivered in release 0.40.0

[2022-09-06 15:02] lexlog commented on #908
delivered in release 0.40.0

[2022-09-07 11:18] lexlog commented on #931
refinement note:
- @GerbenBosschieter lets do simpler option

[2022-09-08 09:37] EmielForus commented on #95
No update. No.

[2022-09-12 09:35] RobinMeles commented on #95
Mahmoud is testing on local host. No updates at the moment. For the test we need a certificate, but we don't have that yet.

[2022-09-16 09:34] EmielForus commented on #95
See comment Gerben

[2022-09-19 09:41] #95 closed

[2022-10-12 11:44] GerbenBosschieter commented on #933
Too big, if we want to do this properly we need to refactor cms. Until then will do some custom html/cms things :( closed

[2022-10-12 11:44] #933 closed

[2022-10-19 10:49] linda-90 opened #934 "Estimation request: Webshop - Filter providers by name"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [ ] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
Currently there is no filter option on the providers page on the webshop, but there is an option on the products page
https://potjeswijzer.westerkwartier.nl/aanbieders
https://potjeswijzer.westerkwartier.nl

[2022-10-27 13:42] linda-90 opened #935 "Estimation request | View provider text in sponsor dashboard"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [x] Design
- [x] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
Currently there is no option to check the provider information text in the sponsor dashboard when you approve a provider.
It is necessary to show this text as part of the sponsor's policy and misspellings.

[2022-10-27 13:44] linda-90 commented on #934
Could we add this option to the webshops?

[2022-10-28 08:27] linda-90 opened #936 "Estimation request | Open links in blocks homepage within the same page (no new tab)"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [ ] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
The links in the blocks on the homepage open in a new tab. This is not workable because there are many tabs open.

## Desired situation
Be able to configure per link whether the link opens in a new tab (ext

[2022-10-28 08:38] linda-90 opened #937 "Estimation request | Add titles (headings) to FAQ list in CMS"
Learn more about improvement proposals: https://bit.ly/2xLJT3R

## Impacted areas:

- [ ] Design
- [x] Code
- [ ] Infrastructure
- [ ] Users
- [ ] Finances
- [ ] Processes

## Current situation
It is not possible to add headings in the FAQ list. This makes it a long list with questions and you can't quickly find the question you are looking for (divided by topic/category for example).

## Desired

[2022-11-11 13:12] EmielForus commented on #935
Issue moved to [teamforus/DevOps #98](https://github.com/teamforus/DevOps/issues/98) via [**Zenhub**](https://www.zenhub.com/)

[2022-11-11 13:12] #935 closed

[2022-11-11 13:13] #937 closed

[2022-11-11 13:13] EmielForus commented on #937
Issue moved to [teamforus/DevOps #99](https://github.com/teamforus/DevOps/issues/99) via [**Zenhub**](https://www.zenhub.com/)

[2022-11-11 14:04] #930 closed

[2022-11-11 14:04] EmielForus commented on #930
Issue moved to [teamforus/EDE-2022-Implementatie-Meedoenregeling #51](https://github.com/teamforus/EDE-2022-Implementatie-Meedoenregeling/issues/51) via [**Zenhub**](https://www.zenhub.com/)

[2022-11-25 10:27] RobinMeles commented on #256
Nice to have, since there are more and more cronjobs to monitor